### Restart and Run All

In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()

pd.set_option('display.float_format','{:,.2f}'.format)
pd.set_option('display.max_rows',None)

year = 2023
quarter = 1

today = date.today()
today

datetime.date(2023, 7, 4)

In [2]:
sql = '''
SELECT name,year,quarter,q_amt
FROM epss 
WHERE (year = %s AND quarter <= %s) 
OR (year = %s-1 AND quarter >= %s+1)
ORDER BY year DESC, quarter DESC'''
sql = sql % (year,quarter,year,quarter)
print(sql)

SELECT name,year,quarter,q_amt
FROM epss
WHERE (year = 2023 AND quarter <= 1)
OR (year = 2023-1 AND quarter >= 1+1)
ORDER BY year DESC, quarter DESC

In [3]:
dfc = pd.read_sql(sql, conlt)
dfc['Counter'] = 1
dfc_grp = dfc.groupby(['name'], as_index=False).sum()
dfc_grp = dfc_grp[dfc_grp['Counter'] == 4]
dfc_grp.shape

(214, 5)

In [4]:
sql = '''
SELECT name,year,quarter,q_amt
FROM epss 
WHERE (year = %s-1 AND quarter <= %s) 
OR (year = %s-2 AND quarter >= %s+1)
ORDER BY year DESC, quarter DESC'''
sql = sql % (year,quarter,year,quarter)
dfp = pd.read_sql(sql, conlt)
dfp['Counter'] = 1
dfp_grp = dfp.groupby(['name'], as_index=False).sum()
dfp_grp = dfp_grp[dfp_grp['Counter'] == 4]
dfp_grp.shape

(229, 5)

In [5]:
dfm = pd.merge(dfc_grp, dfp_grp, on='name', suffixes=(['_c','_p']), how='inner')
dfm['inc_profit'] = dfm['q_amt_c']-dfm['q_amt_p']
dfm['Pct'] = round(dfm['inc_profit']/abs(dfm['q_amt_p'])*100,2)
dfm['year'] = year
dfm['quarter'] = 'Q'+str(quarter)
df_pct = dfm[['name','year','quarter','q_amt_c','q_amt_p','inc_profit','Pct']]
df_pct.sort_values(['Pct'],ascending=[False]).head()

       name  year quarter  q_amt_c  q_amt_p  inc_profit    Pct
49      CRC  2023      Q1  8139363   861862     7277501 844.39
70   GRAMMY  2023      Q1   321728   -54729      376457 687.86
177     TFG  2023      Q1  4528836   734740     3794096 516.39
124   PLANB  2023      Q1   731042   131262      599780 456.93
142   SABUY  2023      Q1  1541775   287207     1254568 436.82

In [6]:
sql = """
DELETE FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'"""
sql = sql % (year, quarter)
rp = conlt.execute(sql)
rp.rowcount

211

In [7]:
sql = 'SELECT name, id FROM tickers'
tickers = pd.read_sql(sql, conlt)
df_ins = pd.merge(df_pct, tickers, on='name', how='inner')
rcds = df_ins.values.tolist()
len(rcds)

212

In [8]:
for rcd in rcds:
    print(rcd)

['ACE', 2023, 'Q1', 1234293, 1468062, -233769, -15.92, 698]
['ADVANC', 2023, 'Q1', 26457375, 26589096, -131721, -0.5, 6]
['AH', 2023, 'Q1', 1983003, 1015701, 967302, 95.23, 9]
['AIE', 2023, 'Q1', -151353, 432491, -583844, -135.0, 720]
['AIMIRT', 2023, 'Q1', 682646, 524978, 157668, 30.03, 669]
['AIT', 2023, 'Q1', 472255, 571977, -99722, -17.43, 11]
['AJ', 2023, 'Q1', -306699, 467710, -774409, -165.57, 12]
['AMATA', 2023, 'Q1', 2279873, 1770024, 509849, 28.8, 21]
['ANAN', 2023, 'Q1', -74085, -744140, 670055, 90.04, 23]
['AOT', 2023, 'Q1', -6473437, -17151697, 10678260, 62.26, 24]
['AP', 2023, 'Q1', 5625945, 4870212, 755733, 15.52, 25]
['ASIAN', 2023, 'Q1', 780969, 1077825, -296856, -27.54, 36]
['ASK', 2023, 'Q1', 1563900, 1277644, 286256, 22.4, 38]
['ASP', 2023, 'Q1', 460634, 775000, -314366, -40.56, 40]
['ASW', 2023, 'Q1', 1175597, 856966, 318631, 37.18, 728]
['AWC', 2023, 'Q1', 4630796, 2100590, 2530206, 120.45, 699]
['BA', 2023, 'Q1', -215102, -8824265, 8609163, 97.56, 45]
['BAM', 2023, 'Q1', 2679481, 2665001, 14480, 0.54, 709]
['BANPU', 2023, 'Q1', 35242778, 18580896, 16661882, 89.67, 47]
['BAY', 2023, 'Q1', 31970988, 34707618, -2736630, -7.88, 49]
['BBL', 2023, 'Q1', 32316817, 26702007, 5614810, 21.03, 50]
['BCH', 2023, 'Q1', 1264443, 8550561, -7286118, -85.21, 51]
['BCP', 2023, 'Q1', 10959827, 9696604, 1263223, 13.03, 52]
['BCPG', 2023, 'Q1', 1778873, 2850502, -1071629, -37.59, 53]
['BDMS', 2023, 'Q1', 12633281, 10040447, 2592834, 25.82, 54]
['BEAUTY', 2023, 'Q1', -70990, -68558, -2432, -3.55, 55]
['BEC', 2023, 'Q1', 436975, 796583, -359608, -45.14, 56]
['BEM', 2023, 'Q1', 2849148, 1040915, 1808233, 173.72, 57]
['BGC', 2023, 'Q1', 365324, 551564, -186240, -33.77, 677]
['BGRIM', 2023, 'Q1', -868459, 1688044, -2556503, -151.45, 59]
['BH', 2023, 'Q1', 5796547, 1849587, 3946960, 213.4, 61]
['BJC', 2023, 'Q1', 5027018, 3818410, 1208608, 31.65, 65]
['BKI', 2023, 'Q1', 3825890, -3340779, 7166669, 214.52, 68]
['BLA', 2023, 'Q1', 3167059, 3006873, 160186, 5.33, 70]
['BPP', 2023, 'Q1', 4934681, 5011201, -76520, -1.53, 74]
['CBG', 2023, 'Q1', 1889740, 2841045, -951305, -33.48, 87]
['CENTEL', 2023, 'Q1', 1070854, -1301172, 2372026, 182.3, 92]
['CHG', 2023, 'Q1', 1662449, 5308685, -3646236, -68.68, 98]
['CK', 2023, 'Q1', 1200678, 819407, 381271, 46.53, 106]
['CKP', 2023, 'Q1', 2293164, 2103140, 190024, 9.04, 107]
['COM7', 2023, 'Q1', 3128169, 2848014, 280155, 9.84, 114]
['COTTO', 2023, 'Q1', -179087, 608126, -787213, -129.45, 710]
['CPALL', 2023, 'Q1', 13941460, 13839450, 102010, 0.74, 116]
['CPAXT', 2023, 'Q1', 7812246, 14003291, -6191045, -44.21, 283]
['CPF', 2023, 'Q1', 8402243, 8924843, -522600, -5.86, 117]
['CPN', 2023, 'Q1', 11677516, 5642050, 6035466, 106.97, 121]
['CPNCG', 2023, 'Q1', -30292, 427156, -457448, -107.09, 122]
['CPNREIT', 2023, 'Q1', 2279637, 869788, 1409849, 162.09, 647]
['CPTGF', 2023, 'Q1', 456445, 540857, -84412, -15.61, 690]
['CRC', 2023, 'Q1', 8139363, 861862, 7277501, 844.39, 708]
['DCC', 2023, 'Q1', 1436663, 1741605, -304942, -17.51, 135]
['DCON', 2023, 'Q1', 161182, 119369, 41813, 35.03, 136]
['DELTA', 2023, 'Q1', 16178876, 7722365, 8456511, 109.51, 138]
['DIF', 2023, 'Q1', 7375649, 12825738, -5450089, -42.49, 140]
['DOHOME', 2023, 'Q1', 572885, 1734442, -1161557, -66.97, 701]
['DRT', 2023, 'Q1', 611021, 581414, 29607, 5.09, 143]
['EA', 2023, 'Q1', 8557738, 6054527, 2503211, 41.34, 148]
['EASTW', 2023, 'Q1', 601735, 942901, -341166, -36.18, 151]
['ECL', 2023, 'Q1', 175068, 188411, -13343, -7.08, 153]
['EGATIF', 2023, 'Q1', 878363, 388220, 490143, 126.25, 156]
['EGCO', 2023, 'Q1', 589487, 7634185, -7044698, -92.28, 157]
['ESSO', 2023, 'Q1', 4432910, 7554525, -3121615, -41.32, 165]
['FORTH', 2023, 'Q1', 762854, 775107, -12253, -1.58, 176]
['FPT', 2023, 'Q1', 2029252, 1887451, 141801, 7.51, 746]
['FSMART', 2023, 'Q1', 298622, 369669, -71047, -19.22, 178]
['GC', 2023, 'Q1', 173544, 183514, -9970, -5.43, 183]
['GFPT', 2023, 'Q1', 1886904, 604464, 1282440, 212.16, 187]
['GGC', 2023, 'Q1', 506126, 722960, -216834, -29.99, 188]
['GLOBAL', 2023, 'Q1', 3212912, 3534362, -321450, -9.09, 193]
['GPSC', 2023, 'Q1', 1695907, 5658310, -3962403, -70.03, 197]
['GRAMMY', 2023, 'Q1', 321728, -54729, 376457, 687.86, 198]
['GULF', 2023, 'Q1', 11872937, 9432743, 2440194, 25.87, 653]
['GUNKUL', 2023, 'Q1', 2962973, 2124027, 838946, 39.5, 202]
['GVREIT', 2023, 'Q1', 643255, 672205, -28950, -4.31, 654]
['HANA', 2023, 'Q1', 2003566, 1609113, 394453, 24.51, 205]
['HFT', 2023, 'Q1', 291301, 424392, -133091, -31.36, 207]
['HMPRO', 2023, 'Q1', 6317264, 5588994, 728270, 13.03, 208]
['HTC', 2023, 'Q1', 531165, 491734, 39431, 8.02, 212]
['ICHI', 2023, 'Q1', 759443, 529124, 230319, 43.53, 216]
['III', 2023, 'Q1', 821894, 412605, 409289, 99.2, 637]
['ILM', 2023, 'Q1', 672666, 468464, 204202, 43.59, 725]
['IMH', 2023, 'Q1', 95596, 543995, -448399, -82.43, 730]
['INGRS', 2023, 'Q1', -204873, -257387, 52514, 20.4, 656]
['INOX', 2023, 'Q1', -117618, 1081312, -1198930, -110.88, 674]
['INTUCH', 2023, 'Q1', 10671038, 10639854, 31184, 0.29, 224]
['IP', 2023, 'Q1', 129335, 116506, 12829, 11.01, 736]
['IRPC', 2023, 'Q1', -5563979, 10424504, -15988483, -153.37, 227]
['IVL', 2023, 'Q1', 17959576, 34349125, -16389549, -47.71, 231]
['JASIF', 2023, 'Q1', 605975, 7866932, -7260957, -92.3, 234]
['JMART', 2023, 'Q1', 1175113, 2459247, -1284134, -52.22, 236]
['JMT', 2023, 'Q1', 1831685, 1484503, 347182, 23.39, 237]
['KBANK', 2023, 'Q1', 35299596, 38636812, -3337216, -8.64, 245]
['KCE', 2023, 'Q1', 2072928, 2512732, -439804, -17.5, 249]
['KEX', 2023, 'Q1', -3126248, -746959, -2379289, -318.53, 740]
['KGI', 2023, 'Q1', 870926, 1461394, -590468, -40.4, 252]
['KKP', 2023, 'Q1', 7631606, 6910731, 720875, 10.43, 255]
['KSL', 2023, 'Q1', 1526784, 639300, 887484, 138.82, 257]
['KTB', 2023, 'Q1', 34983988, 24790196, 10193792, 41.12, 258]
['KTC', 2023, 'Q1', 7203836, 5992158, 1211678, 20.22, 259]
['LALIN', 2023, 'Q1', 1177680, 1394679, -216999, -15.56, 263]
['LANNA', 2023, 'Q1', 3126160, 1947761, 1178399, 60.5, 264]
['LH', 2023, 'Q1', 7735011, 7123213, 611798, 8.59, 267]
['LHFG', 2023, 'Q1', 1736882, 1334969, 401913, 30.11, 268]
['LIT', 2023, 'Q1', -102640, -118290, 15650, 13.23, 273]
['LPH', 2023, 'Q1', 188441, 575632, -387191, -67.26, 275]
['LPN', 2023, 'Q1', 565838, 370807, 195031, 52.6, 276]
['M', 2023, 'Q1', 1493308, 313003, 1180305, 377.09, 279]
['MAJOR', 2023, 'Q1', 298236, 1725510, -1427274, -82.72, 282]
['MBAX', 2023, 'Q1', 74291, 88637, -14346, -16.19, 288]
['MC', 2023, 'Q1', 832309, 360228, 472081, 131.05, 291]
['MCS', 2023, 'Q1', -157995, 1444910, -1602905, -110.93, 293]
['MEGA', 2023, 'Q1', 2080535, 2227269, -146734, -6.59, 295]
['MINT', 2023, 'Q1', 7104207, -9710518, 16814725, 173.16, 301]
['MST', 2023, 'Q1', 510922, 765658, -254736, -33.27, 290]
['MTC', 2023, 'Q1', 4787607, 4946455, -158848, -3.21, 315]
['NER', 2023, 'Q1', 1593488, 1952582, -359094, -18.39, 680]
['NOBLE', 2023, 'Q1', 534118, 441126, 92992, 21.08, 328]
['OISHI', 2023, 'Q1', 1126122, 709629, 416493, 58.69, 338]
['OR', 2023, 'Q1', 9500302, 11315939, -1815637, -16.04, 715]
['ORI', 2023, 'Q1', 3834445, 3106807, 727638, 23.42, 339]
['OSP', 2023, 'Q1', 1961960, 3000624, -1038664, -34.61, 681]
['PAP', 2023, 'Q1', -216579, 314193, -530772, -168.93, 342]
['PCSGH', 2023, 'Q1', 610402, 595075, 15327, 2.58, 346]
['PDG', 2023, 'Q1', 31881, 44448, -12567, -28.27, 347]
['PLANB', 2023, 'Q1', 731042, 131262, 599780, 456.93, 358]
['POPF', 2023, 'Q1', 454116, 367342, 86774, 23.62, 364]
['PREB', 2023, 'Q1', 323883, 271815, 52068, 19.16, 372]
['PRM', 2023, 'Q1', 2518215, 1276360, 1241855, 97.3, 639]
['PSH', 2023, 'Q1', 2873112, 2298182, 574930, 25.02, 377]
['PSL', 2023, 'Q1', 3635558, 5393720, -1758162, -32.6, 734]
['PTG', 2023, 'Q1', 1051660, 635044, 416616, 65.6, 381]
['PTT', 2023, 'Q1', 93458759, 101346741, -7887982, -7.78, 383]
['PTTEP', 2023, 'Q1', 79663700, 37848936, 41814764, 110.48, 384]
['PTTGC', 2023, 'Q1', -12881430, 39499189, -52380619, -132.61, 385]
['QH', 2023, 'Q1', 2403135, 1823379, 579756, 31.8, 388]
['RATCH', 2023, 'Q1', 5650383, 7263521, -1613138, -22.21, 394]
['RBF', 2023, 'Q1', 466143, 507939, -41796, -8.23, 703]
['RCL', 2023, 'Q1', 17315517, 23253733, -5938216, -25.54, 396]
['RJH', 2023, 'Q1', 663060, 1377891, -714831, -51.88, 399]
['ROJNA', 2023, 'Q1', 509514, 2469809, -1960295, -79.37, 404]
['RS', 2023, 'Q1', 174037, 42104, 131933, 313.35, 408]
['S11', 2023, 'Q1', 309840, 392510, -82670, -21.06, 412]
['SABUY', 2023, 'Q1', 1541775, 287207, 1254568, 436.82, 721]
['SAPPE', 2023, 'Q1', 774553, 477634, 296919, 62.16, 420]
['SAT', 2023, 'Q1', 955002, 890646, 64356, 7.23, 421]
['SAWAD', 2023, 'Q1', 4640636, 4397137, 243499, 5.54, 423]
['SC', 2023, 'Q1', 2702938, 2032999, 669939, 32.95, 425]
['SCB', 2023, 'Q1', 38497229, 35703880, 2793349, 7.82, 426]
['SCC', 2023, 'Q1', 29064582, 41103535, -12038953, -29.29, 427]
['SCCC', 2023, 'Q1', 1812524, 3986707, -2174183, -54.54, 428]
['SCGP', 2023, 'Q1', 5363140, 7817594, -2454454, -31.4, 713]
['SENA', 2023, 'Q1', 652768, 1357441, -704673, -51.91, 437]
['SGP', 2023, 'Q1', 364683, 3475743, -3111060, -89.51, 441]
['SINGER', 2023, 'Q1', -123498, 775886, -899384, -115.92, 446]
['SIRI', 2023, 'Q1', 5559109, 1935771, 3623338, 187.18, 447]
['SIS', 2023, 'Q1', 627496, 795606, -168110, -21.13, 449]
['SJWD', 2023, 'Q1', 609830, 556590, 53240, 9.57, 242]
['SKN', 2023, 'Q1', 508885, 914686, -405801, -44.37, 642]
['SKR', 2023, 'Q1', 842637, 1682484, -839847, -49.92, 451]
['SMPC', 2023, 'Q1', 587318, 902756, -315438, -34.94, 455]
['SNC', 2023, 'Q1', 547243, 765084, -217841, -28.47, 457]
['SPALI', 2023, 'Q1', 8075860, 7507057, 568803, 7.58, 462]
['SPC', 2023, 'Q1', 1779806, 1763384, 16422, 0.93, 463]
['SPCG', 2023, 'Q1', 2304425, 2391709, -87284, -3.65, 464]
['SPRC', 2023, 'Q1', 3608344, 8025156, -4416812, -55.04, 470]
['SPRIME', 2023, 'Q1', 271011, 433028, -162017, -37.41, 705]
['SSP', 2023, 'Q1', 1299945, 970687, 329258, 33.92, 643]
['STA', 2023, 'Q1', 3573771, 11397216, -7823445, -68.64, 481]
['STEC', 2023, 'Q1', 796652, 745136, 51516, 6.91, 484]
['STGT', 2023, 'Q1', 732210, 14704767, -13972557, -95.02, 714]
['SUPER', 2023, 'Q1', 643620, 2079434, -1435814, -69.05, 487]
['SUPEREIF', 2023, 'Q1', 318028, 175828, 142200, 80.87, 706]
['SVI', 2023, 'Q1', 1657101, 1521472, 135629, 8.91, 491]
['SYNEX', 2023, 'Q1', 729331, 897329, -167998, -18.72, 495]
['TASCO', 2023, 'Q1', 3278554, 2013621, 1264933, 62.82, 502]
['TCAP', 2023, 'Q1', 5762488, 5245504, 516984, 9.86, 503]
['TFFIF', 2023, 'Q1', 1921578, 1138781, 782797, 68.74, 686]
['TFG', 2023, 'Q1', 4528836, 734740, 3794096, 516.39, 513]
['THANI', 2023, 'Q1', 1747891, 1737353, 10538, 0.61, 522]
['THG', 2023, 'Q1', 1286122, 2079171, -793049, -38.14, 661]
['TIDLOR', 2023, 'Q1', 3654928, 3325932, 328996, 9.89, 723]
['TIPCO', 2023, 'Q1', 506920, 391670, 115250, 29.43, 530]
['TIPH', 2023, 'Q1', 1173087, 1825025, -651938, -35.72, 529]
['TISCO', 2023, 'Q1', 7218824, 6813664, 405160, 5.95, 531]
['TK', 2023, 'Q1', 274038, 509387, -235349, -46.2, 532]
['TKN', 2023, 'Q1', 537964, 188705, 349259, 185.08, 533]
['TKS', 2023, 'Q1', 605675, 1225240, -619565, -50.57, 534]
['TMT', 2023, 'Q1', 320270, 1233848, -913578, -74.04, 545]
['TOA', 2023, 'Q1', 1640571, 1694927, -54356, -3.21, 645]
['TOP', 2023, 'Q1', 30039596, 16400690, 13638906, 83.16, 555]
['TPIPL', 2023, 'Q1', 5853120, 6306180, -453060, -7.18, 559]
['TPIPP', 2023, 'Q1', 3004600, 3984902, -980302, -24.6, 560]
['TQM', 2023, 'Q1', 790436, 902407, -111971, -12.41, 688]
['TRUE', 2023, 'Q1', -3680971, -2464080, -1216891, -49.39, 571]
['TSE', 2023, 'Q1', 618104, 629083, -10979, -1.75, 573]
['TTA', 2023, 'Q1', 2504268, 4649369, -2145101, -46.14, 579]
['TTB', 2023, 'Q1', 15294801, 10886994, 4407807, 40.49, 541]
['TTLPF', 2023, 'Q1', 283001, 272401, 10600, 3.89, 707]
['TTW', 2023, 'Q1', 2948618, 2463355, 485263, 19.7, 581]
['TU', 2023, 'Q1', 6414051, 7955627, -1541576, -19.38, 582]
['TVI', 2023, 'Q1', 198132, 431310, -233178, -54.06, 584]
['TVO', 2023, 'Q1', 1071305, 1846302, -774997, -41.98, 585]
['TYCN', 2023, 'Q1', 107982, 236793, -128811, -54.4, 737]
['UTP', 2023, 'Q1', 674152, 903269, -229117, -25.37, 605]
['VIBHA', 2023, 'Q1', 1017154, 2067863, -1050709, -50.81, 610]
['VNG', 2023, 'Q1', 150682, 1482114, -1331432, -89.83, 726]
['WHA', 2023, 'Q1', 3912504, 3111433, 801071, 25.75, 619]
['WHAIR', 2023, 'Q1', 523871, 778438, -254567, -32.7, 211]
['WHART', 2023, 'Q1', 2404208, 2230559, 173649, 7.78, 622]
['WHAUP', 2023, 'Q1', 633231, 683105, -49874, -7.3, 623]
['WICE', 2023, 'Q1', 823425, 611663, 211762, 34.62, 624]
['WORK', 2023, 'Q1', 168089, 238697, -70608, -29.58, 628]

In [9]:
sql = """INSERT INTO yr_profits (name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, ticker_id) \
 VALUES (?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO yr_profits (name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, ticker_id)  VALUES (?, ?, ?, ?, ?, ?, ?, ?)

In [10]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of loop

In [11]:
cols = 'name year quarter q_amt_c q_amt_p inc_profit Pct'.split()

In [12]:
criteria_1 = df_ins.q_amt_c > 440000
df_ins.loc[criteria_1,cols].sort_values(['Pct'],ascending=[False]).head()

      name  year quarter  q_amt_c  q_amt_p  inc_profit    Pct
49     CRC  2023      Q1  8139363   861862     7277501 844.39
177    TFG  2023      Q1  4528836   734740     3794096 516.39
124  PLANB  2023      Q1   731042   131262      599780 456.93
142  SABUY  2023      Q1  1541775   287207     1254568 436.82
106      M  2023      Q1  1493308   313003     1180305 377.09

In [13]:
criteria_2 = df_ins.q_amt_p > 300000
df_ins.loc[criteria_2,cols].sort_values(['Pct'],ascending=[False]).head()

     name  year quarter  q_amt_c  q_amt_p  inc_profit    Pct
49    CRC  2023      Q1  8139363   861862     7277501 844.39
177   TFG  2023      Q1  4528836   734740     3794096 516.39
106     M  2023      Q1  1493308   313003     1180305 377.09
30     BH  2023      Q1  5796547  1849587     3946960 213.40
66   GFPT  2023      Q1  1886904   604464     1282440 212.16

In [14]:
criteria_3 = df_ins.Pct > 5.0
df_ins.loc[criteria_3,cols].sort_values(['Pct'],ascending=[False]).head()

       name  year quarter  q_amt_c  q_amt_p  inc_profit    Pct
49      CRC  2023      Q1  8139363   861862     7277501 844.39
70   GRAMMY  2023      Q1   321728   -54729      376457 687.86
177     TFG  2023      Q1  4528836   734740     3794096 516.39
124   PLANB  2023      Q1   731042   131262      599780 456.93
142   SABUY  2023      Q1  1541775   287207     1254568 436.82

In [15]:
df_ins_criteria = criteria_1 & criteria_2 & criteria_3
df_ins.loc[df_ins_criteria,cols].sort_values(['Pct'],ascending=[False])

        name  year quarter   q_amt_c   q_amt_p  inc_profit    Pct
49       CRC  2023      Q1   8139363    861862     7277501 844.39
177      TFG  2023      Q1   4528836    734740     3794096 516.39
106        M  2023      Q1   1493308    313003     1180305 377.09
30        BH  2023      Q1   5796547   1849587     3946960 213.40
66      GFPT  2023      Q1   1886904    604464     1282440 212.16
154     SIRI  2023      Q1   5559109   1935771     3623338 187.18
27       BEM  2023      Q1   2849148   1040915     1808233 173.72
47   CPNREIT  2023      Q1   2279637    869788     1409849 162.09
96       KSL  2023      Q1   1526784    639300      887484 138.82
109       MC  2023      Q1    832309    360228      472081 131.05
59    EGATIF  2023      Q1    878363    388220      490143 126.25
15       AWC  2023      Q1   4630796   2100590     2530206 120.45
132    PTTEP  2023      Q1  79663700  37848936    41814764 110.48
52     DELTA  2023      Q1  16178876   7722365     8456511 109.51
45       CPN  2023      Q1  11677516   5642050     6035466 106.97
79       III  2023      Q1    821894    412605      409289  99.20
127      PRM  2023      Q1   2518215   1276360     1241855  97.30
2         AH  2023      Q1   1983003   1015701      967302  95.23
18     BANPU  2023      Q1  35242778  18580896    16661882  89.67
189      TOP  2023      Q1  30039596  16400690    13638906  83.16
176    TFFIF  2023      Q1   1921578   1138781      782797  68.74
130      PTG  2023      Q1   1051660    635044      416616  65.60
174    TASCO  2023      Q1   3278554   2013621     1264933  62.82
143    SAPPE  2023      Q1    774553    477634      296919  62.16
100    LANNA  2023      Q1   3126160   1947761     1178399  60.50
117    OISHI  2023      Q1   1126122    709629      416493  58.69
105      LPN  2023      Q1    565838    370807      195031  52.60
38        CK  2023      Q1   1200678    819407      381271  46.53
80       ILM  2023      Q1    672666    468464      204202  43.59
78      ICHI  2023      Q1    759443    529124      230319  43.53
56        EA  2023      Q1   8557738   6054527     2503211  41.34
97       KTB  2023      Q1  34983988  24790196    10193792  41.12
196      TTB  2023      Q1  15294801  10886994     4407807  40.49
72    GUNKUL  2023      Q1   2962973   2124027      838946  39.50
14       ASW  2023      Q1   1175597    856966      318631  37.18
210     WICE  2023      Q1    823425    611663      211762  34.62
166      SSP  2023      Q1   1299945    970687      329258  33.92
146       SC  2023      Q1   2702938   2032999      669939  32.95
134       QH  2023      Q1   2403135   1823379      579756  31.80
31       BJC  2023      Q1   5027018   3818410     1208608  31.65
102     LHFG  2023      Q1   1736882   1334969      401913  30.11
4     AIMIRT  2023      Q1    682646    524978      157668  30.03
181    TIPCO  2023      Q1    506920    391670      115250  29.43
7      AMATA  2023      Q1   2279873   1770024      509849  28.80
71      GULF  2023      Q1  11872937   9432743     2440194  25.87
24      BDMS  2023      Q1  12633281  10040447     2592834  25.82
206      WHA  2023      Q1   3912504   3111433      801071  25.75
128      PSH  2023      Q1   2873112   2298182      574930  25.02
74      HANA  2023      Q1   2003566   1609113      394453  24.51
125     POPF  2023      Q1    454116    367342       86774  23.62
119      ORI  2023      Q1   3834445   3106807      727638  23.42
90       JMT  2023      Q1   1831685   1484503      347182  23.39
12       ASK  2023      Q1   1563900   1277644      286256  22.40
116    NOBLE  2023      Q1    534118    441126       92992  21.08
20       BBL  2023      Q1  32316817  26702007     5614810  21.03
98       KTC  2023      Q1   7203836   5992158     1211678  20.22
198      TTW  2023      Q1   2948618   2463355      485263  19.70
10        AP  2023      Q1   5625945   4870212      755733  15.52
22       BCP  2023      Q1  10959827   9696604     1263223  13.03
76     HMPRO  2023      Q1   6317264   5588994      728270  13.03
95       KKP  2023      Q1   7631606   6910731      720875  10.43
180   TIDLOR  2023      Q1   3654928   3325932      328996   9.89
175     TCAP  2023      Q1   5762488   5245504      516984   9.86
40      COM7  2023      Q1   3128169   2848014      280155   9.84
156     SJWD  2023      Q1    609830    556590       53240   9.57
39       CKP  2023      Q1   2293164   2103140      190024   9.04
172      SVI  2023      Q1   1657101   1521472      135629   8.91
101       LH  2023      Q1   7735011   7123213      611798   8.59
77       HTC  2023      Q1    531165    491734       39431   8.02
147      SCB  2023      Q1  38497229  35703880     2793349   7.82
208    WHART  2023      Q1   2404208   2230559      173649   7.78
161    SPALI  2023      Q1   8075860   7507057      568803   7.58
63       FPT  2023      Q1   2029252   1887451      141801   7.51
144      SAT  2023      Q1    955002    890646       64356   7.23
168     STEC  2023      Q1    796652    745136       51516   6.91
183    TISCO  2023      Q1   7218824   6813664      405160   5.95
145    SAWAD  2023      Q1   4640636   4397137      243499   5.54
33       BLA  2023      Q1   3167059   3006873      160186   5.33
55       DRT  2023      Q1    611021    581414       29607   5.09

In [16]:
df_ins.loc[df_ins_criteria,cols].sort_values(['name'],ascending=[True])

        name  year quarter   q_amt_c   q_amt_p  inc_profit    Pct
2         AH  2023      Q1   1983003   1015701      967302  95.23
4     AIMIRT  2023      Q1    682646    524978      157668  30.03
7      AMATA  2023      Q1   2279873   1770024      509849  28.80
10        AP  2023      Q1   5625945   4870212      755733  15.52
12       ASK  2023      Q1   1563900   1277644      286256  22.40
14       ASW  2023      Q1   1175597    856966      318631  37.18
15       AWC  2023      Q1   4630796   2100590     2530206 120.45
18     BANPU  2023      Q1  35242778  18580896    16661882  89.67
20       BBL  2023      Q1  32316817  26702007     5614810  21.03
22       BCP  2023      Q1  10959827   9696604     1263223  13.03
24      BDMS  2023      Q1  12633281  10040447     2592834  25.82
27       BEM  2023      Q1   2849148   1040915     1808233 173.72
30        BH  2023      Q1   5796547   1849587     3946960 213.40
31       BJC  2023      Q1   5027018   3818410     1208608  31.65
33       BLA  2023      Q1   3167059   3006873      160186   5.33
38        CK  2023      Q1   1200678    819407      381271  46.53
39       CKP  2023      Q1   2293164   2103140      190024   9.04
40      COM7  2023      Q1   3128169   2848014      280155   9.84
45       CPN  2023      Q1  11677516   5642050     6035466 106.97
47   CPNREIT  2023      Q1   2279637    869788     1409849 162.09
49       CRC  2023      Q1   8139363    861862     7277501 844.39
52     DELTA  2023      Q1  16178876   7722365     8456511 109.51
55       DRT  2023      Q1    611021    581414       29607   5.09
56        EA  2023      Q1   8557738   6054527     2503211  41.34
59    EGATIF  2023      Q1    878363    388220      490143 126.25
63       FPT  2023      Q1   2029252   1887451      141801   7.51
66      GFPT  2023      Q1   1886904    604464     1282440 212.16
71      GULF  2023      Q1  11872937   9432743     2440194  25.87
72    GUNKUL  2023      Q1   2962973   2124027      838946  39.50
74      HANA  2023      Q1   2003566   1609113      394453  24.51
76     HMPRO  2023      Q1   6317264   5588994      728270  13.03
77       HTC  2023      Q1    531165    491734       39431   8.02
78      ICHI  2023      Q1    759443    529124      230319  43.53
79       III  2023      Q1    821894    412605      409289  99.20
80       ILM  2023      Q1    672666    468464      204202  43.59
90       JMT  2023      Q1   1831685   1484503      347182  23.39
95       KKP  2023      Q1   7631606   6910731      720875  10.43
96       KSL  2023      Q1   1526784    639300      887484 138.82
97       KTB  2023      Q1  34983988  24790196    10193792  41.12
98       KTC  2023      Q1   7203836   5992158     1211678  20.22
100    LANNA  2023      Q1   3126160   1947761     1178399  60.50
101       LH  2023      Q1   7735011   7123213      611798   8.59
102     LHFG  2023      Q1   1736882   1334969      401913  30.11
105      LPN  2023      Q1    565838    370807      195031  52.60
106        M  2023      Q1   1493308    313003     1180305 377.09
109       MC  2023      Q1    832309    360228      472081 131.05
116    NOBLE  2023      Q1    534118    441126       92992  21.08
117    OISHI  2023      Q1   1126122    709629      416493  58.69
119      ORI  2023      Q1   3834445   3106807      727638  23.42
125     POPF  2023      Q1    454116    367342       86774  23.62
127      PRM  2023      Q1   2518215   1276360     1241855  97.30
128      PSH  2023      Q1   2873112   2298182      574930  25.02
130      PTG  2023      Q1   1051660    635044      416616  65.60
132    PTTEP  2023      Q1  79663700  37848936    41814764 110.48
134       QH  2023      Q1   2403135   1823379      579756  31.80
143    SAPPE  2023      Q1    774553    477634      296919  62.16
144      SAT  2023      Q1    955002    890646       64356   7.23
145    SAWAD  2023      Q1   4640636   4397137      243499   5.54
146       SC  2023      Q1   2702938   2032999      669939  32.95
147      SCB  2023      Q1  38497229  35703880     2793349   7.82
154     SIRI  2023      Q1   5559109   1935771     3623338 187.18
156     SJWD  2023      Q1    609830    556590       53240   9.57
161    SPALI  2023      Q1   8075860   7507057      568803   7.58
166      SSP  2023      Q1   1299945    970687      329258  33.92
168     STEC  2023      Q1    796652    745136       51516   6.91
172      SVI  2023      Q1   1657101   1521472      135629   8.91
174    TASCO  2023      Q1   3278554   2013621     1264933  62.82
175     TCAP  2023      Q1   5762488   5245504      516984   9.86
176    TFFIF  2023      Q1   1921578   1138781      782797  68.74
177      TFG  2023      Q1   4528836    734740     3794096 516.39
180   TIDLOR  2023      Q1   3654928   3325932      328996   9.89
181    TIPCO  2023      Q1    506920    391670      115250  29.43
183    TISCO  2023      Q1   7218824   6813664      405160   5.95
189      TOP  2023      Q1  30039596  16400690    13638906  83.16
196      TTB  2023      Q1  15294801  10886994     4407807  40.49
198      TTW  2023      Q1   2948618   2463355      485263  19.70
206      WHA  2023      Q1   3912504   3111433      801071  25.75
208    WHART  2023      Q1   2404208   2230559      173649   7.78
210     WICE  2023      Q1    823425    611663      211762  34.62