In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

year = "2023"
quarter = "2"
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2023-05-17'

In [4]:
today = date(2023, 5, 11)
today_str = today.strftime("%Y-%m-%d")
today_str

'2023-05-11'

In [3]:
format_dict = {'q_amt':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'q_eps':'{:.2f}','y_eps':'{:.2f}',
               'aq_eps':'{:.2f}','ay_eps':'{:.2f}',
               'yoy_pct':'{:.2f}','acc_pct':'{:.2f}',
               'daily_volume':'{:.2f}','beta':'{:.2f}'}
pd.set_option('display.max_rows',None)
pd.set_option('display.float','{:,.2f}'.format)

cols = ['name','year','quarter','q_amt','y_amt','yoy_gain','yoy_pct']

In [5]:
sql = '''
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= "%s"'''
sql = sql % (year, quarter, today_str)

epss = pd.read_sql(sql, conlt)
epss.tail()

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
0,22489,OISHI,2023,2,325685,264766,642645,653057,0.87,0.71,1.17,1.74,338,2023-05-11
1,22500,TFFIF,2023,2,472071,397594,944107,799461,0.00,0.00,0.00,0.00,686,2023-05-11
2,22542,AOT,2023,2,1860534,-3276460,1860534,-3276460,0.13,-0.23,0.13,-0.23,24,2023-05-12
3,22546,GVREIT,2023,2,193037,190821,389593,386865,0.00,0.00,0.00,0.00,654,2023-05-15

In [6]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"]  = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100,2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[
    [
        "name",
        "year",
        "quarter",
        "q_amt",
        "y_amt",
        "yoy_gain",
        "yoy_pct",
        "aq_amt",
        "ay_amt",
        "acc_gain",
        "acc_pct",
    ]
]
df_pct.tail().style.format(format_dict)

In [7]:
criteria_1 = df_pct.q_amt > 110000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [8]:
criteria_2 = df_pct.y_amt > 100000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [9]:
criteria_3 = df_pct.yoy_pct > 10
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [10]:
criteria_4 = (df_pct.q_amt > df_pct.y_amt)
df_pct.loc[criteria_4, cols].style.format(format_dict)

In [11]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#df_pct_criteria = criteria_1 & criteria_2
df_pct.loc[df_pct_criteria, cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [12]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [13]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [14]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'OISHI', 'TFFIF', 'AOT', 'GVREIT'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [15]:
sql = """SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
"""
sql = sql % (in_p)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('OISHI', 'TFFIF', 'AOT', 'GVREIT')
ORDER BY E.name, year DESC, quarter DESC

In [16]:
sqlDel = '''
DELETE FROM profits
WHERE name IN (%s)
AND quarter = 1
'''
sqlDel = sqlDel % in_p
print(sqlDel)

DELETE FROM profits
WHERE name IN ('OISHI', 'TFFIF', 'AOT', 'GVREIT')
AND quarter = 1

In [17]:
rp = conlt.execute(sqlDel)
rp.rowcount

0

In [18]:
rp = conmy.execute(sqlDel)
rp.rowcount

0

In [19]:
rp = conpg.execute(sqlDel)
rp.rowcount

0

In [20]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['2S', 'AH', 'AMATA', 'AWC', 'AYUD', 'BANPU', 'BBL', 'BDMS', 'BEM', 'BH',
       'BPP', 'CIMBT', 'EA', 'GULF', 'GVREIT', 'HANA', 'ICHI', 'ILM', 'KKP',
       'KSL', 'KSL', 'KTB', 'KTC', 'LANNA', 'LHFG', 'MTI', 'OISHI', 'PTG',
       'PTTEP', 'SAUCE', 'SIRI', 'SPI', 'STARK', 'TASCO', 'TTB', 'VNT'],
      dtype='object', name='name')

In [21]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['AH', 'AMATA', 'AWC', 'BBL', 'BDMS', 'BEM', 'BH', 'EA', 'GULF', 'HANA',
       'ICHI', 'ILM', 'KKP', 'KTB', 'KTC', 'LANNA', 'LHFG', 'PTG', 'PTTEP',
       'SIRI', 'TASCO', 'TTB'],
      dtype='object', name='name')

In [22]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['AH', 'AMATA', 'AWC', 'BANPU', 'BBL', 'BDMS', 'BEM', 'BH', 'BPP', 'EA',
       'GULF', 'GVREIT', 'HANA', 'ICHI', 'ILM', 'KKP', 'KSL', 'KTB', 'KTC',
       'LANNA', 'LHFG', 'OISHI', 'PTG', 'PTTEP', 'SIRI', 'STARK', 'TASCO',
       'TTB'],
      dtype='object', name='name')