### Restart and Run All

In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()

pd.set_option('display.float_format','{:,.2f}'.format)
pd.set_option('display.max_rows',None)

year = 2023
quarter = 2

today = date.today()
today

datetime.date(2023, 8, 19)

In [2]:
sql = '''
SELECT name,year,quarter,q_amt
FROM epss 
WHERE (year = %s AND quarter <= %s) 
OR (year = %s-1 AND quarter >= %s+1)
ORDER BY year DESC, quarter DESC'''
sql = sql % (year,quarter,year,quarter)
print(sql)

SELECT name,year,quarter,q_amt
FROM epss
WHERE (year = 2023 AND quarter <= 2)
OR (year = 2023-1 AND quarter >= 2+1)
ORDER BY year DESC, quarter DESC

In [3]:
dfc = pd.read_sql(sql, conlt)
dfc['Counter'] = 1
dfc_grp = dfc.groupby(['name'], as_index=False).sum()
dfc_grp = dfc_grp[dfc_grp['Counter'] == 4]
dfc_grp.shape

(211, 5)

In [4]:
sql = '''
SELECT name,year,quarter,q_amt
FROM epss 
WHERE (year = %s-1 AND quarter <= %s) 
OR (year = %s-2 AND quarter >= %s+1)
ORDER BY year DESC, quarter DESC'''
sql = sql % (year,quarter,year,quarter)
dfp = pd.read_sql(sql, conlt)
dfp['Counter'] = 1
dfp_grp = dfp.groupby(['name'], as_index=False).sum()
dfp_grp = dfp_grp[dfp_grp['Counter'] == 4]
dfp_grp.shape

(231, 5)

In [5]:
dfm = pd.merge(dfc_grp, dfp_grp, on='name', suffixes=(['_c','_p']), how='inner')
dfm['inc_profit'] = dfm['q_amt_c']-dfm['q_amt_p']
dfm['Pct'] = round(dfm['inc_profit']/abs(dfm['q_amt_p'])*100,2)
dfm['year'] = year
dfm['quarter'] = 'Q'+str(quarter)
df_pct = dfm[['name','year','quarter','q_amt_c','q_amt_p','inc_profit','Pct']]
df_pct.sort_values(['Pct'],ascending=[False]).head()

         name  year quarter  q_amt_c  q_amt_p  inc_profit       Pct
140        RS  2023      Q2   253583     1569      252014 16,062.08
71     GRAMMY  2023      Q2   306321   -16061      322382  2,007.23
171  SUPEREIF  2023      Q2   340669    56986      283683    497.81
115     NOBLE  2023      Q2   660067   125165      534902    427.36
111      MINT  2023      Q2  8797837 -4225107    13022944    308.23

In [6]:
sql = """
DELETE FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'"""
sql = sql % (year, quarter)
rp = conlt.execute(sql)
rp.rowcount

181

In [7]:
sql = 'SELECT name, id FROM tickers'
tickers = pd.read_sql(sql, conlt)
df_ins = pd.merge(df_pct, tickers, on='name', how='inner')
rcds = df_ins.values.tolist()
len(rcds)

211

In [8]:
for rcd in rcds:
    print(rcd)

['ACE', 2023, 'Q2', 1166351, 1485354, -319003, -21.48, 698]
['ADVANC', 2023, 'Q2', 27332445, 25853429, 1479016, 5.72, 6]
['AH', 2023, 'Q2', 1983193, 1175297, 807896, 68.74, 9]
['AIE', 2023, 'Q2', -186609, 402015, -588624, -146.42, 720]
['AIMIRT', 2023, 'Q2', 693288, 566114, 127174, 22.46, 669]
['AIT', 2023, 'Q2', 473640, 556639, -82999, -14.91, 11]
['AJ', 2023, 'Q2', -536546, 422747, -959293, -226.92, 12]
['AMATA', 2023, 'Q2', 1944361, 2171767, -227406, -10.47, 21]
['ANAN', 2023, 'Q2', -115177, -796635, 681458, 85.54, 23]
['AOT', 2023, 'Q2', -1336443, -16784073, 15447630, 92.04, 24]
['AP', 2023, 'Q2', 5596465, 5329148, 267317, 5.02, 25]
['ASIAN', 2023, 'Q2', 532125, 1048954, -516829, -49.27, 36]
['ASK', 2023, 'Q2', 1541463, 1367575, 173888, 12.72, 38]
['ASP', 2023, 'Q2', 536435, 578771, -42336, -7.31, 40]
['ASW', 2023, 'Q2', 1059831, 871576, 188255, 21.6, 728]
['AWC', 2023, 'Q2', 4976058, 3075541, 1900517, 61.79, 699]
['BA', 2023, 'Q2', 1302119, -8985803, 10287922, 114.49, 45]
['BAM', 2023, 'Q2', 2274028, 2705410, -431382, -15.95, 709]
['BANPU', 2023, 'Q2', 22008425, 30044483, -8036058, -26.75, 47]
['BAY', 2023, 'Q2', 32562537, 27998571, 4563966, 16.3, 49]
['BBL', 2023, 'Q2', 36649261, 27306314, 9342947, 34.22, 50]
['BCH', 2023, 'Q2', 404804, 8548803, -8143999, -95.26, 51]
['BCP', 2023, 'Q2', 6141670, 13208283, -7066613, -53.5, 52]
['BCPG', 2023, 'Q2', 1649752, 2615667, -965915, -36.93, 53]
['BDMS', 2023, 'Q2', 13032398, 11252429, 1779969, 15.82, 54]
['BE8', 2023, 'Q2', 218029, 96714, 121315, 125.44, 745]
['BEAUTY', 2023, 'Q2', -47952, -59185, 11233, 18.98, 55]
['BEC', 2023, 'Q2', 338762, 784989, -446227, -56.85, 56]
['BEM', 2023, 'Q2', 3115812, 1474508, 1641304, 111.31, 57]
['BGC', 2023, 'Q2', 327996, 537322, -209326, -38.96, 677]
['BGRIM', 2023, 'Q2', 3082, 472894, -469812, -99.35, 59]
['BH', 2023, 'Q2', 6378422, 2799073, 3579349, 127.88, 61]
['BJC', 2023, 'Q2', 5024768, 4207791, 816977, 19.42, 65]
['BKI', 2023, 'Q2', 4203494, -3805995, 8009489, 210.44, 68]
['BLA', 2023, 'Q2', 2767010, 3444585, -677575, -19.67, 70]
['BPP', 2023, 'Q2', 5587009, 4570808, 1016201, 22.23, 74]
['CBG', 2023, 'Q2', 1628806, 2616819, -988013, -37.76, 87]
['CENTEL', 2023, 'Q2', 1169423, -672616, 1842039, 273.86, 92]
['CHG', 2023, 'Q2', 990256, 5610839, -4620583, -82.35, 98]
['CK', 2023, 'Q2', 1387269, 800755, 586514, 73.25, 106]
['CKP', 2023, 'Q2', 1430935, 2260212, -829277, -36.69, 107]
['COM7', 2023, 'Q2', 3212242, 2880990, 331252, 11.5, 114]
['COTTO', 2023, 'Q2', -172429, 597648, -770077, -128.85, 710]
['CPALL', 2023, 'Q2', 15375843, 14653774, 722069, 4.93, 116]
['CPAXT', 2023, 'Q2', 7755165, 14289142, -6533977, -45.73, 283]
['CPF', 2023, 'Q2', 3401879, 8395659, -4993780, -59.48, 117]
['CPN', 2023, 'Q2', 12601908, 7126930, 5474978, 76.82, 121]
['CPNCG', 2023, 'Q2', -121193, 533521, -654714, -122.72, 122]
['CPNREIT', 2023, 'Q2', 2180742, 1624073, 556669, 34.28, 647]
['CPTGF', 2023, 'Q2', 329796, 445455, -115659, -25.96, 690]
['CRC', 2023, 'Q2', 8220076, 2819760, 5400316, 191.52, 708]
['DCC', 2023, 'Q2', 1281637, 1720857, -439220, -25.52, 135]
['DCON', 2023, 'Q2', 186164, 126868, 59296, 46.74, 136]
['DELTA', 2023, 'Q2', 16583448, 10330437, 6253011, 60.53, 138]
['DIF', 2023, 'Q2', 7271169, 12759649, -5488480, -43.01, 140]
['DOHOME', 2023, 'Q2', 299480, 1448509, -1149029, -79.32, 701]
['DRT', 2023, 'Q2', 591759, 589009, 2750, 0.47, 143]
['EA', 2023, 'Q2', 9622562, 5959305, 3663257, 61.47, 148]
['EASTW', 2023, 'Q2', 434330, 918382, -484052, -52.71, 151]
['ECL', 2023, 'Q2', 153521, 208335, -54814, -26.31, 153]
['EGATIF', 2023, 'Q2', 740119, 468173, 271946, 58.09, 156]
['EGCO', 2023, 'Q2', 2826239, 5346894, -2520655, -47.14, 157]
['ESSO', 2023, 'Q2', -5159827, 14995042, -20154869, -134.41, 165]
['FORTH', 2023, 'Q2', 819355, 720234, 99121, 13.76, 176]
['FPT', 2023, 'Q2', 2033577, 1684084, 349493, 20.75, 746]
['FSMART', 2023, 'Q2', 290059, 339609, -49550, -14.59, 178]
['GC', 2023, 'Q2', 163925, 181869, -17944, -9.87, 183]
['GFPT', 2023, 'Q2', 1782162, 876315, 905847, 103.37, 187]
['GGC', 2023, 'Q2', 91029, 1065448, -974419, -91.46, 188]
['GLOBAL', 2023, 'Q2', 2887847, 3590574, -702727, -19.57, 193]
['GPSC', 2023, 'Q2', 1321422, 4039969, -2718547, -67.29, 197]
['GRAMMY', 2023, 'Q2', 306321, -16061, 322382, 2007.23, 198]
['GULF', 2023, 'Q2', 13227185, 9556900, 3670285, 38.4, 653]
['GUNKUL', 2023, 'Q2', 2636355, 2378634, 257721, 10.83, 202]
['GVREIT', 2023, 'Q2', 645471, 671535, -26064, -3.88, 654]
['HANA', 2023, 'Q2', 2393988, 1117296, 1276692, 114.27, 205]
['HFT', 2023, 'Q2', 245081, 419316, -174235, -41.55, 207]
['HMPRO', 2023, 'Q2', 6417062, 5676476, 740586, 13.05, 208]
['HTC', 2023, 'Q2', 564133, 422103, 142030, 33.65, 212]
['ICHI', 2023, 'Q2', 862460, 517373, 345087, 66.7, 216]
['III', 2023, 'Q2', 866172, 446013, 420159, 94.2, 637]
['ILM', 2023, 'Q2', 674079, 529752, 144327, 27.24, 725]
['IMH', 2023, 'Q2', 53493, 524903, -471410, -89.81, 730]
['INOX', 2023, 'Q2', -570088, 1333707, -1903795, -142.74, 674]
['INTUCH', 2023, 'Q2', 10917236, 10462674, 454562, 4.34, 224]
['IP', 2023, 'Q2', 110079, 122336, -12257, -10.02, 736]
['IRPC', 2023, 'Q2', -11642820, 9683390, -21326210, -220.23, 227]
['IVL', 2023, 'Q2', -1907172, 46287387, -48194559, -104.12, 231]
['JASIF', 2023, 'Q2', -739216, 7203551, -7942767, -110.26, 234]
['JMART', 2023, 'Q2', 174480, 2616411, -2441931, -93.33, 236]
['JMT', 2023, 'Q2', 1949379, 1629008, 320371, 19.67, 237]
['KBANK', 2023, 'Q2', 35500119, 40536483, -5036364, -12.42, 245]
['KCE', 2023, 'Q2', 1877202, 2466801, -589599, -23.9, 249]
['KEX', 2023, 'Q2', -3441619, -1814949, -1626670, -89.63, 740]
['KKP', 2023, 'Q2', 7006617, 7589746, -583129, -7.68, 255]
['KSL', 2023, 'Q2', 1530380, 951975, 578405, 60.76, 257]
['KTB', 2023, 'Q2', 36781791, 27137553, 9644238, 35.54, 258]
['KTC', 2023, 'Q2', 7115915, 6205952, 909963, 14.66, 259]
['LALIN', 2023, 'Q2', 1046696, 1380970, -334274, -24.21, 263]
['LANNA', 2023, 'Q2', 2571391, 2821353, -249962, -8.86, 264]
['LH', 2023, 'Q2', 7045487, 7392926, -347439, -4.7, 267]
['LHFG', 2023, 'Q2', 2035694, 1090666, 945028, 86.65, 268]
['LIT', 2023, 'Q2', -107068, -143056, 35988, 25.16, 273]
['LPH', 2023, 'Q2', 123855, 561071, -437216, -77.93, 275]
['LPN', 2023, 'Q2', 505501, 397259, 108242, 27.25, 276]
['M', 2023, 'Q2', 1512936, 851758, 661178, 77.63, 279]
['MAJOR', 2023, 'Q2', 699407, 2074984, -1375577, -66.29, 282]
['MBAX', 2023, 'Q2', 11180, 133085, -121905, -91.6, 288]
['MC', 2023, 'Q2', 847819, 364688, 483131, 132.48, 291]
['MCS', 2023, 'Q2', -78224, 966761, -1044985, -108.09, 293]
['MEGA', 2023, 'Q2', 2041967, 2292494, -250527, -10.93, 295]
['MINT', 2023, 'Q2', 8797837, -4225107, 13022944, 308.23, 301]
['MST', 2023, 'Q2', 485646, 686084, -200438, -29.21, 290]
['MTC', 2023, 'Q2', 4607095, 5056992, -449897, -8.9, 315]
['NER', 2023, 'Q2', 1668497, 1895960, -227463, -12.0, 680]
['NOBLE', 2023, 'Q2', 660067, 125165, 534902, 427.36, 328]
['OISHI', 2023, 'Q2', 1187041, 834166, 352875, 42.3, 338]
['ONEE', 2023, 'Q2', 483497, 802630, -319133, -39.76, 741]
['OR', 2023, 'Q2', 5688956, 14658808, -8969852, -61.19, 715]
['ORI', 2023, 'Q2', 3552233, 3410091, 142142, 4.17, 339]
['OSP', 2023, 'Q2', 1907687, 2784458, -876771, -31.49, 681]
['PAP', 2023, 'Q2', -210955, -48576, -162379, -334.28, 342]
['PCSGH', 2023, 'Q2', 689648, 568169, 121479, 21.38, 346]
['PDG', 2023, 'Q2', 16648, 52008, -35360, -67.99, 347]
['PLANB', 2023, 'Q2', 784671, 375646, 409025, 108.89, 358]
['POPF', 2023, 'Q2', 289704, 410490, -120786, -29.42, 364]
['PREB', 2023, 'Q2', 247123, 334580, -87457, -26.14, 372]
['PRM', 2023, 'Q2', 2791103, 1067852, 1723251, 161.38, 639]
['PSH', 2023, 'Q2', 3481101, 2300590, 1180511, 51.31, 377]
['PSL', 2023, 'Q2', 2261776, 6227064, -3965288, -63.68, 734]
['PTG', 2023, 'Q2', 562221, 737989, -175768, -23.82, 381]
['PTT', 2023, 'Q2', 74717895, 115615828, -40897933, -35.37, 383]
['PTTEP', 2023, 'Q2', 80103369, 51309276, 28794093, 56.12, 384]
['PTTGC', 2023, 'Q2', -19861090, 15852716, -35713806, -225.29, 385]
['QH', 2023, 'Q2', 2557314, 1856888, 700426, 37.72, 388]
['RATCH', 2023, 'Q2', 5579140, 7336776, -1757636, -23.96, 394]
['RBF', 2023, 'Q2', 504134, 515252, -11118, -2.16, 703]
['RCL', 2023, 'Q2', 10533168, 27422793, -16889625, -61.59, 396]
['RJH', 2023, 'Q2', 335122, 1661863, -1326741, -79.83, 399]
['ROJNA', 2023, 'Q2', 954903, 1603939, -649036, -40.47, 404]
['RS', 2023, 'Q2', 253583, 1569, 252014, 16062.08, 408]
['S11', 2023, 'Q2', 280743, 348666, -67923, -19.48, 412]
['SABUY', 2023, 'Q2', 1365128, 596382, 768746, 128.9, 721]
['SAPPE', 2023, 'Q2', 919543, 518050, 401493, 77.5, 420]
['SAT', 2023, 'Q2', 968299, 863218, 105081, 12.17, 421]
['SAWAD', 2023, 'Q2', 4745364, 4332685, 412679, 9.52, 423]
['SC', 2023, 'Q2', 2714912, 2094072, 620840, 29.65, 425]
['SCB', 2023, 'Q2', 40314721, 36939973, 3374748, 9.14, 426]
['SCC', 2023, 'Q2', 27209192, 33904936, -6695744, -19.75, 427]
['SCCC', 2023, 'Q2', 1113800, 3895929, -2782129, -71.41, 428]
['SCGP', 2023, 'Q2', 4991985, 7410265, -2418280, -32.63, 713]
['SENA', 2023, 'Q2', 476657, 1443063, -966406, -66.97, 437]
['SGP', 2023, 'Q2', -1066174, 3478029, -4544203, -130.65, 441]
['SINGER', 2023, 'Q2', -2784892, 858675, -3643567, -424.32, 446]
['SIRI', 2023, 'Q2', 6262643, 2191557, 4071086, 185.76, 447]
['SIS', 2023, 'Q2', 609103, 790650, -181547, -22.96, 449]
['SJWD', 2023, 'Q2', 585087, 595153, -10066, -1.69, 242]
['SKN', 2023, 'Q2', 490634, 889910, -399276, -44.87, 642]
['SKR', 2023, 'Q2', 898322, 1707617, -809295, -47.39, 451]
['SMPC', 2023, 'Q2', 481100, 970325, -489225, -50.42, 455]
['SNC', 2023, 'Q2', 402861, 795778, -392917, -49.38, 457]
['SPALI', 2023, 'Q2', 7701503, 7851676, -150173, -1.91, 462]
['SPC', 2023, 'Q2', 1890263, 1655692, 234571, 14.17, 463]
['SPCG', 2023, 'Q2', 2303869, 2308590, -4721, -0.2, 464]
['SPRC', 2023, 'Q2', -5652256, 14407821, -20060077, -139.23, 470]
['SPRIME', 2023, 'Q2', 225748, 437659, -211911, -48.42, 705]
['SSP', 2023, 'Q2', 655311, 1375187, -719876, -52.35, 643]
['STA', 2023, 'Q2', 2541650, 7495633, -4953983, -66.09, 481]
['STEC', 2023, 'Q2', 777168, 916848, -139680, -15.23, 484]
['STGT', 2023, 'Q2', 130935, 8041123, -7910188, -98.37, 714]
['SUPER', 2023, 'Q2', 455043, 1607875, -1152832, -71.7, 487]
['SUPEREIF', 2023, 'Q2', 340669, 56986, 283683, 497.81, 706]
['SVI', 2023, 'Q2', 1516551, 1777672, -261121, -14.69, 491]
['SYNEX', 2023, 'Q2', 624370, 878452, -254082, -28.92, 495]
['TASCO', 2023, 'Q2', 3435558, 1733182, 1702376, 98.22, 502]
['TCAP', 2023, 'Q2', 5768137, 5910236, -142099, -2.4, 503]
['TFFIF', 2023, 'Q2', 1996055, 1209444, 786611, 65.04, 686]
['TFG', 2023, 'Q2', 3359137, 1543647, 1815490, 117.61, 513]
['THANI', 2023, 'Q2', 1680611, 1802082, -121471, -6.74, 522]
['THG', 2023, 'Q2', 1016203, 2393114, -1376911, -57.54, 661]
['TIDLOR', 2023, 'Q2', 3600747, 3529884, 70863, 2.01, 723]
['TIPCO', 2023, 'Q2', 489364, 311241, 178123, 57.23, 530]
['TIPH', 2023, 'Q2', 1810466, 896447, 914019, 101.96, 529]
['TISCO', 2023, 'Q2', 7224280, 6995711, 228569, 3.27, 531]
['TK', 2023, 'Q2', 179794, 508531, -328737, -64.64, 532]
['TKN', 2023, 'Q2', 662122, 237274, 424848, 179.05, 533]
['TKS', 2023, 'Q2', 532842, 1254469, -721627, -57.52, 534]
['TMT', 2023, 'Q2', 190603, 793884, -603281, -75.99, 545]
['TOA', 2023, 'Q2', 2014216, 1518545, 495671, 32.64, 645]
['TOP', 2023, 'Q2', 5829749, 39604949, -33775200, -85.28, 555]
['TPIPL', 2023, 'Q2', 4598321, 6941060, -2342739, -33.75, 559]
['TPIPP', 2023, 'Q2', 3083893, 3652539, -568646, -15.57, 560]
['TQM', 2023, 'Q2', 807446, 860668, -53222, -6.18, 688]
['TRUE', 2023, 'Q2', -5239379, -2926834, -2312545, -79.01, 571]
['TSE', 2023, 'Q2', 599637, 617634, -17997, -2.91, 573]
['TTA', 2023, 'Q2', 2099373, 5153711, -3054338, -59.26, 579]
['TTB', 2023, 'Q2', 16422761, 11791212, 4631549, 39.28, 541]
['TTLPF', 2023, 'Q2', 283610, 266973, 16637, 6.23, 707]
['TTW', 2023, 'Q2', 2753927, 2426447, 327480, 13.5, 581]
['TU', 2023, 'Q2', 5818867, 7236594, -1417727, -19.59, 582]
['TVO', 2023, 'Q2', 152924, 2073619, -1920695, -92.63, 585]
['TYCN', 2023, 'Q2', 152065, 116387, 35678, 30.65, 737]
['UTP', 2023, 'Q2', 615163, 944074, -328911, -34.84, 605]
['VIBHA', 2023, 'Q2', 859075, 2133915, -1274840, -59.74, 610]
['VNG', 2023, 'Q2', -139404, 1502115, -1641519, -109.28, 726]
['WHA', 2023, 'Q2', 4489004, 3140871, 1348133, 42.92, 619]
['WHAIR', 2023, 'Q2', 547148, 734988, -187840, -25.56, 211]
['WHART', 2023, 'Q2', 2655166, 1769732, 885434, 50.03, 622]
['WHAUP', 2023, 'Q2', 909289, 642006, 267283, 41.63, 623]
['WICE', 2023, 'Q2', 715972, 670741, 45231, 6.74, 624]
['WORK', 2023, 'Q2', 178676, 121862, 56814, 46.62, 628]

In [9]:
sql = """INSERT INTO yr_profits (name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, ticker_id) \
 VALUES (?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO yr_profits (name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, ticker_id)  VALUES (?, ?, ?, ?, ?, ?, ?, ?)

In [10]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of loop

In [11]:
cols = 'name year quarter q_amt_c q_amt_p inc_profit Pct'.split()

In [12]:
criteria_1 = df_ins.q_amt_c > 440000
df_ins.loc[criteria_1,cols].sort_values(['Pct'],ascending=[False]).head()

       name  year quarter  q_amt_c  q_amt_p  inc_profit    Pct
115   NOBLE  2023      Q2   660067   125165      534902 427.36
111    MINT  2023      Q2  8797837 -4225107    13022944 308.23
37   CENTEL  2023      Q2  1169423  -672616     1842039 273.86
33      BKI  2023      Q2  4203494 -3805995     8009489 210.44
50      CRC  2023      Q2  8220076  2819760     5400316 191.52

In [13]:
criteria_2 = df_ins.q_amt_p > 300000
df_ins.loc[criteria_2,cols].sort_values(['Pct'],ascending=[False]).head()

      name  year quarter  q_amt_c  q_amt_p  inc_profit    Pct
50     CRC  2023      Q2  8220076  2819760     5400316 191.52
154   SIRI  2023      Q2  6262643  2191557     4071086 185.76
127    PRM  2023      Q2  2791103  1067852     1723251 161.38
108     MC  2023      Q2   847819   364688      483131 132.48
142  SABUY  2023      Q2  1365128   596382      768746 128.90

In [14]:
criteria_3 = df_ins.Pct > 5.0
df_ins.loc[criteria_3,cols].sort_values(['Pct'],ascending=[False]).head()

         name  year quarter  q_amt_c  q_amt_p  inc_profit       Pct
140        RS  2023      Q2   253583     1569      252014 16,062.08
71     GRAMMY  2023      Q2   306321   -16061      322382  2,007.23
171  SUPEREIF  2023      Q2   340669    56986      283683    497.81
115     NOBLE  2023      Q2   660067   125165      534902    427.36
111      MINT  2023      Q2  8797837 -4225107    13022944    308.23

In [15]:
df_ins_criteria = criteria_1 & criteria_2 & criteria_3
df_ins.loc[df_ins_criteria,cols].sort_values(['Pct'],ascending=[False])

        name  year quarter   q_amt_c   q_amt_p  inc_profit    Pct
50       CRC  2023      Q2   8220076   2819760     5400316 191.52
154     SIRI  2023      Q2   6262643   2191557     4071086 185.76
127      PRM  2023      Q2   2791103   1067852     1723251 161.38
108       MC  2023      Q2    847819    364688      483131 132.48
142    SABUY  2023      Q2   1365128    596382      768746 128.90
31        BH  2023      Q2   6378422   2799073     3579349 127.88
177      TFG  2023      Q2   3359137   1543647     1815490 117.61
75      HANA  2023      Q2   2393988   1117296     1276692 114.27
28       BEM  2023      Q2   3115812   1474508     1641304 111.31
124    PLANB  2023      Q2    784671    375646      409025 108.89
67      GFPT  2023      Q2   1782162    876315      905847 103.37
182     TIPH  2023      Q2   1810466    896447      914019 101.96
174    TASCO  2023      Q2   3435558   1733182     1702376  98.22
80       III  2023      Q2    866172    446013      420159  94.20
101     LHFG  2023      Q2   2035694   1090666      945028  86.65
105        M  2023      Q2   1512936    851758      661178  77.63
143    SAPPE  2023      Q2    919543    518050      401493  77.50
46       CPN  2023      Q2  12601908   7126930     5474978  76.82
39        CK  2023      Q2   1387269    800755      586514  73.25
2         AH  2023      Q2   1983193   1175297      807896  68.74
79      ICHI  2023      Q2    862460    517373      345087  66.70
176    TFFIF  2023      Q2   1996055   1209444      786611  65.04
15       AWC  2023      Q2   4976058   3075541     1900517  61.79
57        EA  2023      Q2   9622562   5959305     3663257  61.47
95       KSL  2023      Q2   1530380    951975      578405  60.76
53     DELTA  2023      Q2  16583448  10330437     6253011  60.53
60    EGATIF  2023      Q2    740119    468173      271946  58.09
181    TIPCO  2023      Q2    489364    311241      178123  57.23
132    PTTEP  2023      Q2  80103369  51309276    28794093  56.12
128      PSH  2023      Q2   3481101   2300590     1180511  51.31
207    WHART  2023      Q2   2655166   1769732      885434  50.03
205      WHA  2023      Q2   4489004   3140871     1348133  42.92
116    OISHI  2023      Q2   1187041    834166      352875  42.30
208    WHAUP  2023      Q2    909289    642006      267283  41.63
196      TTB  2023      Q2  16422761  11791212     4631549  39.28
72      GULF  2023      Q2  13227185   9556900     3670285  38.40
134       QH  2023      Q2   2557314   1856888      700426  37.72
96       KTB  2023      Q2  36781791  27137553     9644238  35.54
48   CPNREIT  2023      Q2   2180742   1624073      556669  34.28
20       BBL  2023      Q2  36649261  27306314     9342947  34.22
78       HTC  2023      Q2    564133    422103      142030  33.65
188      TOA  2023      Q2   2014216   1518545      495671  32.64
146       SC  2023      Q2   2714912   2094072      620840  29.65
104      LPN  2023      Q2    505501    397259      108242  27.25
81       ILM  2023      Q2    674079    529752      144327  27.24
4     AIMIRT  2023      Q2    693288    566114      127174  22.46
35       BPP  2023      Q2   5587009   4570808     1016201  22.23
14       ASW  2023      Q2   1059831    871576      188255  21.60
122    PCSGH  2023      Q2    689648    568169      121479  21.38
64       FPT  2023      Q2   2033577   1684084      349493  20.75
90       JMT  2023      Q2   1949379   1629008      320371  19.67
32       BJC  2023      Q2   5024768   4207791      816977  19.42
19       BAY  2023      Q2  32562537  27998571     4563966  16.30
24      BDMS  2023      Q2  13032398  11252429     1779969  15.82
97       KTC  2023      Q2   7115915   6205952      909963  14.66
162      SPC  2023      Q2   1890263   1655692      234571  14.17
63     FORTH  2023      Q2    819355    720234       99121  13.76
198      TTW  2023      Q2   2753927   2426447      327480  13.50
77     HMPRO  2023      Q2   6417062   5676476      740586  13.05
12       ASK  2023      Q2   1541463   1367575      173888  12.72
144      SAT  2023      Q2    968299    863218      105081  12.17
41      COM7  2023      Q2   3212242   2880990      331252  11.50
73    GUNKUL  2023      Q2   2636355   2378634      257721  10.83
145    SAWAD  2023      Q2   4745364   4332685      412679   9.52
147      SCB  2023      Q2  40314721  36939973     3374748   9.14
209     WICE  2023      Q2    715972    670741       45231   6.74
1     ADVANC  2023      Q2  27332445  25853429     1479016   5.72
10        AP  2023      Q2   5596465   5329148      267317   5.02

In [16]:
df_ins.loc[df_ins_criteria,cols].sort_values(['name'],ascending=[True])

        name  year quarter   q_amt_c   q_amt_p  inc_profit    Pct
1     ADVANC  2023      Q2  27332445  25853429     1479016   5.72
2         AH  2023      Q2   1983193   1175297      807896  68.74
4     AIMIRT  2023      Q2    693288    566114      127174  22.46
10        AP  2023      Q2   5596465   5329148      267317   5.02
12       ASK  2023      Q2   1541463   1367575      173888  12.72
14       ASW  2023      Q2   1059831    871576      188255  21.60
15       AWC  2023      Q2   4976058   3075541     1900517  61.79
19       BAY  2023      Q2  32562537  27998571     4563966  16.30
20       BBL  2023      Q2  36649261  27306314     9342947  34.22
24      BDMS  2023      Q2  13032398  11252429     1779969  15.82
28       BEM  2023      Q2   3115812   1474508     1641304 111.31
31        BH  2023      Q2   6378422   2799073     3579349 127.88
32       BJC  2023      Q2   5024768   4207791      816977  19.42
35       BPP  2023      Q2   5587009   4570808     1016201  22.23
39        CK  2023      Q2   1387269    800755      586514  73.25
41      COM7  2023      Q2   3212242   2880990      331252  11.50
46       CPN  2023      Q2  12601908   7126930     5474978  76.82
48   CPNREIT  2023      Q2   2180742   1624073      556669  34.28
50       CRC  2023      Q2   8220076   2819760     5400316 191.52
53     DELTA  2023      Q2  16583448  10330437     6253011  60.53
57        EA  2023      Q2   9622562   5959305     3663257  61.47
60    EGATIF  2023      Q2    740119    468173      271946  58.09
63     FORTH  2023      Q2    819355    720234       99121  13.76
64       FPT  2023      Q2   2033577   1684084      349493  20.75
67      GFPT  2023      Q2   1782162    876315      905847 103.37
72      GULF  2023      Q2  13227185   9556900     3670285  38.40
73    GUNKUL  2023      Q2   2636355   2378634      257721  10.83
75      HANA  2023      Q2   2393988   1117296     1276692 114.27
77     HMPRO  2023      Q2   6417062   5676476      740586  13.05
78       HTC  2023      Q2    564133    422103      142030  33.65
79      ICHI  2023      Q2    862460    517373      345087  66.70
80       III  2023      Q2    866172    446013      420159  94.20
81       ILM  2023      Q2    674079    529752      144327  27.24
90       JMT  2023      Q2   1949379   1629008      320371  19.67
95       KSL  2023      Q2   1530380    951975      578405  60.76
96       KTB  2023      Q2  36781791  27137553     9644238  35.54
97       KTC  2023      Q2   7115915   6205952      909963  14.66
101     LHFG  2023      Q2   2035694   1090666      945028  86.65
104      LPN  2023      Q2    505501    397259      108242  27.25
105        M  2023      Q2   1512936    851758      661178  77.63
108       MC  2023      Q2    847819    364688      483131 132.48
116    OISHI  2023      Q2   1187041    834166      352875  42.30
122    PCSGH  2023      Q2    689648    568169      121479  21.38
124    PLANB  2023      Q2    784671    375646      409025 108.89
127      PRM  2023      Q2   2791103   1067852     1723251 161.38
128      PSH  2023      Q2   3481101   2300590     1180511  51.31
132    PTTEP  2023      Q2  80103369  51309276    28794093  56.12
134       QH  2023      Q2   2557314   1856888      700426  37.72
142    SABUY  2023      Q2   1365128    596382      768746 128.90
143    SAPPE  2023      Q2    919543    518050      401493  77.50
144      SAT  2023      Q2    968299    863218      105081  12.17
145    SAWAD  2023      Q2   4745364   4332685      412679   9.52
146       SC  2023      Q2   2714912   2094072      620840  29.65
147      SCB  2023      Q2  40314721  36939973     3374748   9.14
154     SIRI  2023      Q2   6262643   2191557     4071086 185.76
162      SPC  2023      Q2   1890263   1655692      234571  14.17
174    TASCO  2023      Q2   3435558   1733182     1702376  98.22
176    TFFIF  2023      Q2   1996055   1209444      786611  65.04
177      TFG  2023      Q2   3359137   1543647     1815490 117.61
181    TIPCO  2023      Q2    489364    311241      178123  57.23
182     TIPH  2023      Q2   1810466    896447      914019 101.96
188      TOA  2023      Q2   2014216   1518545      495671  32.64
196      TTB  2023      Q2  16422761  11791212     4631549  39.28
198      TTW  2023      Q2   2753927   2426447      327480  13.50
205      WHA  2023      Q2   4489004   3140871     1348133  42.92
207    WHART  2023      Q2   2655166   1769732      885434  50.03
208    WHAUP  2023      Q2    909289    642006      267283  41.63
209     WICE  2023      Q2    715972    670741       45231   6.74