In [4]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()
engine = create_engine('sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3')
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2023
quarter = 2
today = date.today()
today_str = today.strftime('%Y-%m-%d')
today_str

'2023-08-19'

In [5]:
#today = date(2023, 8, 16)
today_str = today.strftime("%Y-%m-%d")
today_str

'2023-08-19'

In [6]:
format_dict = {'q_amt':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'q_amt_c':'{:,}','q_amt_p':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',
               'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',
               'inc_pct':'{:.2f}','inc_pct_q':'{:.2f}','inc_pct_y':'{:.2f}'}

### Process for specified stocks

In [4]:
names = ('AP','BANPU')
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN %s
"""
sql = sql % (year, quarter, names)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [7]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'"""
sql = sql % (year, quarter, today_str)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Normal Process

In [8]:
strqtr = "Q" + str(quarter)
strqtr

'Q2'

In [9]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = "Q%s"
'''
sql = sql % (year, quarter)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.sort_values(['inc_pct'],ascending=[False]).shape[0]

211

In [10]:
df_merge = pd.merge(epss, qt_pf, on=['name'], suffixes=(['_e','_q']), how='inner')
df_merge.head().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

### Delete duplicated year and quarter

In [11]:
columns = ['year_q','quarter_q']
epssqt_pf = df_merge.drop(columns, axis='columns')
epssqt_pf.head().style.format(format_dict)

In [12]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = "Q%s"'''
sql = sql % (year, quarter)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.head().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

In [13]:
df_merge2 = pd.merge(epssqt_pf, yr_pf, on=['name'], suffixes=(['_q','_y']), how='inner')
df_merge2.head().style.format(format_dict)

### Delete duplicated year and quarter

In [14]:
columns = ['year_e','quarter_e']
profits = df_merge2.drop(columns, axis='columns')
profits.head().style.format(format_dict)

### Filter criteria
1. Current yearly profit amount > 440 millions
2. Previous yearly profit amount > 400 millions
3. Yearly gain percent >= 10 percent

In [15]:
profits[profits['name'] == 'CPN'].style.format(format_dict)

In [16]:
criteria_1 = profits.latest_amt_y > 440000
cols = 'name latest_amt_y previous_amt_y inc_amt_y inc_pct_y'.split()
profits.loc[criteria_1,cols].sort_values(['latest_amt_y'],ascending=[False]).style.format(format_dict)

In [17]:
criteria_2 = profits.previous_amt_y > 400000
profits.loc[criteria_2,cols].sort_values(['previous_amt_y'],ascending=[False]).style.format(format_dict)

In [18]:
criteria_3 = profits.inc_pct_y > 10
profits.loc[criteria_3,cols].sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [19]:
criteria_4 = (profits.q_amt > profits.y_amt)
colt = 'name q_amt y_amt inc_amt_q inc_pct_q'.split()
profits.loc[criteria_4,colt].sort_values(['inc_pct_q'],ascending=[False]).style.format(format_dict)

In [20]:
# NO CRITERIA-2
profits_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#profits_criteria = criteria_1 & criteria_3 & criteria_4

filter = profits.loc[profits_criteria]
filter.sort_values(['inc_pct_y'],ascending=[False]).style.format(format_dict)

In [21]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [22]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [23]:
final.sort_values(['name'], ascending=True).style.format(format_dict)

In [24]:
sql = '''
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)'''
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2023 AND A.quarter = 2
AND B.year = 2023 AND B.quarter = (2-1)

In [25]:
epss2 = pd.read_sql(sql, conlt)
epss2.shape[0]

211

In [26]:
df_merge3 = pd.merge(final, epss2, on=['name'], suffixes=(['_f','_e']), how='inner')
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [27]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3

,name,latest_amt_q,previous_amt_q,inc_amt_q,inc_pct_q,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,year,quarter,q_amt_c,y_amt,q_amt_p
0,CPN,12601908,11677516,924392,7.92,12601908,7126930,5474978,76.82,2023,2,3677832,2753440,3245887
2,III,866172,821894,44278,5.39,866172,446013,420159,94.20,2023,2,163420,113772,149264
3,PCSGH,689648,610402,79246,12.98,689648,568169,121479,21.38,2023,2,225995,146749,157205
4,SAPPE,919543,774553,144990,18.72,919543,518050,401493,77.50,2023,2,312272,167282,274790

In [28]:
final2 = df_merge3[['name','year','quarter',\
'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
'q_amt_c', 'y_amt', 'q_amt_p']]               
final2.style.format(format_dict)

In [29]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [30]:
final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_17048/170999467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

In [31]:
final2.kind.value_counts()

1    4
Name: kind, dtype: int64

In [32]:
final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)

final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

C:\Users\User\AppData\Local\Temp/ipykernel_17048/553347636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_py'] = (final2['q_amt_c']-final2['y_amt'])
C:\Users\User\AppData\Local\Temp/ipykernel_17048/553347636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_py'] = (final2['inc_amt_py']/abs(final2['y_amt'])*100)
C:\Users\User\AppData\Local\Temp/ipykernel_17048/553347636.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_amt_pq'] = (final2['q_amt_c']-final2['q_amt_p'])
C:\Users\User\AppData\Local\Temp/ipykernel_17048/553347636.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['inc_pct_pq'] = (final2['inc_amt_pq']/abs(final2['q_amt_p'])*100)

In [33]:
import numpy as np
final2['inc_pct_py'].replace('inf', np.nan, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [34]:
final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

C:\Users\User\AppData\Local\Temp/ipykernel_17048/462442401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['mean_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].mean(axis=1, skipna=True)

In [35]:
final2[['name','mean_pct']].sort_values(['mean_pct'], ascending=False)

    name   mean_pct
4  SAPPE  49.133558
2    III  38.178005
3  PCSGH  33.029800
0    CPN  32.904929

In [36]:
final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_17048/714542820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final2['std_pct'] = final2[['inc_pct_y','inc_pct_q','inc_pct_py','inc_pct_pq']].std(axis=1)

In [37]:
final2[['name','std_pct']].sort_values(['std_pct'], ascending=True)

    name    std_pct
3  PCSGH  19.084052
0    CPN  31.290501
4  SAPPE  38.291428
2    III  41.096163

In [38]:
sql = 'SELECT name, id FROM tickers'
tickers = pd.read_sql(sql, conlt)

df_merge4 = pd.merge(final2, tickers, on='name', how='inner')
df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)

final3 = df_merge4[['name','year','quarter','kind',\
                    'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
                    'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
                    'q_amt_c','y_amt','inc_amt_py','inc_pct_py',\
                    'q_amt_p','inc_amt_pq','inc_pct_pq','ticker_id','mean_pct','std_pct']]

rcds = final3.values.tolist()
rcds

[['CPN',
  2023,
  2,
  1,
  12601908,
  7126930,
  5474978,
  76.82,
  12601908,
  11677516,
  924392,
  7.92,
  3677832,
  2753440,
  924392,
  33.57225870184206,
  3245887,
  431945,
  13.30745648261939,
  121,
  32.904928796115364,
  31.290501200154072],
 ['III',
  2023,
  2,
  1,
  866172,
  446013,
  420159,
  94.2,
  866172,
  821894,
  44278,
  5.39,
  163420,
  113772,
  49648,
  43.638153499982415,
  149264,
  14156,
  9.483867509915319,
  637,
  38.178005252474435,
  41.09616342029101],
 ['PCSGH',
  2023,
  2,
  1,
  689648,
  568169,
  121479,
  21.38,
  689648,
  610402,
  79246,
  12.98,
  225995,
  146749,
  79246,
  54.00104941089888,
  157205,
  68790,
  43.758150186062785,
  346,
  33.029799899240416,
  19.08405197757995],
 ['SAPPE',
  2023,
  2,
  1,
  919543,
  518050,
  401493,
  77.5,
  919543,
  774553,
  144990,
  18.72,
  312272,
  167282,
  144990,
  86.6739995935008,
  274790,
  37482,
  13.6402343607846,
  420,
  49.133558488571346,
  38.291427761105396]]

In [39]:
final3.sort_values(['name'],ascending=[True])

,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,previous_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,CPN,2023,2,1,12601908,7126930,5474978,76.82,12601908,11677516,...,3677832,2753440,924392,33.572259,3245887,431945,13.307456,121,32.904929,31.290501
1,III,2023,2,1,866172,446013,420159,94.20,866172,821894,...,163420,113772,49648,43.638153,149264,14156,9.483868,637,38.178005,41.096163
2,PCSGH,2023,2,1,689648,568169,121479,21.38,689648,610402,...,225995,146749,79246,54.001049,157205,68790,43.758150,346,33.029800,19.084052
3,SAPPE,2023,2,1,919543,518050,401493,77.50,919543,774553,...,312272,167282,144990,86.674000,274790,37482,13.640234,420,49.133558,38.291428

In [40]:
sr = final3['name']
names = sr.values.tolist()
names

['CPN', 'III', 'PCSGH', 'SAPPE']

In [41]:
names = sr.values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'CPN', 'III', 'PCSGH', 'SAPPE'"

In [42]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('CPN', 'III', 'PCSGH', 'SAPPE')
AND year = 2023 AND quarter = 2

In [43]:
rp = conlt.execute(sql)
rp.rowcount

0

In [44]:
for rcd in rcds:
    print(rcd)

['CPN', 2023, 2, 1, 12601908, 7126930, 5474978, 76.82, 12601908, 11677516, 924392, 7.92, 3677832, 2753440, 924392, 33.57225870184206, 3245887, 431945, 13.30745648261939, 121, 32.904928796115364, 31.290501200154072]
['III', 2023, 2, 1, 866172, 446013, 420159, 94.2, 866172, 821894, 44278, 5.39, 163420, 113772, 49648, 43.638153499982415, 149264, 14156, 9.483867509915319, 637, 38.178005252474435, 41.09616342029101]
['PCSGH', 2023, 2, 1, 689648, 568169, 121479, 21.38, 689648, 610402, 79246, 12.98, 225995, 146749, 79246, 54.00104941089888, 157205, 68790, 43.758150186062785, 346, 33.029799899240416, 19.08405197757995]
['SAPPE', 2023, 2, 1, 919543, 518050, 401493, 77.5, 919543, 774553, 144990, 18.72, 312272, 167282, 144990, 86.6739995935008, 274790, 37482, 13.6402343607846, 420, 49.133558488571346, 38.291427761105396]

In [45]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [46]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

### Insert Profits from PortLt to PortMy

In [47]:
print(final3.name)

0      CPN
1      III
2    PCSGH
3    SAPPE
Name: name, dtype: object

In [48]:
sr = final3['name']
names = sr.values.tolist()
names

['CPN', 'III', 'PCSGH', 'SAPPE']

In [49]:
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'CPN', 'III', 'PCSGH', 'SAPPE'"

In [50]:
sql = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sql = sql % (in_p, year, quarter)
print(sql)

DELETE FROM profits
WHERE name IN ('CPN', 'III', 'PCSGH', 'SAPPE')
AND year = 2023 AND quarter = 2

In [51]:
rp = conmy.execute(sql)
rp.rowcount

0

In [52]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('CPN', 'III', 'PCSGH', 'SAPPE') AND year = 2023 AND quarter = 2

In [53]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.sort_values(by=['kind','name'],ascending=[True,True])

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2623,CPN,2023,2,1,12601908,7126930,5474978,76.82,12601908,...,3677832,2753440,924392,33.572259,3245887,431945,13.307456,121,32.904929,31.290501
1,2624,III,2023,2,1,866172,446013,420159,94.20,866172,...,163420,113772,49648,43.638153,149264,14156,9.483868,637,38.178005,41.096163
2,2625,PCSGH,2023,2,1,689648,568169,121479,21.38,689648,...,225995,146749,79246,54.001049,157205,68790,43.758150,346,33.029800,19.084052
3,2626,SAPPE,2023,2,1,919543,518050,401493,77.50,919543,...,312272,167282,144990,86.674000,274790,37482,13.640234,420,49.133558,38.291428

In [54]:
rcds = profits_inp.values.tolist()
len(rcds)

4

In [55]:
for rcd in rcds:
    print(rcd)

[2623, 'CPN', 2023, 2, 1, 12601908, 7126930, 5474978, 76.82, 12601908, 11677516, 924392, 7.92, 3677832, 2753440, 924392, 33.57225870184206, 3245887, 431945, 13.30745648261939, 121, 32.904928796115364, 31.290501200154072]
[2624, 'III', 2023, 2, 1, 866172, 446013, 420159, 94.2, 866172, 821894, 44278, 5.39, 163420, 113772, 49648, 43.638153499982415, 149264, 14156, 9.483867509915319, 637, 38.178005252474435, 41.09616342029101]
[2625, 'PCSGH', 2023, 2, 1, 689648, 568169, 121479, 21.38, 689648, 610402, 79246, 12.98, 225995, 146749, 79246, 54.00104941089888, 157205, 68790, 43.758150186062785, 346, 33.029799899240416, 19.08405197757995]
[2626, 'SAPPE', 2023, 2, 1, 919543, 518050, 401493, 77.5, 919543, 774553, 144990, 18.72, 312272, 167282, 144990, 86.6739995935008, 274790, 37482, 13.6402343607846, 420, 49.133558488571346, 38.291427761105396]

In [56]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [57]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [58]:
sql = '''
SELECT name, year, quarter 
FROM profits
ORDER BY name
'''
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index('name', inplace=True)
df_tmp.index

Index(['AIMIRT', 'BBL', 'BEM', 'BH', 'CK', 'CPN', 'DELTA', 'HANA', 'ICHI',
       'III', 'JMT', 'KTB', 'M', 'PCSGH', 'PSH', 'PTTEP', 'QH', 'SAPPE', 'SC',
       'SIRI', 'TOA', 'TTB'],
      dtype='object', name='name')

### After call 250-Export-to-PortPg

In [59]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('CPN', 'III', 'PCSGH', 'SAPPE') AND year = 2023 AND quarter = 2

In [60]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

    name  ticker_id
3    CPN        125
2    III        226
1  PCSGH        353
0  SAPPE        426

In [61]:
sql = """
SELECT * 
FROM profits 
WHERE year = %s AND quarter = %s"""
sql = sql % (year, quarter)
tmp = pd.read_sql(sql, conmy)
tmp.shape

(22, 23)

In [62]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('CPN', 'III', 'PCSGH', 'SAPPE')
ORDER BY name

In [63]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

    name   id           market
0    CPN  125  SET50 / SETTHSI
1    III  226             sSET
2  PCSGH  353              SET
3  SAPPE  426             sSET

### Temp process to find id and market of stocks

In [64]:
sr = epss['name']
names = sr.values.tolist()
names

['AJ',
 'BEC',
 'CPAXT',
 'CPN',
 'DRT',
 'FSMART',
 'GULF',
 'HFT',
 'III',
 'IMH',
 'LALIN',
 'LPH',
 'PCSGH',
 'RBF',
 'RJH',
 'SABUY',
 'SAPPE',
 'SJWD',
 'SKN',
 'SKR',
 'SPALI',
 'SPRIME',
 'STEC',
 'TPIPP',
 'TQM',
 'TSE',
 'TU',
 'TYCN',
 'VNG',
 'WORK']

In [65]:
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'AJ', 'BEC', 'CPAXT', 'CPN', 'DRT', 'FSMART', 'GULF', 'HFT', 'III', 'IMH', 'LALIN', 'LPH', 'PCSGH', 'RBF', 'RJH', 'SABUY', 'SAPPE', 'SJWD', 'SKN', 'SKR', 'SPALI', 'SPRIME', 'STEC', 'TPIPP', 'TQM', 'TSE', 'TU', 'TYCN', 'VNG', 'WORK'"

In [66]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('AJ', 'BEC', 'CPAXT', 'CPN', 'DRT', 'FSMART', 'GULF', 'HFT', 'III', 'IMH', 'LALIN', 'LPH', 'PCSGH', 'RBF', 'RJH', 'SABUY', 'SAPPE', 'SJWD', 'SKN', 'SKR', 'SPALI', 'SPRIME', 'STEC', 'TPIPP', 'TQM', 'TSE', 'TU', 'TYCN', 'VNG', 'WORK')
ORDER BY name

In [67]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

      name   id                                     market
0       AJ   15                             sSET / SETCLMV
1      BEC   60                                     SET100
2    CPAXT  291                                        SET
3      CPN  125                            SET50 / SETTHSI
4      DRT  149                   sSET / SETCLMV / SETTHSI
5   FSMART  183                                        mai
6     GULF  207                  SET50 / SETCLMV / SETTHSI
7      HFT  213                                       sSET
8      III  226                                       sSET
9      IMH  707                                        mai
10   LALIN  271                                       sSET
11     LPH  283                                       sSET
12   PCSGH  353                                        SET
13     RBF  672                   SET100 / SETCLMV / SETWB
14     RJH  404                                       sSET
15   SABUY  700                                        SET
16   SAPPE  426                                       sSET
17    SJWD  250                             sSET / SETTHSI
18     SKN  458                                       sSET
19     SKR  459                                        SET
20   SPALI  470                             SET100 / SETHD
21  SPRIME  674                                        SET
22    STEC  492                                     SET100
23   TPIPP  569                                        SET
24     TQM  657                           SET100 / SETTHSI
25     TSE  582                                       sSET
26      TU  591  SET50 / SETCLMV / SETHD / SETTHSI / SETWB
27    TYCN  714                                        SET
28     VNG  703                             sSET / SETCLMV
29    WORK  636                                        SET