In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

year = "2023"
quarter = "3"
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2023-08-10'

In [7]:
today = date(2023, 8, 8)
today_str = today.strftime("%Y-%m-%d")
today_str

'2023-08-08'

### Tables in the process

In [8]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()

format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:,.2f}%','acc_pct':'{:,.2f}%'
              }

In [9]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 1', conlt).style.format(format_dict)

In [10]:
sql = """
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
ORDER BY name
"""
sql = sql % (year, quarter, today_str)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT *
FROM epss
WHERE year = 2023 AND quarter = 3
AND publish_date >= '2023-08-08'
ORDER BY name

In [11]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"] = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100, 2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[colt]
df_pct.style.format(format_dict)

In [12]:
criteria_1 = df_pct.q_amt > 110_000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [13]:
criteria_2 = df_pct.y_amt > 100_000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [14]:
criteria_3 = df_pct.yoy_pct > 10.00
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [15]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3
#df_pct_criteria = criteria_1 & criteria_3 
df_pct.loc[df_pct_criteria, cols].style.format(format_dict)

In [16]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [17]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [18]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'OISHI', 'TFFIF'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [19]:
#name = "TSTH"
sql = """
SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
LIMIT 12
"""
sql = sql % (in_p)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('OISHI', 'TFFIF')
ORDER BY E.name, year DESC, quarter DESC
LIMIT 12

### Delete from profits of older profit stocks

In [20]:
#in_p = "'KTC'"
in_p

"'OISHI', 'TFFIF'"

In [21]:
sql = """
SELECT * FROM profits
WHERE name IN (%s)
AND quarter < %s
"""
sql = sql % (in_p, quarter)
df_temp = pd.read_sql(sql, conlt)
df_temp

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2599,TFFIF,2023,2,1,1996055,1209444,786611,65.04,1996055,...,472071,397594,74477,18.731923,472036,35,0.007415,686,21.914834,29.861353

In [22]:
sqlDel = """
DELETE FROM profits
WHERE name IN (%s)
AND quarter < %s
"""
sqlDel = sqlDel % (in_p, quarter)
print(sqlDel)

DELETE FROM profits
WHERE name IN ('OISHI', 'TFFIF')
AND quarter < 3

In [23]:
rp = conlt.execute(sqlDel)
rp.rowcount

1

In [24]:
rp = conmy.execute(sqlDel)
rp.rowcount

1

In [25]:
rp = conpg.execute(sqlDel)
rp.rowcount

1

In [26]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['2S', 'AH', 'AYUD', 'BANPU', 'BBL', 'BDMS', 'BEM', 'BPP', 'CIMBT',
       'DELTA', 'EA', 'FPT', 'GVREIT', 'ICHI', 'KSL', 'KSL', 'KTB', 'LANNA',
       'MTI', 'OISHI', 'PTG', 'PTTEP', 'QH', 'SAPPE', 'SAUCE', 'SC', 'SPI',
       'STARK', 'TASCO', 'TTB', 'VNT'],
      dtype='object', name='name')

In [27]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['AH', 'BBL', 'BDMS', 'BEM', 'DELTA', 'EA', 'ICHI', 'KTB', 'LANNA',
       'PTG', 'PTTEP', 'QH', 'SAPPE', 'SC', 'TASCO', 'TTB'],
      dtype='object', name='name')

In [28]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['AH', 'BANPU', 'BBL', 'BDMS', 'BEM', 'BPP', 'DELTA', 'EA', 'FPT',
       'GVREIT', 'ICHI', 'KSL', 'KTB', 'LANNA', 'OISHI', 'PTG', 'PTTEP', 'QH',
       'SAPPE', 'SC', 'TASCO', 'TTB'],
      dtype='object', name='name')