In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2022
quarter = 4
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2023-03-06'

In [2]:
today = date(2023, 2, 28)
today_str = today.strftime("%Y-%m-%d")
today_str

'2023-02-28'

In [3]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

### Process for specified stocks

In [4]:
names = """
IP
""".split()
names

['IP']

In [5]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'IP'"

In [6]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [4]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date = '%s'
"""
sql = sql % (year, quarter, today_str)
print(sql)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2022 AND quarter = 4
AND publish_date = '2023-02-28'

### End of Normal Process

In [5]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.sample(5).style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2022 AND quarter = 'Q4'

In [6]:
df_merge = pd.merge(epss, qt_pf, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.head(5).style.format(format_dict)

### Delete duplicated year and quarter

In [7]:
columns = ["year_q", "quarter_q"]
epssqt_pf = df_merge.drop(columns, axis=1)
epssqt_pf.head(5).style.format(format_dict)

In [8]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.sample(5).style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2022 AND quarter = 'Q4'

In [9]:
df_merge2 = pd.merge(
    epssqt_pf, yr_pf, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.head(5).style.format(format_dict)

### Delete duplicated year and quarter

In [10]:
columns = ["year_e", "quarter_e"]
profits = df_merge2.drop(columns, axis=1)
profits.head().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent
4. YoY Profit Higher

In [11]:
profits[profits["name"] == "SIRI"].style.format(format_dict)

In [12]:
criteria_1 = profits.latest_amt_y > 440_000
profits.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [13]:
criteria_2 = profits.previous_amt_y >= 400_000
profits.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [14]:
criteria_3 = profits.inc_pct_y >= 10.00
profits.loc[criteria_3, cols].style.format(format_dict)

In [15]:
criteria_4 = (profits.q_amt > profits.y_amt)
colt = 'name q_amt y_amt inc_amt_q inc_pct_q'.split()
profits.loc[criteria_4,colt].sort_values(['inc_pct_q'],ascending=[False]).style.format(format_dict)

In [16]:
profits_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#profits_criteria = criteria_1 & criteria_2 
filter = profits.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [17]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [18]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [19]:
#final = filter.drop(colt, axis=1)
#final.style.format(format_dict)

In [19]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [20]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2022 AND A.quarter = 4
AND B.year = 2022 AND B.quarter = (4-1)

In [21]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [22]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [23]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3

,name,latest_amt_q,previous_amt_q,inc_amt_q,inc_pct_q,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,year,quarter,q_amt_c,y_amt,q_amt_p
1,AMATA,2341355,2296513,44842,1.95,2341355,1402287,939068,66.97,2022,4,785627,740785,353445
3,ORI,3774536,3549011,225525,6.35,3774536,3193935,580601,18.18,2022,4,1033373,807848,847936
5,SIRI,4279885,2831419,1448466,51.16,4279885,2017279,2262606,112.16,2022,4,1791465,342999,1268250

In [24]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

### If there is no record in the above statement, no need to further process

In [25]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [26]:
final2["kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

In [27]:
final2.kind.value_counts()

1    3
Name: kind, dtype: int64

In [28]:
final2["inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2["inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2["inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2["inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [29]:
final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

In [30]:
final2["mean_pct"] = final2[
    ["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]
].mean(axis=1, skipna=True)

In [31]:
final2[["name", "mean_pct"]].sort_values(by=["mean_pct"], ascending=False)

    name    mean_pct
5   SIRI  156.717351
1  AMATA   49.312581
3    ORI   18.578996

In [32]:
final2["std_pct"] = final2[["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]].std(
    axis=1
)

In [33]:
final2[["name", "std_pct"]].sort_values(by=["std_pct"], ascending=True)

    name     std_pct
3    ORI    9.087115
1  AMATA   57.009274
5   SIRI  179.805942

In [34]:
sql = "SELECT name, id, market FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [35]:
df_merge4 = pd.merge(final2, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final3 = df_merge4[colv].copy()
final3.style.format(format_dict)

In [36]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2022 AND quarter = 4
ORDER BY name

In [37]:
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

In [38]:
df_merge = pd.merge(
    final3, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

In [39]:
final4 = df_merge[df_merge["_merge"] == "left_only"]
final4

Empty DataFrame
Columns: [name, year, quarter, kind_x, latest_amt_y_x, previous_amt_y_x, inc_amt_y_x, inc_pct_y_x, latest_amt_q_x, previous_amt_q_x, inc_amt_q_x, inc_pct_q_x, q_amt_c_x, y_amt_x, inc_amt_py_x, inc_pct_py_x, q_amt_p_x, inc_amt_pq_x, inc_pct_pq_x, ticker_id_x, mean_pct_x, std_pct_x, id, kind_y, latest_amt_y_y, previous_amt_y_y, inc_amt_y_y, inc_pct_y_y, latest_amt_q_y, previous_amt_q_y, inc_amt_q_y, inc_pct_q_y, q_amt_c_y, y_amt_y, inc_amt_py_y, inc_pct_py_y, q_amt_p_y, inc_amt_pq_y, inc_pct_pq_y, ticker_id_y, mean_pct_y, std_pct_y, _merge]
Index: []

[0 rows x 43 columns]

In [40]:
final5 = final4[colw]
final5.sort_values('name')

Empty DataFrame
Columns: [name, year, quarter, kind_x, latest_amt_y_x, previous_amt_y_x, inc_amt_y_x, inc_pct_y_x, latest_amt_q_x, previous_amt_q_x, inc_amt_q_x, inc_pct_q_x, q_amt_c_x, y_amt_x, inc_amt_py_x, inc_pct_py_x, q_amt_p_x, inc_amt_pq_x, inc_pct_pq_x, ticker_id_x, mean_pct_x, std_pct_x]
Index: []

[0 rows x 22 columns]

In [41]:
rcds = final5.values.tolist()
len(rcds)

0

In [42]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2022 AND quarter = 4
ORDER BY name

In [43]:
for rcd in rcds:
    print(rcd)

In [44]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [45]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

In [46]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(401, 2)

In [47]:
df_merge = pd.merge(final5, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### Insert Profits from PortLt to PortMy

In [48]:
names = final5.name
names

Series([], Name: name, dtype: object)

In [50]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AMATA', 'ORI', 'SIRI'"

In [51]:
#quarter = 4
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('AMATA', 'ORI', 'SIRI') AND year = 2022 AND quarter = 4

In [52]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.style.format(format_dict)

In [53]:
profits_inp.sort_values(by=["kind", "name"], ascending=[True, True]).style.format(format_dict)

In [54]:
rcds = profits_inp.values.tolist()
len(rcds)

3

In [55]:
for rcd in rcds:
    print(rcd)

[2578, 'AMATA', 2022, 4, 1, 2341355, 1402287, 939068, 66.97, 2341355, 2296513, 44842, 1.95, 785627, 740785, 44842, 6.053308314828189, 353445, 432182, 122.27701622600404, 21, 49.312581135208056, 57.00927411636026]
[2579, 'ORI', 2022, 4, 1, 3774536, 3193935, 580601, 18.18, 3774536, 3549011, 225525, 6.35, 1033373, 807848, 225525, 27.91676156900803, 847936, 185437, 21.869221261982037, 339, 18.578995707747517, 9.087115220141252]
[2580, 'SIRI', 2022, 4, 1, 4279885, 2017279, 2262606, 112.16, 4279885, 2831419, 1448466, 51.16, 1791465, 342999, 1448466, 422.29452564001645, 1268250, 523215, 41.2548787699586, 447, 156.71735110249375, 179.80594174602174]

In [56]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [57]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [58]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index("name", inplace=True)
df_tmp.index

Index(['AMATA', 'ASK', 'ASW', 'AWC', 'BANPU', 'BH', 'BJC', 'COM7', 'GULF',
       'HANA', 'ICHI', 'ILM', 'JMT', 'ORI', 'PSH', 'PTL', 'QH', 'SC', 'SIRI',
       'SNC', 'TTB', 'WHA', 'WHART', 'WICE'],
      dtype='object', name='name')

### After call 450-Export-to-PortPg

In [59]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('AMATA', 'ORI', 'SIRI') AND year = 2022 AND quarter = 4

In [60]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

    name  ticker_id
2  AMATA         24
1    ORI        347
0   SIRI        453

In [61]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('AMATA', 'ORI', 'SIRI')
ORDER BY name

In [62]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

    name   id                      market
0  AMATA   24  SET100 / SETCLMV / SETTHSI
1    ORI  347    SET100 / SETHD / SETTHSI
2   SIRI  453               SET / SETTHSI

### Additional process to find stocks in SET50 & SET100

In [67]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AIMIRT', 'AWC', 'AJ', 'CENTEL', 'CK', 'DCON', 'FORTH', 'GRAMMY', 'GUNKUL', 'HANA', 'ICHI', 'ILM', 'LALIN', 'LH', 'SAWAD', 'SENA', 'SKN', 'SPCG', 'STEC', 'SUPER', 'TIPH', 'TOA', 'TTA'"

In [68]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('AIMIRT', 'AWC', 'AJ', 'CENTEL', 'CK', 'DCON', 'FORTH', 'GRAMMY', 'GUNKUL', 'HANA', 'ICHI', 'ILM', 'LALIN', 'LH', 'SAWAD', 'SENA', 'SKN', 'SPCG', 'STEC', 'SUPER', 'TIPH', 'TOA', 'TTA')
ORDER BY name

In [69]:
df = pd.read_sql(sql, conlt)
df

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,669,AIMIRT,AIM INDUSTRIAL GROWTH FREEHOLD AND LEASEHOLD R...,Property & Construction,Property Fund & REITs,SET,www.aimreit.com,2018-06-21 02:39:56.326926,2018-06-21 02:39:56.326926
1,12,AJ,A.J. PLAST PUBLIC COMPANY LIMITED,Industrials,Packaging,sSET / SETCLMV,www.ajplast.co.th,2017-07-23 06:30:44.227648,2021-07-07 03:34:13.547356
2,699,AWC,ASSET WORLD CORP PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET50 / SETTHSI,https://www.assetworldcorp-th.com,2019-11-19 07:11:17.786612,2022-01-15 03:54:12.645916
3,92,CENTEL,CENTRAL PLAZA HOTEL PUBLIC COMPANY LIMITED,Services,Tourism & Leisure,SET100 / SETTHSI / SETWB,www.centarahotelsresorts.com,2017-07-23 06:30:54.851897,2019-11-19 07:11:19.707559
4,106,CK,CH. KARNCHANG PUBLIC COMPANY LIMITED,Property & Construction,Construction Services,SET100 / SETCLMV / SETTHSI,www.ch-karnchang.co.th,2017-07-23 06:30:56.836747,2019-03-03 03:43:38.781128
5,136,DCON,DCON PRODUCTS PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SET,www.dconproduct.com,2017-07-23 06:31:00.634999,2017-07-23 06:31:00.634999
6,176,FORTH,FORTH CORPORATION PUBLIC COMPANY LIMITED,Technology,Information & Communication Technology,SET100,www.forth.co.th,2017-07-23 06:31:06.910720,2018-08-12 12:53:51.662456
7,198,GRAMMY,GMM GRAMMY PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET,www.gmmgrammy.com,2017-07-23 06:31:12.194015,2017-07-23 06:31:12.194015
8,202,GUNKUL,GUNKUL ENGINEERING PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV / SETHD / SETTHSI,www.gunkul.com,2017-07-23 06:31:13.085136,2022-01-15 03:54:12.821426
9,205,HANA,HANA MICROELECTRONICS PUBLIC COMPANY LIMITED,Technology,Electronic Components,SET100 / SETTHSI,www.hanagroup.com,2017-07-23 06:31:13.593731,2022-01-15 03:54:12.827891
10,216,ICHI,ICHITAN GROUP PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,sSET / SETCLMV,www.ichitangroup.com,2017-07-23 06:31:15.468451,2022-01-15 03:54:12.839128
11,725,ILM,INDEX LIVING MALL PUBLIC COMPANY LIMITED,Services,Commerce,sSET,www.indexlivingmall.com,2021-08-07 15:06:58.185702,2021-08-07 15:06:58.185702
12,263,LALIN,LALIN PROPERTY PUBLIC COMPANY LIMITED,Property & Construction,Property Development,sSET,www.lalinproperty.com,2017-07-23 06:31:21.351487,2021-01-26 15:41:59.652212
13,267,LH,LAND AND HOUSES PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET50 / SETHD,www.lh.co.th,2017-07-23 06:31:21.884641,2018-06-21 02:40:00.379392
14,423,SAWAD,SRISAWAD CORPORATION PUBLIC COMPANY LIMITED,Financials,Finance & Securities,SET50,www.meebaanmeerod.com,2017-07-23 06:31:43.666142,2019-11-19 07:11:26.195122
15,437,SENA,SENADEVELOPMENT PUBLIC COMPANY LIMITED,Property & Construction,Property Development,sSET,www.sena.co.th,2017-07-23 06:31:46.006707,2017-12-27 02:26:20.390718
16,642,SKN,S.KIJCHAI ENTERPRISE PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,sSET,www.skn.co.th,2017-10-13 05:33:23.808784,2021-07-07 03:34:13.989298
17,464,SPCG,SPCG PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET,www.spcg.co.th,2017-07-23 06:31:49.791002,2017-07-23 06:31:49.791002
18,484,STEC,SINO-THAI ENGINEERING AND CONSTRUCTION PUBLIC ...,Property & Construction,Construction Services,SET100,www.stecon.co.th,2017-07-23 06:31:52.331814,2017-07-23 06:31:52.331814
19,487,SUPER,SUPER ENERGY CORPORATION PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV,www.supercorp.co.th,2017-07-23 06:31:52.722805,2021-01-26 15:42:00.060439
20,529,TIPH,DHIPAYA GROUP HOLDINGS PUBLIC COMPANY LIMITED,Financials,Insurance,SET100,www.dhipayagroup.co.th,2017-07-23 06:31:59.464594,2022-01-15 03:54:13.173822
21,645,TOA,TOA PAINT (THAILAND) PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SETTHSI,www.toagroup.com,2017-10-13 05:46:03.640271,2021-07-07 03:34:14.101439
22,579,TTA,THORESEN THAI AGENCIES PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,SET100 / SETWB,www.thoresen.com,2017-07-23 06:32:08.938394,2022-01-15 03:54:13.222818