### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [1]:
import pandas as pd
import numpy as np
import os

from datetime import date, timedelta
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/stock')
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

# Define a formatting function to format integers with zero decimal places and floats with two decimal places
def format_cell(x):
    if isinstance(x, int):
        return "{:,.0f}".format(x)
    elif isinstance(x, float):
        return "{:.2f}".format(x)
    else:
        return x

pd.options.display.max_rows = 20
#pd.options.display.float_format = '{:.2f}'.format

today = date.today()
today

datetime.date(2023, 7, 16)

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2023-07-16
yesterday: 2023-07-14 00:00:00

In [3]:
# find the beginning of the week for the given yesterday
week_start = yesterday.to_period('W').start_time
week_end = yesterday.to_period('W').end_time
week_start = week_start.date()
week_end = week_end.date()
print(f'week start: {week_start}')
print(f'week end: {week_end}')

week start: 2023-07-10
week end: 2023-07-16

In [4]:
yesterday = yesterday.date()
week_start, yesterday

(datetime.date(2023, 7, 10), datetime.date(2023, 7, 14))

### Restart and Run All Cells

In [5]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

In [6]:
format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',   
    'target':'{:.2f}','max':'{:.2f}','min':'{:.2f}',
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',    
}

In [32]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
#WHERE quarter = 4
my_profits = pd.read_sql(sql, conmy)
my_profits

     name  kind  year  quarter
0      AH     1  2023        1
1     AWC     1  2023        1
2     BBL     1  2023        1
3    BDMS     1  2023        1
4     BEM     1  2023        1
5      BH     1  2023        1
6      EA     1  2023        1
7    ICHI     1  2023        1
8     KKP     1  2023        1
9     KTB     1  2023        1
10    KTC     1  2023        1
11  LANNA     1  2023        1
12    PTG     1  2023        1
13  PTTEP     1  2023        1
14  SAPPE     1  2023        1
15  TASCO     1  2023        1
16  TFFIF     1  2023        2
17    TTB     1  2023        1

### ruby ruby\crt-consensus-new.rb

In [8]:
%pwd

'C:\\Users\\User\\OneDrive\\A7\\Weekly'

In [9]:
os.chdir("C:\\users\\user\\onedrive\\a7")
%pwd

'C:\\users\\user\\onedrive\\a7'

In [10]:
!ruby ruby\\crt-consensus-new.rb

Start at: Sunday, Jul 16 02:46 PM
Name,Target,Max,Min,Buy,Hold,Sell
ACE        3.60   3.60   3.60  0  0  0   1
ADVANC   245.36 265.00 225.00 14  0  0   2
AEONTS   203.30 230.00 180.00  5  5  0   3
AH        46.00  54.10  39.13  9  0  0   4
AIMIRT    14.50  14.50  14.50  1  0  0   5
AJ        11.80  11.80  11.80  1  0  0   6
AMATA     26.73  30.00  22.00 12  1  0   7
ANAN       1.25   1.32   1.10  1  3  1   8
AOT       81.85  90.00  72.00 14  2  0   9
AP        14.39  15.50  12.20 15  1  0  10
ASIAN      9.84  12.00   8.45  1  3  0  11
ASK       38.92  40.75  37.00  3  0  0  12
ASW        9.77  10.30   9.40  3  0  0  13
AWC        6.12   6.80   5.50  3  3  0  14
BA        16.88  20.00  14.20  6  1  0  15
BAM       14.71  18.00  11.00  5  3  0  16
BANPU      9.27  11.40   6.50  2  6  2  17
BAY       34.50  37.00  32.00  1  1  0  18
BBL      186.53 200.00 155.00 15  1  0  19
BCH       20.33  25.80  15.70  9  4  2  20
BCP       41.09  50.00  34.50 14  2  0  21
BCPG      14.31  17.00  10.40  6  2  0  22
BDMS      34.58  37.40  32.00 15  1  0  23
BE8       62.56  91.00  49.00  3  1  0  24
BEC        8.20  10.00   5.90  4  2  3  25
BEM       11.05  14.00   9.50 11  1  0  26
BGC        9.88  10.30   9.45  1  1  0  27
BGRIM     46.31  50.00  42.00 14  1  0  28
BH       253.00 280.00 200.00  7  7  0  29
BJC       43.62  46.00  40.50 12  1  0  30
BLA       40.00  40.00  40.00  1  0  0  31
BLAND      1.11   1.11   1.11  1  0  0  32

ruby//crt-consensus-new.rb:100:in `block in <main>': undefined method `strip!' for nil:NilClass (NoMethodError)
	from ruby//crt-consensus-new.rb:32:in `each'
	from ruby//crt-consensus-new.rb:32:in `<main>'

BPP       16.80  18.40  14.60  3  2  0  33
BTS        9.95  13.60   8.80  8  2  0  34
BTSGIF     5.31   6.45   4.60  4  1  0  35
CBG       71.03  82.00  59.00  4 10  1  36
CENTEL    58.73  67.00  50.00  9  4  0  37
CHG        3.65   4.50   3.00  6  8  2  38
CK        25.83  28.00  24.00 11  0  0  39
CKP        4.91   6.25   3.68  6  3  0  40
COM7      37.88  45.00  33.00 11  1  0  41
COTTO      2.24   2.24   2.24  0  0  0  42
CPALL     73.61  78.00  65.50 16  1  0  43
CPAXT     41.04  49.00  33.00  9  3  1  44
CPF       23.23  28.00  20.00  8  9  0  45
CPN       80.95  84.00  78.00 10  0  0  46
CPNREIT   12.90  15.70  10.30  4  1  0  47
CRC       50.98  55.00  49.00 12  1  0  48
DCC        2.44   2.60   2.24  0  5  0  49
DELTA    189.72 660.00  52.50  0  1  0  50
DIF       14.82  19.00  12.60  4  1  0  51
DOHOME    11.82  14.20   9.50  2  7  2  52
DRT        8.32   8.50   8.05  1  2  0  53
EA        84.18 108.00  64.00  7  3  0  54
EGCO     205.43 249.00 166.00  5  2  0  55
EPG        8.68  10.30   7.50  3  3  0  56
ESSO      10.00  10.50   9.50  2  1  0  57
FTREIT    12.15  12.30  12.00  2  0  0  58
GFPT      13.65  15.90  10.56 11  5  0  59
GGC       12.73  13.40  12.00  0  2  0  60
GLOBAL    19.45  21.50  17.70  5  6  0  61
GPSC      76.30  88.00  66.50 13  2  0  62
GULF      58.98  68.00  48.00 11  2  0  63
GUNKUL     5.00   6.80   3.80  6  1  0  64
HANA      42.48  51.00  35.00  5  3  4  65
HMPRO     16.93  18.50  14.70 13  3  0  66
HTC       45.00  48.00  41.50  3  1  0  67
ICHI      16.02  17.20  15.00  5  1  0  68
III       17.05  20.00  14.40  6  0  0  69
ILM       23.26  24.80  22.10  4  1  0  70
IMH       19.05  19.10  19.00  2  0  0  71
IMPACT    14.70  14.70  14.70  1  0  0  72
INTUCH    83.83  97.00  68.00  5  0  0  73
IP        18.77  20.10  17.20  3  0  0  74
IRPC       2.71   3.70   2.00  5 11  1  75
IVL       40.06  50.00  32.00 15  1  2  76
JASIF      7.30   9.00   6.00  1  5  0  77
JMART     24.00  26.00  22.00  0  0  0  78
JMT       51.67  66.00  38.00  5  1  0  79
KBANK    162.50 178.00 140.00 13  1  0  80
KCE       39.65  61.00  32.00  2  7  5  81
KEX        9.43  10.90   8.50  0  1  0  82
KKP       79.73  90.00  72.00  8  2  1  83
KSL        4.77   5.30   4.20  3  0  0  84
KTB       21.72  24.75  19.40 15  0  0  85
KTC       62.05  75.00  42.00  7  1  2  86
LALIN      8.01   9.30   6.50  0  1  0  87
LANNA     16.00  16.00  16.00  1  0  0  88
LH        10.64  11.50   8.90 11  3  0  89
LPF       14.90  15.00  14.80  2  0  0  90
LPN        3.77   4.00   3.40  0  3  0  91
M         55.55  64.00  48.50  7  4  0  92
MAJOR     20.66  23.20  17.50  8  1  0  93
MC        15.30  17.10  13.50  6  1  0  94
MCS       12.20  12.20  12.20  0  0  0  95
MEGA      52.03  65.00  43.00  6  1  0  96
MINT      40.38  43.50  37.00 13  0  0  97
MTC       37.42  49.00  28.00  3  5  5  98
NER        5.86   7.10   5.00  4  2  1  99
NOBLE      4.85   5.60   4.24  1  1  1 100
ONEE       6.25   7.00   5.52  8  2  0 101
OR        26.54  33.50  21.50 10  2  1 102
ORI       13.79  15.10  12.50  9  0  0 103
OSP       31.33  36.50  25.00  9  6  1 104
PLANB      9.41  10.90   7.77  7  5  0 105
PRM        9.35  10.00   8.30  5  0  0 106
PSH       11.40  13.50   8.00  1  5  5 107
PSL       13.04  15.00  11.30  4  1  0 108
PTG       14.07  18.80  10.50  9  5  0 109
PTT       38.82  46.00  28.00 13  1  1 110
PTTEP    170.79 200.00 160.00 13  6  0 111
PTTGC     46.78  59.00  37.00  6  8  1 112
QH         2.50   2.90   2.00  3  7  0 113
RATCH     47.50  52.50  38.00  5  2  0 114
RBF       12.39  13.50  10.90  3  3  0 115
RCL       18.00  18.00  18.00  0  0  0 116
RJH       30.20  33.00  26.60  0  0  0 117
ROJNA      7.46   8.50   6.70  3  1  0 118
RS        15.22  17.90  11.30  1  3  2 119
SAPPE     91.33 100.00  80.00  8  3  0 120
SAT       22.57  24.00  19.10  7  5  1 121
SAWAD     58.64  70.00  42.00  7  4  3 122
SC         4.98   5.22   4.50  9  0  0 123
SCB      134.62 160.00 122.00 13  0  0 124
SCC      347.64 385.00 300.00  5  9  0 125
SCCC     163.60 182.00 146.00  2  3  0 126
SCGP      46.12  62.00  33.00 12  2  1 127
SENA       3.41   3.60   3.23  0  1  0 128
SINGER     8.87  11.60   6.00  0  0  0 129
SIRI       2.17   2.32   1.93 12  2  0 130
SIS       25.00  25.00  25.00  0  0  0 131
SJWD      22.02  23.00  20.80  5  0  0 132
SKR       16.40  16.40  16.40  1  0  0 133
SMPC      10.50  10.50  10.50  0  0  0 134
SNC       12.78  16.50   9.85  0  0  0 135
SPALI     26.34  29.50  21.30 14  4  0 136
SPRC      11.13  12.50   9.00 10  5  0 137
SSP       10.90  14.00   9.00  2  2  0 138
STA       21.76  25.00  20.00  2  3  0 139
STANLY   236.92 245.00 216.00  4  1  0 140
STEC      14.11  18.02  10.40  6  4  0 141
STGT      10.50  11.00  10.00  0  0  0 142
SVI        9.03  10.50   8.00  1  4  1 143
SYNEX     15.05  20.34  11.50  2  2  1 144
TASCO     22.28  26.00  20.60  2  6  0 145
TCAP      50.43  55.00  45.00  3  4  0 146
TFFIF      9.55   9.70   9.40  2  0  0 147
TFG        5.48   6.00   4.80  3  2  0 148
THANI      4.40   4.98   2.80  4  1  1 149
THG       46.33  47.00  45.00  0  0  0 150
TIDLOR    29.66  34.25  25.00 12  3  0 151
TIPH      75.00  75.00  75.00  1  0  0 152
TISCO    108.25 125.00  90.25 10  7  0 153
TKN       11.70  11.70  11.70  1  0  0 154
TMT        8.15   8.70   7.60  0  1  0 155
TOA       39.83  41.00  38.00  6  0  0 156
TOP       62.33  78.00  52.50 15  3  0 157
TPIPL      2.34   2.44   2.24  1  1  0 158
TPIPP      3.75   4.00   3.50  1  1  0 159
TQM       40.25  48.00  29.00  3  1  0 160
TRUE       8.88   9.80   7.60  6  2  0 161
TSE        3.16   3.16   3.16  1  0  0 162
TTA        8.85   9.00   8.70  2  0  0 163
TTB        1.64   1.84   1.50  8  4  0 164
TTW       10.05  12.10   8.00  1  0  0 165
TU        16.63  21.00  13.50 11  4  0 166

In [11]:
os.chdir("C:\\users\\user\\onedrive\\a7\\Weekly")
%pwd

'C:\\users\\user\\onedrive\\a7\\Weekly'

In [12]:
data_path = "../data/"
file_name   = 'consensus-new.csv'
input_file = data_path + file_name
consensus = pd.read_csv(input_file, sep=',', index_col=None)
consensus = consensus.rename(columns=str.lower)
consensus

       name  target     max     min  buy  hold  sell
0       ACE    3.60    3.60    3.60    0     0     0
1    ADVANC  245.36  265.00  225.00   14     0     0
2    AEONTS  203.30  230.00  180.00    5     5     0
3        AH   46.00   54.10   39.13    9     0     0
4    AIMIRT   14.50   14.50   14.50    1     0     0
..      ...     ...     ...     ...  ...   ...   ...
161     TSE    3.16    3.16    3.16    1     0     0
162     TTA    8.85    9.00    8.70    2     0     0
163     TTB    1.64    1.84    1.50    8     4     0
164     TTW   10.05   12.10    8.00    1     0     0
165      TU   16.63   21.00   13.50   11     4     0

[166 rows x 7 columns]

In [13]:
consensus.query('buy + hold + sell == 0')

       name  target    max    min  buy  hold  sell
0       ACE    3.60   3.60   3.60    0     0     0
41    COTTO    2.24   2.24   2.24    0     0     0
77    JMART   24.00  26.00  22.00    0     0     0
94      MCS   12.20  12.20  12.20    0     0     0
115     RCL   18.00  18.00  18.00    0     0     0
116     RJH   30.20  33.00  26.60    0     0     0
128  SINGER    8.87  11.60   6.00    0     0     0
130     SIS   25.00  25.00  25.00    0     0     0
133    SMPC   10.50  10.50  10.50    0     0     0
134     SNC   12.78  16.50   9.85    0     0     0
141    STGT   10.50  11.00  10.00    0     0     0
149     THG   46.33  47.00  45.00    0     0     0

In [14]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.shape

(18, 10)

In [15]:
prf_css.buy.value_counts(normalize=True).to_frame().style.format('{:.2%}')

### Profits w/o consensus

In [33]:
df_merge = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_merge['_merge'] == 'left_only'
df_merge[prf_wo_css]

Empty DataFrame
Columns: [name, kind, year, quarter, target, max, min, buy, hold, sell, _merge]
Index: []

In [34]:
names = df_merge[prf_wo_css]['name']
names

Series([], Name: name, dtype: object)

In [35]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

''

In [36]:
sqlDel = """
DELETE FROM profits
WHERE name in (%s)"""
sqlDel = sqlDel % in_p
print(sqlDel)

DELETE FROM profits
WHERE name in ()

In [37]:
rp = conmy.execute(sqlDel)
rp.rowcount

0

In [39]:
in_p = "'FPT', 'LHFG', 'OISHI'"

In [42]:
sqlDel = """
DELETE FROM stocks
WHERE name in (%s)"""
sqlDel = sqlDel % in_p
print(sqlDel)

DELETE FROM stocks
WHERE name in ('FPT', 'LHFG', 'OISHI')

In [43]:
rp = conlite.execute(sqlDel)
rp.rowcount

3

### Matching check with Buy table in MySql database to filter only records not yet in stocks

In [19]:
sql = """
SELECT name
FROM buy
WHERE active = 1"""
buy_df = pd.read_sql(sql, const)
buy_df.shape

(30, 1)

In [20]:
final_buy = pd.merge(my_profits, buy_df, on='name', how='outer', indicator=True)
final_buy.shape

(45, 5)

In [21]:
not_in_port = final_buy.loc[
    final_buy['_merge'] == 'left_only']
not_in_port

     name  kind    year  quarter     _merge
3    BDMS   1.0  2023.0      1.0  left_only
4     BEM   1.0  2023.0      1.0  left_only
5      BH   1.0  2023.0      1.0  left_only
6      EA   1.0  2023.0      1.0  left_only
7     FPT   1.0  2023.0      2.0  left_only
9     KKP   1.0  2023.0      1.0  left_only
10    KTB   1.0  2023.0      1.0  left_only
11    KTC   1.0  2023.0      1.0  left_only
12  LANNA   1.0  2023.0      1.0  left_only
13   LHFG   1.0  2023.0      1.0  left_only
14  OISHI   1.0  2023.0      2.0  left_only
16  PTTEP   1.0  2023.0      1.0  left_only
17  SAPPE   1.0  2023.0      1.0  left_only
18  TASCO   1.0  2023.0      1.0  left_only
20    TTB   1.0  2023.0      1.0  left_only

In [22]:
file_name = 'consensus-ORD.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
osd_file = osd_path + file_name
one_file = one_path + file_name

not_in_port.sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
not_in_port.sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
not_in_port.sort_values(['name'],ascending=[True]).to_csv(osd_file, index=False)
not_in_port.sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)