### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/stock')
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

# Define a formatting function to format integers with zero decimal places and floats with two decimal places
def format_cell(x):
    if isinstance(x, int):
        return "{:,.0f}".format(x)
    elif isinstance(x, float):
        return "{:.2f}".format(x)
    else:
        return x

pd.options.display.max_rows = 20
#pd.options.display.float_format = '{:.2f}'.format

today = date.today()
today

datetime.date(2023, 6, 25)

### Process after last business day, yesterday must be last business day

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2023-06-25
yesterday: 2023-06-23 00:00:00

In [3]:
# find the beginning of the week for the given yesterday
week_start = yesterday.to_period('W').start_time
week_end = yesterday.to_period('W').end_time
week_start = week_start.date()
week_end = week_end.date()
print(f'week start: {week_start}')
print(f'week end: {week_end}')

week start: 2023-06-19
week end: 2023-06-25

In [4]:
yesterday = yesterday.date()
week_start, yesterday

(datetime.date(2023, 6, 19), datetime.date(2023, 6, 23))

### Restart and Run All Cells

In [5]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

In [6]:
format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',   
    'target':'{:.2f}','max':'{:.2f}','min':'{:.2f}',
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',    
}

In [7]:
sql = """
SELECT * FROM profits 
ORDER BY id DESC 
"""
tmp = pd.read_sql(sql, conmy)
tmp

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2601,SAPPE,2023,1,1,774553,477634,296919,62.16,774553,...,274790,153388,121402,79.147000,154340,120450,78.041985,420,59.484746,28.346150
1,2600,AWC,2023,1,1,4630796,2100590,2530206,120.45,4630796,...,1422041,645106,776935,120.435246,1405856,16185,1.151256,699,65.549126,63.858830
2,2599,TFFIF,2023,2,1,1996055,1209444,786611,65.04,1996055,...,472071,397594,74477,18.731923,472036,35,0.007415,686,21.914834,29.861353
3,2598,OISHI,2023,2,1,1187041,834166,352875,42.30,1187041,...,325685,264766,60919,23.008619,316960,8725,2.752713,338,18.367833,18.312317
4,2597,FPT,2023,2,1,2033577,1684084,349493,20.75,2033577,...,316979,312654,4325,1.383318,314905,2074,0.658611,745,5.750482,10.011356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,2585,LHFG,2023,1,1,1736882,1334969,401913,30.11,1736882,...,669868,511741,158127,30.899811,344754,325114,94.303184,268,41.333249,36.611253
17,2584,BBL,2023,1,1,32316817,26702007,5614810,21.03,32316817,...,10129289,7118064,3011225,42.303989,7569465,2559824,33.817767,50,26.857939,14.092700
18,2583,KTB,2023,1,1,34983988,24790196,10193792,41.12,34983988,...,10066596,8780344,1286252,14.649221,8109182,1957414,24.138242,258,20.931866,15.812750
19,2582,KTC,2023,1,1,7203836,5992158,1211678,20.22,7203836,...,1871710,1747272,124438,7.121845,1665855,205855,12.357318,259,10.364791,7.866690
20,2581,TTB,2023,1,1,15294801,10886994,4407807,40.49,15294801,...,4294515,3194904,1099611,34.417654,3847324,447191,11.623430,541,23.570271,16.298783

In [8]:
names = tmp['name'].values.tolist()
names

['SAPPE',
 'AWC',
 'TFFIF',
 'OISHI',
 'FPT',
 'EA',
 'LANNA',
 'TASCO',
 'BDMS',
 'BEM',
 'AH',
 'PTG',
 'ICHI',
 'PTTEP',
 'BH',
 'KKP',
 'LHFG',
 'BBL',
 'KTB',
 'KTC',
 'TTB']

In [9]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'SAPPE', 'AWC', 'TFFIF', 'OISHI', 'FPT', 'EA', 'LANNA', 'TASCO', 'BDMS', 'BEM', 'AH', 'PTG', 'ICHI', 'PTTEP', 'BH', 'KKP', 'LHFG', 'BBL', 'KTB', 'KTC', 'TTB'"

In [10]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
#WHERE quarter = 4
my_profits = pd.read_sql(sql, conmy)
my_profits

     name  kind  year  quarter
0      AH     1  2023        1
1     AWC     1  2023        1
2     BBL     1  2023        1
3    BDMS     1  2023        1
4     BEM     1  2023        1
..    ...   ...   ...      ...
16  PTTEP     1  2023        1
17  SAPPE     1  2023        1
18  TASCO     1  2023        1
19  TFFIF     1  2023        2
20    TTB     1  2023        1

[21 rows x 4 columns]

### ruby ruby\crt-consensus-new.rb

In [11]:
data_path = "../data/"
file_name   = 'consensus-new.csv'
input_file = data_path + file_name
consensus = pd.read_csv(input_file, sep=',', index_col=None)
consensus = consensus.rename(columns=str.lower)
consensus

       name  target    max     min  buy  hold  sell
0       ACE    3.60    3.6    3.60    0     0     0
1    ADVANC  243.14  257.0  225.00   14     0     0
2    AEONTS  218.70  248.0  200.00    8     2     0
3        AH   46.00   54.1   39.13    9     0     0
4    AIMIRT   14.50   14.5   14.50    1     0     0
..      ...     ...    ...     ...  ...   ...   ...
175   WHAIR    9.20    9.2    9.20    1     0     0
176   WHART   12.75   13.0   12.50    2     0     0
177   WHAUP    5.25    5.5    5.00    2     0     0
178    WICE    9.17   11.0    7.90    1     2     0
179    WORK   19.40   20.8   18.00    1     1     0

[180 rows x 7 columns]

In [12]:
consensus.query('buy + hold + sell == 0')

       name  target    max    min  buy  hold  sell
0       ACE    3.60   3.60   3.60    0     0     0
12      ASP    2.80   2.80   2.80    0     0     0
42    COTTO    2.24   2.24   2.24    0     0     0
79    JMART   24.00  26.00  22.00    0     0     0
98      MCS   12.20  12.20  12.20    0     0     0
119     RCL   18.00  18.00  18.00    0     0     0
120     RJH   30.15  33.00  26.60    0     0     0
132  SINGER    8.87  11.60   6.00    0     0     0
136    SMPC   10.50  10.50  10.50    0     0     0
137     SNC   12.78  16.50   9.85    0     0     0
144    STGT   10.50  11.00  10.00    0     0     0
152     THG   48.30  56.00  45.00    0     0     0

In [13]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.sample(5).style.format(format_dict)

In [14]:
prf_css.buy.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [15]:
names = prf_css['name']
names

0        AH
1       AWC
2       BBL
3      BDMS
4       BEM
5        BH
6        EA
7      ICHI
8       KKP
9       KTB
10      KTC
11    LANNA
12      PTG
13    PTTEP
14    SAPPE
15    TASCO
16    TFFIF
17      TTB
Name: name, dtype: object

In [16]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AH', 'AWC', 'BBL', 'BDMS', 'BEM', 'BH', 'EA', 'ICHI', 'KKP', 'KTB', 'KTC', 'LANNA', 'PTG', 'PTTEP', 'SAPPE', 'TASCO', 'TFFIF', 'TTB'"

In [17]:
#rp = conpg.execute(sqlDel)
#rp.rowcount

### If there are deleted records, must rerun from select consensus

### Profits w/o consensus

In [18]:
df_tmp = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_tmp['_merge'] == 'left_only'
df_tmp[prf_wo_css]

     name  kind    year  quarter  target  max  min  buy  hold  sell     _merge
7     FPT   1.0  2023.0      2.0     NaN  NaN  NaN  NaN   NaN   NaN  left_only
13   LHFG   1.0  2023.0      1.0     NaN  NaN  NaN  NaN   NaN   NaN  left_only
14  OISHI   1.0  2023.0      2.0     NaN  NaN  NaN  NaN   NaN   NaN  left_only

In [19]:
names = df_tmp[prf_wo_css]['name']
names

7       FPT
13     LHFG
14    OISHI
Name: name, dtype: object

In [20]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'FPT', 'LHFG', 'OISHI'"

### Matching check with Buy table in MySql database to filter only records not yet in stocks

In [21]:
sql = """
SELECT name
FROM buy
WHERE active = 1"""
buy_df = pd.read_sql(sql, const)
buy_df.shape

(29, 1)

In [22]:
final_buy = pd.merge(my_profits, buy_df, on='name', how='outer', indicator=True)
final_buy.shape

(46, 5)

In [23]:
final_buy.dtypes

name         object
kind        float64
year        float64
quarter     float64
_merge     category
dtype: object

In [24]:
not_in_port = final_buy.loc[
    final_buy['_merge'] == 'left_only']
not_in_port

     name  kind    year  quarter     _merge
2     BBL   1.0  2023.0      1.0  left_only
3    BDMS   1.0  2023.0      1.0  left_only
4     BEM   1.0  2023.0      1.0  left_only
5      BH   1.0  2023.0      1.0  left_only
6      EA   1.0  2023.0      1.0  left_only
7     FPT   1.0  2023.0      2.0  left_only
9     KKP   1.0  2023.0      1.0  left_only
10    KTB   1.0  2023.0      1.0  left_only
12  LANNA   1.0  2023.0      1.0  left_only
13   LHFG   1.0  2023.0      1.0  left_only
14  OISHI   1.0  2023.0      2.0  left_only
15    PTG   1.0  2023.0      1.0  left_only
16  PTTEP   1.0  2023.0      1.0  left_only
17  SAPPE   1.0  2023.0      1.0  left_only
18  TASCO   1.0  2023.0      1.0  left_only
19  TFFIF   1.0  2023.0      2.0  left_only
20    TTB   1.0  2023.0      1.0  left_only

In [25]:
not_in_port2 = not_in_port.copy()
not_in_port2

     name  kind    year  quarter     _merge
2     BBL   1.0  2023.0      1.0  left_only
3    BDMS   1.0  2023.0      1.0  left_only
4     BEM   1.0  2023.0      1.0  left_only
5      BH   1.0  2023.0      1.0  left_only
6      EA   1.0  2023.0      1.0  left_only
7     FPT   1.0  2023.0      2.0  left_only
9     KKP   1.0  2023.0      1.0  left_only
10    KTB   1.0  2023.0      1.0  left_only
12  LANNA   1.0  2023.0      1.0  left_only
13   LHFG   1.0  2023.0      1.0  left_only
14  OISHI   1.0  2023.0      2.0  left_only
15    PTG   1.0  2023.0      1.0  left_only
16  PTTEP   1.0  2023.0      1.0  left_only
17  SAPPE   1.0  2023.0      1.0  left_only
18  TASCO   1.0  2023.0      1.0  left_only
19  TFFIF   1.0  2023.0      2.0  left_only
20    TTB   1.0  2023.0      1.0  left_only

In [26]:
file_name = 'consensus-ORD.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
osd_file = osd_path + file_name
one_file = one_path + file_name

not_in_port.sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
not_in_port.sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
not_in_port.sort_values(['name'],ascending=[True]).to_csv(osd_file, index=False)
not_in_port.sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)

In [27]:
not_in_port2.drop(columns=['_merge'],inplace=True)