### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/stock')
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

today = date.today()
today

datetime.date(2023, 1, 28)

### Process after last business day, yesterday must be last business day

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2023-01-28
yesterday: 2023-01-27 00:00:00

In [3]:
# find the beginning of the week for the given yesterday
week_start = yesterday.to_period('W').start_time
week_end = yesterday.to_period('W').end_time
week_start = week_start.date()
week_end = week_end.date()
print(f'week start: {week_start}')
print(f'week end: {week_end}')

week start: 2023-01-23
week end: 2023-01-29

In [4]:
yesterday = yesterday.date()
week_start, yesterday

(datetime.date(2023, 1, 23), datetime.date(2023, 1, 27))

In [5]:
s50_pct = 20
s100_pct = 25
s999_pct = 30

### Restart and Run All Cells

In [6]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',    
}

In [7]:
sql = """
SELECT * FROM profits 
ORDER BY id DESC 
LIMIT 1
"""
tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

In [8]:
names = tmp['name'].values.tolist()
names

['TTB']

In [9]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'TTB'"

In [10]:
sql = '''
SELECT * 
FROM consensus 
WHERE name IN (%s)
'''
sql = sql % in_p
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT *
FROM consensus
WHERE name IN ('TTB')

In [11]:
sql = '''
SELECT * FROM stocks 
WHERE name IN (%s)
'''
sql = sql % in_p
print(sql)

tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT * FROM stocks
WHERE name IN ('TTB')

In [12]:
sql = '''
SELECT * FROM tickers 
WHERE name IN (%s)
'''
sql = sql % in_p
print(sql)

tmp = pd.read_sql(sql, conmy)
tmp.style.format(format_dict)

SELECT * FROM tickers
WHERE name IN ('TTB')

In [13]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
my_profits = pd.read_sql(sql, conmy)
my_profits

     name  kind  year  quarter
0      AH     1  2022        3
1     AIT     1  2022        3
2   BANPU     1  2022        3
3    BDMS     1  2022        3
4     BEM     1  2022        3
5      BH     1  2022        3
6      CK     1  2022        3
7     CKP     1  2022        3
8    COM7     1  2022        3
9   CPALL     1  2022        3
10    CPF     1  2022        3
11    CPN     1  2022        3
12     EA     1  2022        3
13   GFPT     1  2022        3
14  HMPRO     1  2022        3
15   ICHI     1  2022        3
16    III     1  2022        3
17  JMART     1  2022        3
18    JMT     1  2022        3
19    KCE     1  2022        3
20     LH     1  2022        3
21   MEGA     1  2022        3
22    NER     1  2022        3
23    PTL     1  2022        1
24  PTTEP     1  2022        3
25     QH     1  2022        3
26  SAPPE     1  2022        3
27     SC     1  2022        3
28   SIRI     1  2022        3
29  SPALI     1  2022        3
30    SVI     1  2022        3
31  SYNEX     1  2022        3
32    TTB     1  2022        4

In [14]:
sql = """
SELECT name, price, target_price, 
buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
"""
sql = sql % (today)
print(sql)
#sql = sql % (today, today)
#AND ('%s'::date - date(updated_at)::date) < 15
consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['diff'] = consensus['target_price'] - consensus['price']
consensus['upside'] = round(consensus['diff']/consensus['price']*100,2)
consensus.shape

SELECT name, price, target_price,
buy, hold, sell, yield,
date(updated_at), ('2023-01-28'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0

(210, 10)

In [15]:
#consensus.loc['TSTH',['target','upside']] = [1.52,1]

In [16]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.sample(10).style.format(format_dict)

In [17]:
prf_css.days.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [18]:
names = prf_css.loc[prf_css.days == 21]['name']
names

Series([], Name: name, dtype: object)

In [19]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

''

In [20]:
sqlDel = '''
DELETE FROM consensus 
WHERE name IN (%s)
'''
sqlDel = sqlDel % in_p
print(sqlDel)

DELETE FROM consensus
WHERE name IN ()

In [21]:
#rp = conpg.execute(sqlDel)
#rp.rowcount

### If there are deleted records, must rerun from select consensus

### Profits w/o consensus

In [22]:
df_tmp = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_tmp['_merge'] == 'left_only'
df_tmp[prf_wo_css]

Empty DataFrame
Columns: [name, kind, year, quarter, price, target_price, buy, hold, sell, yield, date, days, diff, upside, _merge]
Index: []

In [23]:
names = df_tmp[prf_wo_css]['name']
names

Series([], Name: name, dtype: object)

In [24]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

''

In [25]:
sqlDel = '''
DELETE FROM profits
WHERE name IN (%s)
'''
sqlDel = sqlDel % in_p
print(sqlDel)

DELETE FROM profits
WHERE name IN ()

In [26]:
rp = conmy.execute(sqlDel)
rp.rowcount

0

### If there are deleted records, must rerun from select profits

### Start of Gain Percentage Calculation

In [27]:
sql = '''
SELECT name, max_price, min_price, pe, pbv, daily_volume AS dly_vol, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.sample(10)

,name,max_price,min_price,pe,pbv,dly_vol,beta,market
33,BTSGIF,4.36,3.72,999.99,0.58,26.54,0.43,SET
173,TISCO,104.00,86.00,11.43,2.01,465.68,0.35,SET50 / SETHD / SETTHSI
243,PSL,21.80,12.80,4.18,1.39,140.15,1.41,SET100 / SETTHSI
14,BAT-3K,280.00,171.00,37.20,2.86,3.52,0.04,SET
167,TFUND,11.70,9.90,999.99,0.98,10.44,0.17,SET
24,BGRIM,42.75,29.75,999.99,3.35,422.56,1.31,SET50 / SETCLMV / SETTHSI
208,TOA,36.50,25.00,42.06,5.34,121.54,0.80,SETTHSI
222,ACE,3.42,2.52,17.72,1.82,54.22,0.89,SET100 / SETTHSI
217,CPTGF,8.70,7.00,999.99,0.71,1.93,0.20,SET
98,LIT,2.78,1.63,999.99,0.70,0.52,0.73,mai

In [28]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
my_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [29]:
my_stocks["mrkt"].value_counts()

SET999    148
SET50      50
SET100     46
mai         9
Name: mrkt, dtype: int64

In [30]:
prf_css_stk = pd.merge(prf_css, my_stocks, on='name', how='inner')
prf_css_stk.set_index('name', inplace=True)
prf_css_stk.shape

(33, 21)

In [31]:
set50 = prf_css_stk.mrkt.str.contains('SET50') & (prf_css_stk.upside >= s50_pct)
flt_set50 = prf_css_stk[set50]
flt_set50[cols].style.format(format_dict)

In [32]:
prf_css_stk.loc\
    [prf_css_stk.mrkt.str.contains('SET50') & (prf_css_stk.upside < s50_pct)]\
    [cols].style.format(format_dict)

In [33]:
set100 = prf_css_stk.mrkt.str.contains('SET100') & (prf_css_stk.upside >= s100_pct)
flt_set100 = prf_css_stk[set100]
flt_set100[cols].style.format(format_dict)

In [34]:
prf_css_stk.loc\
    [prf_css_stk.mrkt.str.contains('SET100') & (prf_css_stk.upside < s100_pct)]\
    [cols].style.format(format_dict)

In [35]:
set999 = prf_css_stk.mrkt.str.contains('SET999') & (prf_css_stk.upside >= s999_pct) 
flt_set999 = prf_css_stk[set999]
flt_set999[cols].style.format(format_dict)

In [36]:
prf_css_stk.loc\
    [(prf_css_stk.mrkt.str.contains('SET999')) & (prf_css_stk.upside < s999_pct)]\
    [cols].style.format(format_dict)

In [37]:
mai = prf_css_stk.mrkt.str.contains('mai') & (prf_css_stk.upside >= s999_pct)
flt_mai = prf_css_stk[mai]
flt_mai[cols].style.format(format_dict)

In [38]:
prf_css_stk.loc\
    [prf_css_stk.mrkt.str.contains('mai') & (prf_css_stk.upside < s999_pct)]\
    [cols].style.format(format_dict)

In [39]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_mai])
flt_all.sort_values(['upside'],ascending=[False]).style.format(format_dict)

In [40]:
flt_all[colu].sort_values(by='name',ascending=True).style.format(format_dict)

In [41]:
'candidates to buy = ' + str(flt_all.shape[0]) + ' stocks'

'candidates to buy = 7 stocks'

In [42]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

403

In [43]:
final = pd.merge(flt_all, pg_tickers, on='name', how='inner')
final.reset_index()
final[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/consensus.json", orient="table")

### Final result to update to port_lite stocks

In [44]:
final[colt].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [45]:
final.shape

(7, 24)

### Matching check with Buy table in MySql database to filter only records not yet in stocks

In [46]:
sql = """
SELECT name
FROM buy
WHERE active = 1"""
buy_df = pd.read_sql(sql, const)
buy_df.shape

(27, 1)

In [47]:
final_buy = pd.merge(final, buy_df, on='name', how='outer', indicator=True)
final_buy.shape

(31, 25)

In [48]:
not_in_port = final_buy.loc[
    final_buy['_merge'] == 'left_only']
not_in_port[colt].shape

(4, 13)

In [49]:
not_in_port2 = not_in_port[colt].copy()
not_in_port2

,name,price,target_price,upside,buy,hold,sell,market,sector,subsector,dly_vol,beta,yield
1,COM7,31.25,39.35,25.92,2.0,0.0,0.0,SET50 / SETTHSI / SETWB,Services,Commerce,538.47,1.49,3.4
2,CPF,23.60,30.98,31.27,9.0,1.0,0.0,SET50 / SETCLMV / SETHD / SETTHSI / SETWB,Agro & Food Industry,Food & Beverage,442.47,0.77,3.2
5,CK,22.70,28.91,27.36,5.0,0.0,0.0,SET100 / SETCLMV,Property & Construction,Construction Services,160.86,0.81,1.8
6,CKP,4.54,6.80,49.78,1.0,0.0,0.0,SET100 / SETCLMV / SETTHSI,Resources,Energy & Utilities,55.97,1.05,3.1

In [50]:
file_name = 'consensus-ORD.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(data_file, index=False)
not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(box_file, index=False)
not_in_port[colt].sort_values(['name'],ascending=[True]).to_csv(one_file, index=False)

In [51]:
sql = """
SELECT *
FROM stocks"""
stocks = pd.read_sql(sql, conlite)
stocks.shape

(62, 18)

In [52]:
df_merge4 = pd.merge(not_in_port2, stocks, on='name', how='outer', indicator=True)
df_merge4.shape

(62, 31)

In [53]:
df_merge4[df_merge4['_merge'] == 'left_only'].sort_values('name',ascending=True)

Empty DataFrame
Columns: [name, price, target_price, upside, buy, hold, sell, market_x, sector, subsector, dly_vol, beta_x, yield, id, max_price, min_price, status, buy_target, sell_target, volume, beta_y, cost, qty, buy_spread, sell_spread, available_qty, bl, sh, reason, market_y, _merge]
Index: []