### portmy database: stocks table
### stock database: buy, price tables

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
conmy = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.set_option('display.float_format','{:,.2f}'.format)

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

today = date.today()
today

datetime.date(2023, 7, 16)

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2023-07-16
yesterday: 2023-07-14 00:00:00

In [3]:
yesterday = yesterday.date()
week_ago = yesterday -timedelta(days = 7)
print(f'a week ago: {week_ago}')
print(f'yesterday: {yesterday}')

a week ago: 2023-07-07
yesterday: 2023-07-14

### Restart & Run All Cells

### This process affects only already in port stocks. To highlight price changes in percent.

In [4]:
cols = 'name price_w price_d percent perform mrkt '.split()

format_dict = {
    'qty':'{:,}',    
    'price':'{:.2f}','price_d':'{:.2f}','price_w':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}',
    'maxp':'{:.2f}','minp':'{:.2f}','opnp':'{:.2f}',    
    'pct':'{:,.2f}%','percent':'{:,.2f}%',
    
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}', 
}

In [5]:
sql = """
SELECT name, date, price 
FROM buy 
ORDER BY date DESC 
LIMIT 1
"""
df_buy = pd.read_sql(sql, const)
df_buy.style.format(format_dict)

In [6]:
names = df_buy['name']
name = names.to_string(index=False)

sql = '''
SELECT * FROM stocks WHERE name = '%s'
'''
sql = sql % name
print(sql)

df_stocks = pd.read_sql(sql, conmy)
df_stocks.style.format(format_dict)

SELECT * FROM stocks WHERE name = 'PTG'

In [7]:
sql = '''
SELECT * FROM price WHERE name = "%s" ORDER BY date DESC LIMIT 5
'''
sql = sql % name
print(sql)

df_price = pd.read_sql(sql, const)
df_price.style.format(format_dict)

SELECT * FROM price WHERE name = "PTG" ORDER BY date DESC LIMIT 5

In [8]:
sql = '''
SELECT name
FROM buy 
WHERE active = 1
ORDER BY name'''
df_price = pd.read_sql(sql, const)

names = df_price.name.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))

sql = """
SELECT name, price AS price_d 
FROM price 
WHERE date = '%s' AND name IN (%s)
ORDER BY name, date"""
sql = sql % (yesterday, in_p)
print(sql)

df_today = pd.read_sql(sql, const)
df_today.shape[0]

SELECT name, price AS price_d
FROM price
WHERE date = '2023-07-14' AND name IN ('AH', 'ASK', 'ASP', 'AWC', 'BBL', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTG', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART')
ORDER BY name, date

30

In [9]:
sql = """
SELECT name, price AS price_w
FROM price 
WHERE date = '%s' AND name IN (%s) 
ORDER BY name"""
sql = sql % (week_ago, in_p)
print(sql)

df_wkago = pd.read_sql(sql, const)
df_wkago.shape[0]

SELECT name, price AS price_w
FROM price
WHERE date = '2023-07-07' AND name IN ('AH', 'ASK', 'ASP', 'AWC', 'BBL', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTG', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART')
ORDER BY name

30

In [10]:
trend = pd.merge(df_today, df_wkago, on='name',how='inner')
trend.shape

(30, 3)

In [11]:
def performance(vals):
    price_d, price_w = vals
    if (price_d > price_w):
        return 'Better'
    elif (price_d < price_w):
        return 'Worse'
    else:
        return 'No Change'

In [12]:
trend['percent'] = (trend.price_d-trend.price_w)/trend.price_w * 100

In [13]:
trend

       name  price_d  price_w  percent
0        AH    34.00    35.75    -4.90
1       ASK    25.25    25.00     1.00
2       ASP     2.78     2.80    -0.71
3       AWC     4.62     4.60     0.43
4       BBL   158.00   156.00     1.28
5       BCH    17.50    17.40     0.57
6   CPNREIT    10.90    11.00    -0.91
7       DIF    10.70    10.90    -1.83
8    GVREIT     8.40     8.25     1.82
9      ICHI    13.80    13.60     1.47
10      IVL    35.25    33.25     6.02
11    JASIF     6.95     7.05    -1.42
12    JMART    16.40    16.30     0.61
13      JMT    35.50    36.25    -2.07
14      KCE    38.75    36.50     6.16
15      MCS     6.35     6.45    -1.55
16      NER     4.56     4.50     1.33
17      ORI    10.40    10.10     2.97
18      PTG    10.20    11.70   -12.82
19    PTTGC    40.50    38.50     5.19
20      RCL    24.20    24.00     0.83
21      SCC   328.00   322.00     1.86
22     SENA     3.00     2.98     0.67
23   SINGER     9.10     9.15    -0.55
24      STA    17.00    17.20    -1.16
25    SYNEX    11.80    12.00    -1.67
26    TFFIF     7.60     7.60     0.00
27      TMT     7.30     7.40    -1.35
28    WHAIR     7.05     7.05     0.00
29    WHART    10.70    10.50     1.90

In [14]:
trend["perform"] = trend[["price_d","price_w"]].apply(performance, axis=1)

In [15]:
trend.sort_values(by=['percent'],ascending=[True]).style.format(format_dict)

In [16]:
file_name = 'trend.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
osd_file = osd_path + file_name

trend.sort_values(['percent'],ascending=[True]).to_csv(output_file, index=False)
trend.sort_values(['percent'],ascending=[True]).to_csv(data_file, index=False)
trend.sort_values(['percent'],ascending=[True]).to_csv(osd_file, index=False)

### Filter only performance = "Worse"

In [17]:
mask = trend.perform == 'Worse'
trend[mask]

       name  price_d  price_w  percent perform
0        AH    34.00    35.75    -4.90   Worse
2       ASP     2.78     2.80    -0.71   Worse
6   CPNREIT    10.90    11.00    -0.91   Worse
7       DIF    10.70    10.90    -1.83   Worse
11    JASIF     6.95     7.05    -1.42   Worse
13      JMT    35.50    36.25    -2.07   Worse
15      MCS     6.35     6.45    -1.55   Worse
18      PTG    10.20    11.70   -12.82   Worse
23   SINGER     9.10     9.15    -0.55   Worse
24      STA    17.00    17.20    -1.16   Worse
25    SYNEX    11.80    12.00    -1.67   Worse
27      TMT     7.30     7.40    -1.35   Worse

In [18]:
trend.perform.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [19]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS volume, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.shape

(251, 8)

In [20]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
my_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [21]:
trend2 = pd.merge(trend, my_stocks, on='name', how='inner')
trend2.sort_values(['percent'],ascending=[True]).shape

(30, 13)

In [22]:
set50 = trend2.mrkt.str.contains('SET50') 
flt_set50 = trend2[set50]
flt_set50[cols].sort_values(by=['percent','name'],ascending=[True,True]).style.format(format_dict)

In [23]:
flt_set50.perform.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [24]:
set100 = trend2.mrkt.str.contains('SET100')
flt_set100 = trend2[set100]
flt_set100[cols].sort_values(by=['percent','name'],ascending=[True,True]).style.format(format_dict)

In [25]:
flt_set100[cols].perform.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [26]:
set999 = trend2.mrkt.str.contains('SET999')
flt_set999 = trend2[set999]
flt_set999[cols].sort_values(by=['percent','name'],ascending=[True,True]).style.format(format_dict)

In [27]:
flt_set999[cols].perform.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [28]:
setmai = trend2.mrkt.str.contains('mai')
flt_setmai = trend2[setmai]
flt_setmai[cols].sort_values(by=['percent','name'],ascending=[True,True]).style.format(format_dict)

In [29]:
flt_setmai[cols].perform.value_counts(normalize=True).to_frame().style.format('{:.2%}')