### portpg database: consensus, stocks tables
### csv files: css-hi-div.csv

### Restart and Run All Cell

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

pd.set_option('display.float_format','{:,.2f}'.format)

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

today = date.today()
today

datetime.date(2023, 1, 28)

In [2]:
cols = 'price target upside buy hold sell score yield'.split()
colt = 'name yield price target upside buy hold sell score mrkt sector subsector volume beta'.split()

format_dict = {
        'price':'{:.2f}','target':'{:.2f}',
        'eps_a':'{:.2f}','eps_b':'{:.2f}','yield':'{:.2f}%',
           
        'max_price':'{:.2f}','min_price':'{:.2f}',
        'max':'{:.2f}','min':'{:.2f}',
    
        'pe':'{:.2f}','pbv':'{:.2f}',
        'paid_up':'{:,.2f}','market_cap':'{:,.2f}',
        'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
        'volume':'{:,.2f}'
}

In [3]:
sql = """
SELECT name, price, target_price AS target, 
ROUND((target_price-price)/price*100, 0) AS upside, buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('%s'::date - date(updated_at)::date) <= 31"""
sql = sql % (today, today)
print(sql)

consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['upside'] = consensus['upside'].astype(int)
consensus.sort_values(by='upside',ascending=False).head().style.format(format_dict)

SELECT name, price, target_price AS target,
ROUND((target_price-price)/price*100, 0) AS upside, buy, hold, sell, yield,
date(updated_at), ('2023-01-28'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('2023-01-28'::date - date(updated_at)::date) <= 31

In [4]:
consensus.shape

(196, 9)

In [5]:
#consensus.loc['BCPG']
#consensus = consensus.drop('BCPG')

In [6]:
consensus['score'] = (consensus.buy*3 + consensus.hold*1 + consensus.sell*-3)
high_score = consensus.score >= 10
consensus.loc[high_score, cols].sort_values(by=['score'],ascending=[False]).head().style.format(format_dict)

In [7]:
consensus[high_score].shape[0]

66

In [8]:
high_yield = consensus['yield'] >= 5
consensus.loc[high_yield, cols].sort_values(by=['yield'],ascending=[False]).head().style.format(format_dict)

In [9]:
consensus.loc[high_yield].shape[0]

62

In [10]:
high_upside = consensus['upside'] >= 15
consensus.loc[high_upside, cols].sort_values(by=['upside'],ascending=[False]).head().style.format(format_dict)

In [11]:
consensus.loc[high_upside].shape[0]

92

### Final result to input to port_lite stocks

In [12]:
final_criteria = high_yield & high_upside & high_score
filter = consensus.loc[final_criteria, cols].sort_values(by=["yield"], ascending=[False])
filter.style.format(format_dict)

In [13]:
filter.shape

(7, 8)

In [14]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS volume, beta, market
FROM stocks
'''
pg_stocks = pd.read_sql(sql, conpg)
pg_stocks.shape

(233, 8)

In [15]:
filters = [
   (pg_stocks.market.str.contains('SET50')),
   (pg_stocks.market.str.contains('SET100')),
   (pg_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
pg_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [16]:
consensus2 = pd.merge(filter, pg_stocks, on='name', how='inner')
consensus2.set_index('name', inplace=True)
consensus2.shape

(7, 16)

In [17]:
set50 = consensus2.mrkt.str.contains('SET50') 
flt_set50 = consensus2[set50]
flt_set50.sort_values(['yield'],ascending=[False]).style.format(format_dict)

In [18]:
set100 = consensus2.mrkt.str.contains('SET100') 
flt_set100 = consensus2[set100]
flt_set100.sort_values(['yield'],ascending=[False]).style.format(format_dict)

In [19]:
set999 = consensus2.mrkt.str.contains('SET999') 
flt_set999 = consensus2[set999]
flt_set999.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [20]:
mai = consensus2.mrkt.str.contains('mai') 
flt_mai = consensus2[mai]
flt_mai.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [21]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_mai])
flt_all.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [22]:
flt_all.shape

(7, 16)

In [23]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

403

In [24]:
final = pd.merge(flt_all, pg_tickers, on='name', how='inner')
final.shape

(7, 19)

In [25]:
final[colt].sort_values(['yield'],ascending=[False]).style.format(format_dict)

In [26]:
file_name = 'css-hi-div.csv'
data_file = data_path + file_name
csv_file = csv_path + file_name
box_file = box_path + file_name

#final.set_index(['name'],inplace=True)
final[colt].sort_values(by=['yield'],ascending=[False]).to_csv(data_file)
final[colt].sort_values(by=['yield'],ascending=[False]).to_csv(csv_file)
final[colt].sort_values(by=['yield'],ascending=[False]).to_csv(box_file)

In [27]:
filter = consensus.loc[final_criteria, cols].sort_values(by=["name"], ascending=[True])
filter.style.format(format_dict)

In [28]:
filter = consensus.loc[final_criteria, cols].sort_values(by=["score"], ascending=[False])
filter.style.format(format_dict)