### Restart and Run All

In [1]:
import calendar
import os
import pandas as pd
import panel as pn

from datetime import date, timedelta
from sqlalchemy import create_engine

pn.extension('tabulator')

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

today = date.today()
today

datetime.date(2023, 8, 21)

### Create Price-for-Order.csv

In [2]:
sql = """
SELECT trade, name, qty, price AS target, active, reason, market, xdate 
FROM orders
ORDER BY trade, name"""
orders = pd.read_sql(sql, conlite)
orders

   trade     name    qty  target  active   reason  market       xdate
0      B       AH    600   31.00       0  RD15pct     SET  2023-08-29
1      B      AWC   4000    3.66       0  RD25pct   SET50  2022-12-22
2      B      BBL    400  155.00       0      XXX   SET50  2023-09-08
3      B      BEM   2500    7.80       0      XXX   SET50  2022-12-22
4      B       BH      0    0.00       0      XXX   SET50  2022-12-22
5      B       CK      0    0.00       0      XXX  SET100  2022-12-22
6      B      CPN      0    0.00       0      XXX   SET50  2022-12-22
7      B    DELTA      0    0.00       0      XXX   SET50  2022-12-22
8      B      DIF   3000    9.20       0  RD35pct     SET  2023-08-15
9      B     HANA      0    0.00       0      XXX  SET100  2022-12-22
10     B     ICHI   1500   14.30       0      XXX     SET  2022-12-22
11     B      III      0    0.00       0      XXX     SET  2022-12-22
12     B    JASIF   4000    6.50       0  RD35pct     SET  2023-08-21
13     B      JMT   1800   39.75       0  RD30pct   SET50  2023-08-24
14     B      KTB      0    0.00       0      XXX   SET50  2023-04-20
15     B        M      0    0.00       0      XXX     SET  2022-12-22
16     B      MCS   4000    6.00       0  RD60pct     SET  2023-03-17
17     B      NER   5000    4.58       0  RD40pct     SET  2023-08-25
18     B      ORI   2000    9.50       0  RD15pct  SET100  2023-08-28
19     B      PSH      0    0.00       0      XXX     SET  2023-03-10
20     B    PTTEP    200  134.50       0      XXX   SET50  2023-08-15
21     B    PTTGC    600   34.50       0      RD4   SET50  2023-02-27
22     B       QH      0    0.00       0      XXX  SET100  2023-08-23
23     B    SAPPE      0    0.00       0      XXX     SET  2022-12-22
24     B       SC      0    0.00       0      XXX     SET  2023-04-29
25     B     SENA   7000    2.56       0  RD45pct     SET  2023-08-28
26     B   SINGER   3000    7.10       0  RD70pct  SET100  2023-08-03
27     B     SIRI      0    0.00       0      XXX     SET  2022-12-22
28     B      STA   2500   12.70       0  RD70pct  SET100  2023-08-24
29     B    SYNEX   2000   10.00       0  RD65pct     SET  2023-08-25
30     B      TMT   3000    6.30       0  RD40pct     SET  2023-08-24
31     B      TOA      0    0.00       0      XXX     SET  2022-12-22
32     B      TTB  15000    1.64       0      XXX   SET50  2022-12-22
33     B    WHAIR   3000    6.70       0  RD25pct     SET  2023-08-18
34     S   AIMIRT  10000   11.30       0      XXX     SET  2023-08-23
35     S      ASK      0    0.00       0      XXX     SET  2023-02-28
36     S      ASP      0    0.00       0      XXX     SET  2023-08-28
37     S      BCH      0    0.00       0      XXX  SET100  2023-08-31
38     S  CPNREIT   5000   13.20       0      XXX     SET  2023-08-23
39     S   GVREIT   6000    0.00       0  RD20pct     SET  2023-08-28
40     S      IVL      0    0.00       0      XXX   SET50  2023-08-28
41     S    JMART   1200   20.60       0     5pct   SET50  2023-08-24
42     S      KCE      0    0.00       0      XXX  SET100  2023-08-21
43     S      PTG   3600   12.10       0     5pct  SET100  2022-12-22
44     S      RCL      0    0.00       0      XXX  SET100  2023-08-24
45     S      SCC      0    0.00       0      XXX   SET50  2023-08-09
46     S    TFFIF  20000    7.75       0      XXX     SET  2023-08-31
47     S    WHART  10000   11.00       0      XXX     SET  2023-08-23

### Price-Today is created from Daily/205 - Create Price Data from Excel files

In [3]:
file_name = "Price-Today.csv"
input_file = data_path + file_name
prices = pd.read_csv(input_file)
prices

,name,date,price,change,%change,open,high,low,volume,value(m)
0,ACE,2023-08-21,1.74,0.00,0.000000,1.73,1.75,1.72,2017532,3.497833e+03
1,ADVANC,2023-08-21,222.00,0.00,0.000000,222.00,222.00,219.00,4660060,1.027189e+06
2,AEONTS,2023-08-21,161.00,4.00,2.547771,157.00,161.50,156.00,166570,2.657116e+04
3,AH,2023-08-21,34.00,-0.50,-1.449275,34.50,34.75,33.75,498371,1.702688e+04
4,AIMIRT,2023-08-21,11.20,0.00,0.000000,11.10,11.30,11.10,134004,1.501385e+03
...,...,...,...,...,...,...,...,...,...,...
185,WHAIR,2023-08-21,6.75,-0.05,-0.735294,6.75,6.80,6.75,377501,2.548737e+03
186,WHART,2023-08-21,10.50,-0.30,-2.777778,10.60,10.70,10.50,267300,2.832920e+03
187,WHAUP,2023-08-21,3.92,0.02,0.512821,3.88,3.94,3.88,1817152,7.111460e+03
188,WICE,2023-08-21,7.55,0.00,0.000000,7.65,7.65,7.50,539343,4.071470e+03
189,WORK,2023-08-21,14.70,-0.10,-0.675676,15.00,15.00,14.60,56689,8.338168e+02

In [4]:
df_merge  = pd.merge(orders, prices, on = 'name', how='inner')
df_merge

,trade,name,qty,target,active,reason,market,xdate,date,price,change,%change,open,high,low,volume,value(m)
0,B,AH,600,31.00,0,RD15pct,SET,2023-08-29,2023-08-21,34.00,-0.50,-1.449275,34.50,34.75,33.75,498371,17026.87700
1,B,AWC,4000,3.66,0,RD25pct,SET50,2022-12-22,2023-08-21,3.98,0.00,0.000000,3.98,4.00,3.92,40355825,159565.54034
2,B,BBL,400,155.00,0,XXX,SET50,2023-09-08,2023-08-21,171.50,0.50,0.292398,171.50,172.00,170.50,2422948,415007.20000
3,B,BEM,2500,7.80,0,XXX,SET50,2022-12-22,2023-08-21,8.90,0.10,1.136364,8.80,8.90,8.75,11247389,99356.30815
4,B,BH,0,0.00,0,XXX,SET50,2022-12-22,2023-08-21,259.00,-2.00,-0.766284,261.00,264.00,259.00,2248966,588433.29100
5,B,CK,0,0.00,0,XXX,SET100,2022-12-22,2023-08-21,22.30,0.10,0.450450,22.30,22.40,22.00,1609256,35814.43100
6,B,CPN,0,0.00,0,XXX,SET50,2022-12-22,2023-08-21,66.00,-0.75,-1.123596,66.50,66.50,65.50,5036410,332509.11400
7,B,DELTA,0,0.00,0,XXX,SET50,2022-12-22,2023-08-21,101.50,2.00,2.010050,101.00,102.50,98.75,6428166,646474.70075
8,B,DIF,3000,9.20,0,RD35pct,SET,2023-08-15,2023-08-21,9.15,-0.35,-3.684211,9.50,9.55,9.10,56552924,521550.63770
9,B,HANA,0,0.00,0,XXX,SET100,2022-12-22,2023-08-21,59.75,0.00,0.000000,60.00,61.00,59.25,14278919,857763.69825
10,B,ICHI,1500,14.30,0,XXX,SET,2022-12-22,2023-08-21,15.80,0.00,0.000000,16.00,16.10,15.70,8548723,135725.26890
11,B,III,0,0.00,0,XXX,SET,2022-12-22,2023-08-21,11.90,-0.30,-2.459016,12.10,12.20,11.80,1895790,22698.58320
12,B,JASIF,4000,6.50,0,RD35pct,SET,2023-08-21,2023-08-21,6.70,-0.20,-2.898551,6.70,6.80,6.65,7135388,47920.98000
13,B,JMT,1800,39.75,0,RD30pct,SET50,2023-08-24,2023-08-21,43.25,0.75,1.764706,43.00,43.50,42.50,7454349,321478.59975
14,B,KTB,0,0.00,0,XXX,SET50,2023-04-20,2023-08-21,19.70,0.20,1.025641,19.60,19.70,19.50,44684061,874793.48720
15,B,M,0,0.00,0,XXX,SET,2022-12-22,2023-08-21,48.25,0.00,0.000000,48.00,48.50,47.75,498593,23937.18825
16,B,MCS,4000,6.00,0,RD60pct,SET,2023-03-17,2023-08-21,6.10,-0.05,-0.813008,6.15,6.15,6.10,115635,706.00580
17,B,NER,5000,4.58,0,RD40pct,SET,2023-08-25,2023-08-21,4.66,0.04,0.865801,4.64,4.66,4.62,870761,4044.71458
18,B,ORI,2000,9.50,0,RD15pct,SET100,2023-08-28,2023-08-21,10.10,-0.10,-0.980392,10.20,10.30,10.00,4893428,49534.22700
19,B,PSH,0,0.00,0,XXX,SET,2023-03-10,2023-08-21,13.00,0.00,0.000000,13.00,13.10,13.00,1143530,14882.11890
20,B,PTTEP,200,134.50,0,XXX,SET50,2023-08-15,2023-08-21,160.50,2.00,1.261830,160.00,161.00,158.50,4457944,712675.12450
21,B,PTTGC,600,34.50,0,RD4,SET50,2023-02-27,2023-08-21,36.50,0.00,0.000000,36.75,37.00,36.00,11812316,429902.18650
22,B,QH,0,0.00,0,XXX,SET100,2023-08-23,2023-08-21,2.32,0.02,0.869565,2.30,2.32,2.28,20570069,47333.29884
23,B,SAPPE,0,0.00,0,XXX,SET,2022-12-22,2023-08-21,90.25,0.25,0.277778,89.75,90.50,89.00,311181,27976.96650
24,B,SC,0,0.00,0,XXX,SET,2023-04-29,2023-08-21,4.24,0.02,0.473934,4.24,4.26,4.22,7536215,31982.98798
25,B,SENA,7000,2.56,0,RD45pct,SET,2023-08-28,2023-08-21,2.78,0.02,0.724638,2.76,2.78,2.76,329205,913.02598
26,B,SINGER,3000,7.10,0,RD70pct,SET100,2023-08-03,2023-08-21,10.20,0.35,3.553299,10.30,10.80,10.10,27919907,289225.94850
27,B,SIRI,0,0.00,0,XXX,SET,2022-12-22,2023-08-21,1.89,0.00,0.000000,1.89,1.91,1.87,264829086,500787.81854
28,B,STA,2500,12.70,0,RD70pct,SET100,2023-08-24,2023-08-21,13.20,0.20,1.538462,13.10,13.20,12.90,2838725,37006.78060
29,B,SYNEX,2000,10.00,0,RD65pct,SET,2023-08-25,2023-08-21,11.80,0.20,1.724138,11.70,11.90,11.60,497666,5851.68440
30,B,TMT,3000,6.30,0,RD40pct,SET,2023-08-24,2023-08-21,7.15,0.05,0.704225,7.20,7.20,7.00,15739,111.40905
31,B,TOA,0,0.00,0,XXX,SET,2022-12-22,2023-08-21,27.25,0.75,2.830189,26.50,27.25,26.25,1671414,44939.02650
32,B,TTB,15000,1.64,0,XXX,SET50,2022-12-22,2023-08-21,1.77,0.00,0.000000,1.77,1.78,1.77,103027513,182702.49977
33,B,WHAIR,3000,6.70,0,RD25pct,SET,2023-08-18,2023-08-21,6.75,-0.05,-0.735294,6.75,6.80,6.75,377501,2548.73680
34,S,AIMIRT,10000,11.30,0,XXX,SET,2023-08-23,2023-08-21,11.20,0.00,0.000000,11.10,11.30,11.10,134004,1501.38520
35,S,ASK,0,0.00,0,XXX,SET,2023-02-28,2023-08-21,23.60,-0.40,-1.666667,24.00,24.00,23.40,687837,16253.45760
36,S,ASP,0,0.00,0,XXX,SET,2023-08-28,2023-08-21,2.94,0.00,0.000000,2.96,2.96,2.92,987131,2906.46512
37,S,BCH,0,0.00,0,XXX,SET100,2023-08-31,2023-08-21,18.60,-0.10,-0.534759,18.70,18.70,18.50,2590354,48172.86440
38,S,CPNREIT,5000,13.20,0,XXX,SET,2023-08-23,2023-08-21,10.90,-0.10,-0.909091,11.00,11.00,10.90,1671902,18343.66210
39,S,GVREIT,6000,0.00,0,RD20pct,SET,2023-08-28,2023-08-21,7.35,0.05,0.684932,7.30,7.50,7.30,269700,1989.71000
40,S,IVL,0,0.00,0,XXX,SET50,2023-08-28,2023-08-21,30.25,-0.25,-0.819672,30.75,30.75,30.00,4596970,139147.84650
41,S,JMART,1200,20.60,0,5pct,SET50,2023-08-24,2023-08-21,20.10,0.70,3.608247,19.90,20.40,19.60,24205398,483821.02710
42,S,KCE,0,0.00,0,XXX,SET100,2023-08-21,2023-08-21,46.50,0.00,0.000000,46.00,46.75,45.75,4319878,199972.99625
43,S,PTG,3600,12.10,0,5pct,SET100,2022-12-22,2023-08-21,10.30,0.20,1.980198,10.10,10.30,10.00,5446598,55236.98630
44,S,RCL,0,0.00,0,XXX,SET100,2023-08-24,2023-08-21,21.60,0.00,0.000000,21.70,21.70,21.50,476239,10289.11110
45,S,SCC,0,0.00,0,XXX,SET50,2023-08-09,2023-08-21,313.00,-1.00,-0.318471,313.00,314.00,311.00,1130033,353056.06000
46,S,TFFIF,20000,7.75,0,XXX,SET,2023-08-31,2023-08-21,7.55,-0.05,-0.657895,7.60,7.60,7.50,1071605,8092.89775
47,S,WHART,10000,11.00,0,XXX,SET,2023-08-23,2023-08-21,10.50,-0.30,-2.777778,10.60,10.70,10.50,267300,2832.92000

In [5]:
df_merge['spd'] = 0

In [6]:
colo = ['trade', 'name', 'spd', 'reason', 'market', 'qty', 'target', 'price', 'change', '%change',
        'active', 'xdate']
df_merge[colo]

,trade,name,spd,reason,market,qty,target,price,change,%change,active,xdate
0,B,AH,0,RD15pct,SET,600,31.00,34.00,-0.50,-1.449275,0,2023-08-29
1,B,AWC,0,RD25pct,SET50,4000,3.66,3.98,0.00,0.000000,0,2022-12-22
2,B,BBL,0,XXX,SET50,400,155.00,171.50,0.50,0.292398,0,2023-09-08
3,B,BEM,0,XXX,SET50,2500,7.80,8.90,0.10,1.136364,0,2022-12-22
4,B,BH,0,XXX,SET50,0,0.00,259.00,-2.00,-0.766284,0,2022-12-22
5,B,CK,0,XXX,SET100,0,0.00,22.30,0.10,0.450450,0,2022-12-22
6,B,CPN,0,XXX,SET50,0,0.00,66.00,-0.75,-1.123596,0,2022-12-22
7,B,DELTA,0,XXX,SET50,0,0.00,101.50,2.00,2.010050,0,2022-12-22
8,B,DIF,0,RD35pct,SET,3000,9.20,9.15,-0.35,-3.684211,0,2023-08-15
9,B,HANA,0,XXX,SET100,0,0.00,59.75,0.00,0.000000,0,2022-12-22
10,B,ICHI,0,XXX,SET,1500,14.30,15.80,0.00,0.000000,0,2022-12-22
11,B,III,0,XXX,SET,0,0.00,11.90,-0.30,-2.459016,0,2022-12-22
12,B,JASIF,0,RD35pct,SET,4000,6.50,6.70,-0.20,-2.898551,0,2023-08-21
13,B,JMT,0,RD30pct,SET50,1800,39.75,43.25,0.75,1.764706,0,2023-08-24
14,B,KTB,0,XXX,SET50,0,0.00,19.70,0.20,1.025641,0,2023-04-20
15,B,M,0,XXX,SET,0,0.00,48.25,0.00,0.000000,0,2022-12-22
16,B,MCS,0,RD60pct,SET,4000,6.00,6.10,-0.05,-0.813008,0,2023-03-17
17,B,NER,0,RD40pct,SET,5000,4.58,4.66,0.04,0.865801,0,2023-08-25
18,B,ORI,0,RD15pct,SET100,2000,9.50,10.10,-0.10,-0.980392,0,2023-08-28
19,B,PSH,0,XXX,SET,0,0.00,13.00,0.00,0.000000,0,2023-03-10
20,B,PTTEP,0,XXX,SET50,200,134.50,160.50,2.00,1.261830,0,2023-08-15
21,B,PTTGC,0,RD4,SET50,600,34.50,36.50,0.00,0.000000,0,2023-02-27
22,B,QH,0,XXX,SET100,0,0.00,2.32,0.02,0.869565,0,2023-08-23
23,B,SAPPE,0,XXX,SET,0,0.00,90.25,0.25,0.277778,0,2022-12-22
24,B,SC,0,XXX,SET,0,0.00,4.24,0.02,0.473934,0,2023-04-29
25,B,SENA,0,RD45pct,SET,7000,2.56,2.78,0.02,0.724638,0,2023-08-28
26,B,SINGER,0,RD70pct,SET100,3000,7.10,10.20,0.35,3.553299,0,2023-08-03
27,B,SIRI,0,XXX,SET,0,0.00,1.89,0.00,0.000000,0,2022-12-22
28,B,STA,0,RD70pct,SET100,2500,12.70,13.20,0.20,1.538462,0,2023-08-24
29,B,SYNEX,0,RD65pct,SET,2000,10.00,11.80,0.20,1.724138,0,2023-08-25
30,B,TMT,0,RD40pct,SET,3000,6.30,7.15,0.05,0.704225,0,2023-08-24
31,B,TOA,0,XXX,SET,0,0.00,27.25,0.75,2.830189,0,2022-12-22
32,B,TTB,0,XXX,SET50,15000,1.64,1.77,0.00,0.000000,0,2022-12-22
33,B,WHAIR,0,RD25pct,SET,3000,6.70,6.75,-0.05,-0.735294,0,2023-08-18
34,S,AIMIRT,0,XXX,SET,10000,11.30,11.20,0.00,0.000000,0,2023-08-23
35,S,ASK,0,XXX,SET,0,0.00,23.60,-0.40,-1.666667,0,2023-02-28
36,S,ASP,0,XXX,SET,0,0.00,2.94,0.00,0.000000,0,2023-08-28
37,S,BCH,0,XXX,SET100,0,0.00,18.60,-0.10,-0.534759,0,2023-08-31
38,S,CPNREIT,0,XXX,SET,5000,13.20,10.90,-0.10,-0.909091,0,2023-08-23
39,S,GVREIT,0,RD20pct,SET,6000,0.00,7.35,0.05,0.684932,0,2023-08-28
40,S,IVL,0,XXX,SET50,0,0.00,30.25,-0.25,-0.819672,0,2023-08-28
41,S,JMART,0,5pct,SET50,1200,20.60,20.10,0.70,3.608247,0,2023-08-24
42,S,KCE,0,XXX,SET100,0,0.00,46.50,0.00,0.000000,0,2023-08-21
43,S,PTG,0,5pct,SET100,3600,12.10,10.30,0.20,1.980198,0,2022-12-22
44,S,RCL,0,XXX,SET100,0,0.00,21.60,0.00,0.000000,0,2023-08-24
45,S,SCC,0,XXX,SET50,0,0.00,313.00,-1.00,-0.318471,0,2023-08-09
46,S,TFFIF,0,XXX,SET,20000,7.75,7.55,-0.05,-0.657895,0,2023-08-31
47,S,WHART,0,XXX,SET,10000,11.00,10.50,-0.30,-2.777778,0,2023-08-23

In [7]:
file_name = "Price-for-Order.csv"
output_file = data_path + file_name
osd_file = osd_path + file_name

df_merge[colo].to_csv(output_file, header=True, index=False)
df_merge[colo].to_csv(osd_file, header=True, index=False)

### End of Create Price-for-Order

In [8]:
%pwd

'C:\\Users\\User\\OneDrive\\A7\\Weekly'

In [9]:
os.chdir("C:\\users\\user\\onedrive\\a7")
%pwd

'C:\\users\\user\\onedrive\\a7'

### From Price-for-Order convert into orders-log with spread & active

In [10]:
!ruby ruby\\order-log-new.rb

trade,name,spd,reason,market,qty,target,current,change,%change,active,xdate
B,AH,-12,RD15pct,SET,600,31.0,34.0,-0.5,-1.449275,0,2023-08-29
B,AWC,-16,RD25pct,SET50,4000,3.66,3.98,0.0,0.0,0,2022-12-22
B,BBL,-33,XXX,SET50,400,155.0,171.5,0.5,0.292398,0,2023-09-08
B,BEM,-22,XXX,SET50,2500,7.8,8.9,0.1,1.136364,0,2022-12-22
B,BH,-1159,XXX,SET50,0,0.0,259.0,-2.0,-0.766284,0,2022-12-22
B,CK,-573,XXX,SET100,0,0.0,22.3,0.1,0.45045,0,2022-12-22
B,CPN,-764,XXX,SET50,0,0.0,66.0,-0.75,-1.123596,0,2022-12-22
B,DELTA,-903,XXX,SET50,0,0.0,101.5,2.0,2.01005,0,2022-12-22
B,DIF,1,RD35pct,SET,3000,9.2,9.15,-0.35,-3.684211,1,2023-08-15
B,HANA,-739,XXX,SET100,0,0.0,59.75,0.0,0.0,0,2022-12-22
B,ICHI,-15,XXX,SET,1500,14.3,15.8,0.0,0.0,0,2022-12-22
B,III,-469,XXX,SET,0,0.0,11.9,-0.3,-2.459016,0,2022-12-22
B,JASIF,-4,RD35pct,SET,4000,6.5,6.7,-0.2,-2.898551,1,2023-08-21
B,JMT,-14,RD30pct,SET50,1800,39.75,43.25,0.75,1.764706,0,2023-08-24
B,KTB,-547,XXX,SET50,0,0.0,19.7,0.2,1.025641,0,2023-04-20
B,M,-693,XXX,SET,0,0.0,48.25,0.0,0.0,0,2022-12-22
B,MCS,-2,RD60pct,SET,4000,6.0,6.1,-0.05,-0.813008,1,2023-03-17
B,NER,-4,RD40pct,SET,5000,4.58,4.66,0.04,0.865801,1,2023-08-25
B,ORI,-11,RD15pct,SET100,2000,9.5,10.1,-0.1,-0.980392,0,2023-08-28
B,PSH,-480,XXX,SET,0,0.0,13.0,0.0,0.0,0,2023-03-10
B,PTTEP,-52,XXX,SET50,200,134.5,160.5,2.0,1.26183,0,2023-08-15
B,PTTGC,-8,RD4,SET50,600,34.5,36.5,0.0,0.0,1,2023-02-27
B,QH,-216,XXX,SET100,0,0.0,2.32,0.02,0.869565,0,2023-08-23
B,SAPPE,-861,XXX,SET,0,0.0,90.25,0.25,0.277778,0,2022-12-22
B,SC,-312,XXX,SET,0,0.0,4.24,0.02,0.473934,0,2023-04-29
B,SENA,-11,RD45pct,SET,7000,2.56,2.78,0.02,0.724638,0,2023-08-28
B,SINGER,-60,RD70pct,SET100,3000,7.1,10.2,0.35,3.553299,0,2023-08-03
B,SIRI,-189,XXX,SET,0,0.0,1.89,0.0,0.0,0,2022-12-22
B,STA,-5,RD70pct,SET100,2500,12.7,13.2,0.2,1.538462,1,2023-08-24
B,SYNEX,-18,RD65pct,SET,2000,10.0,11.8,0.2,1.724138,0,2023-08-25
B,TMT,-17,RD40pct,SET,3000,6.3,7.15,0.05,0.704225,0,2023-08-24
B,TOA,-609,XXX,SET,0,0.0,27.25,0.75,2.830189,0,2022-12-22
B,TTB,-13,XXX,SET50,15000,1.64,1.77,0.0,0.0,0,2022-12-22
B,WHAIR,-1,RD25pct,SET,3000,6.7,6.75,-0.05,-0.735294,1,2023-08-18
S,AIMIRT,1,XXX,SET,10000,11.3,11.2,0.0,0.0,1,2023-08-23
S,ASK,-586,XXX,SET,0,0.0,23.6,-0.4,-1.666667,0,2023-02-28
S,ASP,-247,XXX,SET,0,0.0,2.94,0.0,0.0,0,2023-08-28
S,BCH,-536,XXX,SET100,0,0.0,18.6,-0.1,-0.534759,0,2023-08-31
S,CPNREIT,23,XXX,SET,5000,13.2,10.9,-0.1,-0.909091,0,2023-08-23
S,GVREIT,-397,RD20pct,SET,6000,0.0,7.35,0.05,0.684932,0,2023-08-28
S,IVL,-621,XXX,SET50,0,0.0,30.25,-0.25,-0.819672,0,2023-08-28
S,JMART,5,5pct,SET50,1200,20.6,20.1,0.7,3.608247,1,2023-08-24
S,KCE,-686,XXX,SET100,0,0.0,46.5,0.0,0.0,0,2023-08-21
S,PTG,18,5pct,SET100,3600,12.1,10.3,0.2,1.980198,0,2022-12-22
S,RCL,-566,XXX,SET100,0,0.0,21.6,0.0,0.0,0,2023-08-24
S,SCC,-1213,XXX,SET50,0,0.0,313.0,-1.0,-0.318471,0,2023-08-09
S,TFFIF,4,XXX,SET,20000,7.75,7.55,-0.05,-0.657895,1,2023-08-31
S,WHART,5,XXX,SET,10000,11.0,10.5,-0.3,-2.777778,1,2023-08-23

In [11]:
os.chdir("C:\\users\\user\\onedrive\\a7\\weekly")
%pwd

'C:\\users\\user\\onedrive\\a7\\weekly'

In [12]:
file_name   = 'orders-log.csv'
input_file = data_path + file_name
#col_names   = ['trade','name','spreads','reason','market','qty','target_price','set_price','chg_amt','chg_pct','active']
df_log = pd.read_csv(input_file, sep=',',  index_col=None)
df_log

,trade,name,spd,reason,market,qty,target,current,change,%change,active,xdate
0,B,AH,-12,RD15pct,SET,600,31.00,34.00,-0.50,-1.449275,0,2023-08-29
1,B,AWC,-16,RD25pct,SET50,4000,3.66,3.98,0.00,0.000000,0,2022-12-22
2,B,BBL,-33,XXX,SET50,400,155.00,171.50,0.50,0.292398,0,2023-09-08
3,B,BEM,-22,XXX,SET50,2500,7.80,8.90,0.10,1.136364,0,2022-12-22
4,B,BH,-1159,XXX,SET50,0,0.00,259.00,-2.00,-0.766284,0,2022-12-22
5,B,CK,-573,XXX,SET100,0,0.00,22.30,0.10,0.450450,0,2022-12-22
6,B,CPN,-764,XXX,SET50,0,0.00,66.00,-0.75,-1.123596,0,2022-12-22
7,B,DELTA,-903,XXX,SET50,0,0.00,101.50,2.00,2.010050,0,2022-12-22
8,B,DIF,1,RD35pct,SET,3000,9.20,9.15,-0.35,-3.684211,1,2023-08-15
9,B,HANA,-739,XXX,SET100,0,0.00,59.75,0.00,0.000000,0,2022-12-22
10,B,ICHI,-15,XXX,SET,1500,14.30,15.80,0.00,0.000000,0,2022-12-22
11,B,III,-469,XXX,SET,0,0.00,11.90,-0.30,-2.459016,0,2022-12-22
12,B,JASIF,-4,RD35pct,SET,4000,6.50,6.70,-0.20,-2.898551,1,2023-08-21
13,B,JMT,-14,RD30pct,SET50,1800,39.75,43.25,0.75,1.764706,0,2023-08-24
14,B,KTB,-547,XXX,SET50,0,0.00,19.70,0.20,1.025641,0,2023-04-20
15,B,M,-693,XXX,SET,0,0.00,48.25,0.00,0.000000,0,2022-12-22
16,B,MCS,-2,RD60pct,SET,4000,6.00,6.10,-0.05,-0.813008,1,2023-03-17
17,B,NER,-4,RD40pct,SET,5000,4.58,4.66,0.04,0.865801,1,2023-08-25
18,B,ORI,-11,RD15pct,SET100,2000,9.50,10.10,-0.10,-0.980392,0,2023-08-28
19,B,PSH,-480,XXX,SET,0,0.00,13.00,0.00,0.000000,0,2023-03-10
20,B,PTTEP,-52,XXX,SET50,200,134.50,160.50,2.00,1.261830,0,2023-08-15
21,B,PTTGC,-8,RD4,SET50,600,34.50,36.50,0.00,0.000000,1,2023-02-27
22,B,QH,-216,XXX,SET100,0,0.00,2.32,0.02,0.869565,0,2023-08-23
23,B,SAPPE,-861,XXX,SET,0,0.00,90.25,0.25,0.277778,0,2022-12-22
24,B,SC,-312,XXX,SET,0,0.00,4.24,0.02,0.473934,0,2023-04-29
25,B,SENA,-11,RD45pct,SET,7000,2.56,2.78,0.02,0.724638,0,2023-08-28
26,B,SINGER,-60,RD70pct,SET100,3000,7.10,10.20,0.35,3.553299,0,2023-08-03
27,B,SIRI,-189,XXX,SET,0,0.00,1.89,0.00,0.000000,0,2022-12-22
28,B,STA,-5,RD70pct,SET100,2500,12.70,13.20,0.20,1.538462,1,2023-08-24
29,B,SYNEX,-18,RD65pct,SET,2000,10.00,11.80,0.20,1.724138,0,2023-08-25
30,B,TMT,-17,RD40pct,SET,3000,6.30,7.15,0.05,0.704225,0,2023-08-24
31,B,TOA,-609,XXX,SET,0,0.00,27.25,0.75,2.830189,0,2022-12-22
32,B,TTB,-13,XXX,SET50,15000,1.64,1.77,0.00,0.000000,0,2022-12-22
33,B,WHAIR,-1,RD25pct,SET,3000,6.70,6.75,-0.05,-0.735294,1,2023-08-18
34,S,AIMIRT,1,XXX,SET,10000,11.30,11.20,0.00,0.000000,1,2023-08-23
35,S,ASK,-586,XXX,SET,0,0.00,23.60,-0.40,-1.666667,0,2023-02-28
36,S,ASP,-247,XXX,SET,0,0.00,2.94,0.00,0.000000,0,2023-08-28
37,S,BCH,-536,XXX,SET100,0,0.00,18.60,-0.10,-0.534759,0,2023-08-31
38,S,CPNREIT,23,XXX,SET,5000,13.20,10.90,-0.10,-0.909091,0,2023-08-23
39,S,GVREIT,-397,RD20pct,SET,6000,0.00,7.35,0.05,0.684932,0,2023-08-28
40,S,IVL,-621,XXX,SET50,0,0.00,30.25,-0.25,-0.819672,0,2023-08-28
41,S,JMART,5,5pct,SET50,1200,20.60,20.10,0.70,3.608247,1,2023-08-24
42,S,KCE,-686,XXX,SET100,0,0.00,46.50,0.00,0.000000,0,2023-08-21
43,S,PTG,18,5pct,SET100,3600,12.10,10.30,0.20,1.980198,0,2022-12-22
44,S,RCL,-566,XXX,SET100,0,0.00,21.60,0.00,0.000000,0,2023-08-24
45,S,SCC,-1213,XXX,SET50,0,0.00,313.00,-1.00,-0.318471,0,2023-08-09
46,S,TFFIF,4,XXX,SET,20000,7.75,7.55,-0.05,-0.657895,1,2023-08-31
47,S,WHART,5,XXX,SET,10000,11.00,10.50,-0.30,-2.777778,1,2023-08-23

In [13]:
df_log.groupby('active')['trade'].count()

active
0    37
1    11
Name: trade, dtype: int64

In [14]:
sql = '''
DELETE FROM orders'''
rp = conlite.execute(sql)
rp.rowcount

50

In [15]:
colt = 'trade name qty target active reason market xdate'.split()
final = df_log[colt]
final

   trade     name    qty  target  active   reason  market       xdate
0      B       AH    600   31.00       0  RD15pct     SET  2023-08-29
1      B      AWC   4000    3.66       0  RD25pct   SET50  2022-12-22
2      B      BBL    400  155.00       0      XXX   SET50  2023-09-08
3      B      BEM   2500    7.80       0      XXX   SET50  2022-12-22
4      B       BH      0    0.00       0      XXX   SET50  2022-12-22
5      B       CK      0    0.00       0      XXX  SET100  2022-12-22
6      B      CPN      0    0.00       0      XXX   SET50  2022-12-22
7      B    DELTA      0    0.00       0      XXX   SET50  2022-12-22
8      B      DIF   3000    9.20       1  RD35pct     SET  2023-08-15
9      B     HANA      0    0.00       0      XXX  SET100  2022-12-22
10     B     ICHI   1500   14.30       0      XXX     SET  2022-12-22
11     B      III      0    0.00       0      XXX     SET  2022-12-22
12     B    JASIF   4000    6.50       1  RD35pct     SET  2023-08-21
13     B      JMT   1800   39.75       0  RD30pct   SET50  2023-08-24
14     B      KTB      0    0.00       0      XXX   SET50  2023-04-20
15     B        M      0    0.00       0      XXX     SET  2022-12-22
16     B      MCS   4000    6.00       1  RD60pct     SET  2023-03-17
17     B      NER   5000    4.58       1  RD40pct     SET  2023-08-25
18     B      ORI   2000    9.50       0  RD15pct  SET100  2023-08-28
19     B      PSH      0    0.00       0      XXX     SET  2023-03-10
20     B    PTTEP    200  134.50       0      XXX   SET50  2023-08-15
21     B    PTTGC    600   34.50       1      RD4   SET50  2023-02-27
22     B       QH      0    0.00       0      XXX  SET100  2023-08-23
23     B    SAPPE      0    0.00       0      XXX     SET  2022-12-22
24     B       SC      0    0.00       0      XXX     SET  2023-04-29
25     B     SENA   7000    2.56       0  RD45pct     SET  2023-08-28
26     B   SINGER   3000    7.10       0  RD70pct  SET100  2023-08-03
27     B     SIRI      0    0.00       0      XXX     SET  2022-12-22
28     B      STA   2500   12.70       1  RD70pct  SET100  2023-08-24
29     B    SYNEX   2000   10.00       0  RD65pct     SET  2023-08-25
30     B      TMT   3000    6.30       0  RD40pct     SET  2023-08-24
31     B      TOA      0    0.00       0      XXX     SET  2022-12-22
32     B      TTB  15000    1.64       0      XXX   SET50  2022-12-22
33     B    WHAIR   3000    6.70       1  RD25pct     SET  2023-08-18
34     S   AIMIRT  10000   11.30       1      XXX     SET  2023-08-23
35     S      ASK      0    0.00       0      XXX     SET  2023-02-28
36     S      ASP      0    0.00       0      XXX     SET  2023-08-28
37     S      BCH      0    0.00       0      XXX  SET100  2023-08-31
38     S  CPNREIT   5000   13.20       0      XXX     SET  2023-08-23
39     S   GVREIT   6000    0.00       0  RD20pct     SET  2023-08-28
40     S      IVL      0    0.00       0      XXX   SET50  2023-08-28
41     S    JMART   1200   20.60       1     5pct   SET50  2023-08-24
42     S      KCE      0    0.00       0      XXX  SET100  2023-08-21
43     S      PTG   3600   12.10       0     5pct  SET100  2022-12-22
44     S      RCL      0    0.00       0      XXX  SET100  2023-08-24
45     S      SCC      0    0.00       0      XXX   SET50  2023-08-09
46     S    TFFIF  20000    7.75       1      XXX     SET  2023-08-31
47     S    WHART  10000   11.00       1      XXX     SET  2023-08-23

In [16]:
rcds = final.values.tolist()
rcds

[['B', 'AH', 600, 31.0, 0, 'RD15pct', 'SET', '2023-08-29'],
 ['B', 'AWC', 4000, 3.66, 0, 'RD25pct', 'SET50', '2022-12-22'],
 ['B', 'BBL', 400, 155.0, 0, 'XXX', 'SET50', '2023-09-08'],
 ['B', 'BEM', 2500, 7.8, 0, 'XXX', 'SET50', '2022-12-22'],
 ['B', 'BH', 0, 0.0, 0, 'XXX', 'SET50', '2022-12-22'],
 ['B', 'CK', 0, 0.0, 0, 'XXX', 'SET100', '2022-12-22'],
 ['B', 'CPN', 0, 0.0, 0, 'XXX', 'SET50', '2022-12-22'],
 ['B', 'DELTA', 0, 0.0, 0, 'XXX', 'SET50', '2022-12-22'],
 ['B', 'DIF', 3000, 9.2, 1, 'RD35pct', 'SET', '2023-08-15'],
 ['B', 'HANA', 0, 0.0, 0, 'XXX', 'SET100', '2022-12-22'],
 ['B', 'ICHI', 1500, 14.3, 0, 'XXX', 'SET', '2022-12-22'],
 ['B', 'III', 0, 0.0, 0, 'XXX', 'SET', '2022-12-22'],
 ['B', 'JASIF', 4000, 6.5, 1, 'RD35pct', 'SET', '2023-08-21'],
 ['B', 'JMT', 1800, 39.75, 0, 'RD30pct', 'SET50', '2023-08-24'],
 ['B', 'KTB', 0, 0.0, 0, 'XXX', 'SET50', '2023-04-20'],
 ['B', 'M', 0, 0.0, 0, 'XXX', 'SET', '2022-12-22'],
 ['B', 'MCS', 4000, 6.0, 1, 'RD60pct', 'SET', '2023-03-17'],
 ['B', 'NER', 5000, 4.58, 1, 'RD40pct', 'SET', '2023-08-25'],
 ['B', 'ORI', 2000, 9.5, 0, 'RD15pct', 'SET100', '2023-08-28'],
 ['B', 'PSH', 0, 0.0, 0, 'XXX', 'SET', '2023-03-10'],
 ['B', 'PTTEP', 200, 134.5, 0, 'XXX', 'SET50', '2023-08-15'],
 ['B', 'PTTGC', 600, 34.5, 1, 'RD4', 'SET50', '2023-02-27'],
 ['B', 'QH', 0, 0.0, 0, 'XXX', 'SET100', '2023-08-23'],
 ['B', 'SAPPE', 0, 0.0, 0, 'XXX', 'SET', '2022-12-22'],
 ['B', 'SC', 0, 0.0, 0, 'XXX', 'SET', '2023-04-29'],
 ['B', 'SENA', 7000, 2.56, 0, 'RD45pct', 'SET', '2023-08-28'],
 ['B', 'SINGER', 3000, 7.1, 0, 'RD70pct', 'SET100', '2023-08-03'],
 ['B', 'SIRI', 0, 0.0, 0, 'XXX', 'SET', '2022-12-22'],
 ['B', 'STA', 2500, 12.7, 1, 'RD70pct', 'SET100', '2023-08-24'],
 ['B', 'SYNEX', 2000, 10.0, 0, 'RD65pct', 'SET', '2023-08-25'],
 ['B', 'TMT', 3000, 6.3, 0, 'RD40pct', 'SET', '2023-08-24'],
 ['B', 'TOA', 0, 0.0, 0, 'XXX', 'SET', '2022-12-22'],
 ['B', 'TTB', 15000, 1.64, 0, 'XXX', 'SET50', '2022-12-22'],
 ['B', 'WHAIR', 3000, 6.7, 1, 'RD25pct', 'SET', '2023-08-18'],
 ['S', 'AIMIRT', 10000, 11.3, 1, 'XXX', 'SET', '2023-08-23'],
 ['S', 'ASK', 0, 0.0, 0, 'XXX', 'SET', '2023-02-28'],
 ['S', 'ASP', 0, 0.0, 0, 'XXX', 'SET', '2023-08-28'],
 ['S', 'BCH', 0, 0.0, 0, 'XXX', 'SET100', '2023-08-31'],
 ['S', 'CPNREIT', 5000, 13.2, 0, 'XXX', 'SET', '2023-08-23'],
 ['S', 'GVREIT', 6000, 0.0, 0, 'RD20pct', 'SET', '2023-08-28'],
 ['S', 'IVL', 0, 0.0, 0, 'XXX', 'SET50', '2023-08-28'],
 ['S', 'JMART', 1200, 20.6, 1, '5pct', 'SET50', '2023-08-24'],
 ['S', 'KCE', 0, 0.0, 0, 'XXX', 'SET100', '2023-08-21'],
 ['S', 'PTG', 3600, 12.1, 0, '5pct', 'SET100', '2022-12-22'],
 ['S', 'RCL', 0, 0.0, 0, 'XXX', 'SET100', '2023-08-24'],
 ['S', 'SCC', 0, 0.0, 0, 'XXX', 'SET50', '2023-08-09'],
 ['S', 'TFFIF', 20000, 7.75, 1, 'XXX', 'SET', '2023-08-31'],
 ['S', 'WHART', 10000, 11.0, 1, 'XXX', 'SET', '2023-08-23']]

In [17]:
for rcd in rcds:
    print(rcd)

['B', 'AH', 600, 31.0, 0, 'RD15pct', 'SET', '2023-08-29']
['B', 'AWC', 4000, 3.66, 0, 'RD25pct', 'SET50', '2022-12-22']
['B', 'BBL', 400, 155.0, 0, 'XXX', 'SET50', '2023-09-08']
['B', 'BEM', 2500, 7.8, 0, 'XXX', 'SET50', '2022-12-22']
['B', 'BH', 0, 0.0, 0, 'XXX', 'SET50', '2022-12-22']
['B', 'CK', 0, 0.0, 0, 'XXX', 'SET100', '2022-12-22']
['B', 'CPN', 0, 0.0, 0, 'XXX', 'SET50', '2022-12-22']
['B', 'DELTA', 0, 0.0, 0, 'XXX', 'SET50', '2022-12-22']
['B', 'DIF', 3000, 9.2, 1, 'RD35pct', 'SET', '2023-08-15']
['B', 'HANA', 0, 0.0, 0, 'XXX', 'SET100', '2022-12-22']
['B', 'ICHI', 1500, 14.3, 0, 'XXX', 'SET', '2022-12-22']
['B', 'III', 0, 0.0, 0, 'XXX', 'SET', '2022-12-22']
['B', 'JASIF', 4000, 6.5, 1, 'RD35pct', 'SET', '2023-08-21']
['B', 'JMT', 1800, 39.75, 0, 'RD30pct', 'SET50', '2023-08-24']
['B', 'KTB', 0, 0.0, 0, 'XXX', 'SET50', '2023-04-20']
['B', 'M', 0, 0.0, 0, 'XXX', 'SET', '2022-12-22']
['B', 'MCS', 4000, 6.0, 1, 'RD60pct', 'SET', '2023-03-17']
['B', 'NER', 5000, 4.58, 1, 'RD40pct', 'SET', '2023-08-25']
['B', 'ORI', 2000, 9.5, 0, 'RD15pct', 'SET100', '2023-08-28']
['B', 'PSH', 0, 0.0, 0, 'XXX', 'SET', '2023-03-10']
['B', 'PTTEP', 200, 134.5, 0, 'XXX', 'SET50', '2023-08-15']
['B', 'PTTGC', 600, 34.5, 1, 'RD4', 'SET50', '2023-02-27']
['B', 'QH', 0, 0.0, 0, 'XXX', 'SET100', '2023-08-23']
['B', 'SAPPE', 0, 0.0, 0, 'XXX', 'SET', '2022-12-22']
['B', 'SC', 0, 0.0, 0, 'XXX', 'SET', '2023-04-29']
['B', 'SENA', 7000, 2.56, 0, 'RD45pct', 'SET', '2023-08-28']
['B', 'SINGER', 3000, 7.1, 0, 'RD70pct', 'SET100', '2023-08-03']
['B', 'SIRI', 0, 0.0, 0, 'XXX', 'SET', '2022-12-22']
['B', 'STA', 2500, 12.7, 1, 'RD70pct', 'SET100', '2023-08-24']
['B', 'SYNEX', 2000, 10.0, 0, 'RD65pct', 'SET', '2023-08-25']
['B', 'TMT', 3000, 6.3, 0, 'RD40pct', 'SET', '2023-08-24']
['B', 'TOA', 0, 0.0, 0, 'XXX', 'SET', '2022-12-22']
['B', 'TTB', 15000, 1.64, 0, 'XXX', 'SET50', '2022-12-22']
['B', 'WHAIR', 3000, 6.7, 1, 'RD25pct', 'SET', '2023-08-18']
['S', 'AIMIRT', 10000, 11.3, 1, 'XXX', 'SET', '2023-08-23']
['S', 'ASK', 0, 0.0, 0, 'XXX', 'SET', '2023-02-28']
['S', 'ASP', 0, 0.0, 0, 'XXX', 'SET', '2023-08-28']
['S', 'BCH', 0, 0.0, 0, 'XXX', 'SET100', '2023-08-31']
['S', 'CPNREIT', 5000, 13.2, 0, 'XXX', 'SET', '2023-08-23']
['S', 'GVREIT', 6000, 0.0, 0, 'RD20pct', 'SET', '2023-08-28']
['S', 'IVL', 0, 0.0, 0, 'XXX', 'SET50', '2023-08-28']
['S', 'JMART', 1200, 20.6, 1, '5pct', 'SET50', '2023-08-24']
['S', 'KCE', 0, 0.0, 0, 'XXX', 'SET100', '2023-08-21']
['S', 'PTG', 3600, 12.1, 0, '5pct', 'SET100', '2022-12-22']
['S', 'RCL', 0, 0.0, 0, 'XXX', 'SET100', '2023-08-24']
['S', 'SCC', 0, 0.0, 0, 'XXX', 'SET50', '2023-08-09']
['S', 'TFFIF', 20000, 7.75, 1, 'XXX', 'SET', '2023-08-31']
['S', 'WHART', 10000, 11.0, 1, 'XXX', 'SET', '2023-08-23']

In [18]:
sql = """
INSERT INTO orders (trade, name, qty, price, active, reason, market, xdate)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)
"""
print(sql)

INSERT INTO orders (trade, name, qty, price, active, reason, market, xdate)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)

In [19]:
for rcd in rcds:
    conlite.execute(sql, rcd)

In [20]:
sql = '''
SELECT *
FROM orders
ORDER BY trade, name'''
df_orders = pd.read_sql(sql, conlite)
df_tab = pn.widgets.Tabulator(df_orders, layout='fit_data', width=800)
df_tab

Tabulator(layout='fit_data', value=    id trade  ..., width=800)

In [21]:
df_orders.query('active == 0')

    id trade     name    qty   price  active   reason  market       xdate
0    1     B       AH    600   31.00       0  RD15pct     SET  2023-08-29
1    2     B      AWC   4000    3.66       0  RD25pct   SET50  2022-12-22
2    3     B      BBL    400  155.00       0      XXX   SET50  2023-09-08
3    4     B      BEM   2500    7.80       0      XXX   SET50  2022-12-22
4    5     B       BH      0    0.00       0      XXX   SET50  2022-12-22
5    6     B       CK      0    0.00       0      XXX  SET100  2022-12-22
6    7     B      CPN      0    0.00       0      XXX   SET50  2022-12-22
7    8     B    DELTA      0    0.00       0      XXX   SET50  2022-12-22
9   10     B     HANA      0    0.00       0      XXX  SET100  2022-12-22
10  11     B     ICHI   1500   14.30       0      XXX     SET  2022-12-22
11  12     B      III      0    0.00       0      XXX     SET  2022-12-22
13  14     B      JMT   1800   39.75       0  RD30pct   SET50  2023-08-24
14  15     B      KTB      0    0.00       0      XXX   SET50  2023-04-20
15  16     B        M      0    0.00       0      XXX     SET  2022-12-22
18  19     B      ORI   2000    9.50       0  RD15pct  SET100  2023-08-28
19  20     B      PSH      0    0.00       0      XXX     SET  2023-03-10
20  21     B    PTTEP    200  134.50       0      XXX   SET50  2023-08-15
22  23     B       QH      0    0.00       0      XXX  SET100  2023-08-23
23  24     B    SAPPE      0    0.00       0      XXX     SET  2022-12-22
24  25     B       SC      0    0.00       0      XXX     SET  2023-04-29
25  26     B     SENA   7000    2.56       0  RD45pct     SET  2023-08-28
26  27     B   SINGER   3000    7.10       0  RD70pct  SET100  2023-08-03
27  28     B     SIRI      0    0.00       0      XXX     SET  2022-12-22
29  30     B    SYNEX   2000   10.00       0  RD65pct     SET  2023-08-25
30  31     B      TMT   3000    6.30       0  RD40pct     SET  2023-08-24
31  32     B      TOA      0    0.00       0      XXX     SET  2022-12-22
32  33     B      TTB  15000    1.64       0      XXX   SET50  2022-12-22
35  36     S      ASK      0    0.00       0      XXX     SET  2023-02-28
36  37     S      ASP      0    0.00       0      XXX     SET  2023-08-28
37  38     S      BCH      0    0.00       0      XXX  SET100  2023-08-31
38  39     S  CPNREIT   5000   13.20       0      XXX     SET  2023-08-23
39  40     S   GVREIT   6000    0.00       0  RD20pct     SET  2023-08-28
40  41     S      IVL      0    0.00       0      XXX   SET50  2023-08-28
42  43     S      KCE      0    0.00       0      XXX  SET100  2023-08-21
43  44     S      PTG   3600   12.10       0     5pct  SET100  2022-12-22
44  45     S      RCL      0    0.00       0      XXX  SET100  2023-08-24
45  46     S      SCC      0    0.00       0      XXX   SET50  2023-08-09

In [22]:
cols = 'trade name qty price active reason market xdate'.split()
file_name = 'orders.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

df_orders[cols].sort_values(['trade','name'],ascending=[True,True]).to_csv(output_file, header=True, index=False)
df_orders[cols].sort_values(['trade','name'],ascending=[True,True]).to_csv(data_file, header=True, index=False)
df_orders[cols].sort_values(['trade','name'],ascending=[True,True]).to_csv(box_file, header=True, index=False)
df_orders[cols].sort_values(['trade','name'],ascending=[True,True]).to_csv(one_file, header=True, index=False)
df_orders[cols].sort_values(['trade','name'],ascending=[True,True]).to_csv(osd_file, header=True, index=False)

In [23]:
df_orders.shape

(48, 9)