In [1]:
stock_name = 'WHAIR'

In [2]:
from bs4 import BeautifulSoup
from pandas.tseries.offsets import *
from sqlalchemy import create_engine
from datetime import date, timedelta
import pandas as pd
import requests
import os

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

# Get the current directory
current_dir = os.getcwd()
current_dir

'C:\\Users\\User\\OneDrive\\A7\\Weekly'

In [3]:
# Get the parent directory of the current directory
parent_dir = os.path.dirname(current_dir)
parent_dir

'C:\\Users\\User\\OneDrive\\A7'

In [4]:
# Construct the output directory by joining the parent directory and the sibling directory "output"
output_dir = os.path.join(parent_dir, "Fig\\Stocks\\")
output_dir

'C:\\Users\\User\\OneDrive\\A7\\Fig\\Stocks\\'

### Stock table

In [5]:
sql = """
SELECT max_price, min_price, pe, pbv, daily_volume, beta, price, updated_at
FROM stocks
WHERE name = '%s'
"""
sql = sql % stock_name

df_stk = pd.read_sql(sql, conpg)
list_stk = df_stk.values.tolist()
list_stk

[[9.06,
  7.02,
  999.99,
  0.86,
  8.85,
  0.24,
  7.95,
  Timestamp('2023-01-21 03:14:02.806103')]]

In [6]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date1

Timestamp('2023-01-21 10:14:02.806103')

### Consensus table

In [7]:
sql = '''
SELECT target_price, pe, pbv, buy, hold, sell, yield AS yld
FROM consensus
WHERE name = '%s'
'''
sql = sql % stock_name

df_css = pd.read_sql(sql, conpg)
list_css = df_css.values.tolist()
list_css

[[8.2, 10.2, 0.9, 0.0, 1.0, 0.0, 8.1]]

In [8]:
max_price = list_stk[0][0]
min_price = list_stk[0][1]
stk_pe = list_stk[0][2]
stk_pbv = list_stk[0][3]
daily_volume = list_stk[0][4]
beta = list_stk[0][5]
price = list_stk[0][6]
date1 = list_stk[0][7]
date1,price

(Timestamp('2023-01-21 03:14:02.806103'), 7.95)

### Ruby time is in UTC, so must add 7 hours to get Thailand time

In [9]:
added_seconds = timedelta(0, 7*60*60)
date1 = list_stk[0][7] + added_seconds
date2 = date1.date() - BDay(1)
date2

Timestamp('2023-01-20 00:00:00')

In [10]:
updated_at = date2.date()
updated_at

datetime.date(2023, 1, 20)

In [11]:
target_price = list_css[0][0]
css_pe = list_css[0][1]
css_pbv = list_css[0][2]
buy = int(list_css[0][3])
hold = int(list_css[0][4])
sell = int(list_css[0][5])
yld = list_css[0][6]
yld

8.1

In [12]:
buy = str(buy)
hold = str(hold)
sell = str(sell)
b_h_s = buy + '-' + hold + '-' + sell
b_h_s

'0-1-0'

In [13]:
up_to_max = str(round((max_price-price)/price*100,2))
up_to_max

'13.96'

In [14]:
target_price, price

(8.2, 7.95)

In [15]:
up_to_target = str(round((target_price-price)/price*100,2))
up_to_target

'3.14'

### Beautiful Soup Process

In [16]:
inp_file = stock_name + '.html'
out_file = output_dir + inp_file
url = 'http://www.santiwebsite.com/stocks/' + inp_file
#url = 'http://www.santiwebsite.com/stocks/' + 'COM-7.html'
out_file

'C:\\Users\\User\\OneDrive\\A7\\Fig\\Stocks\\WHAIR.html'

In [17]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>
   WHAIR
  </title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
    Data as end of
    <span id="date">
     2023-01-13
    </span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>
            Max
           </td>
<td id="max-price">
            9.06
           </td>
<td>
            Min
           </td>
<td id="min-price">
            7.02
           </td>
<td>
            P/E
           </td>
<td id="stk-pe">
            999.99
           </td>
<td>
            P/BV
           </td>
<td id="stk-pbv">
            0.81
           </td>
<td>
            Volume
           </td>
<td id="daily-volume">
            6.81
           </td>
<td>
            Beta
           </td>
<td id="beta">
            0.24
           </td>
</tr>
<!-- Consensus -->
<tr>
<td>
            Target
           </td>
<td id="target-price">
            8.2
           </td>
<td colspan="2">
</td>
<td>
            P/E
           </td>
<td id="css-pe">
            9.7
           </td>
<td>
            P/BV
           </td>
<td id="css-pbv">
            0.8
           </td>
<td>
            B-H-S
           </td>
<td id="b-h-s">
            0-1-0
           </td>
<td class="yield">
<a href="https://www.panphol.com/aio/WHAIR/dividend" target="_blank">
             Yield
            </a>
</td>
<td id="yld">
            8.6
           </td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/WHAIR.html" target="_blank">
             Price
            </a>
</td>
<td id="price">
            7.5
           </td>
<td colspan="3">
            Up to Max Percent
           </td>
<td id="up-to-max">
            20.8
           </td>
<td colspan="3">
            Up to Target Percent
           </td>
<td id="up-to-target">
            9.33
           </td>
<td colspan="2">
            SET
           </td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Whair 2022 3 q" class="card-img-top img-fluid" src="assets/WHAIR-2022-3-Q.png"/>
</div>
<div class="card-footer">
        Publish date: November-08, 2022
       </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        WHAIR Quarterly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Qtr Amt
           </th>
<th>
            YoY Amt
           </th>
<th>
            Qtr%
           </th>
<th>
            Acc Qtr
           </th>
<th>
            Acc YoY
           </th>
<th>
            Acc%
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2022
           </td>
<td>
            Q3
           </td>
<td>
            129,166
           </td>
<td>
            141,474
           </td>
<td>
            -8.7
           </td>
<td>
            389,988
           </td>
<td>
            559,889
           </td>
<td>
            -30.3
           </td>
</tr>
<tr>
<td>
            2022
           </td>
<td>
            Q2
           </td>
<td>
            124,797
           </td>
<td>
            168,247
           </td>
<td>
            -25.8
           </td>
<td>
            260,822
           </td>
<td>
            418,414
           </td>
<td>
            -37.7
           </td>
</tr>
<tr>
<td>
            2022
           </td>
<td>
            Q1
           </td>
<td>
            136,025
           </td>
<td>
            250,168
           </td>
<td>
            -45.6
           </td>
<td>
            136,025
           </td>
<td>
            250,168
           </td>
<td>
            -45.6
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q4
           </td>
<td>
            332,692
           </td>
<td>
            226,266
           </td>
<td>
            47.0
           </td>
<td>
            892,581
           </td>
<td>
            609,075
           </td>
<td>
            46.5
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            141,474
           </td>
<td>
            116,607
           </td>
<td>
            21.3
           </td>
<td>
            559,889
           </td>
<td>
            382,809
           </td>
<td>
            46.3
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q2
           </td>
<td>
            168,247
           </td>
<td>
            139,452
           </td>
<td>
            20.6
           </td>
<td>
            418,414
           </td>
<td>
            266,202
           </td>
<td>
            57.2
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q1
           </td>
<td>
            250,168
           </td>
<td>
            126,750
           </td>
<td>
            97.4
           </td>
<td>
            250,168
           </td>
<td>
            126,750
           </td>
<td>
            97.4
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q4
           </td>
<td>
            226,266
           </td>
<td>
            129,891
           </td>
<td>
            74.2
           </td>
<td>
            609,075
           </td>
<td>
            756,360
           </td>
<td>
            -19.5
           </td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Whair 2022 3 y" class="card-img-top img-fluid" src="assets/WHAIR-2022-3-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        WHAIR Yearly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Last Year Amt
           </th>
<th>
            This Year Amt
           </th>
<th>
            Profit
           </th>
<th>
            Pct
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2022
           </td>
<td>
            Q3
           </td>
<td>
            786 Million
           </td>
<td>
            723 Million
           </td>
<td>
            -63.5 Million
           </td>
<td>
            -8.1
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            513 Million
           </td>
<td>
            786 Million
           </td>
<td>
            273 Million
           </td>
<td>
            53.3
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q3
           </td>
<td>
            1.28 Billion
           </td>
<td>
            513 Million
           </td>
<td>
            -763 Million
           </td>
<td>
            -59.8
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q3
           </td>
<td>
            -664 Million
           </td>
<td>
            1.28 Billion
           </td>
<td>
            1.94 Billion
           </td>
<td>
            292.2
           </td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [18]:
tag_eps = soup.find_all("td")[10]
print(tag_eps)

<td>
            Beta
           </td>

In [19]:
tag_eps.string = 'Beta'

In [20]:
max_price_td = soup.find(id="max-price")
min_price_td = soup.find(id="min-price")
stk_pe_td = soup.find(id="stk-pe")
stk_pbv_td = soup.find(id="stk-pbv")
daily_volume_td = soup.find(id="daily-volume")
beta_td = soup.find(id="beta")
price_td = soup.find(id="price")
date_td = soup.find(id="date")
date_td

<span id="date">
     2023-01-13
    </span>

In [21]:
target_price_td = soup.find(id="target-price")
css_pe_td = soup.find(id="css-pe")
css_pbv_td = soup.find(id="css-pbv")
b_h_s_td = soup.find(id="b-h-s")
yld_td = soup.find(id="yld")
yld_td

<td id="yld">
            8.6
           </td>

In [22]:
up_to_max_td = soup.find(id="up-to-max")
up_to_target_td = soup.find(id="up-to-target")

In [23]:
max_price_td.string = str(max_price)
min_price_td.string = str(min_price)
stk_pe_td.string = str(stk_pe)
stk_pbv_td.string = str(stk_pbv)
daily_volume_td.string = str(daily_volume)
beta_td.string = str(beta)
date_td.string = str(updated_at)
max_price_td.string,min_price_td.string,stk_pe_td.string,stk_pbv_td.string,daily_volume_td.string,beta_td.string

('9.06', '7.02', '999.99', '0.86', '8.85', '0.24')

In [24]:
date_td.string

'2023-01-20'

In [25]:
target_price_td.string = str(target_price)
css_pe_td.string = str(css_pe)
css_pbv_td.string = str(css_pbv)
b_h_s_td.string = str(b_h_s)
yld_td.string = str(yld)
target_price_td.string,css_pe_td.string,css_pbv_td.string,b_h_s_td.string,yld_td.string

('8.2', '10.2', '0.9', '0-1-0', '8.1')

In [26]:
price_td.string = str(price)
up_to_max_td.string = str(up_to_max)
up_to_target_td.string = str(up_to_target)
price_td.string, up_to_max_td.string, up_to_target_td.string

('7.95', '13.96', '3.14')

In [27]:
#print(soup)

In [28]:
html = soup.prettify("utf-8")
with open(out_file, "wb") as file:
    file.write(html)

In [29]:
sql = """
SELECT *
FROM consensus
WHERE name = '%s'
"""
sql = sql % stock_name
tmp = pd.read_sql(sql, conpg)
tmp

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
0,716,WHAIR,7.95,0,1,0,0.78,0.0,10.2,0.9,8.1,8.2,X,217,2021-02-21 08:31:54.894760,2023-01-21 03:14:03.351040