In [1]:
stock_name = 'STA'

In [2]:
from bs4 import BeautifulSoup
from pandas.tseries.offsets import *
from sqlalchemy import create_engine
from datetime import date, timedelta
import pandas as pd
import requests
import os

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

# Get the current directory
current_dir = os.getcwd()
parent_dir = os.path.dirname(current_dir)
output_dir = os.path.join(parent_dir, "Fig\\Stocks\\")
today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2023, 9, 1), datetime.date(2023, 8, 31))

### Price table

In [3]:
sql = """
SELECT price, date
FROM price
WHERE name = '%s' AND date = '%s'
"""
sql = sql % (stock_name, today)

df_prc = pd.read_sql(sql, const)
list_price = df_prc.values.tolist()
price = list_price[0][0]
date = list_price[0][1]
price, date

(15.3, datetime.date(2023, 9, 1))

### Consensus table

In [4]:
data_path = "../data/"
file_name   = 'consensus-new.csv'
input_file = data_path + file_name
df_all = pd.read_csv(input_file, sep=',', index_col=None)
df_all.columns

Index(['Name', 'Target', 'Max', 'Min', 'Buy', 'Hold', 'Sell'], dtype='object')

In [5]:
df_css = df_all.query('Name == @stock_name').copy()
df_css

    Name  Target   Max   Min  Buy  Hold  Sell
143  STA   17.98  22.0  14.0    2     3     0

In [6]:
list_css = df_css.values.tolist()
list_css

[['STA', 17.98, 22.0, 14.0, 2, 3, 0]]

In [7]:
target_price = list_css[0][1]
max_price = list_css[0][2]
min_price = list_css[0][3]
stk_pe = '0.00'
css_pe = '0.00'
stk_pbv = '0.00'
css_pbv = '0.00'
daily_volume = '0.00'
beta = '0.00'
max_price,min_price

(22.0, 14.0)

In [8]:
buy = int(list_css[0][4])
hold = int(list_css[0][5])
sell = int(list_css[0][6])
yld = '0.00'
buy = str(buy)
hold = str(hold)
sell = str(sell)
b_h_s = buy + '-' + hold + '-' + sell
target_price,b_h_s

(17.98, '2-3-0')

In [9]:
up_to_max = str(round((max_price-price)/price*100,2))
up_to_target = str(round((target_price-price)/price*100,2))
up_to_max,up_to_target

('43.79', '17.52')

### Beautiful Soup Process

In [10]:
inp_file = stock_name + '.html'
out_file = output_dir + inp_file
url = 'http://www.santiwebsite.com/stocks/' + inp_file
#url = 'http://www.santiwebsite.com/stocks/' + 'COM-7.html'
out_file

'C:\\Users\\User\\OneDrive\\A7\\Fig\\Stocks\\STA.html'

In [11]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
#print(soup)

In [12]:
tag_eps = soup.find_all("td")[10]
print(tag_eps)

<td>
            Beta
           </td>

In [13]:
tag_eps.string = 'Beta'

In [14]:
max_price_td = soup.find(id="max-price")
min_price_td = soup.find(id="min-price")
stk_pe_td = soup.find(id="stk-pe")
stk_pbv_td = soup.find(id="stk-pbv")
daily_volume_td = soup.find(id="daily-volume")
beta_td = soup.find(id="beta")
price_td = soup.find(id="price")
date_td = soup.find(id="date")
date_td

<span id="date">
     2023-08-30
    </span>

In [15]:
type(date_td)

bs4.element.Tag

In [16]:
target_price_td = soup.find(id="target-price")
css_pe_td = soup.find(id="css-pe")
css_pbv_td = soup.find(id="css-pbv")
b_h_s_td = soup.find(id="b-h-s")
yld_td = soup.find(id="yld")
yld_td

<td id="yld">
            0.00
           </td>

In [17]:
up_to_max_td = soup.find(id="up-to-max")
up_to_target_td = soup.find(id="up-to-target")

In [18]:
max_price_td.string = str(max_price)
min_price_td.string = str(min_price)
stk_pe_td.string = str(stk_pe)
stk_pbv_td.string = str(stk_pbv)
daily_volume_td.string = str(daily_volume)
beta_td.string = str(beta)
date_td.string = str(date)
max_price_td.string,min_price_td.string,stk_pe_td.string,stk_pbv_td.string,daily_volume_td.string,beta_td.string

('22.0', '14.0', '0.00', '0.00', '0.00', '0.00')

In [19]:
target_price_td.string = str(target_price)
css_pe_td.string = str(css_pe)
css_pbv_td.string = str(css_pbv)
b_h_s_td.string = str(b_h_s)
yld_td.string = str(yld)
target_price_td.string,css_pe_td.string,css_pbv_td.string,b_h_s_td.string,yld_td.string

('17.98', '0.00', '0.00', '2-3-0', '0.00')

In [20]:
price_td.string = str(price)
up_to_max_td.string = str(up_to_max)
up_to_target_td.string = str(up_to_target)
price_td.string, up_to_max_td.string, up_to_target_td.string

('15.3', '43.79', '17.52')

In [21]:
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>
   STA
  </title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/yt-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
<h3 align="center">
    Data as end of
    <span id="date">2023-09-01</span>
</h3>
<!-- Start of max, target, price section -->
<section id="first-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-body">
<table class="table table-striped table-hover">
<tbody>
<tr>
<!-- Stock -->
<td>
            Max
           </td>
<td id="max-price">22.0</td>
<td>
            Min
           </td>
<td id="min-price">14.0</td>
<td>
            P/E
           </td>
<td id="stk-pe">0.00</td>
<td>
            P/BV
           </td>
<td id="stk-pbv">0.00</td>
<td>
            Volume
           </td>
<td id="daily-volume">0.00</td>
<td>Beta</td>
<td id="beta">0.00</td>
</tr>
<!-- Consensus -->
<tr>
<td>
            Target
           </td>
<td id="target-price">17.98</td>
<td colspan="2">
</td>
<td>
            P/E
           </td>
<td id="css-pe">0.00</td>
<td>
            P/BV
           </td>
<td id="css-pbv">0.00</td>
<td>
            B-H-S
           </td>
<td id="b-h-s">2-3-0</td>
<td class="yield">
<a href="https://www.panphol.com/aio/STA/dividend" target="_blank">
             Yield
            </a>
</td>
<td id="yld">0.00</td>
</tr>
<!-- Calculated Percent -->
<tr>
<td class="price">
<a href="https://www.santiwebsite.com/prices/STA.html" target="_blank">
             Price
            </a>
</td>
<td id="price">15.3</td>
<td colspan="3">
            Up to Max Percent
           </td>
<td id="up-to-max">43.79</td>
<td colspan="3">
            Up to Target Percent
           </td>
<td id="up-to-target">17.52</td>
<td colspan="2">
            SET100 / SETTHSI / SETWB
           </td>
</tr>
<!-- Portfolio -->
<!-- end of portfolio not nil -->
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image quarterly section -->
<section id="second-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Sta 2023 2 q" class="card-img-top img-fluid" src="assets/STA-2023-2-Q.png"/>
</div>
<div class="card-footer">
        Publish date: August-10, 2023
       </div>
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
<!-- end of row -->
</section>
<br/>
<!-- Start of quarterly profits section -->
<section id="third-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        STA Quarterly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Qtr Amt
           </th>
<th>
            YoY Amt
           </th>
<th>
            Qtr%
           </th>
<th>
            Acc Qtr
           </th>
<th>
            Acc YoY
           </th>
<th>
            Acc%
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2023
           </td>
<td>
            Q2
           </td>
<td>
            110,004
           </td>
<td>
            1,142,125
           </td>
<td>
            -90.4
           </td>
<td>
            397,926
           </td>
<td>
            2,651,144
           </td>
<td>
            -85.0
           </td>
</tr>
<tr>
<td>
            2023
           </td>
<td>
            Q1
           </td>
<td>
            287,922
           </td>
<td>
            1,509,018
           </td>
<td>
            -80.9
           </td>
<td>
            287,922
           </td>
<td>
            1,509,018
           </td>
<td>
            -80.9
           </td>
</tr>
<tr>
<td>
            2022
           </td>
<td>
            Q4
           </td>
<td>
            987,839
           </td>
<td>
            1,613,707
           </td>
<td>
            -38.8
           </td>
<td>
            4,794,868
           </td>
<td>
            15,846,701
           </td>
<td>
            -69.7
           </td>
</tr>
<tr>
<td>
            2022
           </td>
<td>
            Q3
           </td>
<td>
            1,155,885
           </td>
<td>
            3,230,783
           </td>
<td>
            -64.2
           </td>
<td>
            3,807,029
           </td>
<td>
            14,232,994
           </td>
<td>
            -73.3
           </td>
</tr>
<tr>
<td>
            2022
           </td>
<td>
            Q2
           </td>
<td>
            1,142,125
           </td>
<td>
            5,043,708
           </td>
<td>
            -77.4
           </td>
<td>
            2,651,144
           </td>
<td>
            11,022,211
           </td>
<td>
            -75.9
           </td>
</tr>
<tr>
<td>
            2022
           </td>
<td>
            Q1
           </td>
<td>
            1,509,018
           </td>
<td>
            5,958,503
           </td>
<td>
            -74.7
           </td>
<td>
            1,509,018
           </td>
<td>
            5,958,503
           </td>
<td>
            -74.7
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q4
           </td>
<td>
            1,613,707
           </td>
<td>
            5,498,947
           </td>
<td>
            -70.7
           </td>
<td>
            15,846,701
           </td>
<td>
            9,531,213
           </td>
<td>
            66.3
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q3
           </td>
<td>
            3,230,783
           </td>
<td>
            2,084,415
           </td>
<td>
            55.0
           </td>
<td>
            14,232,994
           </td>
<td>
            4,032,266
           </td>
<td>
            253.0
           </td>
</tr>
<!-- end of eps loop -->
</tbody>
</table>
</div>
<!-- end of card-body -->
</div>
<!-- end of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of image yearly section -->
<section id="fourth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card text-center text-white bg-dark">
<div class="card-body">
<img alt="Sta 2023 2 y" class="card-img-top img-fluid" src="assets/STA-2023-2-Y.png"/>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
<!-- Start of Yearly profits -->
<section id="fifth-sect">
<div class="row">
<div class="col-xs-12">
<div class="card">
<div class="card-header text-center">
        STA Yearly Profit
       </div>
<div class="card-body">
<table class="table table-striped table-hover">
<thead>
<tr>
<th>
            Year
           </th>
<th>
            Qtr
           </th>
<th>
            Last Year Amt
           </th>
<th>
            This Year Amt
           </th>
<th>
            Profit
           </th>
<th>
            Pct
           </th>
</tr>
</thead>
<tbody>
<tr>
<td>
            2023
           </td>
<td>
            Q2
           </td>
<td>
            7.5 Billion
           </td>
<td>
            2.54 Billion
           </td>
<td>
            -4.95 Billion
           </td>
<td>
            -66.1
           </td>
</tr>
<tr>
<td>
            2022
           </td>
<td>
            Q2
           </td>
<td>
            18.6 Billion
           </td>
<td>
            7.5 Billion
           </td>
<td>
            -11.1 Billion
           </td>
<td>
            -59.7
           </td>
</tr>
<tr>
<td>
            2021
           </td>
<td>
            Q2
           </td>
<td>
            2.16 Billion
           </td>
<td>
            18.6 Billion
           </td>
<td>
            16.4 Billion
           </td>
<td>
            761.7
           </td>
</tr>
<tr>
<td>
            2020
           </td>
<td>
            Q2
           </td>
<td>
            283 Million
           </td>
<td>
            2.16 Billion
           </td>
<td>
            1.87 Billion
           </td>
<td>
            662.2
           </td>
</tr>
<tr>
<td>
            2019
           </td>
<td>
            Q2
           </td>
<td>
            2.06 Billion
           </td>
<td>
            283 Million
           </td>
<td>
            -1.78 Billion
           </td>
<td>
            -86.3
           </td>
</tr>
<tr>
<td>
            2018
           </td>
<td>
            Q2
           </td>
<td>
            -3.47 Billion
           </td>
<td>
            2.06 Billion
           </td>
<td>
            5.53 Billion
           </td>
<td>
            159.4
           </td>
</tr>
<tr>
<td>
            2017
           </td>
<td>
            Q2
           </td>
<td>
            939 Million
           </td>
<td>
            -3.47 Billion
           </td>
<td>
            -4.4 Billion
           </td>
<td>
            -469.3
           </td>
</tr>
<tr>
<td>
            2016
           </td>
<td>
            Q2
           </td>
<td>
            1.28 Billion
           </td>
<td>
            939 Million
           </td>
<td>
            -346 Million
           </td>
<td>
            -26.9
           </td>
</tr>
<tr>
<td>
            2015
           </td>
<td>
            Q2
           </td>
<td>
            1.22 Billion
           </td>
<td>
            1.28 Billion
           </td>
<td>
            62.7 Million
           </td>
<td>
            5.1
           </td>
</tr>
<tr>
<td>
            2014
           </td>
<td>
            Q2
           </td>
<td>
            2.58 Billion
           </td>
<td>
            1.22 Billion
           </td>
<td>
            -1.36 Billion
           </td>
<td>
            -52.7
           </td>
</tr>
<tr>
<td>
            2013
           </td>
<td>
            Q2
           </td>
<td>
            -759 Million
           </td>
<td>
            2.58 Billion
           </td>
<td>
            3.34 Billion
           </td>
<td>
            440.1
           </td>
</tr>
</tbody>
</table>
</div>
<!-- enf of card-body -->
</div>
<!-- enf of card -->
</div>
<!-- end of col -->
</div>
</section>
<br/>
</div>
<!-- end of container div from application -->
</body>
</html>

In [22]:
html = soup.prettify("utf-8")
with open(out_file, "wb") as file:
    file.write(html)