In [1]:
import pandas as pd

# Set the display format for floating-point numbers
pd.options.display.float_format = '{:.2f}'.format

# Set the display format for integers
pd.options.display.int_format = '{:d}'.format

# Create a sample dataframe with both integer and floating-point columns
df = pd.DataFrame({
    'int_col': [1, 2, 3],
    'float_col': [1.234, 2.345, 3.456]
})

# Display the dataframe
print(df)

OptionError: 'You can only set the value of existing options'

In [3]:
import pandas as pd

# Create a sample dataframe with both integer and floating-point columns
df = pd.DataFrame({
    'int_col': [100000000000, 2, 3],
    'float_col': [1.234, 2.345, 3.456]
})

# Use the style.format method to format integer columns with zero decimal places
styled_df = df.style.format("{:.0f}", subset=pd.IndexSlice[:, df.dtypes == int])

# Display the styled dataframe
styled_df