In [38]:
import pandas as pd
import sidetable
my_dictionary  = {
        'A':['One','One','One','Two','Two','Two','Three','Three','Three'],
        'B':[1,2,-2,4,5,6,7,8,9]               
}
my_df = pd.DataFrame(my_dictionary)
my_df

       A  B
0    One  1
1    One  2
2    One -2
3    Two  4
4    Two  5
5    Two  6
6  Three  7
7  Three  8
8  Three  9

In [39]:
my_df.stb.freq(["A"], value="B")

       A   B  percent  cumulative_B  cumulative_percent
0  Three  24     60.0            24                60.0
1    Two  15     37.5            39                97.5
2    One   1      2.5            40               100.0

In [35]:
my_dictionary  = {
        'A':['Two','Two','Two'],
        'B':[1,2,3]               
}
my_df = pd.DataFrame(my_dictionary)
my_df

     A  B
0  Two  1
1  Two  2
2  Two  3

In [36]:
my_df.stb.freq(['A'],value='B')

     A  B  percent  cumulative_B  cumulative_percent
0  Two  6    100.0             6               100.0

In [13]:
my_dictionary  = {
        'A':['One','One','One'],
        'B':[1,2,3]               
}
my_df = pd.DataFrame(my_dictionary)
my_df

     A  B
0  One  1
1  One  2
2  One  3

In [14]:
my_df.stb.freq(['A'],value='B')

     A  B  percent  cumulative_B  cumulative_percent
0  One  6    100.0             6               100.0

In [37]:
import pandas as pd
import sidetable
my_dictionary  = {
        'A':['One','One','One','Two','Two','Two','Three','Three','Three'],
        'B':[1,2,-3,4,5,6,7,8,9]               
}
my_df = pd.DataFrame(my_dictionary)
my_df.stb.freq(['A'],value='B')

       A   B    percent  cumulative_B  cumulative_percent
0  Three  24  61.538462            24           61.538462
1    Two  15  38.461538            39          100.000000