In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

In [5]:
sql = '''
SELECT name, aq_eps AS eps 
FROM epss 
WHERE year = 2022 AND quarter = 4
'''
df2 = pd.read_sql(sql, conlt)
df2.head()

     name     eps
0      MC  0.6100
1   OISHI  3.1900
2     AOT -0.7800
3  GVREIT  0.7888
4   TFFIF  0.4051