In [2]:
#%load_ext nb_black
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

output_path = "../data/"
year = 2023
quarter = 2

### Profits

In [4]:
sql = """
SELECT *
FROM profits
ORDER BY name
LIMIT 1
"""
profits = pd.read_sql(sql, conmy)
profits.dtypes

id                  int64
name               object
year                int64
quarter             int64
kind                int64
latest_amt_y        int64
previous_amt_y      int64
inc_amt_y           int64
inc_pct_y         float64
latest_amt_q        int64
previous_amt_q      int64
inc_amt_q           int64
inc_pct_q         float64
q_amt_c             int64
y_amt               int64
inc_amt_py          int64
inc_pct_py        float64
q_amt_p             int64
inc_amt_pq          int64
inc_pct_pq        float64
ticker_id           int64
mean_pct          float64
std_pct           float64
dtype: object

In [5]:
sql = """
SELECT *
FROM profits
ORDER BY name
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(34, 23)

In [6]:
sql = """
SELECT P.name, T.id
FROM profits P
JOIN tickers T
ON P.name = T.name
ORDER BY P.name
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(34, 2)

In [7]:
sql = """
SELECT P.name, S.price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct
FROM profits P
JOIN tickers T
ON P.ticker_id = T.id
LEFT JOIN stocks S
ON S.ticker_id = T.id
ORDER BY P.name
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(34, 8)

In [8]:
sql = '''
SELECT name, market
FROM stocks
ORDER BY name'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.shape

(253, 2)

In [9]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))    
]
values = ['SET50','SET100','mai']

In [10]:
my_stocks["mrkt"] = np.select(filters, values, default='SET999')
my_stocks.head()

     name                   market    mrkt
0     ACE                   SET100  SET100
1  ADVANC  SET50 / SETHD / SETTHSI   SET50
2  AEONTS                   SET100  SET100
3      AH           sSET / SETTHSI  SET999
4     AIE                     sSET  SET999

In [11]:
df_merge = pd.merge(profits, my_stocks, on='name', how='inner')
df_merge.groupby('mrkt').count()

,name,price,inc_pct_y,inc_pct_q,inc_pct_py,inc_pct_pq,mean_pct,std_pct,market
mrkt,,,,,,,,,
SET100,9,9,9,9,9,9,9,9,9
SET50,12,12,12,12,12,12,12,12,12
SET999,13,13,13,13,13,13,13,13,13

In [12]:
df_tmp = pd.merge(profits, my_stocks, on='name', how='outer',indicator=True)
df_tmp[df_tmp._merge == 'left_only']

Empty DataFrame
Columns: [name, price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct, market, mrkt, _merge]
Index: []

In [13]:
set50 = df_merge[df_merge['mrkt'] == 'SET50']
set50.sort_values('name',ascending=True)

,name,price,inc_pct_y,inc_pct_q,inc_pct_py,inc_pct_pq,mean_pct,std_pct,market,mrkt
3,BBL,125.50,62.49,0.74,2.816197,12.663729,19.677482,29.011696,SET50 / SETHD / SETTHSI,SET50
5,BDMS,26.75,67.76,26.52,157.199267,30.622398,70.525416,60.686988,SET50 / SETCLMV / SETTHSI / SETWB,SET50
6,BH,174.50,248.93,52.14,695.594303,18.452364,253.779167,311.587968,SET50 / SETCLMV / SETWB,SET50
12,GLOBAL,21.80,53.28,5.71,19.754829,54.956470,33.425325,24.581972,SET50 / SETCLMV / SETTHSI / SETWB,SET50
13,GULF,46.75,49.07,22.98,107.982367,11.538973,47.892835,43.028635,SET50 / SETCLMV / SETTHSI,SET50
14,IVL,48.75,337.44,30.66,134.154717,160.962831,165.804387,127.472783,SET50 / SETTHSI,SET50
15,KBANK,144.50,18.01,1.53,5.496352,13.228587,9.566235,7.435388,SET50 / SETCLMV / SETTHSI,SET50
17,KTB,14.40,55.74,14.83,57.397952,77.601738,51.392422,26.323037,SET50 / SETHD / SETTHSI,SET50
18,KTC,59.00,12.52,1.93,6.944888,40.007789,15.350669,16.997625,SET50 / SETTHSI,SET50
30,TISCO,89.25,7.39,0.47,1.806731,0.231726,2.474614,3.349433,SET50 / SETHD / SETTHSI,SET50
31,TOP,58.75,18.73,30.39,113.769626,42.720652,51.402570,42.716314,SET50 / SETCLMV / SETTHSI,SET50
33,TTB,1.24,24.70,3.94,14.843842,14.130902,14.403686,8.480781,SET50 / SETHD / SETTHSI,SET50

In [14]:
set100 = df_merge[df_merge['mrkt'] == 'SET100']
set100.sort_values('name',ascending=True)

,name,price,inc_pct_y,inc_pct_q,inc_pct_py,inc_pct_pq,mean_pct,std_pct,market,mrkt
4,BCPG,12.00,53.09,41.76,160.441956,473.446309,182.184566,201.403914,SET100 / SETCLMV / SETHD / SETTHSI,SET100
7,BPP,16.00,33.23,60.25,182.193136,687.125060,240.699549,304.589555,SET100 / SETCLMV / SETHD / SETTHSI,SET100
9,ESSO,9.65,537.95,70.02,111.579992,686.270279,351.455068,307.477552,SET100,SET100
16,KKP,69.50,35.45,9.38,40.520211,1.581884,21.733024,19.146623,SET100 / SETCLMV / SETHD / SETTHSI,SET100
19,MEGA,54.00,58.39,14.41,84.079053,23.695190,45.143561,32.124887,SET100 / SETCLMV / SETWB,SET100
21,RBF,15.00,13.71,20.91,117.092547,57.359008,52.267889,47.251751,SET100 / SETCLMV / SETWB,SET100
22,RCL,46.25,397.50,29.38,179.528879,1.376304,151.946296,181.430648,SET100 / SETCLMV,SET100
24,SINGER,51.75,56.26,10.75,53.735370,1.267882,30.503313,28.565942,SET100,SET100
28,SPRC,11.80,87.78,69.08,163.470770,184.944662,126.318858,56.505988,SET100 / SETCLMV,SET100

### Tickers

In [2]:
name = 'BE8'
sql = """
SELECT * 
FROM tickers
WHERE name = '%s'
"""
sql = sql % name
ticker = pd.read_sql(sql, conlt)
ticker

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,745,BE8,BERYL 8 PLUS PUBLIC COMPANY LIMITED,Technology,Technology,mai,www.beryl8.com,2022-08-05 10:20:13.082282,2022-08-05 10:20:13.082282

In [5]:
sql = '''
SELECT * 
FROM tickers
ORDER BY id DESC
'''
tickers = pd.read_sql(sql, conlt)
tickers.head(30)

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,744,"BE8,BERYL 8 PLUS PUBLIC COMPANY LIMITED,Techno...",None,None,None,None,None,2022-08-05 10:14:28.315300,2022-08-05 10:14:28.315300
1,741,ONEE,THE ONE ENTERPRISE PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET100,www.theoneenterprise.com,2022-07-03 00:17:44.125032,2022-07-03 00:17:44.125032
2,740,KEX,KERRY EXPRESS (THAILAND) PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,SET100 / SETTHSI / SETWB,https://th.kerryexpress.com/th/home,2022-01-15 04:27:04.938108,2022-01-15 04:27:04.938108
3,739,UOBKH,UOB KAY HIAN SECURITIES (THAILAND) PUBLIC COMP...,Financials,Finance & Securities,SET,https://www.utrade.co.th/,2021-11-27 03:26:47.157332,2021-11-27 03:26:47.157332
4,738,INSET,INFRASET PUBLIC COMPANY LIMITED,Technology,Technology,mai,www.infraset.co.th,2021-11-27 02:52:23.150933,2021-11-27 02:52:23.150933
5,737,TYCN,"TYCOONS WORLDWIDE GROUP (THAILAND) PUBLIC CO.,...",Industrials,Steel and Metal Products,SET,www.tycons.com,2021-11-04 15:13:03.928246,2021-11-04 15:13:03.928246
6,736,IP,INTER PHARMA PUBLIC COMPANY LIMITED,Consumer Products,Consumer Products,mai,www.interpharma.co.th,2021-10-25 15:07:42.612339,2021-10-25 15:07:42.612339
7,735,STARK,STARK CORPORATION PUBLIC COMPANY LIMITED,Industrials,Industrial Materials & Machinery,SET100 / SETCLMV,www.starkcorporation.com,2021-08-29 06:31:32.544119,2022-01-15 03:54:13.128667
8,734,PSL,PRECIOUS SHIPPING PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,SET100,www.preciousshipping.com,2021-08-29 06:31:32.538618,2022-01-15 03:54:13.014148
9,733,NRF,NR INSTANT PRODUCE PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET,https://www.nrinstant.com/,2021-08-29 06:31:32.532534,2022-01-15 03:54:12.955641
10,732,AAV,ASIA AVIATION PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,sSET / SETTHSI,www.aavplc.com,2021-08-29 06:31:32.524107,2022-01-15 03:54:12.597048
11,731,SFLEX,STARFLEX PUBLIC COMPANY LIMITED,Industrials,Packaging,sSET,www.starflex.co.th,2021-08-22 15:11:51.518120,2021-08-22 15:11:51.518120
12,730,IMH,INTERMEDICAL CARE AND LAB HOSPITAL PUBLIC COMP...,Services,Services,mai,www.intermedthai.com/,2021-08-22 15:11:51.511917,2022-01-15 03:54:12.858021
13,729,BCT,BIRLA CARBON (THAILAND) PUBLIC COMPANY LIMITED,Industrials,Petrochemicals & Chemicals,SET,www.birlacarbon.com,2021-08-22 15:11:51.505205,2021-08-22 15:11:51.505205
14,728,ASW,ASSETWISE PUBLIC COMPANY LIMITED,Property & Construction,Property Development,sSET,www.assetwise.co.th,2021-08-22 15:11:51.493365,2022-01-15 03:54:12.640882
15,727,2S,2S METAL PUBLIC COMPANY LIMITED,Industrials,Steel and Metal Products,SET,www.ss.co.th,2021-08-22 15:11:51.474692,2021-08-22 15:11:51.474692
16,726,VNG,VANACHAI GROUP PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,sSET / SETCLMV,www.vanachai.com,2021-08-14 06:09:06.974701,2022-01-15 03:54:13.264053
17,725,ILM,INDEX LIVING MALL PUBLIC COMPANY LIMITED,Services,Commerce,sSET,www.indexlivingmall.com,2021-08-07 15:06:58.185702,2021-08-07 15:06:58.185702
18,724,LPF,LOTUS'S RETAIL GROWTH FREEHOLD AND LEASEHOLD P...,Property & Construction,Property Fund & REITs,SET,None,2021-07-07 03:34:13.818172,2021-07-07 03:34:13.818172
19,723,TIDLOR,NGERN TID LOR PUBLIC COMPANY LIMITED,Financials,Finance & Securities,SET50,www.ngerntidlor.com/th/home.html,2021-05-10 23:19:52.787664,2022-01-15 03:54:13.168709
20,722,RT,RIGHT TUNNELLING PUBLIC COMPANY LIMITED,Property & Construction,Construction Services,SET,No url,2021-03-30 03:05:46.299316,2021-03-30 03:05:46.299316
21,721,SABUY,SABUY TECHNOLOGY PUBLIC COMPANY LIMITED,Services,Commerce,SET,www.sabuytechnology.com,2021-03-16 02:33:57.952553,2022-01-15 03:54:13.051513
22,720,AIE,AI ENERGY PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,sSET,www.aienergy.co.th,2021-02-21 16:12:17.821078,2022-01-15 03:54:12.607554
23,719,AI,ASIAN INSULATORS PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,sSET,www.asianinsulators.com,2021-02-21 16:04:22.273045,2021-02-21 16:04:22.273045
24,718,TIF1,THAI INDUSTRIAL FUND 1,Property & Construction,Property Fund & REITs,SET,None,2021-02-21 15:09:46.968481,2021-02-21 15:09:46.968481
25,716,TQR,TQR PUBLIC COMPANY LIMITED,Financials,Financials,mai,https://www.tqr.co.th,2021-02-18 03:19:37.046524,2022-01-15 03:54:13.213584
26,715,OR,PTT OIL AND RETAIL BUSINESS PUBLIC COMPANY LIM...,Resources,Energy & Utilities,SET50 / SETCLMV,www.pttor.com,2021-02-12 02:29:19.989397,2022-01-15 03:54:12.962274
27,714,STGT,SRI TRANG GLOVES (THAILAND) PUBLIC COMPANY LIM...,Consumer Products,Personal Products & Pharmaceuticals,SET100 / SETTHSI,www.sritranggloves.com,2021-01-26 15:42:00.052117,2022-01-15 03:54:13.136033
28,713,SCGP,SCG PACKAGING PUBLIC COMPANY LIMITED,Industrials,Packaging,SET50 / SETCLMV / SETTHSI,www.scgpackaging.com,2021-01-26 15:41:59.936338,2022-01-15 03:54:13.069039
29,711,EP,EASTERN POWER GROUP PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,sSET,www.epco.co.th,2021-01-26 15:41:59.447003,2021-01-26 15:41:59.447003

In [7]:
id = 744
sqlDel = """
DELETE FROM tickers
WHERE id = %s"""
sqlDel = sqlDel % (id)
print(sqlDel)

DELETE FROM tickers
WHERE id = 744

In [8]:
rp = conlt.execute(sqlDel)
rp.rowcount

1

In [47]:
name = 'ALLY'
id = 742
sqlUpd = """
UPDATE tickers
SET name = '%s'
WHERE id = %s"""
sqlUpd = sqlUpd % (name, id)
print(sqlUpd)

UPDATE tickers
SET name = 'ALLY'
WHERE id = 742

In [48]:
rp = conlt.execute(sqlUpd)
rp.rowcount

1

In [16]:
rcds = tickers_inp.values.tolist()
len(rcds)

NameError: name 'tickers_inp' is not defined

In [ ]:
for rcd in rcds:
    print(rcd)

In [ ]:
for rcd in rcds:
    conmy.execute("""INSERT INTO tickers (id, name, full_name, sector, \
subsector, market, website, created_at, \
updated_at) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

In [ ]:
sql = 'SELECT * FROM tickers ORDER BY id'
tickers_out = pd.read_sql(sql, conmy)
tickers_out.tail()

### End of Tickers

### Stocks

In [12]:
name = 'BE8'
sql = """
SELECT * 
FROM stocks
WHERE name = '%s'
"""
sql = sql % name
stock = pd.read_sql(sql, conlt)
stock

,id,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
0,743,BE8,mai,56,56.25,23.1,126.07,17.43,100,11200,136.16,1.32,745,2022-08-05 10:22:48.605460,2022-08-05 10:22:48.605460

In [52]:
sql = 'SELECT * FROM stocks ORDER BY ticker_id DESC'
stocks = pd.read_sql(sql, conlt)
stocks.head(20)

,id,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
0,742,ONEE,SET100,9.35,13.10,8.70,25.14,3.14,4762.50,22264.69,118.03,1.63,741,2022-07-03 13:31:30.729630,2022-08-04 22:22:29.630998
1,741,KEX,SET100 / SETTHSI / SETWB,23.60,43.50,18.90,999.99,4.67,871.29,41124.82,152.78,1.00,740,2022-01-15 04:36:32.082499,2022-08-04 22:22:29.395656
2,738,TYCN,SET,2.98,4.86,2.84,7.51,0.40,4475.62,1778.31,3.73,0.64,737,2021-11-04 15:14:53.362758,2022-08-04 22:22:30.318399
3,737,IP,mai,18.00,23.50,17.00,46.04,6.78,149.01,5364.19,19.05,0.49,736,2021-10-25 15:09:34.943124,2022-08-04 22:22:29.328686
4,736,STARK,SET100,4.34,5.45,3.90,17.73,7.32,11906.40,51673.80,137.51,0.90,735,2021-08-29 06:33:06.037258,2022-08-04 22:22:30.027891
5,735,PSL,SET100,17.30,26.00,13.70,5.00,1.80,1559.29,26975.75,307.52,1.52,734,2021-08-29 06:33:06.028349,2022-08-04 22:22:29.721796
6,730,IMH,mai,15.20,23.30,9.45,5.98,3.40,107.50,3268.00,64.28,0.59,730,2021-08-22 15:13:48.565168,2022-08-04 22:22:29.289892
7,729,BCT,SET,52.00,59.00,44.00,3.64,0.62,300.00,15600.00,1.10,0.48,729,2021-08-22 15:13:48.558278,2022-08-04 22:22:28.819010
8,728,ASW,sSET,7.95,9.40,7.55,7.94,1.34,856.12,6806.16,23.75,0.47,728,2021-08-22 15:13:48.551164,2022-08-04 22:22:28.740081
9,726,VNG,sSET / SETCLMV,7.15,10.10,7.05,8.37,1.61,1735.24,12406.95,17.27,0.71,726,2021-08-14 06:10:33.126180,2022-08-04 22:22:30.348486
10,725,ILM,sSET,17.80,25.00,13.00,19.19,1.64,2525.00,8989.00,35.88,1.51,725,2021-08-07 15:08:49.110112,2022-08-04 22:22:29.280617
11,724,LPF,SET,13.60,16.30,10.30,999.99,1.08,23828.13,31787.05,8.85,0.40,724,2021-07-08 03:42:35.844952,2022-08-04 22:22:29.493479
12,723,TIDLOR,SET50,30.00,38.54,26.00,22.53,3.21,9240.14,74920.08,444.65,1.09,723,2021-05-10 23:22:11.366609,2022-08-04 22:22:30.126243
13,720,AIE,sSET,3.28,6.48,3.16,9.98,1.75,1316.23,4317.25,11.75,1.05,720,2021-02-21 16:12:26.224639,2022-08-04 22:22:28.655067
14,715,OR,SET50 / SETCLMV,26.75,30.50,23.80,28.37,3.10,120000.00,321000.00,625.75,0.81,715,2021-01-26 16:02:50.313775,2022-08-04 22:22:29.639355
15,714,STGT,SET100 / SETCLMV / SETTHSI,16.50,38.75,15.50,3.21,1.21,1432.59,47275.47,291.97,0.67,714,2021-01-26 16:02:50.313775,2022-08-04 22:22:30.042463
16,713,SCGP,SET50 / SETCLMV / SETTHSI,54.75,71.50,50.25,30.07,2.44,4292.92,235037.38,619.04,0.83,713,2021-01-26 16:02:50.200037,2022-08-04 22:22:29.885184
17,710,COTTO,SET,2.02,2.86,1.92,19.81,1.31,5962.62,12044.49,23.68,1.09,710,2021-01-26 16:02:49.598920,2022-08-04 22:22:28.992950
18,709,BAM,SET100,17.20,22.30,15.90,20.86,1.29,16160.21,55591.13,409.77,1.33,709,2021-01-26 16:02:49.459177,2022-08-04 22:22:28.764059
19,708,CRC,SET50 / SETCLMV / SETTHSI / SETWB,37.50,41.75,29.75,262.41,3.90,6031.00,226162.50,488.42,1.48,708,2020-02-21 03:37:48.997822,2022-08-04 22:22:29.040428

In [53]:
sql = 'SELECT * FROM stocks WHERE name LIKE "AI%"'
stocks = pd.read_sql(sql, conlt)
stocks.head(20)

,id,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
0,11,AIT,sSET,6.05,9.80,4.56,10.91,1.93,1031.60,6241.21,88.94,1.28,11,2017-07-23 07:24:21.511814,2022-08-04 22:22:28.669953
1,669,AIMIRT,SET,12.00,13.40,11.90,999.99,0.99,5954.81,7145.77,2.57,0.11,669,2018-06-21 02:41:10.139548,2022-08-04 22:22:28.662627
2,720,AIE,sSET,3.28,6.48,3.16,9.98,1.75,1316.23,4317.25,11.75,1.05,720,2021-02-21 16:12:26.224639,2022-08-04 22:22:28.655067

In [ ]:
rcds = stocks_inp.values.tolist()
len(rcds)

In [ ]:
for rcd in rcds:
    print(rcd)

In [ ]:
sql = 'DELETE FROM stocks'
rp = conmy.execute(sql)
rp.rowcount

In [ ]:
for rcd in rcds:
    conmy.execute("""INSERT INTO stocks (id, name, market, price, \
max_price, min_price, pe, pbv, paid_up, market_cap, daily_volume, beta, ticker_id, \
created_at, updated_at) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

In [ ]:
sql = 'SELECT * FROM stocks ORDER BY id'
stocks_out = pd.read_sql(sql, conmy)
stocks_out.tail()

### Consensus

In [ ]:
sql = 'SELECT * FROM consensus ORDER BY id'
consensus_inp = pd.read_sql(sql, conlt)
consensus_inp.tail()

In [ ]:
consensus_inp = consensus_inp.drop(['created_at', 'updated_at'], axis=1)

In [ ]:
rcds = consensus_inp.values.tolist()
len(rcds)

In [ ]:
len(consensus_inp.columns)

In [ ]:
for rcd in rcds:
    conmy.execute("""INSERT INTO consensus (id, name, price, buy, hold, sell, \
eps_a, eps_b, pe, pbv, yield, target_price, status, ticker_id) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

### Portfolios table

In [13]:
sql = "SELECT name, id AS ticker_id FROM tickers"
tickers = pd.read_sql(sql, conpg)
tickers.tail()

         name  ticker_id
620    SPRIME        674
621  SUPEREIF        675
622      THAI        527
623      TTCL        589
624     TTLPF        676

In [4]:
df_merge = pd.merge(portfolios, tickers, on="name", how="inner")
# df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)
df_merge.columns

NameError: name 'portfolios' is not defined

In [10]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

NameError: name 'df_merge' is not defined

In [16]:
rcds = df_ins.values.tolist()
len(rcds)

1

### Check common stocks in profits & portfolios

In [5]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

(17, 20)

In [6]:
df = pd.merge(profits, portfolios, on=["name"], how="outer", indicator=True)
df.shape

NameError: name 'profits' is not defined

In [12]:
df = pd.merge(profits, portfolios, on=["name"], how="outer", indicator=True)
df[df['_merge'] == 'left_only']

,id_x,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,att_cost_amt,last_sell_price,target_sell_price,buy_method,sell_method,ticker_id_y,created_at,updated_at,sell_qty,_merge
0,1515.0,BEM,2019.0,2.0,1.0,7579661.0,3412480.0,4167181.0,122.115910,7579661.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,1510.0,CBG,2019.0,2.0,1.0,1739715.0,988908.0,750807.0,75.922836,1739715.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,1543.0,COM7,2019.0,2.0,1.0,1044232.0,754060.0,290172.0,38.481288,1044232.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,1486.0,KTB,2019.0,2.0,1.0,29467687.0,25183660.0,4284027.0,17.011137,29467687.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,1538.0,PLANB,2019.0,2.0,1.0,685465.0,530327.0,155138.0,29.253272,685465.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,1530.0,ROJNA,2019.0,2.0,1.0,1565310.0,537045.0,1028265.0,191.467195,1565310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,1532.0,TASCO,2019.0,2.0,1.0,1909764.0,1380929.0,528835.0,38.295597,1909764.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,1513.0,WHAUP,2019.0,2.0,1.0,2521590.0,2019649.0,501941.0,24.852883,2521590.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

### Delete records from profits en mass

In [2]:
year = 2019
quarter = 3

In [9]:
sql = """
INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
print(sql)

"'ADVANC', 'BFIT', 'DRT', 'COM7', 'CPNREIT', 'JASIF', 'OISHI', 'PF', 'PTG', 'PTTEP', 'TASCO', 'TOA', 'WHA', 'WHAUP'"

In [10]:
for rcd in rcds:
    conpg.execute(sql, rcd)

DELETE FROM profits
WHERE name IN ('ADVANC', 'BFIT', 'DRT', 'COM7', 'CPNREIT', 'JASIF', 'OISHI', 'PF', 'PTG', 'PTTEP', 'TASCO', 'TOA', 'WHA', 'WHAUP')
AND year = 2019 AND quarter = 3

In [11]:
rp = conmy.execute(sql)
rp.rowcount

1

### Delete all record where quarter = 4

In [ ]:
sql = '''
DELETE FROM profits 
WHERE year = %s AND quarter = %s
'''
sql = sql % (year, quarter)
print(sql)

In [ ]:
rp = conmy.execute(sql)
rp.rowcount

In [ ]:
sql = '''
SELECT * FROM profits WHERE year = %s AND quarter = %s
ORDER BY name'''
sql = sql % (year, quarter)
profits = pd.read_sql(sql, conmy)
profits

### Export portfolis from PortMy to PortPg

In [11]:
sql = '''
SELECT *
FROM portfolios
'''
portfolios = pd.read_sql(sql, conmy)
portfolios.dtypes

id                     int64
name                  object
date                  object
buy_qty                int64
comp_qty               int64
att_qty                int64
buy_unit_cost        float64
comp_unit_cost       float64
att_unit_cost        float64
buy_cost_amt           int64
comp_cost_amt          int64
att_cost_amt           int64
last_sell_price      float64
target_sell_price    float64
buy_method             int64
sell_method            int64
ticker_id              int64
created_at            object
updated_at            object
sell_qty               int64
dtype: object

In [12]:
sql = 'SELECT name, id AS ticker_id FROM tickers'
tickers = pd.read_sql(sql, conpg)
tickers.tail()

         name  ticker_id
621    SPRIME        674
622  SUPEREIF        675
623      THAI        527
624      TTCL        589
625     TTLPF        676

In [13]:
df_merge = pd.merge(portfolios, tickers, on="name", how="inner")
# df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)
df_merge.columns

Index(['id', 'name', 'date', 'buy_qty', 'comp_qty', 'att_qty', 'buy_unit_cost',
       'comp_unit_cost', 'att_unit_cost', 'buy_cost_amt', 'comp_cost_amt',
       'att_cost_amt', 'last_sell_price', 'target_sell_price', 'buy_method',
       'sell_method', 'ticker_id_x', 'created_at', 'updated_at', 'sell_qty',
       'ticker_id_y'],
      dtype='object')

In [14]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

name                  object
date                  object
buy_qty                int64
sell_qty               int64
comp_qty               int64
att_qty                int64
buy_unit_cost        float64
comp_unit_cost       float64
att_unit_cost        float64
buy_cost_amt           int64
comp_cost_amt          int64
att_cost_amt           int64
last_sell_price      float64
target_sell_price    float64
buy_method             int64
sell_method            int64
ticker_id_y            int64
created_at            object
updated_at            object
dtype: object

In [15]:
sql = """
DELETE FROM portfolios"""
rp = conpg.execute(sql)
rp.rowcount

16

In [16]:
rcds = df_ins.values.tolist()
len(rcds)

16

In [17]:
for rcd in rcds:
    print(rcd)

['IVL', '2018-04-05', 3000, 3000, 15000, 18000, 28.0, 49.0, 45.5, 84000, 735000, 819000, 59.0, 41.0, 2, 2, 238, '2018-04-05 02:48:06.687907', '2019-11-30 15:29:32.379233']
['LH', '2019-02-10', 0, 36000, 45000, 45000, 10.3, 11.1, 11.1, 0, 499500, 499500, 0.0, 11.2, 2, 0, 275, '2019-02-10 16:23:53.431245', '2019-08-28 13:56:34.903384']
['SAT', '2019-02-17', 10000, 50000, 50000, 60000, 14.9, 19.1, 18.4, 149000, 955000, 1104000, 20.1, 19.2, 2, 2, 427, '2019-02-17 08:36:22.989392', '2019-12-06 14:40:18.853694']
['PTTGC', '2019-06-23', 0, 3000, 9000, 9000, 49.5, 75.5, 75.5, 0, 679500, 679500, 0.0, 67.75, 2, 2, 391, '2019-06-23 16:37:36.297845', '2019-09-14 17:19:13.946449']
['AMATA', '2019-07-07', 3000, 7000, 21000, 24000, 19.5, 23.5, 23.0, 58500, 493500, 552000, 0.0, 27.75, 2, 0, 24, '2019-07-07 17:00:05.670265', '2019-11-29 04:21:00.820834']
['ORI', '2019-07-07', 12000, 60000, 60000, 72000, 6.0, 10.2, 9.5, 72000, 612000, 684000, 0.0, 10.2, 2, 2, 347, '2019-07-07 17:01:13.522345', '2019-11-16 15:45:08.939918']
['SYNEX', '2019-07-07', 0, 33000, 33000, 33000, 9.2, 12.9, 12.9, 0, 425700, 425700, 0.0, 9.0, 2, 2, 504, '2019-07-07 17:07:50.562474', '2019-11-16 16:18:51.271429']
['CPNREIT', '2019-07-07', 6000, 3000, 30000, 36000, 26.5, 22.3, 23.0, 159000, 669000, 828000, 37.0, 33.5, 2, 0, 127, '2019-07-07 17:09:36.316288', '2019-12-13 14:52:19.234472']
['PTTEP', '2019-07-30', 1200, 1200, 3600, 4800, 113.0, 125.0, 122.0, 135600, 450000, 585600, 0.0, 137.5, 2, 2, 390, '2019-07-30 16:02:27.870540', '2019-08-26 06:49:45.562553']
['BANPU', '2019-08-12', 0, 8000, 24000, 24000, 11.8, 18.1, 18.1, 0, 434400, 434400, 0.0, 12.9, 2, 2, 51, '2019-08-12 16:17:52.268307', '2019-11-15 16:46:43.651999']
['ROJNA', '2019-08-18', 15000, 25000, 90000, 105000, 4.6, 6.35, 6.1, 69000, 571500, 640500, 0.0, 7.25, 2, 2, 409, '2019-08-18 14:42:49.849307', '2019-12-09 14:21:31.594031']
['JASIF', '2019-10-05', 0, 2000, 128000, 128000, 10.6, 10.1, 10.1, 0, 1292800, 1292800, 10.6, 11.3, 2, 2, 241, '2019-10-05 14:45:48.514836', '2019-11-26 15:56:09.265727']
['FSMART', '2019-11-09', 6000, 60000, 66000, 72000, 5.5, 10.3, 9.9, 33000, 679800, 712800, 0.0, 10.7, 2, 2, 183, '2019-11-09 15:16:48.185104', '2019-11-16 15:43:32.242263']
['MCS', '2019-11-11', 10000, 25000, 75000, 85000, 9.25, 16.9, 16.0, 92500, 1267500, 1360000, 0.0, 12.9, 2, 2, 301, '2019-11-11 06:55:39.662226', '2019-11-28 09:00:51.564901']
['NOBLE', '2019-11-19', 5000, 5000, 20000, 25000, 14.4, 16.4, 16.0, 72000, 328000, 400000, 0.0, 20.4, 2, 2, 336, '2019-11-19 03:13:49.142639', '2019-12-28 14:14:38.706873']
['SUPER', '2019-11-19', 200000, 0, 0, 200000, 0.5, 0.0, 0.5, 100000, 0, 100000, 0.0, 0.0, 2, 2, 496, '2019-11-19 03:16:46.210950', '2019-11-19 03:16:46.210950']

In [18]:
sql = """
INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
print(sql)

INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

In [19]:
for rcd in rcds:
    conpg.execute(sql, rcd)

### EPS Table

In [3]:
name = 'BAY'
sql = 'SELECT * FROM epss WHERE name="%s" ORDER BY id DESC'
sql = sql % name
df = pd.read_sql(sql, conlt)
df

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
0,22637,BAY,2023,2,8425299,7833750,17101587,15252035,1.15,1.06,2.32,2.07,49,2023-07-20
1,22398,BAY,2023,1,8676288,7418285,8676288,7418285,1.18,1.01,1.18,1.01,49,2023-04-20
2,22165,BAY,2022,4,7391352,6384972,30712985,33794188,1.01,0.86,4.18,4.59,49,2023-01-19
3,21905,BAY,2022,3,8069598,6361564,23321633,27409216,1.10,0.86,3.17,3.73,49,2022-10-20
4,21889,BAY,2022,2,7833750,14542797,15252035,21047652,1.06,1.98,2.07,2.86,49,2022-08-17
5,21418,BAY,2022,1,7418285,6504855,7418285,6504855,1.01,0.88,1.01,0.88,49,2022-04-20
6,21082,BAY,2021,4,6384972,3384779,33794188,23039785,0.86,0.46,4.59,3.13,49,2022-01-20
7,20668,BAY,2021,3,6361564,6114688,27409216,19655006,0.86,0.83,3.73,2.67,49,2021-10-20
8,20141,BAY,2021,2,14542797,6507731,21047652,13540318,1.98,0.88,2.86,1.84,49,2021-07-20
9,19710,BAY,2021,1,6504855,7032587,6504855,7032587,0.88,0.96,0.88,0.96,49,2021-04-20
10,19162,BAY,2020,4,3384779,6437187,23039785,32748508,0.46,0.87,3.13,4.45,49,2021-01-21
11,18636,BAY,2020,3,6114688,6564385,19655006,26311321,0.83,0.89,2.67,3.58,49,2020-10-21
12,18009,BAY,2020,2,6507731,7010190,13540318,19746936,0.88,0.95,1.84,2.68,49,2020-07-21
13,17566,BAY,2020,1,7032587,12736746,7032587,12736746,0.96,1.73,0.96,1.73,49,2020-04-21
14,16935,BAY,2019,4,6437187,6110128,32748508,24812637,0.87,0.83,4.45,3.37,49,2020-01-20
15,16312,BAY,2019,3,6564385,6214610,26311321,18702509,0.89,0.84,3.58,2.54,49,2019-10-18
16,15682,BAY,2019,2,7010190,6273330,19746936,12487899,0.95,0.85,2.68,1.70,49,2019-07-19
17,15088,BAY,2019,1,12736746,6214569,12736746,6214569,1.73,0.84,1.73,0.84,49,2019-04-19
18,14450,BAY,2018,4,6110128,5679042,24812637,23209271,0.83,0.78,3.37,3.16,49,2019-01-31
19,13855,BAY,2018,3,6214610,6014127,18702509,17530229,0.84,0.82,2.54,2.38,49,2018-10-18
20,13209,BAY,2018,2,6273330,5871356,12487899,11516102,0.85,0.80,1.70,1.57,49,2018-07-19
21,12584,BAY,2018,1,6214569,5644746,6214569,5644746,0.84,0.77,0.84,0.77,49,2018-04-19
22,11939,BAY,2017,4,5679042,5155786,23209271,21404034,0.78,0.70,3.16,2.91,49,2018-01-18
23,11265,BAY,2017,3,6014127,5829265,17530229,16248248,0.82,0.79,2.38,2.21,49,2017-10-19
24,4215,BAY,2017,2,5871356,5268748,11516102,10418983,0.80,0.72,1.57,1.42,49,2017-02-28
25,4214,BAY,2017,1,5644746,5150235,5644746,5150235,0.77,0.70,0.77,0.70,49,2017-02-28
26,4213,BAY,2016,4,5155786,5107025,21404034,18634185,0.70,0.70,2.91,2.54,49,2017-02-28
27,4212,BAY,2016,3,5829265,4851901,16248248,13527160,0.79,0.66,2.21,1.84,49,2017-02-28
28,4211,BAY,2016,2,5268748,4349275,10418983,8675259,0.72,0.59,1.42,1.18,49,2017-02-28
29,4210,BAY,2016,1,5150235,4325984,5150235,4325984,0.70,0.59,0.70,0.59,49,2017-02-28
30,4209,BAY,2015,4,5107025,3935746,18634185,14169527,0.69,0.65,2.53,2.33,49,2017-02-28
31,4208,BAY,2015,3,4851901,3507128,13527160,10233781,0.66,0.58,1.84,1.68,49,2017-02-28
32,4207,BAY,2015,2,4349275,3460392,8675259,6726653,0.59,0.57,1.18,1.11,49,2017-02-28
33,4206,BAY,2015,1,4325984,3266261,4325984,3266261,0.59,0.54,0.59,0.54,49,2017-02-28
34,4205,BAY,2014,4,3935746,986465,14169527,11864465,0.65,0.16,2.33,1.95,49,2017-02-28
35,4204,BAY,2014,3,3507128,3786575,10233781,10862584,0.58,0.62,1.68,1.79,49,2017-02-28
36,4203,BAY,2014,2,3460392,3035054,6726653,7076009,0.57,0.50,1.11,1.16,49,2017-02-28
37,4202,BAY,2014,1,3266261,4045435,3266261,4045435,0.54,0.67,0.54,0.67,49,2017-02-28
38,4201,BAY,2013,4,3140661,3754634,14018661,14625331,0.52,0.62,2.31,2.41,49,2017-02-28
39,4200,BAY,2013,3,3793924,3742077,10878000,10870697,0.62,0.62,1.79,1.79,49,2017-02-28
40,4199,BAY,2013,2,3038642,3698538,7084077,7128620,0.50,0.61,1.17,1.17,49,2017-02-28
41,4198,BAY,2013,1,4045435,3430082,4045435,3430082,0.67,0.56,0.67,0.56,49,2017-02-28
42,4197,BAY,2012,4,3754634,477729,14625331,9264339,0.62,0.08,2.41,1.53,49,2017-02-28
43,4196,BAY,2012,3,3742077,3006596,10870697,8786610,0.62,0.49,1.79,1.45,49,2017-02-28
44,4195,BAY,2012,2,3698538,2971867,7128620,5780013,0.61,0.49,1.17,0.95,49,2017-02-28
45,4194,BAY,2012,1,3430082,2808146,3430082,2808146,0.56,0.46,0.56,0.46,49,2017-02-28
46,4193,BAY,2011,4,477729,2260623,9264339,8793099,0.08,0.37,1.53,1.45,49,2017-02-28
47,4192,BAY,2011,3,3006596,2331499,8786610,6532476,0.49,0.38,1.45,1.08,49,2017-02-28
48,4191,BAY,2011,2,2971867,2131271,5780013,4200978,0.49,0.35,0.96,0.69,49,2017-02-28
49,4190,BAY,2011,1,2808146,2069707,2808146,2069707,0.46,0.34,0.46,0.34,49,2017-02-28

In [5]:
sqlUpd = """UPDATE epss SET publish_date = '2023-07-21' 
WHERE name = '%s' AND year = 2023 AND quarter = 2"""
sqlUpd = sqlUpd % name
print(sqlUpd)

UPDATE epss SET publish_date = '2023-07-21'
WHERE name = 'BAY' AND year = 2023 AND quarter = 2

In [6]:
rp = conlt.execute(sqlUpd)
rp.rowcount

1

### End of update EPS table

In [10]:
quarter = 3
publish_date = "2023-08-13"
sql = 'SELECT * FROM epss WHERE publish_date = "%s" AND quarter = %s ORDER BY name'
sql = sql % (publish_date, quarter)
df = pd.read_sql(sql, conlt)
df

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
0,22759,AOT,2023,3,3155632,-2207195,5358934,-9755317,0.22,-0.15,0.38,-0.68,24,2023-08-13

In [9]:
quarter = 3
publish_date = "2023-08-13"
sqlUpd = 'UPDATE epss SET quarter = 2 WHERE publish_date = "%s" AND quarter = %s AND name <> "AOT"'
sqlUpd = sqlUpd % (publish_date, quarter)
rp = conlt.execute(sqlUpd)
rp.rowcount

4