### Restart and Run All Cells

In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

format_dict = {'qty':'{:,}','volbuy':'{:,}',
               'dividend':'฿{:.2f}','price':'฿{:.2f}','target':'฿{:.2f}','unit_cost':'฿{:.2f}',
               'gross':'฿{:,.2f}','profit':'฿{:,.2f}','sell_price':'฿{:.2f}','buy_price':'฿{:.2f}',
               'max':'฿{:.2f}','min':'฿{:.2f}','pct':'{:.2f}%', 
               'pe':'{:.2f}','pbv':'{:.2f}','volume':'{:,.2f}','beta':'{:.2f}','diff':'฿{:.2f}',             
               'sell_amt':'฿{:,.2f}','buy_amt':'฿{:,.2f}','cost_amt':'฿{:,.2f}'}
float_formatter = "฿{:,.2f}"

pd.set_option('display.max_rows', 11)
year = 2023
year

2023

### Record selection for sold stocks in year 2022

In [2]:
sql = """
SELECT stocks.name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price, 
(sells.price - buys.price) AS diff, qty, 
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross, 
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit, categories.name AS market
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
JOIN categories ON stocks.category_id = categories.id
WHERE YEAR(sells.date) = %s
ORDER BY sells.date DESC, stocks.name"""
#AND kind = 'DTD'
sql = sql % year
print(sql)
sells_df = pd.read_sql(sql, conpf)
sells_df.sample(5).style.format(format_dict)

SELECT stocks.name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price,
(sells.price - buys.price) AS diff, qty,
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross,
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit, categories.name AS market
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
JOIN categories ON stocks.category_id = categories.id
WHERE YEAR(sells.date) = 2023
ORDER BY sells.date DESC, stocks.name

In [3]:
sells_df.groupby(['name'])[['gross','profit']].sum().style.format(format_dict)

In [4]:
sells_df[['gross','profit']].sum()

gross    -157950.00
profit   -167093.44
dtype: float64

### Total profit amount

In [5]:
ttl_prf = sells_df.gross.sum()
net_prf = sells_df.profit.sum()
ttl_prf,round(net_prf,2)

(-157950.0, -167093.44)

In [6]:
array = pd.Series([ttl_prf,net_prf])
array = array.map('฿{:,.2f}'.format)
for value in array:
    print(f"The value is: {value}")

The value is: ฿-157,950.00
The value is: ฿-167,093.44

### Input the above figures to Excel

In [7]:
sold_grp = sells_df.groupby(['name','market'])
sold_stocks = sold_grp[['sell_amt','buy_amt','qty','gross','profit']].sum()
sold_stocks.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [8]:
sold_stocks.loc[
    sold_stocks.gross > 20_000
].style.format(format_dict)

In [9]:
sold_stocks.nlargest(4, 'gross')[['gross','profit']].style.format(format_dict)

In [10]:
sold_stocks['sell_price'] = sold_stocks['sell_amt'] / sold_stocks['qty']
sold_stocks['buy_price'] = sold_stocks['buy_amt'] / sold_stocks['qty']
sold_stocks['diff'] = sold_stocks['sell_price'] - sold_stocks['buy_price']
cols = 'sell_amt buy_amt gross profit qty sell_price buy_price diff'.split()
sold_stocks[cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [11]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS volume, beta, market
FROM stocks
'''
stocks = pd.read_sql(sql, conmy)
stocks.shape[0]

253

In [12]:
df_merge = pd.merge(sold_stocks, stocks, on='name', how='inner')
df_merge.set_index('name', inplace=True)
df_merge.style.format(format_dict)

In [13]:
set50 = df_merge.market.str.contains('SET50') 
flt_set50 = df_merge[set50]
flt_set50.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [14]:
prf_set50 = flt_set50.gross.sum()
net_set50 = flt_set50.profit.sum()
prf_set50,net_set50

(-4500.0, -5742.56)

In [15]:
array = pd.Series([prf_set50,net_set50])
array = array.map('฿{:,.2f}'.format)
for value in array:
    print(f"The value is: {value}")

The value is: ฿-4,500.00
The value is: ฿-5,742.56

In [16]:
set100 = df_merge.market.str.contains('SET100') 
flt_set100 = df_merge[set100]
flt_set100.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [17]:
prf_set100 = flt_set100.gross.sum()
net_set100 = flt_set100.profit.sum()
prf_set100,net_set100

(-147200.0, -149942.73)

In [18]:
array = pd.Series([prf_set100,net_set100])
array = array.map('฿{:,.2f}'.format)
for value in array:
    print(f"The value is: {value}")

The value is: ฿-147,200.00
The value is: ฿-149,942.73

In [19]:
flt_set = df_merge[~(set100 | set50)]
flt_set.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [20]:
prf_set = flt_set.gross.sum()
net_set = flt_set.profit.sum()
prf_set,net_set

(-6250.0, -11408.15)

In [21]:
array = pd.Series([prf_set,net_set])
array = array.map('฿{:,.2f}'.format)
for value in array:
    print(f"The value is: {value}")

The value is: ฿-6,250.00
The value is: ฿-11,408.15

### Input to Excel

In [22]:
pct_set50 = round(prf_set50 / ttl_prf * 100,2)
pct_set100 = round(prf_set100 / ttl_prf * 100,2)
pct_set  = round(prf_set  / ttl_prf * 100,2)
pct_set50, pct_set100, pct_set

(2.85, 93.19, 3.96)

### Start of Balance process

In [23]:
sql = '''
SELECT name, volbuy, price, volbuy * price AS cost_amt
FROM buy
WHERE active = 1 
ORDER BY name
'''
#AND period IN ("3","4")
total_buy = pd.read_sql(sql, const)
total_buy['volbuy'] = total_buy['volbuy'].astype(int)
total_buy.sample(5).style.format(format_dict)

In [24]:
total_stocks = pd.merge(total_buy, stocks, on='name', how='inner')
total_stocks.sample(5).style.format(format_dict)

### Total balance amount

In [25]:
ttl_stk_amt = total_stocks.cost_amt.sum()
float_formatter.format(ttl_stk_amt)

'฿11,461,500.00'

In [26]:
total_stocks['volbuy'] = total_stocks['volbuy'].astype(int)
set50 = total_stocks.market.str.contains('SET50') 
port_set50 = total_stocks[set50]
port_set50.sample(5).style.format(format_dict)

In [27]:
amt_set50 = port_set50.cost_amt.sum()
float_formatter.format(amt_set50)

'฿1,752,300.00'

In [28]:
set100 = total_stocks.market.str.contains('SET100') 
port_set100 = total_stocks[set100]
port_set100.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [29]:
amt_set100 = port_set100.cost_amt.sum()
float_formatter.format(amt_set100)

'฿2,984,450.00'

In [30]:
port_set = total_stocks[~(set100 | set50)]
port_set.sample(5).style.format(format_dict)

In [31]:
amt_set = port_set.cost_amt.sum()
float_formatter.format(amt_set)

'฿6,724,750.00'

In [32]:
pct_set50 = round(amt_set50 / ttl_stk_amt * 100,2)
pct_set100 = round(amt_set100 / ttl_stk_amt * 100,2)
pct_set  = round(amt_set  / ttl_stk_amt * 100,2)
pct_set50, pct_set100, pct_set

(15.29, 26.04, 58.67)