In [1]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import BDay

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

today = date.today()

### Set yesterday = last closed business day

In [2]:
num_business_days = BDay(1)
yesterday = today - num_business_days
yesterday = yesterday.date()

### Restart and Run All Cells

In [3]:
sqlUpd = """
UPDATE buy B
SET dividend =
(SELECT DIVIDEND FROM dividend D
WHERE B.name = D.name)"""
rp = const.execute(sqlUpd)

In [4]:
colu = 'name shares u_cost cost_amt price mkt_amt dividend div_amt cst-% mkt-% eps dpr-%'.split()
format_dict = {
    'shares':'{:,}', 
    'u_cost':'฿{:.2f}','cost_amt':'฿{:,.2f}',
    'price':'฿{:.2f}','mkt_amt':'฿{:,.2f}',
    'dividend':'฿{:.4f}','div_amt':'฿{:,.2f}','eps':'฿{:.4f}',    
    'cst-%':'{:,.2f}%','mkt-%':'{:,.2f}%','dpr-%':'{:,.2f}%'
}

### Rank

In [5]:
sql = '''
SELECT B.name, volbuy, B.price AS u_cost, 
dividend, P.price AS price, period AS prd
FROM buy B 
JOIN price P
ON B.name = P.name
WHERE P.date = "%s"
AND active = 1
ORDER BY period, name'''
sql = sql % today

In [6]:
df1 = pd.read_sql(sql, const)
df1.rename(columns={'volbuy': 'shares'}, inplace=True)
df1['shares'] = df1.shares.astype(int)
df1['cost_amt'] = round(df1['shares'] * df1['u_cost'], 2)
df1['mkt_amt'] = round(df1['shares'] * df1['price'], 2)
df1['div_amt'] = round(df1['shares'] * df1['dividend'], 2)
df1['mkt-%'] = round(df1['div_amt'] / df1['mkt_amt'] * 100,2)
df1['cst-%'] = round(df1['div_amt'] / df1['cost_amt'] * 100,2)

In [7]:
sql = '''
SELECT name, aq_eps AS eps 
FROM epss 
WHERE year = 2022 AND quarter = 4
'''
df2 = pd.read_sql(sql, conlt)

In [8]:
df_merge = pd.merge(df1, df2, on='name', how='inner')
df_merge['dpr-%'] = round(df_merge['dividend'] / df_merge['eps'] * 100,2)
df_merge.set_index('prd',inplace=True)
df_merge[colu].sort_values(['prd','cst-%'],ascending=[True,True]).style.format(format_dict)

In [9]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import BDay

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

today = date.today()

num_business_days = BDay(1)
yesterday = today - num_business_days
yesterday = yesterday.date()

sqlUpd = """
UPDATE buy B
SET dividend =
(SELECT DIVIDEND FROM dividend D
WHERE B.name = D.name)"""
rp = const.execute(sqlUpd)

colu = 'name shares u_cost cost_amt price mkt_amt dividend div_amt cst-% mkt-% eps dpr-%'.split()
format_dict = {
    'shares':'{:,}', 
    'u_cost':'฿{:.2f}','cost_amt':'฿{:,.2f}',
    'price':'฿{:.2f}','mkt_amt':'฿{:,.2f}',
    'dividend':'฿{:.4f}','div_amt':'฿{:,.2f}','eps':'฿{:.4f}',    
    'cst-%':'{:,.2f}%','mkt-%':'{:,.2f}%','dpr-%':'{:,.2f}%'
}

sql = '''
SELECT B.name, volbuy, B.price AS u_cost, 
dividend, P.price AS price, period AS prd
FROM buy B 
JOIN price P
ON B.name = P.name
WHERE P.date = "%s"
AND active = 1
ORDER BY period, name'''
sql = sql % yesterday

df1 = pd.read_sql(sql, const)
df1.rename(columns={'volbuy': 'shares'}, inplace=True)
df1['shares'] = df1.shares.astype(int)
df1['cost_amt'] = round(df1['shares'] * df1['u_cost'], 2)
df1['mkt_amt'] = round(df1['shares'] * df1['price'], 2)
df1['div_amt'] = round(df1['shares'] * df1['dividend'], 2)
df1['mkt-%'] = round(df1['div_amt'] / df1['mkt_amt'] * 100,2)
df1['cst-%'] = round(df1['div_amt'] / df1['cost_amt'] * 100,2)

sql = '''
SELECT name, aq_eps AS eps 
FROM epss 
WHERE year = 2022 AND quarter = 4
'''
df2 = pd.read_sql(sql, conlt)

df_merge = pd.merge(df1, df2, on='name', how='inner')
df_merge['dpr-%'] = round(df_merge['dividend'] / df_merge['eps'] * 100,2)
df_merge.set_index('prd',inplace=True)
df_merge[colu].sort_values(['prd','dpr-%'],ascending=[True,True]).style.format(format_dict)