### Restart and Run All Cells

In [1]:
import pandas as pd
import numpy as np
import sidetable
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

format_dict = {'qty':'{:,}','volbuy':'{:,}',
               'dividend':'฿{:.2f}','price':'฿{:.2f}','target':'฿{:.2f}','unit_cost':'฿{:.2f}',
               'grs_profit':'฿{:,.2f}','net_profit':'฿{:,.2f}','sell_price':'฿{:.2f}',
               'buy_price':'฿{:.2f}','max':'฿{:.2f}','min':'฿{:.2f}',
               'pct':'{:.2f}%','percent':'{:.2f}%','cumulative_percent':'{:.2f}%', 
               'pe':'{:.2f}','pbv':'{:.2f}','volume':'{:,.2f}','beta':'{:.2f}','diff':'฿{:.2f}',             
               'sell_amt':'฿{:,.2f}','buy_amt':'฿{:,.2f}',
               'cost_amt':'฿{:,.2f}','cumulative_cost_amt':'฿{:,.2f}'}
               
float_formatter = "฿{:,.2f}"

today = date.today()
today

datetime.date(2023, 1, 2)

### Record selection for sold stocks

In [2]:
sql = """
SELECT YEAR(sells.date) AS year, categories.name AS market, stocks.name, 
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross, 
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
JOIN categories ON stocks.category_id = categories.id
WHERE YEAR(sells.date) > 2016
ORDER BY sells.date DESC, stocks.name"""
print(sql)
df = pd.read_sql(sql, conpf)
df.sample(5).style.format(format_dict)

SELECT YEAR(sells.date) AS year, categories.name AS market, stocks.name,
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross,
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
JOIN categories ON stocks.category_id = categories.id
WHERE YEAR(sells.date) > 2016
ORDER BY sells.date DESC, stocks.name

In [3]:
df.rename(columns={'gross':'grs_profit','profit':'net_profit'},inplace=True)

In [4]:
df.groupby(['year'])[['grs_profit','net_profit']].sum().style.format(format_dict)

In [5]:
df_groupby_year = df.groupby('year')

In [6]:
df_groupby_year.ngroups

6

In [7]:
df_groupby_year.size()

year
2017     68
2018    103
2019     42
2020     94
2021    254
2022    109
dtype: int64

In [8]:
df_groupby_year.groups

{2017: [602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669], 2018: [499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, ...], 2019: [457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498], 2020: [363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456], 2021: [109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, ...], 2022: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]}

In [9]:
df_groupby_year.first()

      market    name  sell_amt   buy_amt  grs_profit    pct  net_profit
year
2017  SET100  BEAUTY   82800.0   72800.0     10000.0  13.74     9655.35
2018  SET100    WORK   13800.0   52086.0    -38286.0 -73.51   -38431.94
2019  SET100    ANAN   92400.0  131600.0    -39200.0 -29.79   -39696.14
2020   SET50     MTC  314550.0  297000.0     17550.0   5.91    16195.47
2021     MAI     IMH   37800.0   33000.0      4800.0  14.55     4643.18
2022  SET100   SYNEX   49500.0   51000.0     -1500.0  -2.94    -1722.60

In [10]:
df_groupby_year.last()

      market    name  sell_amt   buy_amt  grs_profit    pct  net_profit
year
2017  SET100  LHBANK  182000.0  189000.0     -7000.0  -3.70    -7824.90
2018   SET50   CPALL   78500.0   68500.0     10000.0  14.60     9674.39
2019   SET50     AOT  310500.0  279000.0     31500.0  11.29    30194.31
2020   SET50      BA   21300.0   75000.0    -53700.0 -71.60   -53913.30
2021     SET    SENA  202800.0  176400.0     26400.0  14.97    25560.10
2022   SET50     IVL  133500.0  126000.0      7500.0   5.95     6925.23

In [11]:
# To retrieve one of the created groups
df_year = df_groupby_year.get_group(2022)
df_year.head()

   year  market    name  sell_amt   buy_amt  grs_profit    pct  net_profit
0  2022  SET100   SYNEX   49500.0   51000.0     -1500.0  -2.94    -1722.60
1  2022   SET50     STA   50750.0   73750.0    -23000.0 -31.19   -23275.75
2  2022     SET     TMT   93000.0  108000.0    -15000.0 -13.89   -15445.20
3  2022   SET50     STA   49250.0   73750.0    -24500.0 -33.22   -24772.44
4  2022  SET100  DOHOME   35040.0   48600.0    -13560.0 -27.90   -13745.25

### 3. Aggregation

In [12]:
df.groupby('year').net_profit.max()

year
2017     38439.63
2018    155079.49
2019     75913.61
2020    194977.80
2021     40643.41
2022     18150.32
Name: net_profit, dtype: float64

In [13]:
df.groupby('year').net_profit.min()

year
2017   -415882.22
2018   -106096.38
2019    -75067.85
2020   -213635.68
2021    -38446.55
2022    -64814.00
Name: net_profit, dtype: float64

In [14]:
df.groupby('year').net_profit.count()

year
2017     68
2018    103
2019     42
2020     94
2021    254
2022    109
Name: net_profit, dtype: int64

In [15]:
# there is a function called .agg() and it allows us to specify multiple aggregation functions at once
df.groupby('year').net_profit.agg(['max', 'min', 'count', 'median', 'mean'])

            max        min  count     median          mean
year
2017   38439.63 -415882.22     68  10504.695   5133.983676
2018  155079.49 -106096.38    103   9288.350   2171.900291
2019   75913.61  -75067.85     42   2723.945    248.029048
2020  194977.80 -213635.68     94    -53.740 -14739.848404
2021   40643.41  -38446.55    254   1225.590   2111.272756
2022   18150.32  -64814.00    109    443.500  -1847.829083

In [16]:
# Turns out when writting a groupby you don't actually have to specify a column like beer_servings. Without a column, 
# it will perform the aggregation across all of the numeric columns 
df.groupby('year').mean().style.format(format_dict)

In [17]:
df.groupby('year').agg(['mean', 'median'])

           sell_amt                  buy_amt              grs_profit           \
               mean    median           mean    median          mean   median
year
2017  124292.500000  112850.0  118620.441176  101500.0   5672.058824  10750.0
2018  137552.912621  109500.0  134777.825243  102500.0   2775.087379   9800.0
2019  192516.071429  148250.0  191417.666667  131600.0   1098.404762   3750.0
2020  113819.893617  101250.0  128017.553191  104410.0 -14197.659574    225.0
2021   82585.019685   66630.0   80113.385827   64000.0   2471.633858   1500.0
2022  106430.137615  100000.0  107803.458716  100000.0  -1373.321101    900.0

            pct            net_profit
           mean  median          mean     median
year
2017  13.564706  13.765   5133.983676  10504.695
2018   4.573204   9.760   2171.900291   9288.350
2019   2.769524   1.240    248.029048   2723.945
2020 -12.577979   0.750 -14739.848404    -53.740
2021   8.523701   2.585   2111.272756   1225.590
2022   0.865138   0.880  -1847.829083    443.500

### 6. Group by multiple category