In [1]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.set_option('display.max_row',None)

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2023, 1, 15), datetime.date(2023, 1, 14))

In [2]:
# specify the number of business days
num_days = 1
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(num_days)
yesterday = today - num_business_days
#yesterday = yesterday.date()
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2023-01-15
yesterday: 2023-01-13 00:00:00

In [3]:
yesterday = yesterday.date()
a_year_ago = yesterday - timedelta(days=365)
yesterday, a_year_ago

(datetime.date(2023, 1, 13), datetime.date(2022, 1, 13))

### Get past one quarter data

In [4]:
format_dict = {
    'ttl_qty':'{:,}',
    'from_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}',
    'pct':'{:,.2f}%',  
}

In [5]:
sql = """
SELECT name
FROM buy 
ORDER BY name
"""
df = pd.read_sql(sql, const)

names = df['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'ASP', 'BANPU', 'BCH', 'CPNREIT', 'DCC', 'DIF', 'GVREIT', 'IVL', 'JASIF', 'KCE', 'MAKRO', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SCCC', 'SENA', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART'"

In [6]:
#one_qtr_ago = yesterday - timedelta(days=4)
one_qtr_ago = date(2022, 12, 16)

sql = """
SELECT name, date, price, qty, maxp, minp
FROM price 
WHERE date >= '%s' AND name IN (%s) 
ORDER BY name, date"""
sql = sql % (one_qtr_ago, in_p)
print(sql)

SELECT name, date, price, qty, maxp, minp
FROM price
WHERE date >= '2022-12-16' AND name IN ('ASP', 'BANPU', 'BCH', 'CPNREIT', 'DCC', 'DIF', 'GVREIT', 'IVL', 'JASIF', 'KCE', 'MAKRO', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SCCC', 'SENA', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART')
ORDER BY name, date

In [7]:
df = pd.read_sql(sql, const)
df.sample(5)

       name        date  price       qty    maxp    minp
217   MAKRO  2023-01-11   42.0  15615235   42.50   41.50
414   SYNEX  2023-01-06   17.0   2803616   17.10   16.40
130  GVREIT  2022-12-30    9.1    534645    9.15    9.05
351    SCCC  2023-01-03  154.5     94288  154.50  154.00
55      BCH  2023-01-09   21.8  10334905   22.00   21.50

In [8]:
data_path = "../data/"
file_name = "Quarterly-Price-by-Name.csv"
output_file = data_path + file_name

df.set_index("name", inplace=True)
df.to_csv(output_file, header=None)

### After call ruby ruby\chat-fin.rb

In [9]:
file_name   = 'summary.csv'
input_file = data_path + file_name
df = pd.read_csv(input_file, sep=',', index_col=None)
#df.sample(10).style.format(format_dict)
df.columns

Index(['name', 'from_date', 'to_date', 'days', 'from_price', 'to_price',
       'diff', 'pct', 'spd', 'avg', 'max_price', 'min_price', 'ttl_qty'],
      dtype='object')

In [10]:
df.sample(10).style.format(format_dict)

In [44]:
cols = 'name from_date to_date days from_price to_price pct spd max_price min_price ttl_qty'.split()
yesterday = '2023-01-13'
pct = 3.00
df.query('to_date == @yesterday and pct >= @pct').style.format(format_dict)

In [49]:
pct = -0.01
df.query('to_date == @yesterday and pct <= @pct').style.format(format_dict)