#### Restart and Run All

In [1]:
import numpy as np
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
#data_path = "\\users\\user\\onedrive\\a7\\Data"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

today = date.today()
today

datetime.date(2023, 4, 17)

### Today = Last business day

In [2]:
#today = date(2023, 3, 13)
today

datetime.date(2023, 4, 17)

In [3]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(3)
yesterday = today - num_business_days
yesterday = yesterday.date()
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2023-04-17
yesterday: 2023-04-12

In [4]:
cols = 'name fm_date to_date fm_price to_price qty max_price min_price percent status'.split()

format_dict = {
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}',
    'volume':'{:,.2f}','beta':'{:,.2f}',
    'pct':'{:,.2f}%','percent':'{:,.2f}%',   
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
    
    'qty':'{:,}','available_qty':'{:,}',
    'cost':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}',
}

### Begin of Tables in the process

In [5]:
sql = """
SELECT * 
FROM sales 
ORDER BY id DESC LIMIT 1
"""
tmp = pd.read_sql(sql, conlite)
tmp["fm_date"] = pd.to_datetime(tmp["fm_date"])
tmp["to_date"] = pd.to_datetime(tmp["to_date"])
tmp["created_at"] = pd.to_datetime(tmp["created_at"])
tmp["updated_at"] = pd.to_datetime(tmp["updated_at"])
tmp.style.format(format_dict)

In [6]:
names = tmp["name"]
type(names)

pandas.core.series.Series

In [7]:
name = names.to_string(index=False)
type(name)

str

In [8]:
sql = """
SELECT * 
FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)
tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT *
FROM stocks
WHERE name = 'TMT'

### End of Tables in the process

In [9]:
sql = """
SELECT DISTINCT a.name
FROM sales a 
WHERE to_date = '%s'
ORDER BY a.name
"""
sql = sql % yesterday
print(sql)
tmp = pd.read_sql(sql, conlite)
tmp

SELECT DISTINCT a.name
FROM sales a
WHERE to_date = '2023-04-12'
ORDER BY a.name

      name
0    BANPU
1      BCH
2   GVREIT
3      IVL
4    JASIF
5    JMART
6      JMT
7      MCS
8      ORI
9    PTTGC
10    SENA
11  SINGER
12     STA
13   TFFIF
14     TMT

In [10]:
sql = """
SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a 
JOIN stocks t ON a.name = t.name 
WHERE to_date = '%s' AND t.status IN ("B","I", "O", "S") 
ORDER BY t.status, a.name
"""
sql = sql % yesterday
print(sql)

SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a
JOIN stocks t ON a.name = t.name
WHERE to_date = '2023-04-12' AND t.status IN ("B","I", "O", "S")
ORDER BY t.status, a.name

### This statement causes program to hang when there is no data

In [11]:
df = pd.read_sql(sql, conlite)
#df.set_index(["name"], inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df.eval('diff = to_price - fm_price',inplace=True)
df['percent'] = round(df['diff']/df['fm_price']*100,2)
df.style.format(format_dict)

In [12]:
df.shape

(15, 12)

### IF the above count not equal number of orders, there must be something incorrect

### Create daily-sales from sales

In [13]:
df[cols].style.format(format_dict)

In [14]:
file_name = "daily-sales.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(output_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(data_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(one_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(osd_file, header=True, index=False)

In [15]:
df[cols].shape

(15, 10)

In [16]:
sales = df[cols]
sales

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,percent,status
0,IVL,2023-04-11,2023-04-12,34.25,34.00,16141100,34.75,33.25,-0.73,B
1,JMART,2023-04-11,2023-04-12,21.70,21.20,22400967,22.00,21.00,-2.30,B
2,JMT,2023-04-11,2023-04-12,43.75,42.00,11509145,44.00,41.75,-4.00,B
3,SINGER,2023-04-12,2023-04-12,16.90,16.90,6078823,17.30,16.70,0.00,B
4,STA,2023-04-12,2023-04-12,22.20,22.20,4353861,22.50,22.00,0.00,B
5,BANPU,2023-04-12,2023-04-12,9.95,9.95,181279431,10.10,9.80,0.00,I
6,BCH,2023-04-04,2023-04-12,20.60,21.30,49364956,21.60,20.30,3.40,I
7,GVREIT,2023-04-11,2023-04-12,9.45,9.45,156803,9.50,9.35,0.00,I
8,ORI,2023-04-07,2023-04-12,11.90,12.10,29712437,12.20,11.50,1.68,I
9,SENA,2023-04-10,2023-04-12,3.48,3.50,1346579,3.50,3.40,0.57,I
10,TFFIF,2023-04-11,2023-04-12,7.65,7.70,1210724,7.70,7.60,0.65,O
11,JASIF,2023-04-11,2023-04-12,7.05,7.10,15132458,7.10,7.00,0.71,S
12,MCS,2023-04-10,2023-04-12,8.90,9.15,1380934,9.20,8.80,2.81,S
13,PTTGC,2023-04-11,2023-04-12,44.25,43.75,25655708,45.00,43.25,-1.13,S
14,TMT,2023-04-10,2023-04-12,7.75,7.85,361522,7.85,7.60,1.29,S

In [17]:
file_name = "Price-Today.csv"
input_file = data_path + file_name
prices = pd.read_csv(input_file)
prices

,name,date,price,change,%change,open,high,low,volume,value(m)
0,ACE,2023-04-17,2.30,0.06,2.678571,2.26,2.30,2.26,18612764,42389.08216
1,ADVANC,2023-04-17,213.00,2.00,0.947867,213.00,215.00,211.00,4653621,991192.94420
2,AEONTS,2023-04-17,189.00,-1.00,-0.526316,190.00,191.50,185.50,651388,123061.96300
3,AH,2023-04-17,32.75,1.00,3.149606,32.00,32.75,32.00,3092500,100508.39600
4,AIE,2023-04-17,2.00,0.00,0.000000,2.00,2.06,2.00,253904,513.24439
...,...,...,...,...,...,...,...,...,...,...
187,WHAIR,2023-04-17,7.50,-0.05,-0.662252,7.50,7.55,7.50,210522,1579.28500
188,WHART,2023-04-17,11.20,-0.10,-0.884956,11.30,11.30,11.10,984527,11029.49290
189,WHAUP,2023-04-17,4.04,0.06,1.507538,4.00,4.04,3.96,5636277,22558.34142
190,WICE,2023-04-17,9.95,0.10,1.015228,9.90,10.10,9.80,924106,9190.33195
191,WORK,2023-04-17,17.00,-0.20,-1.162791,17.30,17.30,17.00,54085,925.08810

In [18]:
df_merge = pd.merge(sales,prices,on='name', how='inner')
df_merge

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,percent,status,date,price,change,%change,open,high,low,volume,value(m)
0,IVL,2023-04-11,2023-04-12,34.25,34.00,16141100,34.75,33.25,-0.73,B,2023-04-17,34.00,0.00,0.000000,34.25,34.50,33.75,6001454,2.044404e+05
1,JMART,2023-04-11,2023-04-12,21.70,21.20,22400967,22.00,21.00,-2.30,B,2023-04-17,21.90,0.70,3.301887,21.30,22.00,21.10,13348630,2.892056e+05
2,JMT,2023-04-11,2023-04-12,43.75,42.00,11509145,44.00,41.75,-4.00,B,2023-04-17,43.50,1.50,3.571429,42.00,44.00,41.75,9790729,4.218119e+05
3,SINGER,2023-04-12,2023-04-12,16.90,16.90,6078823,17.30,16.70,0.00,B,2023-04-17,17.40,0.50,2.958580,16.90,17.40,16.80,7908445,1.360474e+05
4,STA,2023-04-12,2023-04-12,22.20,22.20,4353861,22.50,22.00,0.00,B,2023-04-17,22.70,0.50,2.252252,22.40,22.90,22.20,3912672,8.845764e+04
5,BANPU,2023-04-12,2023-04-12,9.95,9.95,181279431,10.10,9.80,0.00,I,2023-04-17,9.80,-0.15,-1.507538,9.90,9.95,9.80,122929972,1.211762e+06
6,BCH,2023-04-04,2023-04-12,20.60,21.30,49364956,21.60,20.30,3.40,I,2023-04-17,21.60,0.30,1.408451,21.60,21.90,21.50,20349134,4.418213e+05
7,GVREIT,2023-04-11,2023-04-12,9.45,9.45,156803,9.50,9.35,0.00,I,2023-04-17,9.30,-0.15,-1.587302,9.45,9.45,9.20,128190,1.192855e+03
8,ORI,2023-04-07,2023-04-12,11.90,12.10,29712437,12.20,11.50,1.68,I,2023-04-17,12.20,0.10,0.826446,12.20,12.20,12.00,4017461,4.873229e+04
9,SENA,2023-04-10,2023-04-12,3.48,3.50,1346579,3.50,3.40,0.57,I,2023-04-17,3.52,0.02,0.571429,3.50,3.52,3.50,577716,2.023135e+03
10,TFFIF,2023-04-11,2023-04-12,7.65,7.70,1210724,7.70,7.60,0.65,O,2023-04-17,7.70,0.00,0.000000,7.70,7.75,7.65,333535,2.568953e+03
11,JASIF,2023-04-11,2023-04-12,7.05,7.10,15132458,7.10,7.00,0.71,S,2023-04-17,7.05,-0.05,-0.704225,7.05,7.15,7.00,11722880,8.297653e+04
12,MCS,2023-04-10,2023-04-12,8.90,9.15,1380934,9.20,8.80,2.81,S,2023-04-17,9.25,0.10,1.092896,9.20,9.30,9.20,198507,1.830761e+03
13,PTTGC,2023-04-11,2023-04-12,44.25,43.75,25655708,45.00,43.25,-1.13,S,2023-04-17,43.50,-0.25,-0.571429,43.75,44.00,43.00,14490139,6.283571e+05
14,TMT,2023-04-10,2023-04-12,7.75,7.85,361522,7.85,7.60,1.29,S,2023-04-17,7.65,-0.20,-2.547771,7.65,7.65,7.55,371507,2.825469e+03

In [19]:
colu = 'name fm_date to_date fm_price to_price qty max_price min_price percent status \
price change volume date'.split()
colu

['name',
 'fm_date',
 'to_date',
 'fm_price',
 'to_price',
 'qty',
 'max_price',
 'min_price',
 'percent',
 'status',
 'price',
 'change',
 'volume',
 'date']

In [20]:
df_merge[colu]

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,percent,status,price,change,volume,date
0,IVL,2023-04-11,2023-04-12,34.25,34.00,16141100,34.75,33.25,-0.73,B,34.00,0.00,6001454,2023-04-17
1,JMART,2023-04-11,2023-04-12,21.70,21.20,22400967,22.00,21.00,-2.30,B,21.90,0.70,13348630,2023-04-17
2,JMT,2023-04-11,2023-04-12,43.75,42.00,11509145,44.00,41.75,-4.00,B,43.50,1.50,9790729,2023-04-17
3,SINGER,2023-04-12,2023-04-12,16.90,16.90,6078823,17.30,16.70,0.00,B,17.40,0.50,7908445,2023-04-17
4,STA,2023-04-12,2023-04-12,22.20,22.20,4353861,22.50,22.00,0.00,B,22.70,0.50,3912672,2023-04-17
5,BANPU,2023-04-12,2023-04-12,9.95,9.95,181279431,10.10,9.80,0.00,I,9.80,-0.15,122929972,2023-04-17
6,BCH,2023-04-04,2023-04-12,20.60,21.30,49364956,21.60,20.30,3.40,I,21.60,0.30,20349134,2023-04-17
7,GVREIT,2023-04-11,2023-04-12,9.45,9.45,156803,9.50,9.35,0.00,I,9.30,-0.15,128190,2023-04-17
8,ORI,2023-04-07,2023-04-12,11.90,12.10,29712437,12.20,11.50,1.68,I,12.20,0.10,4017461,2023-04-17
9,SENA,2023-04-10,2023-04-12,3.48,3.50,1346579,3.50,3.40,0.57,I,3.52,0.02,577716,2023-04-17
10,TFFIF,2023-04-11,2023-04-12,7.65,7.70,1210724,7.70,7.60,0.65,O,7.70,0.00,333535,2023-04-17
11,JASIF,2023-04-11,2023-04-12,7.05,7.10,15132458,7.10,7.00,0.71,S,7.05,-0.05,11722880,2023-04-17
12,MCS,2023-04-10,2023-04-12,8.90,9.15,1380934,9.20,8.80,2.81,S,9.25,0.10,198507,2023-04-17
13,PTTGC,2023-04-11,2023-04-12,44.25,43.75,25655708,45.00,43.25,-1.13,S,43.50,-0.25,14490139,2023-04-17
14,TMT,2023-04-10,2023-04-12,7.75,7.85,361522,7.85,7.60,1.29,S,7.65,-0.20,371507,2023-04-17

In [21]:
df_merge[colu].shape

(15, 14)

In [22]:
df_merge.shape

(15, 19)

In [23]:
file_name = "daily-sales-prices.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(output_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(data_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(one_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(osd_file, header=True, index=False)

In [24]:
### Call ruby ruby\daily-out-new.rb

In [25]:
%pwd

'C:\\Users\\User\\OneDrive\\A7\\Daily'

In [26]:
os.chdir("C:\\users\\user\\onedrive\\a7")
%pwd

'C:\\users\\user\\onedrive\\a7'

In [27]:
!ruby ruby\\daily-out-new.rb

Name      From Date    To Date   From     To     Pct      Shares    Max    Min S Action
---------------------------------------------------------------------------------------
BANPU    2023-04-12 2023-04-17   9.95   9.80  -1.51% 181,279,431  10.10   9.80 I Update
BCH      2023-04-04 2023-04-17  20.60  21.60   4.85%  49,364,956  21.60  20.30 I Update
GVREIT   2023-04-11 2023-04-17   9.45   9.30  -1.59%     156,803   9.50   9.30 I Update
IVL      2023-04-11 2023-04-17  34.25  34.00  -0.73%  16,141,100  34.75  33.25 B Update
JASIF    2023-04-17 2023-04-17   7.10   7.05   -0.7%  15,132,458   7.10   7.00 S Insert
JMART    2023-04-17 2023-04-17  21.20  21.90    3.3%  22,400,967  22.00  21.00 B Insert
JMT      2023-04-17 2023-04-17  42.00  43.50   3.57%  11,509,145  44.00  41.75 B Insert
MCS      2023-04-10 2023-04-17   8.90   9.25   3.93%   1,380,934   9.25   8.80 S Update
ORI      2023-04-07 2023-04-17  11.90  12.20   2.52%  29,712,437  12.20  11.50 I Update
PTTGC    2023-04-11 2023-04-17  44.25  43.50  -1.69%  25,655,708  45.00  43.25 S Update
SENA     2023-04-10 2023-04-17   3.48   3.52   1.15%   1,346,579   3.52   3.40 I Update
SINGER   2023-04-12 2023-04-17  16.90  17.40   2.96%   6,078,823  17.40  16.70 B Update
STA      2023-04-12 2023-04-17  22.20  22.70   2.25%   4,353,861  22.70  22.00 B Update
TFFIF    2023-04-11 2023-04-17   7.65   7.70   0.65%   1,210,724   7.70   7.60 O Update
TMT      2023-04-17 2023-04-17   7.85   7.65  -2.55%     361,522   7.85   7.60 S Insert
=======================================================================================

In [28]:
os.chdir("C:\\users\\user\\onedrive\\a7\\Daily")
%pwd

'C:\\users\\user\\onedrive\\a7\\Daily'

### cd\ruby\port_lite
### rails runner db/ins_sales.rb