In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

format_dict = {'qty':'{:,}',
              'sell_price':'{:,.2f}','buy_price':'{:,.2f}','diff':'{:,.2f}',
              'sell_amt':'{:,.2f}','buy_amt':'{:,.2f}','gross':'{:,.2f}',
              'pct':'{:,.2f}','net':'{:,.2f}'}
pd.set_option('display.float_format','{:,.2f}'.format)
year = 2023
refund = 102_000   # 112,167.31
dividend = 435_000
expense  = 1_009_000

today = date.today()
today

datetime.date(2023, 10, 15)

### Restart and Run All Cells

### Record selection for transactions

In [2]:
sql = '''
SELECT name, YEAR(sells.date) AS sell_year, MONTH(sells.date) AS sell_month, 
       YEAR(buys.date) AS buy_year, MONTH(buys.date) AS buy_month,
       sells.price AS sell_price, buys.price AS buy_price, (sells.price - buys.price) AS diff, 
       qty, (sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt, 
       (sells.price - buys.price) * qty AS gross, 
       ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit AS net, buys.kind
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = %s
ORDER BY sells.date DESC, name'''
sql = sql % year
sells_df = pd.read_sql(sql, conpf)
print(sql)

SELECT name, YEAR(sells.date) AS sell_year, MONTH(sells.date) AS sell_month,
       YEAR(buys.date) AS buy_year, MONTH(buys.date) AS buy_month,
       sells.price AS sell_price, buys.price AS buy_price, (sells.price - buys.price) AS diff,
       qty, (sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
       (sells.price - buys.price) * qty AS gross,
       ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit AS net, buys.kind
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = 2023
ORDER BY sells.date DESC, name

In [3]:
sells_df.style.format(format_dict)

In [4]:
sells_df.groupby(['sell_year','sell_month','buy_year','buy_month','name']).net.sum()

sell_year  sell_month  buy_year  buy_month  name
2023       1           2021      9          STA       -63,619.06
                                 10         STA       -29,173.73
                       2022      2          CPAXT      14,372.89
                                            PTTGC     -11,197.69
                                 6          KCE        -7,754.72
                                 12         GFPT        4,074.74
                                            JMART       5,455.13
                       2023      1          SINGER      5,847.49
                                            WHAIR         656.69
           2           2021      7          STA       -34,467.49
                       2022      2          SCCC      -15,875.76
                                 3          KCE       -13,762.21
                                 4          KCE        -7,013.01
                                 5          DCC        -6,773.43
           3           2020      10         DIF       -14,620.17
                       2022      11         TFFIF       2,162.22
                       2023      1          GVREIT      4,594.67
           5           2023      4          JMT         3,680.06
           6           2023      1          BANPU     -60,225.27
                                 3          BANPU     -26,319.61
                                 5          NER         1,095.46
                                            ORI         2,857.81
                                            TFFIF         320.00
                                 6          CPNREIT     1,361.13
                                            DIF         1,103.43
                                            EA          2,092.91
                                            JMT         1,242.03
                                            KTC           909.19
           7           2023      6          ICHI           73.48
                                            JMART       1,480.86
                                            KTC        -4,689.38
                                 7          BBL         4,514.72
           8           2022      5          WHART         532.66
                       2023      3          JMART       1,312.41
                                 4          JMART       1,093.15
                                 6          ICHI        2,146.35
                                            JMT         6,418.09
                                 7          JMART       4,398.53
                                            TTB         1,687.04
           9           2023      9          JMART       4,105.04
Name: net, dtype: float64

In [5]:
sells_df.groupby(['name'])[['gross','net']].sum().head(5)

             gross        net
name
BANPU   -85,200.00 -86,544.88
BBL       4,800.00   4,514.72
CPAXT    15,750.00  14,372.89
CPNREIT   1,500.00   1,361.13
DCC      -6,000.00  -6,773.43

In [6]:
total_df = sells_df.groupby(['name'])[['gross','net']].sum()
total_df.nlargest(5, 'gross')[['gross','net']].style.format(format_dict)

In [7]:
file_name = 'ytd-profit.csv'
data_file = data_path + file_name
csv_file = csv_path + file_name
osd_file = osd_path + file_name

sells_df.groupby(['sell_year','sell_month','buy_year','buy_month','name']).net.sum().to_csv(csv_file)
sells_df.groupby(['sell_year','sell_month','buy_year','buy_month','name']).net.sum().to_csv(data_file)
sells_df.groupby(['sell_year','sell_month','buy_year','buy_month','name']).net.sum().to_csv(osd_file)

In [8]:
output = sells_df.groupby(['sell_month']).net.sum()
output

sell_month
1   -81,338.26
2   -77,891.90
3    -7,863.28
5     3,680.06
6   -75,562.92
7     1,379.68
8    17,588.23
9     4,105.04
Name: net, dtype: float64

In [9]:
data_path = "../data/"
file_name = 'tmp-file-of-profits.csv'
data_file = data_path + file_name
osd_file = osd_path + file_name

output.to_csv(data_file, index=True)
output.to_csv(osd_file, index=True)

In [10]:
profit = sells_df.net.sum()
ttl_profit = profit + dividend
profit,dividend,ttl_profit

(-215903.35, 435000, 219096.65)

In [11]:
profit = sells_df.net.sum()
net = profit + dividend - expense
round(profit,0),dividend,expense, round(net,0)

(-215903.0, 435000, 1009000, -789903.0)

### Bottom line of up to date transactions

In [12]:
trade = round(profit,0) + dividend
trade

219097.0

In [13]:
total = refund + net
total

-687903.35