### Restart and run all

In [5]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine
from datetime import date, timedelta
import calendar

engine = create_engine("sqlite:///c:\\ruby\\expense\\db\\development.sqlite3")
connection = engine.connect()

format_dict = {'amount':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'q_amt_c':'{:,}','q_amt_p':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',
               'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',
               'inc_pct':'{:.2f}','inc_pct_q':'{:.2f}','inc_pct_y':'{:.2f}'}
year = 2023
month = 1
today = date.today()
today

datetime.date(2023, 1, 9)

In [8]:
sql = """
SELECT date, amount, C.name AS item, G.name AS kind, strftime("%m", date) as Month 
FROM transactions T 
JOIN categories C ON category_id = C.id 
JOIN groups G ON group_id = G.id 
WHERE strftime('%Y', date) = '2023'
"""
#sql = sql % year
print(sql)

SELECT date, amount, C.name AS item, G.name AS kind, strftime("%m", date) as Month
FROM transactions T
JOIN categories C ON category_id = C.id
JOIN groups G ON group_id = G.id
WHERE strftime('%Y', date) = '2023'

In [3]:
df_t = pd.read_sql(sql, connection)
df_t.style.format(format_dict)

In [4]:
float_formatter = "฿{:,.2f}"
ttl_exp = df_t.amount.sum()
float_formatter.format(ttl_exp)

'฿34,710.00'