In [1]:
import glob
import os
import pandas as pd
from datetime import date, timedelta
from pandas.tseries.offsets import *
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

format_dict = {'qty':'{:,}',
              'sell_price':'{:,.2f}','buy_price':'{:,.2f}','diff':'{:,.2f}',
              'sell_amt':'{:,.2f}','buy_amt':'{:,.2f}','gross':'{:,.2f}',
              'pct':'{:,.2f}','net':'{:,.2f}'}

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"
dts_path = "/Users/User/Downloads/Datasets/"

# Directory to be monitored
directory = '/Users/User/Downloads'
# Dictionary of file categories and their extensions
categories = {
    'Images': ['jpeg', 'jpg', 'png'],
    'PDFs': ['pdf'],
    'Datasets': ['csv', 'xlsx', 'xls', 'json'],
    'Videos': ['mp4','m4a'],
    'Zips': ['zip'],
    'EXEs': ['exe', 'msi'],
    'Pythons': ['ipynb'],
}
pd.options.display.max_rows = 11
pd.options.display.float_format = '{:.2f}'.format
year = 2023
month = 6
today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2023, 6, 12), datetime.date(2023, 6, 11))

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
yesterday = yesterday.date()
print(f'yesterday: {yesterday}')

today: 2023-06-12
yesterday: 2023-06-09

### Restart and Run All Cells

## Must rerun whenever there is change in orders

In [3]:
sql = """
SELECT trade, name, qty, price AS target, active, reason, market, xdate 
FROM orders
ORDER BY trade, name"""
orders = pd.read_sql(sql, conlite)
orders

   trade   name    qty  target  active   reason market       xdate
0      B    AWC   4500    4.74       0     52WL  SET50  2022-12-22
1      B  BANPU   3000    7.80       0  RD30pct  SET50  2023-04-10
2      B    BBL    200  125.00       0     None  SET50  2023-04-21
3      B   BDMS   1000   24.00       0      XXX  SET50  2022-12-22
4      B    BEM   2500    7.80       0     52WL  SET50  2022-12-22
..   ...    ...    ...     ...     ...      ...    ...         ...
29     S  JMART   1200   20.60       2     5pct  SET50  2023-04-11
30     S    NER   5000    4.84       1     5pct    SET  2023-04-20
31     S  PTTGC    600   53.25       0  RD45pct  SET50  2023-02-27
32     S   SENA  15000    4.50       0    C4.48    SET  2023-05-11
33     S  TFFIF  20000    7.70       2      DOS    SET  2023-05-31

[34 rows x 8 columns]

In [4]:
file_name = "Price-Today.csv"
input_file = data_path + file_name
input_file

'../data/Price-Today.csv'

In [5]:
prices = pd.read_csv(input_file)
prices

,name,date,price,change,%change,open,high,low,volume,value(m)
0,ACE,2023-06-12,1.99,0.01,0.51,1.99,2.02,1.98,17077218,34095.86
1,ADVANC,2023-06-12,218.00,-1.00,-0.46,218.00,219.00,216.00,3391263,736748.12
2,AEONTS,2023-06-12,202.00,1.00,0.50,200.00,202.00,200.00,62902,12679.90
3,AH,2023-06-12,35.25,0.75,2.17,34.75,36.25,34.75,7101473,252533.78
4,AIE,2023-06-12,1.50,0.00,0.00,1.51,1.52,1.50,398959,602.04
...,...,...,...,...,...,...,...,...,...,...
187,WHAIR,2023-06-12,7.25,-0.05,-0.68,7.20,7.30,7.20,135404,977.92
188,WHART,2023-06-12,11.20,0.20,1.82,11.10,11.20,11.00,1052392,11689.77
189,WHAUP,2023-06-12,3.86,0.02,0.52,3.84,3.86,3.82,473970,1820.91
190,WICE,2023-06-12,8.85,-0.05,-0.56,8.95,8.95,8.75,1495003,13171.90
191,WORK,2023-06-12,16.30,0.10,0.62,16.10,16.40,16.10,221202,3594.43

In [6]:
df_merge  = pd.merge(orders, prices, on = 'name', how='inner')
df_merge

,trade,name,qty,target,active,reason,market,xdate,date,price,change,%change,open,high,low,volume,value(m)
0,B,AWC,4500,4.74,0,52WL,SET50,2022-12-22,2023-06-12,5.10,0.10,2.00,5.00,5.15,5.00,24839616,126587.97
1,B,BANPU,3000,7.80,0,RD30pct,SET50,2023-04-10,2023-06-12,8.75,0.00,0.00,8.80,8.80,8.65,46469654,405159.66
2,B,BBL,200,125.00,0,None,SET50,2023-04-21,2023-06-12,163.00,0.00,0.00,162.50,163.00,161.50,3032662,492499.31
3,B,BDMS,1000,24.00,0,XXX,SET50,2022-12-22,2023-06-12,29.00,0.25,0.87,28.75,29.00,28.50,20283559,586326.50
4,B,BEM,2500,7.80,0,52WL,SET50,2022-12-22,2023-06-12,8.35,0.00,0.00,8.35,8.40,8.30,9757840,81745.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,S,JMART,1200,20.60,2,5pct,SET50,2023-04-11,2023-06-12,19.90,0.10,0.51,19.90,20.30,19.80,17730469,355187.25
30,S,NER,5000,4.84,1,5pct,SET,2023-04-20,2023-06-12,4.68,0.02,0.43,4.66,4.70,4.66,6391619,29870.33
31,S,PTTGC,600,53.25,0,RD45pct,SET50,2023-02-27,2023-06-12,38.25,-0.25,-0.65,38.00,38.25,37.50,12387581,469437.37
32,S,SENA,15000,4.50,0,C4.48,SET,2023-05-11,2023-06-12,3.16,0.00,0.00,3.16,3.16,3.14,451958,1426.42
33,S,TFFIF,20000,7.70,2,DOS,SET,2023-05-31,2023-06-12,7.60,0.05,0.66,7.55,7.65,7.50,6510108,49443.86

In [7]:
df_merge['spd'] = 0

In [8]:
colo = ['trade', 'name', 'spd', 'reason', 'market', 'qty', 'target', 'price', 'change', '%change',
        'active', 'xdate']
df_merge[colo]

,trade,name,spd,reason,market,qty,target,price,change,%change,active,xdate
0,B,AWC,0,52WL,SET50,4500,4.74,5.10,0.10,2.00,0,2022-12-22
1,B,BANPU,0,RD30pct,SET50,3000,7.80,8.75,0.00,0.00,0,2023-04-10
2,B,BBL,0,None,SET50,200,125.00,163.00,0.00,0.00,0,2023-04-21
3,B,BDMS,0,XXX,SET50,1000,24.00,29.00,0.25,0.87,0,2022-12-22
4,B,BEM,0,52WL,SET50,2500,7.80,8.35,0.00,0.00,0,2022-12-22
...,...,...,...,...,...,...,...,...,...,...,...,...
29,S,JMART,0,5pct,SET50,1200,20.60,19.90,0.10,0.51,2,2023-04-11
30,S,NER,0,5pct,SET,5000,4.84,4.68,0.02,0.43,1,2023-04-20
31,S,PTTGC,0,RD45pct,SET50,600,53.25,38.25,-0.25,-0.65,0,2023-02-27
32,S,SENA,0,C4.48,SET,15000,4.50,3.16,0.00,0.00,0,2023-05-11
33,S,TFFIF,0,DOS,SET,20000,7.70,7.60,0.05,0.66,2,2023-05-31

In [9]:
file_name = "Price-for-Order.csv"
output_file = data_path + file_name
osd_file = osd_path + file_name

df_merge[colo].to_csv(output_file, header=True, index=False)
df_merge[colo].to_csv(osd_file, header=True, index=False)

### call ruby ruby\order-log-new.rb

In [10]:
%pwd

'C:\\Users\\User\\OneDrive\\A7\\Daily'

In [11]:
os.chdir("C:\\users\\user\\onedrive\\a7")
%pwd

'C:\\users\\user\\onedrive\\a7'

In [12]:
!ruby ruby\\order-log-new.rb

trade,name,spd,reason,market,qty,target,current,change,%change,active,xdate
B,AWC,-14,52WL,SET50,4500,4.74,5.1,0.1,2.0,0,2022-12-22
B,BANPU,-19,RD30pct,SET50,3000,7.8,8.75,0.0,0.0,0,2023-04-10
B,BBL,-76,,SET50,200,125.0,163.0,0.0,0.0,0,2023-04-21
B,BDMS,-26,XXX,SET50,1000,24.0,29.0,0.25,0.869565,0,2022-12-22
B,BEM,-11,52WL,SET50,2500,7.8,8.35,0.0,0.0,0,2022-12-22
B,BH,-94,5pct,SET50,200,169.0,232.0,-3.0,-1.276596,0,2022-12-22
B,EA,-11,52WL,SET50,400,61.0,63.75,-0.25,-0.390625,0,2022-12-22
B,ICHI,-107,XXX,SET,3000,7.2,15.2,0.0,0.0,0,2022-12-22
B,IVL,-14,RD20pct,SET50,800,30.0,33.5,0.25,0.75188,0,2023-05-26
B,JMT,-14,52WL,SET50,1800,39.75,43.25,0.25,0.581395,0,2023-04-11
B,KKP,-13,,SET100,500,58.0,61.25,-0.75,-1.209677,0,2023-04-28
B,KTB,-50,,SET50,1500,14.3,19.3,-0.2,-1.025641,0,2023-04-20
B,KTC,-6,52WL,SET50,400,50.0,51.5,-1.5,-2.830189,1,2022-12-22
B,LANNA,-20,,SET,1500,13.8,15.8,-0.2,-1.25,0,2023-03-18
B,MCS,0,RD50pct,SET,3000,7.0,7.0,0.0,0.0,1,2023-03-17
B,ORI,-11,52WL,SET100,3000,10.0,11.1,0.0,0.0,0,2023-05-08
B,PTG,-7,,SET100,1800,11.4,12.1,-0.2,-1.626016,1,2022-12-22
B,PTTEP,-30,,SET50,200,134.5,149.5,-2.0,-1.320132,0,2023-02-14
B,SINGER,-7,RD60pct,SET100,2000,10.4,11.1,-0.1,-0.892857,1,2023-05-03
B,STA,-2,RD50pct,SET100,1200,18.3,18.5,-0.3,-1.595745,1,2023-04-19
B,SYNEX,-7,RND55pct,SET,3000,12.5,13.2,-0.1,-0.75188,1,2023-03-09
B,TASCO,-31,XXX,SET,1500,15.6,18.7,-0.2,-1.058201,0,2022-12-22
B,TMT,3,RD25pct,SET,3000,7.6,7.45,-0.05,-0.666667,1,2023-04-18
B,TTB,-52,52WL,SET50,20000,1.09,1.61,-0.05,-3.012048,0,2023-04-18
S,AH,15,5pct,SET,1200,39.0,35.25,0.75,2.173913,0,2022-12-22
S,BCH,40,5pct,SET100,3000,22.4,18.4,0.1,0.546448,0,2023-05-09
S,CPNREIT,3,5pct,SET,5000,13.2,12.9,-0.1,-0.769231,2,2023-05-23
S,GVREIT,16,10pct,SET,10000,9.8,9.0,-0.05,-0.552486,0,2023-05-26
S,JASIF,31,CUT,SET,10000,8.5,6.95,-0.05,-0.714286,0,2023-05-19
S,JMART,7,5pct,SET50,1200,20.6,19.9,0.1,0.505051,2,2023-04-11
S,NER,8,5pct,SET,5000,4.84,4.68,0.02,0.429185,1,2023-04-20
S,PTTGC,60,RD45pct,SET50,600,53.25,38.25,-0.25,-0.649351,0,2023-02-27
S,SENA,67,C4.48,SET,15000,4.5,3.16,0.0,0.0,0,2023-05-11
S,TFFIF,2,DOS,SET,20000,7.7,7.6,0.05,0.662252,2,2023-05-31

In [13]:
os.chdir("C:\\users\\user\\onedrive\\a7\\daily")
%pwd

'C:\\users\\user\\onedrive\\a7\\daily'

In [14]:
file_name   = 'orders-log.csv'
input_file = data_path + file_name

df = pd.read_csv(input_file, sep=',', index_col=None)
df.query('spd >= -3 and spd <= 3')

,trade,name,spd,reason,market,qty,target,current,change,%change,active,xdate
14,B,MCS,0,RD50pct,SET,3000,7.00,7.00,0.00,0.00,1,2023-03-17
19,B,STA,-2,RD50pct,SET100,1200,18.30,18.50,-0.30,-1.60,1,2023-04-19
22,B,TMT,3,RD25pct,SET,3000,7.60,7.45,-0.05,-0.67,1,2023-04-18
26,S,CPNREIT,3,5pct,SET,5000,13.20,12.90,-0.10,-0.77,2,2023-05-23
33,S,TFFIF,2,DOS,SET,20000,7.70,7.60,0.05,0.66,2,2023-05-31

In [15]:
df.query('active == 2')

,trade,name,spd,reason,market,qty,target,current,change,%change,active,xdate
26,S,CPNREIT,3,5pct,SET,5000,13.20,12.90,-0.10,-0.77,2,2023-05-23
29,S,JMART,7,5pct,SET50,1200,20.60,19.90,0.10,0.51,2,2023-04-11
33,S,TFFIF,2,DOS,SET,20000,7.70,7.60,0.05,0.66,2,2023-05-31

In [16]:
df.query('active == 1')

,trade,name,spd,reason,market,qty,target,current,change,%change,active,xdate
12,B,KTC,-6,52WL,SET50,400,50.00,51.50,-1.50,-2.83,1,2022-12-22
14,B,MCS,0,RD50pct,SET,3000,7.00,7.00,0.00,0.00,1,2023-03-17
16,B,PTG,-7,NaN,SET100,1800,11.40,12.10,-0.20,-1.63,1,2022-12-22
18,B,SINGER,-7,RD60pct,SET100,2000,10.40,11.10,-0.10,-0.89,1,2023-05-03
19,B,STA,-2,RD50pct,SET100,1200,18.30,18.50,-0.30,-1.60,1,2023-04-19
20,B,SYNEX,-7,RND55pct,SET,3000,12.50,13.20,-0.10,-0.75,1,2023-03-09
22,B,TMT,3,RD25pct,SET,3000,7.60,7.45,-0.05,-0.67,1,2023-04-18
30,S,NER,8,5pct,SET,5000,4.84,4.68,0.02,0.43,1,2023-04-20

In [17]:
df.query('active == 0')

,trade,name,spd,reason,market,qty,target,current,change,%change,active,xdate
0,B,AWC,-14,52WL,SET50,4500,4.74,5.10,0.10,2.00,0,2022-12-22
1,B,BANPU,-19,RD30pct,SET50,3000,7.80,8.75,0.00,0.00,0,2023-04-10
2,B,BBL,-76,NaN,SET50,200,125.00,163.00,0.00,0.00,0,2023-04-21
3,B,BDMS,-26,XXX,SET50,1000,24.00,29.00,0.25,0.87,0,2022-12-22
4,B,BEM,-11,52WL,SET50,2500,7.80,8.35,0.00,0.00,0,2022-12-22
...,...,...,...,...,...,...,...,...,...,...,...,...
25,S,BCH,40,5pct,SET100,3000,22.40,18.40,0.10,0.55,0,2023-05-09
27,S,GVREIT,16,10pct,SET,10000,9.80,9.00,-0.05,-0.55,0,2023-05-26
28,S,JASIF,31,CUT,SET,10000,8.50,6.95,-0.05,-0.71,0,2023-05-19
31,S,PTTGC,60,RD45pct,SET50,600,53.25,38.25,-0.25,-0.65,0,2023-02-27
32,S,SENA,67,C4.48,SET,15000,4.50,3.16,0.00,0.00,0,2023-05-11

In [18]:
colx = ['trade', 'name', 'spd', 'reason', 'market', 'qty', 'target', 'current', 'change', '%change',
        'active', 'xdate']

file_name = "orders-log.csv"
output_file = data_path + file_name
osd_file = osd_path + file_name

df[colx].to_csv(output_file, header=True, index=False)
df[colx].to_csv(osd_file, header=True, index=False)

### Convert column name to make it valid for df.query

In [19]:
df['percent'] = df['%change']

In [20]:
df.query('percent < -2')

,trade,name,spd,reason,market,qty,target,current,change,%change,active,xdate,percent
12,B,KTC,-6,52WL,SET50,400,50.00,51.50,-1.50,-2.83,1,2022-12-22,-2.83
23,B,TTB,-52,52WL,SET50,20000,1.09,1.61,-0.05,-3.01,0,2023-04-18,-3.01

In [21]:
df.query('percent >= 2.00')

,trade,name,spd,reason,market,qty,target,current,change,%change,active,xdate,percent
0,B,AWC,-14,52WL,SET50,4500,4.74,5.10,0.10,2.00,0,2022-12-22,2.00
24,S,AH,15,5pct,SET,1200,39.00,35.25,0.75,2.17,0,2022-12-22,2.17

In [22]:
df.loc[df.trade == 'B'].sort_values('spd',ascending=False)

,trade,name,spd,reason,market,qty,target,current,change,%change,active,xdate,percent
22,B,TMT,3,RD25pct,SET,3000,7.60,7.45,-0.05,-0.67,1,2023-04-18,-0.67
14,B,MCS,0,RD50pct,SET,3000,7.00,7.00,0.00,0.00,1,2023-03-17,0.00
19,B,STA,-2,RD50pct,SET100,1200,18.30,18.50,-0.30,-1.60,1,2023-04-19,-1.60
12,B,KTC,-6,52WL,SET50,400,50.00,51.50,-1.50,-2.83,1,2022-12-22,-2.83
20,B,SYNEX,-7,RND55pct,SET,3000,12.50,13.20,-0.10,-0.75,1,2023-03-09,-0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,B,KTB,-50,NaN,SET50,1500,14.30,19.30,-0.20,-1.03,0,2023-04-20,-1.03
23,B,TTB,-52,52WL,SET50,20000,1.09,1.61,-0.05,-3.01,0,2023-04-18,-3.01
2,B,BBL,-76,NaN,SET50,200,125.00,163.00,0.00,0.00,0,2023-04-21,0.00
5,B,BH,-94,5pct,SET50,200,169.00,232.00,-3.00,-1.28,0,2022-12-22,-1.28
7,B,ICHI,-107,XXX,SET,3000,7.20,15.20,0.00,0.00,0,2022-12-22,0.00

### Sell recently purchased stocks if profitable

In [23]:
pd.set_option('display.max_rows', 40)
sql = """SELECT name, qty, price AS cost, date 
FROM buys B 
JOIN stocks S 
ON stock_id = S.id 
WHERE status = 'Active' AND year(date) = 2023
ORDER BY name, date"""
buys = pd.read_sql(sql, conpf)
#buys

In [24]:
colu = 'name qty cost price difa %change %profit'.split()
buys_price = pd.merge(buys, prices, on='name', how='inner')
buys_price['diff'] = buys_price['price'] - buys_price['cost']
buys_price['difa'] = buys_price['diff'] * buys_price['qty']
buys_price['%profit'] = round(buys_price['difa'] / (buys_price['qty'] * buys_price['cost']) * 100,2)
#buys_price[colu].sort_values(by=['%profit'],ascending=['False'])

In [25]:
watch_list = buys_price.loc[buys_price.cost <= buys_price.price,colu]
watch_list.sort_values('%profit',ascending='False')

       name    qty  cost  price    difa  %change  %profit
11   GVREIT  10000  8.90   9.00 1000.00    -0.55     1.12
17    JMART   1200 19.60  19.90  360.00     0.51     1.53
22      NER   5000  4.60   4.68  400.00     0.43     1.74
10  CPNREIT   5000 12.60  12.90 1500.00    -0.77     2.38

### Profit per Day

In [26]:
sql = '''
SELECT name, YEAR(sells.date) AS sell_year, MONTH(sells.date) AS sell_month, 
       sells.price AS sell_price, buys.price AS buy_price, (sells.price - buys.price) AS diff, 
       qty, (sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt, 
       (sells.price - buys.price) * qty AS gross, 
       ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, days
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = %s AND MONTH(sells.date) = %s
ORDER BY sells.date DESC, name'''
sql = sql % (year, month)
sells_df = pd.read_sql(sql, conpf)
print(sql)

SELECT name, YEAR(sells.date) AS sell_year, MONTH(sells.date) AS sell_month,
       sells.price AS sell_price, buys.price AS buy_price, (sells.price - buys.price) AS diff,
       qty, (sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
       (sells.price - buys.price) * qty AS gross,
       ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, days
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = 2023 AND MONTH(sells.date) = 6
ORDER BY sells.date DESC, name

In [27]:
sells_df.style.format(format_dict)

In [28]:
file_name = "monthly-sales.csv"
output_file = data_path + file_name
osd_file = osd_path + file_name

sells_df.to_csv(output_file, header=True, index=False)
sells_df.to_csv(osd_file, header=True, index=False)

In [29]:
sells_df['profit_per_day'] = (sells_df['gross'] / sells_df['buy_amt']) / sells_df['days'] * 100
sells_df

,name,sell_year,sell_month,sell_price,buy_price,diff,qty,sell_amt,buy_amt,gross,pct,days,profit_per_day
0,JMT,2023,6,41.75,39.50,2.25,600,25050.00,23700.00,1350.00,5.70,3,1.90
1,ORI,2023,6,11.20,10.20,1.00,3000,33600.00,30600.00,3000.00,9.80,23,0.43
2,EA,2023,6,64.00,61.00,3.00,400,25600.00,24400.00,1200.00,4.92,7,0.70
3,KTC,2023,6,52.50,50.00,2.50,400,21000.00,20000.00,1000.00,5.00,1,5.00

In [30]:
average_profit_percent = sells_df['profit_per_day'].mean()
print(f"Average Profit Percent: {average_profit_percent:.2f}%")

Average Profit Percent: 2.01%