In [1]:
import calendar
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
#from pandas.tseries.offsets import BDay
from pandas.tseries.offsets import * 

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.options.display.max_rows = 11
pd.options.display.float_format = '{:.2f}'.format

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2023, 7, 14), datetime.date(2023, 7, 13))

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2023-07-14
Today in mm-dd format: 07-14
yesterday: 2023-07-13 00:00:00

In [3]:
one_month_ago = yesterday + DateOffset(days = -28)
print('One month ago: ', one_month_ago, ' ', one_month_ago.day_name())

One month ago:  2023-06-15 00:00:00   Thursday

In [4]:
format_dict = {
    'ttl_qty':'{:,}','qty':'{:,}',
    'from_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}','fm_price':'{:.2f}',
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',
    'maxp':'{:.2f}','minp':'{:.2f}','pct':'{:,.2f}%',  
}

cols = 'name fm_md to_md days fm_price to_price pct spd avg max_price min_price ttl_qty trend'.split()

### Get past one quarter data

In [5]:
sql = """
SELECT name
FROM buy 
ORDER BY name
"""
buy = pd.read_sql(sql, const)

names = buy['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AH', 'ASK', 'ASP', 'AWC', 'BBL', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTG', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART'"

In [6]:
in_p = in_p + ", 'BEM', 'EA'"
in_p

"'AH', 'ASK', 'ASP', 'AWC', 'BBL', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTG', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART', 'BEM', 'EA'"

### Bypass this statement if aboce statement is executed

In [7]:
sql = """
SELECT name
FROM orders
ORDER BY trade, name
"""
#buy = pd.read_sql(sql, conlite)

#names = buy['name'].values.tolist()
#in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AH', 'ASK', 'ASP', 'AWC', 'BBL', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTG', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART', 'BEM', 'EA'"

### End of Selection between Buy or Orders

In [8]:
sql = """
SELECT name, date, price, qty, maxp, minp
FROM price 
WHERE date >= '%s' AND name IN (%s) 
ORDER BY name, date"""
sql = sql % (one_month_ago, in_p)
print(sql)

SELECT name, date, price, qty, maxp, minp
FROM price
WHERE date >= '2023-06-15 00:00:00' AND name IN ('AH', 'ASK', 'ASP', 'AWC', 'BBL', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTG', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART', 'BEM', 'EA')
ORDER BY name, date

In [9]:
price = pd.read_sql(sql, const)
price.sample(5)

      name        date  price       qty  maxp  minp
61     ASP  2023-07-10   2.78    189483  2.80  2.78
146    BEM  2023-07-05   8.50  13339801  8.60  8.50
320  JMART  2023-07-03  17.10  43547035 17.40 15.20
476  PTTGC  2023-07-05  38.75  20611379 39.25 38.25
467  PTTGC  2023-06-22  37.25  11320964 38.00 37.00

In [10]:
data_path = "../data/"
file_name = "Quarterly-Price-by-Name.csv"
output_file = data_path + file_name
osd_file = osd_path + file_name

price.to_csv(output_file, header=None, index=False)
price.to_csv(osd_file, header=True, index=False)

### Call ruby ruby\crt-summary.rb

In [11]:
%pwd

'C:\\Users\\User\\OneDrive\\A7\\Daily'

In [12]:
os.chdir("C:\\users\\user\\onedrive\\a7")
%pwd

'C:\\users\\user\\onedrive\\a7'

In [13]:
!ruby ruby\\crt-summary.rb

ruby/../Data/Quarterly-Price-by-Name.csv
name|fm_date|to_date|days|fm_price|to_price|diff|pct|spd|avg|max_price|min_price|trend|nbr|ttl_qty
AH|2023-06-15|2023-06-15|1|34.75|34.75|0.0|0.0|0|0|35.25|34.5||2|1,501,200
AH|2023-06-16|2023-06-21|4|34.5|32.75|-1.75|-5.07|-7|-2|35.0|32.25|Downward|6|8,367,251
AH|2023-06-22|2023-06-22|1|33.25|33.25|0.0|0.0|0|0|33.75|32.25|Upward|7|2,011,971
AH|2023-06-23|2023-06-26|2|32.25|30.5|-1.75|-5.43|-7|-4|33.0|30.5|Downward|9|6,611,429
AH|2023-06-27|2023-07-03|5|32.25|35.0|2.75|8.53|11|2|35.0|30.75|Upward|14|10,657,316
AH|2023-07-04|2023-07-04|1|34.5|34.5|0.0|0.0|0|0|35.0|34.25|Downward|15|689,571
AH|2023-07-05|2023-07-07|3|35.0|35.75|0.75|2.14|3|1|35.75|34.25|Upward|18|4,153,754
AH|2023-07-10|2023-07-12|3|35.0|33.0|-2.0|-5.71|-8|-3|35.5|33.0|Downward|21|4,158,197
AH|2023-07-13|2023-07-14|2|33.5|34.0|0.5|1.49|2|1|34.5|33.0|Upward|23|1,723,700
ASK|2023-06-15|2023-06-19|3|26.25|26.5|0.25|0.95|1|0|27.5|26.25|Upward|26|3,139,551
ASK|2023-06-20|2023-06-26|5|26.25|24.5|-1.75|-6.67|-10|-2|26.75|24.4|Downward|31|3,195,664
ASK|2023-06-27|2023-06-27|1|24.6|24.6|0.0|0.0|0|0|25.0|24.6|Upward|32|571,366
ASK|2023-06-28|2023-06-28|1|24.4|24.4|0.0|0.0|0|0|24.9|24.3|Downward|33|434,713
ASK|2023-06-29|2023-07-04|4|24.6|26.0|1.4|5.69|8|2|26.0|24.1|Upward|37|1,936,581
ASK|2023-07-05|2023-07-12|6|25.75|24.4|-1.35|-5.24|-9|-2|26.0|24.4|Downward|43|2,354,151
ASK|2023-07-13|2023-07-14|2|24.9|25.25|0.35|1.41|2|1|25.5|24.4|Upward|45|952,730
ASP|2023-06-15|2023-06-20|4|2.84|2.86|0.02|0.7|1|0|2.88|2.82|Upward|49|3,046,081
ASP|2023-06-21|2023-06-26|4|2.84|2.76|-0.08|-2.82|-4|-1|2.84|2.76|Downward|53|4,631,554
ASP|2023-06-27|2023-06-27|1|2.78|2.78|0.0|0.0|0|0|2.8|2.76|Upward|54|583,555
ASP|2023-06-28|2023-06-28|1|2.7|2.7|0.0|0.0|0|0|2.8|2.7|Downward|55|2,143,160
ASP|2023-06-29|2023-07-05|5|2.72|2.82|0.1|3.68|5|1|2.84|2.7|Upward|60|4,353,661
ASP|2023-07-06|2023-07-13|6|2.8|2.76|-0.04|-1.43|-2|-1|2.82|2.76|Downward|66|2,884,985
ASP|2023-07-14|2023-07-14|1|2.78|2.78|0.0|0.0|0|0|2.8|2.76|Upward|67|1,377,165
AWC|2023-06-15|2023-06-15|1|4.96|4.96|0.0|0.0|0|0|5.3|4.86|Upward|68|124,455,643
AWC|2023-06-16|2023-06-16|1|4.88|4.88|0.0|0.0|0|0|4.96|4.84|Downward|69|85,106,195
AWC|2023-06-19|2023-06-20|2|4.9|5.05|0.15|3.06|6|3|5.05|4.82|Upward|71|76,824,656
AWC|2023-06-21|2023-06-27|5|4.9|4.76|-0.14|-2.86|-7|-2|5.05|4.74|Downward|76|142,488,515
AWC|2023-06-28|2023-06-30|3|4.78|4.94|0.16|3.35|8|2|4.98|4.76|Upward|79|122,046,556
AWC|2023-07-03|2023-07-03|1|4.84|4.84|0.0|0.0|0|0|4.96|4.8|Downward|80|29,121,743
AWC|2023-07-04|2023-07-04|1|4.88|4.88|0.0|0.0|0|0|4.92|4.82|Upward|81|26,063,151
AWC|2023-07-05|2023-07-07|3|4.82|4.6|-0.22|-4.56|-11|-4|4.94|4.54|Downward|84|133,658,043
AWC|2023-07-10|2023-07-11|2|4.64|4.66|0.02|0.43|1|0|4.68|4.56|Upward|86|68,879,701
AWC|2023-07-12|2023-07-13|2|4.5|4.44|-0.06|-1.33|-3|-2|4.66|4.42|Downward|88|105,569,158
AWC|2023-07-14|2023-07-14|1|4.62|4.62|0.0|0.0|0|0|4.62|4.44|Upward|89|32,087,076
BBL|2023-06-15|2023-06-15|1|162.0|162.0|0.0|0.0|0|0|162.5|160.5|Upward|90|4,696,146
BBL|2023-06-16|2023-06-19|2|161.0|161.0|0.0|0.0|0|0|162.0|159.5|Downward|92|8,599,788
BBL|2023-06-20|2023-06-26|5|161.5|163.0|1.5|0.93|3|0|164.0|160.5|Upward|97|21,348,337
BBL|2023-06-27|2023-06-28|2|161.5|155.5|-6.0|-3.72|-12|-6|163.0|155.5|Downward|99|30,167,042
BBL|2023-06-29|2023-07-04|4|156.5|160.5|4.0|2.56|8|2|161.5|155.0|Upward|103|40,471,537
BBL|2023-07-05|2023-07-07|3|159.0|156.0|-3.0|-1.89|-6|-2|161.0|155.0|Downward|106|28,587,220
BBL|2023-07-10|2023-07-11|2|156.5|158.0|1.5|0.96|3|1|158.5|155.5|Upward|108|12,983,329
BBL|2023-07-12|2023-07-13|2|157.0|156.5|-0.5|-0.32|-1|-1|158.5|155.5|Downward|110|15,363,946
BBL|2023-07-14|2023-07-14|1|158.0|158.0|0.0|0.0|0|0|158.0|156.5|Upward|111|9,522,443
BCH|2023-06-15|2023-06-15|1|18.3|18.3|0.0|0.0|0|0|18.3|18.1|Upward|112|7,654,183
BCH|2023-06-16|2023-06-16|1|18.0|18.0|0.0|0.0|0|0|18.5|17.7|Downward|113|25,490,705
BCH|2023-06-19|2023-06-20|2|18.1|18.2|0.1|0.55|1|0|18.3|17.8|Upward|115|12,232,759
BCH|2023-06-21|2023-06-21|1|17.6|17.6|0.0|0.0|0|0|18.1|17.4|Downward|116|16,990,840
BCH|2023-06-22|2023-06-22|1|17.7|17.7|0.0|0.0|0|0|17.8|17.5|Upward|117|7,345,122
BCH|2023-06-23|2023-06-28|4|17.6|16.7|-0.9|-5.11|-9|-3|17.7|16.6|Downward|121|44,117,633
BCH|2023-06-29|2023-07-03|3|17.4|17.8|0.4|2.3|4|1|17.9|16.7|Upward|124|27,843,460
BCH|2023-07-04|2023-07-07|4|17.7|17.4|-0.3|-1.69|-3|-1|17.9|17.2|Downward|128|15,312,548
BCH|2023-07-10|2023-07-10|1|17.7|17.7|0.0|0.0|0|0|17.8|17.4|Upward|129|4,929,236
BCH|2023-07-11|2023-07-12|2|17.6|17.2|-0.4|-2.27|-4|-2|17.8|17.1|Downward|131|14,383,636
BCH|2023-07-13|2023-07-14|2|17.3|17.5|0.2|1.16|2|1|17.6|17.1|Upward|133|5,358,641
BEM|2023-06-15|2023-06-15|1|8.4|8.4|0.0|0.0|0|0|8.4|8.3|Upward|134|14,559,481
BEM|2023-06-16|2023-06-19|2|8.35|8.3|-0.05|-0.6|-1|-1|8.4|8.25|Downward|136|29,027,244
BEM|2023-06-20|2023-06-20|1|8.45|8.45|0.0|0.0|0|0|8.55|8.35|Upward|137|30,055,409
BEM|2023-06-21|2023-06-27|5|8.4|8.2|-0.2|-2.38|-4|-1|8.5|8.1|Downward|142|131,567,851
BEM|2023-06-28|2023-06-28|1|8.4|8.4|0.0|0.0|0|0|8.5|8.2|Upward|143|55,535,138
BEM|2023-06-29|2023-06-29|1|8.35|8.35|0.0|0.0|0|0|8.45|8.3|Downward|144|20,345,394
BEM|2023-06-30|2023-07-04|3|8.55|8.6|0.05|0.58|1|0|8.7|8.35|Upward|147|82,098,051
BEM|2023-07-05|2023-07-10|4|8.5|8.3|-0.2|-2.35|-4|-1|8.6|8.25|Downward|151|66,371,524
BEM|2023-07-11|2023-07-14|4|8.35|8.5|0.15|1.8|3|0|8.55|8.3|Upward|155|70,343,553
CPNREIT|2023-06-15|2023-06-15|1|12.1|12.1|0.0|0.0|0|0|12.6|11.8|Upward|156|6,556,341
CPNREIT|2023-06-16|2023-06-21|4|12.0|10.1|-1.9|-15.83|-19|-5|12.3|10.1|Downward|160|32,720,704
CPNREIT|2023-06-22|2023-06-23|2|10.4|11.0|0.6|5.77|6|3|11.0|10.2|Upward|162|10,290,298
CPNREIT|2023-06-26|2023-06-26|1|10.7|10.7|0.0|0.0|0|0|11.0|10.7|Downward|163|5,994,644
CPNREIT|2023-06-27|2023-06-27|1|11.4|11.4|0.0|0.0|0|0|11.9|11.2|Upward|164|12,987,769
CPNREIT|2023-06-28|2023-07-04|5|10.8|10.7|-0.1|-0.93|-1|-1|11.4|10.5|Downward|169|18,617,404
CPNREIT|2023-07-05|2023-07-10|4|10.8|11.0|0.2|1.85|2|0|11.0|10.7|Upward|173|11,304,068
CPNREIT|2023-07-11|2023-07-11|1|10.8|10.8|0.0|0.0|0|0|11.0|10.7|Downward|174|3,715,262
CPNREIT|2023-07-12|2023-07-12|1|10.9|10.9|0.0|0.0|0|0|10.9|10.8|Upward|175|1,482,408
CPNREIT|2023-07-13|2023-07-13|1|10.8|10.8|0.0|0.0|0|0|10.9|10.8|Downward|176|583,201
CPNREIT|2023-07-14|2023-07-14|1|10.9|10.9|0.0|0.0|0|0|10.9|10.8|Upward|177|1,206,570
DIF|2023-06-15|2023-06-16|2|12.3|12.3|0.0|0.0|0|0|12.3|12.1|Upward|179|29,457,398
DIF|2023-06-19|2023-06-26|6|12.1|10.6|-1.5|-12.4|-15|-3|12.3|10.0|Downward|185|376,144,005
DIF|2023-06-27|2023-07-03|5|10.7|11.1|0.4|3.74|4|0|11.2|10.6|Upward|190|95,005,773
DIF|2023-07-04|2023-07-14|9|11.0|10.7|-0.3|-2.73|-3|-1|11.2|10.5|Downward|199|84,070,184
EA|2023-06-15|2023-06-15|1|61.75|61.75|0.0|0.0|0|0|63.5|61.75|Downward|200|8,459,576
EA|2023-06-16|2023-06-16|1|62.0|62.0|0.0|0.0|0|0|63.0|61.5|Upward|201|7,441,785
EA|2023-06-19|2023-06-19|1|61.25|61.25|0.0|0.0|0|0|62.0|61.0|Downward|202|4,539,628
EA|2023-06-20|2023-06-20|1|61.75|61.75|0.0|0.0|0|0|62.75|61.75|Upward|203|7,163,732
EA|2023-06-21|2023-06-22|2|57.75|57.0|-0.75|-1.3|-3|-2|61.75|56.25|Downward|205|37,857,194
EA|2023-06-23|2023-06-23|1|58.0|58.0|0.0|0.0|0|0|58.5|56.75|Upward|206|7,510,582
EA|2023-06-26|2023-06-26|1|52.5|52.5|0.0|0.0|0|0|57.75|52.5|Downward|207|27,191,838
EA|2023-06-27|2023-06-27|1|52.75|52.75|0.0|0.0|0|0|54.5|52.5|Upward|208|11,955,298
EA|2023-06-28|2023-06-28|1|52.25|52.25|0.0|0.0|0|0|53.75|51.5|Downward|209|17,527,870
EA|2023-06-29|2023-06-30|2|56.0|57.0|1.0|1.79|4|2|58.0|52.25|Upward|211|37,115,066
EA|2023-07-03|2023-07-11|7|56.25|53.5|-2.75|-4.89|-11|-2|57.25|52.5|Downward|218|56,668,846
EA|2023-07-12|2023-07-14|3|53.75|56.25|2.5|4.65|10|3|56.5|52.75|Upward|221|34,593,396
GVREIT|2023-06-15|2023-06-15|1|8.9|8.9|0.0|0.0|0|0|9.0|8.9|Upward|222|236,600
GVREIT|2023-06-16|2023-06-26|7|8.85|8.3|-0.55|-6.21|-11|-2|9.0|8.3|Downward|229|2,899,661
GVREIT|2023-06-27|2023-06-27|1|8.35|8.35|0.0|0.0|0|0|8.45|8.3|Upward|230|86,207
GVREIT|2023-06-28|2023-06-29|2|8.3|8.3|0.0|0.0|0|0|8.4|8.1|Downward|232|1,419,206
GVREIT|2023-06-30|2023-07-03|2|8.35|8.45|0.1|1.2|2|1|8.5|8.3|Upward|234|146,803
GVREIT|2023-07-04|2023-07-07|4|8.3|8.25|-0.05|-0.6|-1|-1|8.5|8.25|Downward|238|614,809
GVREIT|2023-07-10|2023-07-10|1|8.3|8.3|0.0|0.0|0|0|8.35|8.2|Upward|239|664,315
GVREIT|2023-07-11|2023-07-11|1|8.25|8.25|0.0|0.0|0|0|8.35|8.2|Downward|240|255,000
GVREIT|2023-07-12|2023-07-14|3|8.3|8.4|0.1|1.2|2|0|8.45|8.2|Upward|243|898,470
ICHI|2023-06-15|2023-06-15|1|15.0|15.0|0.0|0.0|0|0|15.4|15.0|Upward|244|4,615,457
ICHI|2023-06-16|2023-06-27|8|14.4|12.9|-1.5|-10.42|-15|-2|15.1|12.7|Downward|252|88,092,825
ICHI|2023-06-28|2023-07-04|5|13.1|13.8|0.7|5.34|7|1|14.1|12.8|Upward|257|42,351,304
ICHI|2023-07-05|2023-07-06|2|13.5|13.3|-0.2|-1.48|-2|-1|13.8|13.2|Downward|259|9,830,321
ICHI|2023-07-07|2023-07-07|1|13.6|13.6|0.0|0.0|0|0|13.7|13.2|Upward|260|2,760,672
ICHI|2023-07-10|2023-07-12|3|13.5|13.0|-0.5|-3.7|-5|-2|13.8|13.0|Downward|263|14,950,280
ICHI|2023-07-13|2023-07-14|2|13.3|13.8|0.5|3.76|5|2|13.8|12.9|Upward|265|14,246,856
IVL|2023-06-15|2023-06-20|4|34.5|35.25|0.75|2.17|3|0|35.75|34.0|Upward|269|60,340,602
IVL|2023-06-21|2023-06-28|6|34.5|32.5|-2.0|-5.8|-8|-2|35.0|32.25|Downward|275|75,611,925
IVL|2023-06-29|2023-07-05|5|33.75|34.5|0.75|2.22|3|0|35.0|32.0|Upward|280|58,030,568
IVL|2023-07-06|2023-07-12|5|33.75|33.0|-0.75|-2.22|-3|-1|34.5|32.75|Downward|285|53,210,585
IVL|2023-07-13|2023-07-14|2|34.0|35.25|1.25|3.68|5|2|35.25|33.0|Upward|287|38,351,135
JASIF|2023-06-15|2023-06-16|2|7.3|7.4|0.1|1.37|2|1|7.45|7.05|Upward|289|32,256,721
JASIF|2023-06-19|2023-06-26|6|7.25|7.0|-0.25|-3.45|-5|-1|7.45|7.0|Downward|295|50,327,385
JASIF|2023-06-27|2023-06-27|1|7.1|7.1|0.0|0.0|0|0|7.15|7.05|Upward|296|4,598,383
JASIF|2023-06-28|2023-06-30|3|7.05|7.05|0.0|0.0|0|0|7.15|7.0|Downward|299|13,548,805
JASIF|2023-07-03|2023-07-04|2|7.1|7.1|0.0|0.0|0|0|7.1|7.05|Upward|301|4,686,435
JASIF|2023-07-05|2023-07-05|1|7.05|7.05|0.0|0.0|0|0|7.15|7.05|Downward|302|2,418,890
JASIF|2023-07-06|2023-07-06|1|7.1|7.1|0.0|0.0|0|0|7.15|7.05|Upward|303|4,263,455
JASIF|2023-07-07|2023-07-07|1|7.05|7.05|0.0|0.0|0|0|7.1|7.05|Downward|304|637,260
JASIF|2023-07-10|2023-07-11|2|7.1|7.1|0.0|0.0|0|0|7.1|7.05|Upward|306|7,236,258
JASIF|2023-07-12|2023-07-12|1|6.95|6.95|0.0|0.0|0|0|7.0|6.8|Downward|307|24,668,319
JASIF|2023-07-13|2023-07-13|1|7.0|7.0|0.0|0.0|0|0|7.0|6.9|Upward|308|23,109,509
JASIF|2023-07-14|2023-07-14|1|6.95|6.95|0.0|0.0|0|0|7.0|6.9|Downward|309|11,907,083
JMART|2023-06-15|2023-06-26|8|19.3|13.1|-6.2|-32.12|-62|-8|20.1|13.1|Downward|317|278,973,982
JMART|2023-06-27|2023-06-27|1|13.7|13.7|0.0|0.0|0|0|14.4|13.1|Upward|318|52,328,753
JMART|2023-06-28|2023-06-28|1|13.6|13.6|0.0|0.0|0|0|13.9|13.2|Downward|319|31,204,314
JMART|2023-06-29|2023-07-04|4|15.6|17.6|2.0|12.82|20|5|18.0|13.6|Upward|323|203,313,669
JMART|2023-07-05|2023-07-10|4|16.5|16.2|-0.3|-1.82|-3|-1|17.5|15.9|Downward|327|77,378,962
JMART|2023-07-11|2023-07-11|1|16.4|16.4|0.0|0.0|0|0|17.1|16.2|Upward|328|23,633,557
JMART|2023-07-12|2023-07-12|1|15.4|15.4|0.0|0.0|0|0|16.5|15.3|Downward|329|29,960,020
JMART|2023-07-13|2023-07-14|2|15.9|16.4|0.5|3.14|5|2|16.7|15.4|Upward|331|35,213,314
JMT|2023-06-15|2023-06-15|1|41.75|41.75|0.0|0.0|0|0|43.75|41.75|Upward|332|12,868,851
JMT|2023-06-16|2023-06-19|2|41.0|39.75|-1.25|-3.05|-5|-3|42.25|39.5|Downward|334|21,824,071
JMT|2023-06-20|2023-06-20|1|40.0|40.0|0.0|0.0|0|0|40.25|39.25|Upward|335|10,314,394
JMT|2023-06-21|2023-06-26|4|38.75|33.5|-5.25|-13.55|-21|-6|41.0|33.5|Downward|339|78,721,052
JMT|2023-06-27|2023-06-27|1|34.75|34.75|0.0|0.0|0|0|35.5|33.5|Upward|340|18,436,231
JMT|2023-06-28|2023-06-28|1|34.0|34.0|0.0|0.0|0|0|35.25|34.0|Downward|341|15,846,802
JMT|2023-06-29|2023-07-03|3|36.0|39.25|3.25|9.03|13|4|39.25|34.0|Upward|344|58,469,296
JMT|2023-07-04|2023-07-05|2|38.25|36.25|-2.0|-5.23|-8|-4|39.25|35.75|Downward|346|42,193,549
JMT|2023-07-06|2023-07-06|1|36.5|36.5|0.0|0.0|0|0|37.0|35.75|Upward|347|12,888,919
JMT|2023-07-07|2023-07-12|4|36.25|33.0|-3.25|-8.97|-13|-4|37.25|32.5|Downward|351|77,799,430
JMT|2023-07-13|2023-07-14|2|34.75|35.5|0.75|2.16|3|1|35.75|33.25|Upward|353|47,806,064
KCE|2023-06-15|2023-06-19|3|40.25|41.5|1.25|3.11|5|1|41.5|39.75|Upward|356|22,783,342
KCE|2023-06-20|2023-06-22|3|41.0|37.75|-3.25|-7.93|-13|-5|41.75|37.5|Downward|359|26,803,081
KCE|2023-06-23|2023-06-23|1|38.25|38.25|0.0|0.0|0|0|39.0|38.0|Upward|360|8,726,016
KCE|2023-06-26|2023-06-26|1|36.5|36.5|0.0|0.0|0|0|38.25|36.25|Downward|361|11,739,070
KCE|2023-06-27|2023-06-30|4|37.0|39.0|2.0|5.41|8|2|39.5|36.25|Upward|365|34,207,626
KCE|2023-07-03|2023-07-07|5|38.5|36.5|-2.0|-5.19|-8|-2|39.75|36.25|Downward|370|31,077,749
KCE|2023-07-10|2023-07-11|2|36.75|37.0|0.25|0.68|1|0|37.5|36.25|Upward|372|10,304,328
KCE|2023-07-12|2023-07-12|1|36.0|36.0|0.0|0.0|0|0|37.5|36.0|Downward|373|6,869,545
KCE|2023-07-13|2023-07-14|2|36.75|38.75|2.0|5.44|8|4|39.25|35.75|Upward|375|21,452,872
MCS|2023-06-15|2023-06-19|3|7.0|7.0|0.0|0.0|0|0|7.15|6.95|Upward|378|854,056
MCS|2023-06-20|2023-06-29|8|6.95|6.15|-0.8|-11.51|-16|-2|7.0|5.95|Downward|386|6,642,001
MCS|2023-06-30|2023-07-05|4|6.35|6.7|0.35|5.51|7|1|6.75|6.2|Upward|390|1,684,231
MCS|2023-07-06|2023-07-13|6|6.45|6.2|-0.25|-3.88|-5|-1|6.65|6.15|Downward|396|2,155,461
MCS|2023-07-14|2023-07-14|1|6.35|6.35|0.0|0.0|0|0|6.35|6.2|Upward|397|135,358
NER|2023-06-15|2023-06-16|2|4.74|4.78|0.04|0.84|2|1|4.84|4.74|Upward|399|10,853,288
NER|2023-06-19|2023-06-21|3|4.76|4.68|-0.08|-1.68|-4|-2|4.78|4.68|Downward|402|7,607,117
NER|2023-06-22|2023-06-22|1|4.7|4.7|0.0|0.0|0|0|4.76|4.68|Upward|403|3,244,398
NER|2023-06-23|2023-06-28|4|4.66|4.46|-0.2|-4.29|-10|-3|4.68|4.44|Downward|407|22,987,505
NER|2023-06-29|2023-07-05|5|4.54|4.6|0.06|1.32|3|0|4.64|4.46|Upward|412|19,440,920
NER|2023-07-06|2023-07-12|5|4.54|4.44|-0.1|-2.2|-5|-1|4.58|4.44|Downward|417|13,542,129
NER|2023-07-13|2023-07-14|2|4.46|4.56|0.1|2.24|5|2|4.58|4.4|Upward|419|5,529,988
ORI|2023-06-15|2023-06-15|1|11.2|11.2|0.0|0.0|0|0|11.3|11.1|Upward|420|2,752,606
ORI|2023-06-16|2023-06-19|2|11.1|11.0|-0.1|-0.9|-1|-1|11.3|11.0|Downward|422|2,993,584
ORI|2023-06-20|2023-06-20|1|11.1|11.1|0.0|0.0|0|0|11.2|10.9|Upward|423|2,159,132
ORI|2023-06-21|2023-06-28|6|10.8|10.0|-0.8|-7.41|-8|-2|11.1|10.0|Downward|429|46,274,677
ORI|2023-06-29|2023-06-30|2|10.1|10.6|0.5|4.95|5|2|10.6|10.2|Upward|431|15,683,760
ORI|2023-07-03|2023-07-03|1|10.2|10.2|0.0|0.0|0|0|10.6|10.1|Downward|432|9,100,929
ORI|2023-07-04|2023-07-05|2|10.3|10.3|0.0|0.0|0|0|10.6|10.1|Upward|434|15,590,747
ORI|2023-07-06|2023-07-07|2|10.1|10.1|0.0|0.0|0|0|10.4|10.0|Downward|436|11,109,329
ORI|2023-07-10|2023-07-10|1|10.4|10.4|0.0|0.0|0|0|10.4|10.1|Upward|437|5,015,625
ORI|2023-07-11|2023-07-12|2|10.3|10.1|-0.2|-1.94|-2|-1|10.4|10.0|Downward|439|11,534,494
ORI|2023-07-13|2023-07-14|2|10.2|10.4|0.2|1.96|2|1|10.4|10.0|Upward|441|6,334,087
PTG|2023-06-15|2023-06-16|2|12.1|12.2|0.1|0.83|1|0|12.3|12.1|Upward|443|5,677,772
PTG|2023-06-19|2023-06-28|8|12.0|11.6|-0.4|-3.33|-4|-1|12.3|11.3|Downward|451|39,404,185
PTG|2023-06-29|2023-07-03|3|12.2|12.3|0.1|0.82|1|0|12.3|11.5|Upward|454|18,944,789
PTG|2023-07-04|2023-07-13|8|12.0|10.1|-1.9|-15.83|-19|-3|12.3|10.4|Downward|462|99,138,422
PTG|2023-07-14|2023-07-14|1|10.2|10.2|0.0|0.0|0|0|10.3|10.0|Upward|463|12,710,643
PTTGC|2023-06-15|2023-06-15|1|38.75|38.75|0.0|0.0|0|0|39.0|38.0|Upward|464|17,626,876
PTTGC|2023-06-16|2023-06-16|1|38.0|38.0|0.0|0.0|0|0|39.0|37.5|Downward|465|18,760,891
PTTGC|2023-06-19|2023-06-20|2|38.5|38.75|0.25|0.65|1|0|39.0|37.5|Upward|467|24,449,802
PTTGC|2023-06-21|2023-06-28|6|37.75|35.75|-2.0|-5.3|-8|-2|38.5|35.5|Downward|473|58,759,650
PTTGC|2023-06-29|2023-07-05|5|36.25|38.75|2.5|6.9|10|2|39.25|35.25|Upward|478|64,280,816
PTTGC|2023-07-06|2023-07-07|2|38.5|38.5|0.0|0.0|0|0|39.0|37.5|Downward|480|33,063,354
PTTGC|2023-07-10|2023-07-14|5|39.0|40.5|1.5|3.85|6|1|40.75|38.5|Upward|485|56,860,054
RCL|2023-06-15|2023-06-16|2|24.6|24.7|0.1|0.41|1|0|25.0|24.6|Upward|487|5,135,051
RCL|2023-06-19|2023-06-22|4|24.6|24.0|-0.6|-2.44|-6|-2|24.9|23.9|Downward|491|8,644,297
RCL|2023-06-23|2023-06-23|1|24.4|24.4|0.0|0.0|0|0|24.6|23.9|Upward|492|2,936,984
RCL|2023-06-26|2023-06-26|1|23.5|23.5|0.0|0.0|0|0|24.5|23.5|Downward|493|4,270,398
RCL|2023-06-27|2023-06-27|1|23.7|23.7|0.0|0.0|0|0|24.0|23.5|Upward|494|1,918,554
RCL|2023-06-28|2023-06-28|1|23.3|23.3|0.0|0.0|0|0|23.9|23.3|Downward|495|1,818,157
RCL|2023-06-29|2023-07-04|4|23.7|24.5|0.8|3.38|8|2|24.6|23.2|Upward|499|8,464,802
RCL|2023-07-05|2023-07-10|4|24.1|23.9|-0.2|-0.83|-2|-1|24.6|23.8|Downward|503|3,514,970
RCL|2023-07-11|2023-07-11|1|24.0|24.0|0.0|0.0|0|0|24.1|23.8|Upward|504|629,331
RCL|2023-07-12|2023-07-12|1|23.6|23.6|0.0|0.0|0|0|24.0|23.3|Downward|505|2,858,340
RCL|2023-07-13|2023-07-14|2|23.8|24.2|0.4|1.68|4|2|24.2|23.5|Upward|507|2,185,459
SCC|2023-06-15|2023-06-16|2|331.0|331.0|0.0|0.0|0|0|336.0|330.0|Upward|509|3,356,351
SCC|2023-06-19|2023-06-19|1|329.0|329.0|0.0|0.0|0|0|330.0|325.0|Downward|510|2,170,170
SCC|2023-06-20|2023-06-20|1|331.0|331.0|0.0|0.0|0|0|334.0|330.0|Upward|511|1,955,014
SCC|2023-06-21|2023-06-21|1|325.0|325.0|0.0|0.0|0|0|330.0|325.0|Downward|512|1,643,301
SCC|2023-06-22|2023-06-22|1|327.0|327.0|0.0|0.0|0|0|328.0|321.0|Upward|513|1,233,151
SCC|2023-06-23|2023-06-27|3|325.0|321.0|-4.0|-1.23|-4|-2|328.0|321.0|Downward|516|3,123,060

SCC|2023-06-28|2023-06-28|1|322.0|322.0|0.0|0.0|0|0|326.0|321.0|Upward|517|1,638,366
SCC|2023-06-29|2023-06-29|1|320.0|320.0|0.0|0.0|0|0|324.0|320.0|Downward|518|1,431,061
SCC|2023-06-30|2023-07-05|4|322.0|327.0|5.0|1.55|5|1|329.0|320.0|Upward|522|7,881,662
SCC|2023-07-06|2023-07-07|2|323.0|322.0|-1.0|-0.31|-1|-1|326.0|320.0|Downward|524|3,471,976
SCC|2023-07-10|2023-07-10|1|324.0|324.0|0.0|0.0|0|0|325.0|321.0|Upward|525|1,197,179
SCC|2023-07-11|2023-07-11|1|323.0|323.0|0.0|0.0|0|0|325.0|322.0|Downward|526|1,207,052
SCC|2023-07-12|2023-07-12|1|326.0|326.0|0.0|0.0|0|0|326.0|323.0|Upward|527|1,945,871
SCC|2023-07-13|2023-07-13|1|323.0|323.0|0.0|0.0|0|0|327.0|323.0|Downward|528|1,412,382
SCC|2023-07-14|2023-07-14|1|328.0|328.0|0.0|0.0|0|0|328.0|323.0|Upward|529|1,818,083
SENA|2023-06-15|2023-06-20|4|3.12|3.12|0.0|0.0|0|0|3.14|3.08|Upward|533|2,512,352
SENA|2023-06-21|2023-06-28|6|3.08|2.9|-0.18|-5.84|-9|-2|3.12|2.9|Downward|539|4,218,838
SENA|2023-06-29|2023-07-03|3|2.96|3.02|0.06|2.03|3|1|3.02|2.9|Upward|542|2,068,766
SENA|2023-07-04|2023-07-13|8|3.0|2.98|-0.02|-0.67|-1|-1|3.02|2.92|Downward|550|2,309,314
SENA|2023-07-14|2023-07-14|1|3.0|3.0|0.0|0.0|0|0|3.0|2.94|Upward|551|451,000
SINGER|2023-06-15|2023-06-15|1|10.9|10.9|0.0|0.0|0|0|11.3|10.9|Upward|552|11,049,256
SINGER|2023-06-16|2023-06-21|4|10.8|10.0|-0.8|-7.41|-8|-2|11.0|10.0|Downward|556|35,036,851
SINGER|2023-06-22|2023-06-22|1|9.95|9.95|0.0|0.0|0|0|10.1|9.75|Upward|557|9,697,169
SINGER|2023-06-23|2023-06-26|2|9.85|8.25|-1.6|-16.24|-32|-16|9.85|8.2|Downward|559|25,093,285
SINGER|2023-06-27|2023-06-27|1|8.7|8.7|0.0|0.0|0|0|8.85|8.0|Upward|560|16,898,481
SINGER|2023-06-28|2023-06-28|1|8.4|8.4|0.0|0.0|0|0|8.7|8.35|Downward|561|7,043,739
SINGER|2023-06-29|2023-06-29|1|9.05|9.05|0.0|0.0|0|0|9.2|8.35|Upward|562|16,942,470
SINGER|2023-06-30|2023-06-30|1|9.0|9.0|0.0|0.0|0|0|9.4|8.95|Downward|563|9,471,895
SINGER|2023-07-03|2023-07-04|2|9.35|9.75|0.4|4.28|8|4|9.8|8.75|Upward|565|17,649,691
SINGER|2023-07-05|2023-07-12|6|9.25|8.75|-0.5|-5.41|-10|-2|9.8|8.7|Downward|571|35,804,932
SINGER|2023-07-13|2023-07-14|2|8.85|9.1|0.25|2.82|5|2|9.1|8.7|Upward|573|11,333,023
STA|2023-06-15|2023-06-16|2|18.7|19.0|0.3|1.6|3|1|19.0|18.5|Upward|575|10,137,998
STA|2023-06-19|2023-06-28|8|18.8|16.8|-2.0|-10.64|-20|-3|19.3|16.5|Downward|583|54,628,404
STA|2023-06-29|2023-06-30|2|17.0|17.0|0.0|0.0|0|0|17.6|16.7|Upward|585|11,230,604
STA|2023-07-03|2023-07-03|1|16.6|16.6|0.0|0.0|0|0|17.0|16.4|Downward|586|5,419,627
STA|2023-07-04|2023-07-04|1|17.1|17.1|0.0|0.0|0|0|17.2|16.5|Upward|587|3,375,682
STA|2023-07-05|2023-07-05|1|17.0|17.0|0.0|0.0|0|0|17.2|16.9|Downward|588|2,257,791
STA|2023-07-06|2023-07-06|1|17.3|17.3|0.0|0.0|0|0|17.6|16.9|Upward|589|6,210,742
STA|2023-07-07|2023-07-07|1|17.2|17.2|0.0|0.0|0|0|17.4|17.0|Downward|590|2,219,374
STA|2023-07-10|2023-07-10|1|17.3|17.3|0.0|0.0|0|0|17.5|17.0|Upward|591|2,075,981
STA|2023-07-11|2023-07-12|2|17.1|16.6|-0.5|-2.92|-5|-3|17.4|16.6|Downward|593|5,497,409
STA|2023-07-13|2023-07-14|2|17.0|17.0|0.0|0.0|0|0|17.2|16.6|Upward|595|9,407,926
SYNEX|2023-06-15|2023-06-19|3|13.0|13.1|0.1|0.77|1|0|13.4|12.8|Upward|598|959,481
SYNEX|2023-06-20|2023-06-26|5|12.8|12.1|-0.7|-5.47|-7|-2|13.1|12.1|Downward|603|942,051
SYNEX|2023-06-27|2023-06-27|1|12.3|12.3|0.0|0.0|0|0|12.4|11.9|Upward|604|197,848
SYNEX|2023-06-28|2023-06-30|3|11.9|11.9|0.0|0.0|0|0|12.4|11.8|Downward|607|1,217,951
SYNEX|2023-07-03|2023-07-05|3|12.0|12.1|0.1|0.83|1|0|12.2|11.9|Upward|610|297,883
SYNEX|2023-07-06|2023-07-10|3|12.0|12.0|0.0|0.0|0|0|12.1|11.9|Downward|613|326,179
SYNEX|2023-07-11|2023-07-11|1|12.1|12.1|0.0|0.0|0|0|12.1|11.9|Upward|614|196,201
SYNEX|2023-07-12|2023-07-13|2|11.7|11.7|0.0|0.0|0|0|12.1|11.4|Downward|616|701,986
SYNEX|2023-07-14|2023-07-14|1|11.8|11.8|0.0|0.0|0|0|12.0|11.6|Upward|617|171,838
TFFIF|2023-06-15|2023-06-16|2|7.6|7.85|0.25|3.29|5|2|7.9|7.55|Upward|619|13,242,476
TFFIF|2023-06-19|2023-06-19|1|7.7|7.7|0.0|0.0|0|0|7.8|7.7|Downward|620|1,292,943
TFFIF|2023-06-20|2023-06-21|2|7.75|7.75|0.0|0.0|0|0|7.8|7.7|Upward|622|3,026,647
TFFIF|2023-06-22|2023-06-22|1|7.6|7.6|0.0|0.0|0|0|7.75|7.6|Downward|623|3,439,907
TFFIF|2023-06-23|2023-06-23|1|7.7|7.7|0.0|0.0|0|0|7.7|7.55|Upward|624|2,910,530
TFFIF|2023-06-26|2023-06-26|1|7.55|7.55|0.0|0.0|0|0|7.7|7.5|Downward|625|7,195,717
TFFIF|2023-06-27|2023-06-28|2|7.6|7.65|0.05|0.66|1|0|7.65|7.5|Upward|627|5,146,038
TFFIF|2023-06-29|2023-06-30|2|7.55|7.55|0.0|0.0|0|0|7.65|7.55|Downward|629|6,896,512
TFFIF|2023-07-03|2023-07-11|7|7.6|7.6|0.0|0.0|0|0|7.65|7.55|Upward|636|19,152,453
TFFIF|2023-07-12|2023-07-13|2|7.55|7.55|0.0|0.0|0|0|7.65|7.5|Downward|638|4,430,872
TFFIF|2023-07-14|2023-07-14|1|7.6|7.6|0.0|0.0|0|0|7.6|7.5|Upward|639|2,057,900
TMT|2023-06-15|2023-06-16|2|7.5|7.5|0.0|0.0|0|0|7.5|7.4|Upward|641|105,143
TMT|2023-06-19|2023-06-19|1|7.45|7.45|0.0|0.0|0|0|7.5|7.45|Downward|642|18,780
TMT|2023-06-20|2023-06-20|1|7.5|7.5|0.0|0.0|0|0|7.5|7.4|Upward|643|62,429
TMT|2023-06-21|2023-06-26|4|7.45|7.25|-0.2|-2.68|-4|-1|7.5|7.25|Downward|647|747,494
TMT|2023-06-27|2023-06-27|1|7.3|7.3|0.0|0.0|0|0|7.3|7.2|Upward|648|36,725
TMT|2023-06-28|2023-06-28|1|7.25|7.25|0.0|0.0|0|0|7.3|7.2|Downward|649|87,100
TMT|2023-06-29|2023-07-04|4|7.3|7.45|0.15|2.05|3|0|7.55|7.2|Upward|653|110,374
TMT|2023-07-05|2023-07-12|6|7.4|7.25|-0.15|-2.03|-3|-1|7.5|7.25|Downward|659|338,674
TMT|2023-07-13|2023-07-14|2|7.3|7.3|0.0|0.0|0|0|7.35|7.25|Upward|661|68,117
WHAIR|2023-06-15|2023-06-20|4|7.3|7.4|0.1|1.37|2|0|7.4|7.2|Upward|665|1,187,444
WHAIR|2023-06-21|2023-06-30|8|7.3|7.1|-0.2|-2.74|-4|-1|7.4|7.1|Downward|673|3,319,379
WHAIR|2023-07-03|2023-07-03|1|7.15|7.15|0.0|0.0|0|0|7.15|7.1|Upward|674|234,200
WHAIR|2023-07-04|2023-07-07|4|7.1|7.05|-0.05|-0.7|-1|-1|7.15|6.95|Downward|678|1,765,349
WHAIR|2023-07-10|2023-07-10|1|7.1|7.1|0.0|0.0|0|0|7.1|7.0|Upward|679|285,000
WHAIR|2023-07-11|2023-07-12|2|7.05|7.0|-0.05|-0.71|-1|-1|7.1|7.0|Downward|681|251,101
WHAIR|2023-07-13|2023-07-14|2|7.05|7.05|0.0|0.0|0|0|7.05|7.0|Upward|683|269,160
WHART|2023-06-15|2023-06-16|2|11.1|11.2|0.1|0.9|1|0|11.2|11.0|Upward|685|1,436,915
WHART|2023-06-19|2023-06-22|4|11.1|10.5|-0.6|-5.41|-6|-2|11.2|10.3|Downward|689|8,436,897
WHART|2023-06-23|2023-06-26|2|10.6|10.6|0.0|0.0|0|0|10.7|10.4|Upward|691|4,070,713
WHART|2023-06-27|2023-06-27|1|10.4|10.4|0.0|0.0|0|0|10.6|10.4|Downward|692|1,488,310
WHART|2023-06-28|2023-06-28|1|10.7|10.7|0.0|0.0|0|0|10.7|10.4|Upward|693|564,441
WHART|2023-06-29|2023-06-30|2|10.6|10.6|0.0|0.0|0|0|10.7|10.5|Downward|695|2,839,723
WHART|2023-07-03|2023-07-03|1|10.7|10.7|0.0|0.0|0|0|10.7|10.5|Upward|696|276,179
WHART|2023-07-04|2023-07-04|1|10.5|10.5|0.0|0.0|0|0|10.7|10.5|Downward|697|1,654,794
WHART|2023-07-05|2023-07-05|1|10.6|10.6|0.0|0.0|0|0|10.6|10.5|Upward|698|752,806
WHART|2023-07-06|2023-07-07|2|10.5|10.5|0.0|0.0|0|0|10.6|10.4|Downward|700|1,698,111
WHART|2023-07-10|2023-07-10|1|10.7|10.7|0.0|0.0|0|0|10.7|10.6|Upward|701|1,223,330
WHART|2023-07-11|2023-07-13|3|10.6|10.6|0.0|0.0|0|0|10.7|10.6|Downward|704|1,955,255
WHART|2023-07-14|2023-07-14|1|10.7|10.7|0.0|0.0|0|0|10.7|10.6|Upward|704|1,013,328
ruby/../Data/summary.csv

In [14]:
os.chdir("C:\\users\\user\\onedrive\\a7\\daily")
%pwd

'C:\\users\\user\\onedrive\\a7\\daily'

In [15]:
file_name   = 'summary.csv'
input_file = data_path + file_name
df = pd.read_csv(input_file, sep=',', index_col=None)
df.sample(5).style.format(format_dict)

In [16]:
df.rename(columns={'from_date':'fm_date','from_price':'fm_price'},inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df['fm_md'] = df['fm_date'].dt.strftime('%m-%d')
df['to_md'] = df['to_date'].dt.strftime('%m-%d')

### Group analysis

In [17]:
mask_p = df['to_md'] == to_mmdd
df[mask_p][cols].sort_values('pct',ascending=False).head().style.format(format_dict)

In [18]:
name_up = 'CPNREIT'
mask_n = df.name == name_up
df[mask_n][cols].style.format(format_dict)

In [19]:
mask_m = df['to_md'] == to_mmdd
df[mask_m][cols].sort_values('pct',ascending=True).head().style.format(format_dict)

In [20]:
name_down = 'PTG'
mask_n = df.name == name_down
df[mask_n][cols].style.format(format_dict)

In [21]:
df_groupby_trend = df.groupby('trend')

In [22]:
# To retrieve one of the created groups
df_up = df_groupby_trend.get_group('Upward')
df_up[cols].sample(5).style.format(format_dict)

In [23]:
# To retrieve one of the created groups
df_dw = df_groupby_trend.get_group('Downward')
df_dw[cols].sample(5).style.format(format_dict)

In [24]:
# there is a function called .agg() and it allows us to specify multiple aggregation functions at once
df.groupby('trend').days.agg(['max', 'count', 'median', 'mean'])

          max  count  median  mean
trend
Downward    9    130    2.00  3.01
Upward      7    157    2.00  1.99

In [25]:
upward_max = df.groupby('trend').days.max().loc['Upward']
downward_max = df.groupby('trend').days.max().loc['Downward']

In [26]:
df.query('days == @upward_max and trend == "Upward"')[cols].style.format(format_dict)

In [27]:
df.query('days == @downward_max and trend == "Downward"')[cols]

,name,fm_md,to_md,days,fm_price,to_price,pct,spd,avg,max_price,min_price,ttl_qty,trend
77,DIF,07-04,07-14,9,11.00,10.70,-2.73,-3,-1,11.20,10.50,84070184,Downward

### Individual stock analysis

In [28]:
df.query('name == @name_up')[cols].style.format(format_dict)

In [29]:
df_tmp = price.query('name == @name_up')
df_tmp.describe().round(2)

       price         qty  maxp  minp
count  22.00       22.00 22.00 22.00
mean   10.92  4793575.86 11.16 10.73
std     0.45  3837656.56  0.54  0.46
min    10.10   583201.00 10.50  9.90
25%    10.80  1988936.00 10.90 10.62
50%    10.80  3618795.00 11.00 10.70
75%    11.00  5972644.25 11.08 10.80
max    12.10 13675377.00 12.60 11.90

In [30]:
df.query('name == @name_down')[cols].style.format(format_dict)

In [31]:
df_tmp = price.query('name == @name_down')
df_tmp.describe().round(2)

       price         qty  maxp  minp
count  22.00       22.00 22.00 22.00
mean   11.65  7994355.05 11.87 11.50
std     0.62 10539190.20  0.55  0.63
min    10.10  2120526.00 10.30  9.90
25%    11.60  2788030.25 11.72 11.42
50%    11.70  4733039.50 11.95 11.60
75%    12.00  6831095.25 12.28 11.90
max    12.30 47072508.00 12.30 12.10

In [32]:
mask_p = df['to_md'] == to_mmdd
summary = df[mask_p][cols].sort_values(['pct','trend'],ascending=[False,False])

In [33]:
file_name = 'summary-240.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

summary[cols].to_csv(output_file, header=True, index=False)
summary[cols].to_csv(data_file, header=True, index=False)
summary[cols].to_csv(one_file, header=True, index=False)
summary[cols].to_csv(osd_file, header=True, index=False)

In [34]:
sql = """
SELECT name, date, price, qty, maxp, minp
FROM price 
WHERE date >= '%s' 
ORDER BY name, date"""
sql = sql % (today)
print(sql)

SELECT name, date, price, qty, maxp, minp
FROM price
WHERE date >= '2023-07-14'
ORDER BY name, date

In [35]:
df = pd.read_sql(sql, const)
df

       name        date  price       qty   maxp   minp
0       ACE  2023-07-14   1.84  18372807   1.85   1.80
1    ADVANC  2023-07-14 222.00   6238281 222.00 218.00
2    AEONTS  2023-07-14 164.00    862765 168.00 162.00
3        AH  2023-07-14  34.00   1150979  34.50  33.25
4    AIMIRT  2023-07-14  11.50     68400  11.50  11.40
..      ...         ...    ...       ...    ...    ...
182   WHAIR  2023-07-14   7.05    153401   7.05   7.00
183   WHART  2023-07-14  10.70   1013328  10.70  10.60
184   WHAUP  2023-07-14   3.56    640805   3.58   3.54
185    WICE  2023-07-14   8.55    516007   8.55   8.35
186    WORK  2023-07-14  14.30     77505  14.50  14.30

[187 rows x 6 columns]