In [1]:
import calendar
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
#from pandas.tseries.offsets import BDay
from pandas.tseries.offsets import * 

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.options.display.max_rows = 11
pd.options.display.float_format = '{:.2f}'.format

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2023, 6, 23), datetime.date(2023, 6, 22))

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2023-06-23
Today in mm-dd format: 06-23
yesterday: 2023-06-22 00:00:00

In [3]:
one_month_ago = yesterday + DateOffset(days = -28)
print('One month ago: ', one_month_ago, ' ', one_month_ago.day_name())

One month ago:  2023-05-25 00:00:00   Thursday

In [4]:
format_dict = {
    'ttl_qty':'{:,}','qty':'{:,}',
    'from_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}','fm_price':'{:.2f}',
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',
    'maxp':'{:.2f}','minp':'{:.2f}','pct':'{:,.2f}%',  
}

cols = 'name fm_md to_md days fm_price to_price pct spd avg max_price min_price ttl_qty trend'.split()

### Get past one quarter data

In [5]:
sql = """
SELECT name
FROM buy 
ORDER BY name
"""
buy = pd.read_sql(sql, const)

names = buy['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AH', 'ASK', 'ASP', 'AWC', 'BANPU', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'KTC', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TMT', 'WHAIR', 'WHART'"

In [6]:
in_p = in_p + ", 'TFFIF', 'BEM', 'EA'"
in_p

"'AH', 'ASK', 'ASP', 'AWC', 'BANPU', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'KTC', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TMT', 'WHAIR', 'WHART', 'TFFIF', 'BEM', 'EA'"

### Bypass this statement if aboce statement is executed

In [8]:
sql = """
SELECT name
FROM orders
ORDER BY trade, name
"""
#buy = pd.read_sql(sql, conlite)

#names = buy['name'].values.tolist()
#in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'ASK', 'ASP', 'BANPU', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART', 'AWC', 'GULF', 'TTB'"

### End of Selection between Buy or Orders

In [7]:
sql = """
SELECT name, date, price, qty, maxp, minp
FROM price 
WHERE date >= '%s' AND name IN (%s) 
ORDER BY name, date"""
sql = sql % (one_month_ago, in_p)
print(sql)

SELECT name, date, price, qty, maxp, minp
FROM price
WHERE date >= '2023-05-25 00:00:00' AND name IN ('AH', 'ASK', 'ASP', 'AWC', 'BANPU', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'KTC', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TMT', 'WHAIR', 'WHART', 'TFFIF', 'BEM', 'EA')
ORDER BY name, date

In [8]:
price = pd.read_sql(sql, const)
price.sample(5)

       name        date  price       qty  maxp  minp
537  SINGER  2023-06-13  11.10   6992288 11.30 10.90
122     BCH  2023-06-20  18.20   4024626 18.30 18.00
120     BCH  2023-06-16  18.00  25490705 18.50 17.70
327     JMT  2023-06-13  43.25   8666627 43.75 43.00
142     BEM  2023-06-19   8.30  10491203  8.35  8.25

In [9]:
data_path = "../data/"
file_name = "Quarterly-Price-by-Name.csv"
output_file = data_path + file_name
osd_file = osd_path + file_name

price.to_csv(output_file, header=None, index=False)
price.to_csv(osd_file, header=True, index=False)

### Call ruby ruby\crt-summary.rb

In [10]:
%pwd

'C:\\Users\\User\\OneDrive\\A7\\Daily'

In [11]:
os.chdir("C:\\users\\user\\onedrive\\a7")
%pwd

'C:\\users\\user\\onedrive\\a7'

In [12]:
!ruby ruby\\crt-summary.rb

ruby/../Data/Quarterly-Price-by-Name.csv
name|fm_date|to_date|days|fm_price|to_price|diff|pct|spd|avg|max_price|min_price|trend|nbr|ttl_qty
AH|2023-05-25|2023-05-25|1|34.0|34.0|0.0|0.0|0|0|34.5|33.75||2|554,612
AH|2023-05-26|2023-05-31|4|34.75|37.75|3.0|8.63|12|3|38.25|34.0|Upward|6|14,202,687
AH|2023-06-01|2023-06-01|1|37.0|37.0|0.0|0.0|0|0|37.75|36.5|Downward|7|2,882,866
AH|2023-06-02|2023-06-07|4|37.25|39.25|2.0|5.37|8|2|39.25|36.25|Upward|10|8,078,969
AH|2023-06-08|2023-06-09|2|36.5|34.5|-2.0|-5.48|-8|-4|37.75|27.75|Downward|12|103,830,264
AH|2023-06-12|2023-06-12|1|35.25|35.25|0.0|0.0|0|0|36.25|34.75|Upward|13|7,101,473
AH|2023-06-13|2023-06-14|2|35.0|34.5|-0.5|-1.43|-2|-1|35.75|33.75|Downward|15|5,935,722
AH|2023-06-15|2023-06-15|1|34.75|34.75|0.0|0.0|0|0|35.25|34.5|Upward|16|1,501,200
AH|2023-06-16|2023-06-21|4|34.5|32.75|-1.75|-5.07|-7|-2|35.0|32.25|Downward|20|8,367,251
AH|2023-06-22|2023-06-22|1|33.25|33.25|0.0|0.0|0|0|33.75|32.25|Upward|21|2,011,971
AH|2023-06-23|2023-06-23|1|32.25|32.25|0.0|0.0|0|0|33.0|32.25|Downward|22|2,130,807
ASK|2023-05-25|2023-05-29|3|28.5|27.75|-0.75|-2.63|-3|-1|28.75|27.75|Downward|25|1,498,642
ASK|2023-05-30|2023-06-06|6|28.25|28.5|0.25|0.88|1|0|28.75|27.5|Upward|30|2,175,102
ASK|2023-06-07|2023-06-07|1|28.0|28.0|0.0|0.0|0|0|28.25|28.0|Downward|31|192,757
ASK|2023-06-08|2023-06-09|2|28.25|28.25|0.0|0.0|0|0|28.5|28.0|Upward|33|705,643
ASK|2023-06-12|2023-06-12|1|27.5|27.5|0.0|0.0|0|0|28.5|27.5|Downward|34|1,288,006
ASK|2023-06-13|2023-06-13|1|28.0|28.0|0.0|0.0|0|0|28.0|27.5|Upward|35|350,170
ASK|2023-06-14|2023-06-15|2|27.5|26.25|-1.25|-4.55|-5|-3|28.0|26.25|Downward|37|3,561,959
ASK|2023-06-16|2023-06-19|2|26.5|26.5|0.0|0.0|0|0|27.0|26.25|Upward|39|707,624
ASK|2023-06-20|2023-06-23|4|26.25|25.0|-1.25|-4.76|-5|-2|26.75|25.0|Downward|43|2,240,741
ASP|2023-05-25|2023-05-30|4|2.86|2.86|0.0|0.0|0|0|2.88|2.84|Downward|47|1,852,783
ASP|2023-05-31|2023-05-31|1|2.88|2.88|0.0|0.0|0|0|2.88|2.84|Upward|48|746,728
ASP|2023-06-01|2023-06-06|4|2.86|2.84|-0.02|-0.7|-1|-1|2.88|2.84|Downward|51|1,671,189
ASP|2023-06-07|2023-06-09|3|2.86|2.88|0.02|0.7|1|0|2.88|2.84|Upward|54|1,555,630
ASP|2023-06-12|2023-06-13|2|2.84|2.84|0.0|0.0|0|0|2.88|2.84|Downward|56|2,478,501
ASP|2023-06-14|2023-06-14|1|2.88|2.88|0.0|0.0|0|0|2.88|2.84|Upward|57|793,106
ASP|2023-06-15|2023-06-19|3|2.84|2.84|0.0|0.0|0|0|2.88|2.82|Downward|60|2,271,266
ASP|2023-06-20|2023-06-20|1|2.86|2.86|0.0|0.0|0|0|2.86|2.82|Upward|61|774,815
ASP|2023-06-21|2023-06-23|3|2.84|2.82|-0.02|-0.7|-1|-1|2.84|2.8|Downward|64|2,783,685
AWC|2023-05-25|2023-06-01|6|5.15|4.82|-0.33|-6.41|-12|-2|5.2|4.78|Downward|70|294,526,415
AWC|2023-06-02|2023-06-02|1|4.88|4.88|0.0|0.0|0|0|4.88|4.82|Upward|71|29,699,549
AWC|2023-06-06|2023-06-06|1|4.84|4.84|0.0|0.0|0|0|4.92|4.8|Downward|72|30,759,888
AWC|2023-06-07|2023-06-08|2|4.94|5.05|0.11|2.23|4|2|5.05|4.82|Upward|74|68,313,762
AWC|2023-06-09|2023-06-09|1|5.0|5.0|0.0|0.0|0|0|5.1|5.0|Downward|75|15,460,325
AWC|2023-06-12|2023-06-14|3|5.1|5.3|0.2|3.92|4|1|5.4|5.0|Upward|78|121,222,739
AWC|2023-06-15|2023-06-16|2|4.96|4.88|-0.08|-1.61|-4|-2|5.3|4.84|Downward|80|209,561,838
AWC|2023-06-19|2023-06-20|2|4.9|5.05|0.15|3.06|6|3|5.05|4.82|Upward|82|76,824,656
AWC|2023-06-21|2023-06-23|3|4.9|4.88|-0.02|-0.41|-1|-1|5.05|4.8|Downward|85|86,935,103
BANPU|2023-05-25|2023-05-26|2|8.15|8.1|-0.05|-0.61|-1|-1|8.25|7.9|Downward|87|154,720,085
BANPU|2023-05-29|2023-05-31|3|8.2|8.25|0.05|0.61|1|0|8.35|8.05|Upward|90|233,615,892
BANPU|2023-06-01|2023-06-01|1|8.2|8.2|0.0|0.0|0|0|8.25|8.1|Downward|91|48,276,124
BANPU|2023-06-02|2023-06-12|7|8.3|8.75|0.45|5.42|9|1|8.8|8.2|Upward|97|549,071,452
BANPU|2023-06-13|2023-06-13|1|8.7|8.7|0.0|0.0|0|0|8.75|8.65|Downward|98|48,729,162
BANPU|2023-06-14|2023-06-14|1|8.9|8.9|0.0|0.0|0|0|8.95|8.75|Upward|99|95,846,031
BANPU|2023-06-15|2023-06-15|1|8.8|8.8|0.0|0.0|0|0|8.95|8.75|Downward|100|57,655,582
BANPU|2023-06-16|2023-06-16|1|9.05|9.05|0.0|0.0|0|0|9.15|8.95|Upward|101|150,592,658
BANPU|2023-06-19|2023-06-19|1|9.0|9.0|0.0|0.0|0|0|9.05|8.95|Downward|102|60,685,294
BANPU|2023-06-20|2023-06-20|1|9.1|9.1|0.0|0.0|0|0|9.25|9.05|Upward|103|108,223,742
BANPU|2023-06-21|2023-06-21|1|9.05|9.05|0.0|0.0|0|0|9.1|9.0|Downward|104|56,001,954
BANPU|2023-06-22|2023-06-23|2|9.1|9.15|0.05|0.55|1|0|9.15|9.0|Upward|106|109,755,280
BCH|2023-05-25|2023-05-25|1|17.8|17.8|0.0|0.0|0|0|18.0|17.5|Upward|107|13,378,007
BCH|2023-05-26|2023-05-26|1|17.7|17.7|0.0|0.0|0|0|17.9|17.4|Downward|108|18,404,235
BCH|2023-05-29|2023-05-30|2|18.6|18.9|0.3|1.61|3|1|19.1|17.9|Upward|110|57,006,668
BCH|2023-05-31|2023-06-02|3|18.5|18.3|-0.2|-1.08|-2|-1|18.9|18.1|Downward|113|46,451,170
BCH|2023-06-06|2023-06-08|3|18.4|18.4|0.0|0.0|0|0|18.7|18.1|Upward|116|35,910,721
BCH|2023-06-09|2023-06-09|1|18.3|18.3|0.0|0.0|0|0|18.6|18.3|Downward|117|14,152,226
BCH|2023-06-12|2023-06-13|2|18.4|18.4|0.0|0.0|0|0|18.6|18.1|Upward|119|24,433,032
BCH|2023-06-14|2023-06-16|3|18.3|18.0|-0.3|-1.64|-3|-1|18.5|17.7|Downward|122|45,239,993
BCH|2023-06-19|2023-06-20|2|18.1|18.2|0.1|0.55|1|0|18.3|17.8|Upward|124|12,232,759
BCH|2023-06-21|2023-06-21|1|17.6|17.6|0.0|0.0|0|0|18.1|17.4|Downward|125|16,990,840
BCH|2023-06-22|2023-06-22|1|17.7|17.7|0.0|0.0|0|0|17.8|17.5|Upward|126|7,345,122
BCH|2023-06-23|2023-06-23|1|17.6|17.6|0.0|0.0|0|0|17.7|17.5|Downward|127|9,315,686
BEM|2023-05-25|2023-05-26|2|8.05|8.05|0.0|0.0|0|0|8.2|7.95|Downward|129|106,656,293
BEM|2023-05-29|2023-05-30|2|8.15|8.15|0.0|0.0|0|0|8.2|8.0|Upward|131|53,854,830
BEM|2023-05-31|2023-06-02|3|8.05|8.05|0.0|0.0|0|0|8.15|7.95|Downward|134|107,677,543
BEM|2023-06-06|2023-06-08|3|8.1|8.4|0.3|3.7|6|2|8.45|8.0|Upward|137|98,926,059
BEM|2023-06-09|2023-06-12|2|8.35|8.35|0.0|0.0|0|0|8.4|8.3|Downward|139|25,683,087
BEM|2023-06-13|2023-06-13|1|8.55|8.55|0.0|0.0|0|0|8.55|8.4|Upward|140|18,037,994
BEM|2023-06-14|2023-06-19|4|8.4|8.3|-0.1|-1.19|-2|-1|8.55|8.25|Downward|144|71,368,189
BEM|2023-06-20|2023-06-20|1|8.45|8.45|0.0|0.0|0|0|8.55|8.35|Upward|145|30,055,409
BEM|2023-06-21|2023-06-23|3|8.4|8.3|-0.1|-1.19|-2|-1|8.5|8.1|Downward|148|76,230,451
CPNREIT|2023-05-25|2023-05-26|2|12.9|12.8|-0.1|-0.78|-1|-1|12.9|12.7|Downward|150|1,167,086
CPNREIT|2023-05-29|2023-05-30|2|12.9|12.9|0.0|0.0|0|0|12.9|12.8|Upward|152|811,213
CPNREIT|2023-05-31|2023-06-02|3|12.8|12.8|0.0|0.0|0|0|12.9|12.7|Downward|155|2,250,814
CPNREIT|2023-06-06|2023-06-07|2|12.9|12.9|0.0|0.0|0|0|13.0|12.6|Upward|157|3,678,090
CPNREIT|2023-06-08|2023-06-08|1|12.8|12.8|0.0|0.0|0|0|12.9|12.8|Downward|158|795,603
CPNREIT|2023-06-09|2023-06-09|1|13.0|13.0|0.0|0.0|0|0|13.0|12.7|Upward|159|2,498,945
CPNREIT|2023-06-12|2023-06-21|8|12.9|10.1|-2.8|-21.71|-28|-4|13.0|10.1|Downward|167|46,450,088
CPNREIT|2023-06-22|2023-06-23|2|10.4|11.0|0.6|5.77|6|3|11.0|10.2|Upward|169|10,290,298
DIF|2023-05-25|2023-05-29|3|12.3|12.4|0.1|0.81|1|0|12.4|12.2|Upward|172|26,189,448
DIF|2023-05-30|2023-06-02|4|12.3|12.3|0.0|0.0|0|0|12.4|12.3|Downward|176|15,007,176
DIF|2023-06-06|2023-06-08|3|12.4|12.4|0.0|0.0|0|0|12.4|12.2|Upward|179|41,584,965
DIF|2023-06-09|2023-06-23|11|12.3|10.6|-1.7|-13.82|-17|-2|12.4|10.0|Downward|190|416,432,342
EA|2023-05-25|2023-05-30|4|66.0|63.75|-2.25|-3.41|-9|-3|66.5|63.75|Downward|194|27,587,199
EA|2023-05-31|2023-05-31|1|65.0|65.0|0.0|0.0|0|0|65.0|63.0|Upward|195|14,100,350
EA|2023-06-01|2023-06-01|1|60.75|60.75|0.0|0.0|0|0|64.5|60.75|Downward|196|18,252,304
EA|2023-06-02|2023-06-02|1|61.25|61.25|0.0|0.0|0|0|62.0|60.75|Upward|197|9,654,407
EA|2023-06-06|2023-06-06|1|60.5|60.5|0.0|0.0|0|0|62.0|60.0|Downward|198|7,711,166
EA|2023-06-07|2023-06-08|2|63.0|65.0|2.0|3.17|8|4|65.5|60.5|Upward|200|32,947,142
EA|2023-06-09|2023-06-15|5|64.0|61.75|-2.25|-3.52|-9|-2|65.0|61.75|Downward|205|37,981,341
EA|2023-06-16|2023-06-16|1|62.0|62.0|0.0|0.0|0|0|63.0|61.5|Upward|206|7,441,785
EA|2023-06-19|2023-06-19|1|61.25|61.25|0.0|0.0|0|0|62.0|61.0|Downward|207|4,539,628
EA|2023-06-20|2023-06-20|1|61.75|61.75|0.0|0.0|0|0|62.75|61.75|Upward|208|7,163,732
EA|2023-06-21|2023-06-22|2|57.75|57.0|-0.75|-1.3|-3|-2|61.75|56.25|Downward|210|37,857,194
EA|2023-06-23|2023-06-23|1|58.0|58.0|0.0|0.0|0|0|58.5|56.75|Upward|211|7,510,582
GVREIT|2023-05-25|2023-05-25|1|9.25|9.25|0.0|0.0|0|0|9.25|9.2|Upward|212|702,505
GVREIT|2023-05-26|2023-06-06|8|9.1|9.0|-0.1|-1.1|-2|-1|9.15|9.0|Downward|219|2,184,703
GVREIT|2023-06-07|2023-06-07|1|9.05|9.05|0.0|0.0|0|0|9.05|9.0|Upward|220|464,600
GVREIT|2023-06-08|2023-06-08|1|9.0|9.0|0.0|0.0|0|0|9.1|9.0|Downward|221|270,500
GVREIT|2023-06-09|2023-06-09|1|9.05|9.05|0.0|0.0|0|0|9.1|9.0|Upward|222|251,000
GVREIT|2023-06-12|2023-06-12|1|9.0|9.0|0.0|0.0|0|0|9.05|9.0|Downward|223|545,500
GVREIT|2023-06-13|2023-06-13|1|9.05|9.05|0.0|0.0|0|0|9.05|9.0|Upward|224|28,700
GVREIT|2023-06-14|2023-06-23|8|8.9|8.45|-0.45|-5.06|-9|-2|9.05|8.45|Downward|232|3,089,340
ICHI|2023-05-25|2023-05-30|4|14.7|14.4|-0.3|-2.04|-3|-1|14.8|14.3|Downward|236|35,363,057
ICHI|2023-05-31|2023-06-01|2|14.5|14.7|0.2|1.38|2|1|14.8|14.3|Upward|238|15,770,816
ICHI|2023-06-02|2023-06-02|1|14.4|14.4|0.0|0.0|0|0|14.7|14.4|Downward|239|5,019,522
ICHI|2023-06-06|2023-06-07|2|15.0|15.2|0.2|1.33|2|1|15.3|14.4|Upward|241|34,468,963
ICHI|2023-06-08|2023-06-08|1|15.0|15.0|0.0|0.0|0|0|15.2|14.7|Downward|242|12,344,947
ICHI|2023-06-09|2023-06-12|2|15.2|15.2|0.0|0.0|0|0|15.4|15.0|Upward|244|20,189,064
ICHI|2023-06-13|2023-06-13|1|15.0|15.0|0.0|0.0|0|0|15.4|14.9|Downward|245|11,995,449
ICHI|2023-06-14|2023-06-14|1|15.3|15.3|0.0|0.0|0|0|15.3|15.0|Upward|246|6,709,864
ICHI|2023-06-15|2023-06-23|7|15.0|14.1|-0.9|-6.0|-9|-2|15.4|13.8|Downward|253|62,416,892
IVL|2023-05-25|2023-05-29|3|32.5|32.25|-0.25|-0.77|-1|-1|33.25|32.0|Downward|256|28,098,606
IVL|2023-05-30|2023-05-30|1|32.5|32.5|0.0|0.0|0|0|32.5|31.75|Upward|257|9,710,381
IVL|2023-05-31|2023-05-31|1|31.75|31.75|0.0|0.0|0|0|32.5|31.0|Downward|258|31,178,445
IVL|2023-06-01|2023-06-02|2|32.0|32.75|0.75|2.34|3|1|33.0|31.5|Upward|260|25,802,995
IVL|2023-06-06|2023-06-07|2|32.5|32.5|0.0|0.0|0|0|33.0|32.0|Downward|262|25,405,243
IVL|2023-06-08|2023-06-14|5|33.25|35.0|1.75|5.26|7|1|35.5|32.0|Upward|267|96,558,242
IVL|2023-06-15|2023-06-19|3|34.5|34.5|0.0|0.0|0|0|35.25|34.0|Downward|270|39,531,567
IVL|2023-06-20|2023-06-20|1|35.25|35.25|0.0|0.0|0|0|35.75|34.5|Upward|271|20,809,035
IVL|2023-06-21|2023-06-23|3|34.5|34.25|-0.25|-0.72|-1|-1|35.0|33.75|Downward|274|34,942,744
JASIF|2023-05-25|2023-05-25|1|6.9|6.9|0.0|0.0|0|0|7.0|6.9|Downward|275|2,212,252
JASIF|2023-05-26|2023-06-01|5|6.95|7.0|0.05|0.72|1|0|7.0|6.9|Upward|280|24,074,943
JASIF|2023-06-02|2023-06-07|4|6.95|6.95|0.0|0.0|0|0|7.0|6.95|Downward|283|9,539,507
JASIF|2023-06-08|2023-06-09|2|7.0|7.0|0.0|0.0|0|0|7.0|6.95|Upward|285|6,397,882

JASIF|2023-06-12|2023-06-12|1|6.95|6.95|0.0|0.0|0|0|7.0|6.95|Downward|286|2,209,493
JASIF|2023-06-13|2023-06-16|4|7.0|7.4|0.4|5.71|8|2|7.45|6.95|Upward|290|46,057,345
JASIF|2023-06-19|2023-06-23|5|7.25|7.1|-0.15|-2.07|-3|-1|7.45|7.0|Downward|295|42,789,330
JMART|2023-05-25|2023-05-26|2|20.7|19.1|-1.6|-7.73|-16|-8|21.1|19.0|Downward|297|75,556,859
JMART|2023-05-29|2023-05-31|3|19.3|20.4|1.1|5.7|11|3|20.5|19.0|Upward|300|66,871,020
JMART|2023-06-01|2023-06-07|5|20.1|19.2|-0.9|-4.48|-9|-2|20.5|18.9|Downward|304|56,896,458
JMART|2023-06-08|2023-06-14|5|19.3|20.1|0.8|4.15|8|1|20.5|18.9|Upward|309|82,009,899
JMART|2023-06-15|2023-06-23|7|19.3|16.0|-3.3|-17.1|-33|-5|20.1|15.6|Downward|316|170,215,757
JMT|2023-05-25|2023-05-26|2|42.0|40.5|-1.5|-3.57|-6|-3|42.25|40.5|Downward|318|15,133,304
JMT|2023-05-29|2023-05-29|1|40.75|40.75|0.0|0.0|0|0|41.75|40.25|Upward|319|5,354,030
JMT|2023-05-30|2023-05-30|1|39.75|39.75|0.0|0.0|0|0|40.75|39.5|Downward|320|11,998,586
JMT|2023-05-31|2023-05-31|1|43.0|43.0|0.0|0.0|0|0|44.0|39.25|Upward|321|69,063,646
JMT|2023-06-01|2023-06-06|4|42.5|39.25|-3.25|-7.65|-13|-4|43.25|39.25|Downward|324|54,350,987
JMT|2023-06-07|2023-06-14|6|39.5|43.25|3.75|9.49|15|2|44.25|38.5|Upward|330|88,354,608
JMT|2023-06-15|2023-06-19|3|41.75|39.75|-2.0|-4.79|-8|-3|43.75|39.5|Downward|333|34,692,922
JMT|2023-06-20|2023-06-20|1|40.0|40.0|0.0|0.0|0|0|40.25|39.25|Upward|334|10,314,394
JMT|2023-06-21|2023-06-23|3|38.75|36.75|-2.0|-5.16|-8|-3|41.0|36.25|Downward|337|46,779,645
KCE|2023-05-25|2023-05-26|2|38.5|38.25|-0.25|-0.65|-1|-1|40.25|37.75|Downward|339|28,625,708
KCE|2023-05-29|2023-05-30|2|38.5|39.25|0.75|1.95|3|1|39.5|38.25|Upward|341|13,326,770
KCE|2023-05-31|2023-06-06|5|39.0|37.75|-1.25|-3.21|-5|-1|39.5|37.75|Downward|345|27,432,899
KCE|2023-06-07|2023-06-08|2|38.75|39.5|0.75|1.94|3|1|39.75|37.75|Upward|347|10,759,995
KCE|2023-06-09|2023-06-12|2|39.25|39.25|0.0|0.0|0|0|39.75|39.0|Downward|349|6,424,036
KCE|2023-06-13|2023-06-13|1|41.0|41.0|0.0|0.0|0|0|41.5|39.75|Upward|350|16,314,467
KCE|2023-06-14|2023-06-16|3|40.5|40.25|-0.25|-0.62|-1|-1|41.5|39.75|Downward|353|22,176,609
KCE|2023-06-19|2023-06-19|1|41.5|41.5|0.0|0.0|0|0|41.5|40.0|Upward|354|9,009,314
KCE|2023-06-20|2023-06-22|3|41.0|37.75|-3.25|-7.93|-13|-5|41.75|37.5|Downward|357|26,803,081
KCE|2023-06-23|2023-06-23|1|38.25|38.25|0.0|0.0|0|0|39.0|38.0|Upward|358|8,726,016
KTC|2023-05-25|2023-05-26|2|52.75|53.0|0.25|0.47|1|0|54.0|52.25|Upward|360|10,159,861
KTC|2023-05-29|2023-06-01|4|52.75|50.25|-2.5|-4.74|-10|-3|53.5|50.25|Downward|364|38,460,488
KTC|2023-06-02|2023-06-02|1|51.0|51.0|0.0|0.0|0|0|51.25|49.75|Upward|365|8,014,448
KTC|2023-06-06|2023-06-06|1|50.75|50.75|0.0|0.0|0|0|51.75|50.25|Downward|366|6,263,735
KTC|2023-06-07|2023-06-09|3|51.0|53.0|2.0|3.92|8|2|53.0|50.0|Upward|369|15,022,617
KTC|2023-06-12|2023-06-12|1|51.5|51.5|0.0|0.0|0|0|52.75|51.5|Downward|370|3,219,169
KTC|2023-06-13|2023-06-13|1|52.25|52.25|0.0|0.0|0|0|52.5|51.5|Upward|371|2,038,613
KTC|2023-06-14|2023-06-15|2|51.5|49.5|-2.0|-3.88|-8|-4|52.5|49.5|Downward|373|13,335,769
KTC|2023-06-16|2023-06-16|1|50.25|50.25|0.0|0.0|0|0|50.5|49.25|Upward|374|5,252,490
KTC|2023-06-19|2023-06-19|1|49.5|49.5|0.0|0.0|0|0|50.0|49.25|Downward|375|2,523,417
KTC|2023-06-20|2023-06-23|4|50.25|50.5|0.25|0.5|1|0|51.25|49.5|Upward|379|15,842,414
MCS|2023-05-25|2023-05-25|1|7.35|7.35|0.0|0.0|0|0|7.4|7.3|Upward|380|372,299
MCS|2023-05-26|2023-05-31|4|7.3|7.1|-0.2|-2.74|-4|-1|7.4|7.0|Downward|384|1,447,465
MCS|2023-06-01|2023-06-02|2|7.15|7.15|0.0|0.0|0|0|7.2|7.1|Upward|386|597,280
MCS|2023-06-06|2023-06-06|1|7.1|7.1|0.0|0.0|0|0|7.1|7.05|Downward|387|502,457
MCS|2023-06-07|2023-06-07|1|7.15|7.15|0.0|0.0|0|0|7.15|7.1|Upward|388|239,629
MCS|2023-06-08|2023-06-12|3|7.0|7.0|0.0|0.0|0|0|7.15|6.95|Downward|391|2,650,474
MCS|2023-06-13|2023-06-13|1|7.15|7.15|0.0|0.0|0|0|7.15|7.05|Upward|392|390,005
MCS|2023-06-14|2023-06-23|8|7.1|6.75|-0.35|-4.93|-7|-1|7.15|6.55|Downward|400|4,449,906
NER|2023-05-25|2023-06-01|6|4.76|4.44|-0.32|-6.72|-16|-3|4.84|4.44|Downward|406|59,442,249
NER|2023-06-02|2023-06-02|1|4.46|4.46|0.0|0.0|0|0|4.5|4.42|Upward|407|4,228,005
NER|2023-06-06|2023-06-06|1|4.44|4.44|0.0|0.0|0|0|4.5|4.44|Downward|408|5,118,424
NER|2023-06-07|2023-06-14|6|4.48|4.82|0.34|7.59|17|2|4.84|4.44|Upward|414|40,555,134
NER|2023-06-15|2023-06-15|1|4.74|4.74|0.0|0.0|0|0|4.84|4.74|Downward|415|7,258,218
NER|2023-06-16|2023-06-16|1|4.78|4.78|0.0|0.0|0|0|4.8|4.74|Upward|416|3,595,070
NER|2023-06-19|2023-06-21|3|4.76|4.68|-0.08|-1.68|-4|-2|4.78|4.68|Downward|419|7,607,117
NER|2023-06-22|2023-06-22|1|4.7|4.7|0.0|0.0|0|0|4.76|4.68|Upward|420|3,244,398
NER|2023-06-23|2023-06-23|1|4.66|4.66|0.0|0.0|0|0|4.68|4.64|Downward|421|2,888,481
ORI|2023-05-25|2023-05-26|2|10.7|10.6|-0.1|-0.93|-1|-1|10.8|10.4|Downward|423|9,296,102
ORI|2023-05-29|2023-05-29|1|11.1|11.1|0.0|0.0|0|0|11.1|10.6|Upward|424|13,279,793
ORI|2023-05-30|2023-05-31|2|10.9|10.8|-0.1|-0.92|-1|-1|11.1|10.8|Downward|426|13,567,857
ORI|2023-06-01|2023-06-01|1|11.0|11.0|0.0|0.0|0|0|11.1|10.7|Upward|427|7,270,500
ORI|2023-06-02|2023-06-06|3|10.9|10.8|-0.1|-0.92|-1|-1|11.0|10.8|Downward|429|3,865,454
ORI|2023-06-07|2023-06-08|2|10.9|11.2|0.3|2.75|3|1|11.2|10.8|Upward|431|9,256,031
ORI|2023-06-09|2023-06-12|2|11.1|11.1|0.0|0.0|0|0|11.2|11.0|Downward|433|5,693,176
ORI|2023-06-13|2023-06-13|1|11.3|11.3|0.0|0.0|0|0|11.4|11.1|Upward|434|3,728,737
ORI|2023-06-14|2023-06-19|4|11.2|11.0|-0.2|-1.79|-2|-1|11.5|11.0|Downward|438|8,026,011
ORI|2023-06-20|2023-06-20|1|11.1|11.1|0.0|0.0|0|0|11.2|10.9|Upward|439|2,159,132
ORI|2023-06-21|2023-06-23|3|10.8|10.6|-0.2|-1.85|-2|-1|11.1|10.4|Downward|442|20,096,939
PTTGC|2023-05-25|2023-05-26|2|36.25|35.75|-0.5|-1.38|-2|-1|37.25|35.75|Downward|444|52,397,917
PTTGC|2023-05-29|2023-05-30|2|36.25|36.25|0.0|0.0|0|0|36.5|35.75|Upward|446|16,640,980
PTTGC|2023-05-31|2023-06-01|2|35.25|34.75|-0.5|-1.42|-2|-1|36.0|34.75|Downward|448|37,965,873
PTTGC|2023-06-02|2023-06-02|1|35.75|35.75|0.0|0.0|0|0|36.25|35.25|Upward|449|15,656,993
PTTGC|2023-06-06|2023-06-06|1|35.5|35.5|0.0|0.0|0|0|36.5|35.5|Downward|450|11,809,498
PTTGC|2023-06-07|2023-06-09|3|36.5|38.5|2.0|5.48|8|2|38.5|35.5|Upward|453|68,192,314
PTTGC|2023-06-12|2023-06-12|1|38.25|38.25|0.0|0.0|0|0|38.25|37.5|Downward|454|12,387,581
PTTGC|2023-06-13|2023-06-14|2|38.5|39.25|0.75|1.95|3|1|39.5|37.5|Upward|456|39,186,877
PTTGC|2023-06-15|2023-06-16|2|38.75|38.0|-0.75|-1.94|-3|-2|39.0|37.5|Downward|458|36,387,767
PTTGC|2023-06-19|2023-06-20|2|38.5|38.75|0.25|0.65|1|0|39.0|37.5|Upward|460|24,449,802
PTTGC|2023-06-21|2023-06-23|3|37.75|37.25|-0.5|-1.32|-2|-1|38.5|36.75|Downward|463|32,049,240
RCL|2023-05-25|2023-05-26|2|24.4|24.2|-0.2|-0.82|-2|-1|24.7|24.2|Downward|465|3,475,739
RCL|2023-05-29|2023-05-30|2|24.4|24.4|0.0|0.0|0|0|24.6|24.2|Upward|467|1,636,703
RCL|2023-05-31|2023-06-01|2|24.0|23.3|-0.7|-2.92|-7|-4|24.4|23.3|Downward|469|5,613,781
RCL|2023-06-02|2023-06-14|9|23.7|25.0|1.3|5.49|13|1|25.25|23.3|Upward|477|31,347,151
RCL|2023-06-15|2023-06-15|1|24.6|24.6|0.0|0.0|0|0|25.0|24.6|Downward|478|3,201,174
RCL|2023-06-16|2023-06-16|1|24.7|24.7|0.0|0.0|0|0|24.9|24.6|Upward|479|1,933,877
RCL|2023-06-19|2023-06-22|4|24.6|24.0|-0.6|-2.44|-6|-2|24.9|23.9|Downward|483|8,644,297
RCL|2023-06-23|2023-06-23|1|24.4|24.4|0.0|0.0|0|0|24.6|23.9|Upward|484|2,936,984
SCC|2023-05-25|2023-05-29|3|330.0|332.0|2.0|0.61|2|0|336.0|328.0|Upward|487|4,844,973
SCC|2023-05-30|2023-05-31|2|325.0|319.0|-6.0|-1.85|-6|-3|332.0|319.0|Downward|489|9,251,889
SCC|2023-06-01|2023-06-08|6|323.0|338.0|15.0|4.64|15|2|338.0|320.0|Upward|494|9,016,384
SCC|2023-06-09|2023-06-12|2|333.0|332.0|-1.0|-0.3|-1|-1|337.0|331.0|Downward|496|2,647,359
SCC|2023-06-13|2023-06-14|2|334.0|335.0|1.0|0.3|1|0|337.0|332.0|Upward|498|3,283,552
SCC|2023-06-15|2023-06-19|3|331.0|329.0|-2.0|-0.6|-2|-1|336.0|325.0|Downward|501|5,526,521
SCC|2023-06-20|2023-06-20|1|331.0|331.0|0.0|0.0|0|0|334.0|330.0|Upward|502|1,955,014
SCC|2023-06-21|2023-06-21|1|325.0|325.0|0.0|0.0|0|0|330.0|325.0|Downward|503|1,643,301
SCC|2023-06-22|2023-06-22|1|327.0|327.0|0.0|0.0|0|0|328.0|321.0|Upward|504|1,233,151
SCC|2023-06-23|2023-06-23|1|325.0|325.0|0.0|0.0|0|0|328.0|325.0|Downward|505|621,372
SENA|2023-05-25|2023-05-26|2|3.16|3.14|-0.02|-0.63|-1|-1|3.18|3.14|Downward|507|1,485,437
SENA|2023-05-29|2023-05-30|2|3.16|3.16|0.0|0.0|0|0|3.16|3.12|Upward|509|921,131
SENA|2023-05-31|2023-06-02|3|3.14|3.12|-0.02|-0.64|-1|-1|3.16|3.12|Downward|512|1,597,077
SENA|2023-06-06|2023-06-06|1|3.14|3.14|0.0|0.0|0|0|3.14|3.1|Upward|513|628,349
SENA|2023-06-07|2023-06-07|1|3.12|3.12|0.0|0.0|0|0|3.12|3.1|Downward|514|696,598
SENA|2023-06-08|2023-06-14|5|3.14|3.16|0.02|0.64|1|0|3.16|3.1|Upward|519|3,573,314
SENA|2023-06-15|2023-06-23|7|3.12|3.02|-0.1|-3.21|-5|-1|3.14|2.98|Downward|526|5,244,223
SINGER|2023-05-25|2023-05-26|2|11.6|10.9|-0.7|-6.03|-7|-4|11.7|10.9|Downward|528|18,530,935
SINGER|2023-05-29|2023-05-31|3|11.0|11.4|0.4|3.64|4|1|11.7|10.8|Upward|531|29,866,557
SINGER|2023-06-01|2023-06-07|5|11.3|11.0|-0.3|-2.65|-3|-1|11.6|10.8|Downward|535|21,823,850
SINGER|2023-06-08|2023-06-09|2|11.2|11.2|0.0|0.0|0|0|11.6|10.7|Upward|537|22,419,726
SINGER|2023-06-12|2023-06-13|2|11.1|11.1|0.0|0.0|0|0|11.5|10.9|Downward|539|14,945,535
SINGER|2023-06-14|2023-06-14|1|11.3|11.3|0.0|0.0|0|0|11.6|11.1|Upward|540|8,700,370
SINGER|2023-06-15|2023-06-21|5|10.9|10.0|-0.9|-8.26|-9|-2|11.3|10.0|Downward|545|46,086,107
SINGER|2023-06-22|2023-06-22|1|9.95|9.95|0.0|0.0|0|0|10.1|9.75|Upward|546|9,697,169
SINGER|2023-06-23|2023-06-23|1|9.85|9.85|0.0|0.0|0|0|10.1|9.75|Downward|547|5,246,769
STA|2023-05-25|2023-05-29|3|19.0|18.9|-0.1|-0.53|-1|-1|19.3|18.7|Downward|550|8,084,262
STA|2023-05-30|2023-05-30|1|19.1|19.1|0.0|0.0|0|0|19.2|18.7|Upward|551|2,752,929
STA|2023-05-31|2023-06-01|2|19.0|18.7|-0.3|-1.58|-3|-2|19.0|18.6|Downward|553|6,592,379
STA|2023-06-02|2023-06-02|1|18.9|18.9|0.0|0.0|0|0|19.0|18.8|Upward|554|2,003,229
STA|2023-06-06|2023-06-07|2|18.7|18.7|0.0|0.0|0|0|19.0|18.5|Downward|556|6,930,076
STA|2023-06-08|2023-06-08|1|19.0|19.0|0.0|0.0|0|0|19.1|18.6|Upward|557|5,394,096
STA|2023-06-09|2023-06-12|2|18.8|18.5|-0.3|-1.6|-3|-2|19.0|18.4|Downward|559|10,408,367
STA|2023-06-13|2023-06-16|4|18.6|19.0|0.4|2.15|4|1|19.0|18.4|Upward|563|20,239,038
STA|2023-06-19|2023-06-23|5|18.8|17.1|-1.7|-9.04|-17|-4|19.3|17.0|Downward|568|42,123,028
SYNEX|2023-05-25|2023-05-26|2|13.2|13.0|-0.2|-1.52|-2|-1|13.3|13.0|Downward|570|483,673
SYNEX|2023-05-29|2023-05-31|3|13.1|13.3|0.2|1.53|2|0|13.4|12.9|Upward|573|747,379
SYNEX|2023-06-01|2023-06-02|2|13.0|12.9|-0.1|-0.77|-1|-1|13.2|12.9|Downward|575|375,582
SYNEX|2023-06-06|2023-06-06|1|13.0|13.0|0.0|0.0|0|0|13.0|12.9|Upward|576|111,652
SYNEX|2023-06-07|2023-06-07|1|12.9|12.9|0.0|0.0|0|0|13.0|12.8|Downward|577|136,516
SYNEX|2023-06-08|2023-06-09|2|13.0|13.3|0.3|2.31|3|1|13.3|12.8|Upward|579|462,153
SYNEX|2023-06-12|2023-06-12|1|13.2|13.2|0.0|0.0|0|0|13.3|13.1|Downward|580|293,569
SYNEX|2023-06-13|2023-06-14|2|13.3|13.3|0.0|0.0|0|0|13.4|13.1|Upward|582|944,102
SYNEX|2023-06-15|2023-06-15|1|13.0|13.0|0.0|0.0|0|0|13.4|12.9|Downward|583|431,598
SYNEX|2023-06-16|2023-06-19|2|13.1|13.1|0.0|0.0|0|0|13.3|12.8|Upward|585|527,883
SYNEX|2023-06-20|2023-06-23|4|12.8|12.6|-0.2|-1.56|-2|-1|13.1|12.5|Downward|589|629,753
TFFIF|2023-05-25|2023-05-25|1|7.7|7.7|0.0|0.0|0|0|7.75|7.7|Downward|590|731,951
TFFIF|2023-05-26|2023-05-29|2|7.75|7.75|0.0|0.0|0|0|7.75|7.7|Upward|592|2,487,860
TFFIF|2023-05-30|2023-06-09|9|7.7|7.55|-0.15|-1.95|-3|-1|7.75|7.5|Downward|600|15,517,590
TFFIF|2023-06-12|2023-06-14|3|7.6|7.65|0.05|0.66|1|0|7.65|7.5|Upward|603|15,323,520
TFFIF|2023-06-15|2023-06-15|1|7.6|7.6|0.0|0.0|0|0|7.6|7.55|Downward|604|1,719,004
TFFIF|2023-06-16|2023-06-16|1|7.85|7.85|0.0|0.0|0|0|7.9|7.55|Upward|605|11,523,472
TFFIF|2023-06-19|2023-06-19|1|7.7|7.7|0.0|0.0|0|0|7.8|7.7|Downward|606|1,292,943
TFFIF|2023-06-20|2023-06-21|2|7.75|7.75|0.0|0.0|0|0|7.8|7.7|Upward|608|3,026,647
TFFIF|2023-06-22|2023-06-22|1|7.6|7.6|0.0|0.0|0|0|7.75|7.6|Downward|609|3,439,907
TFFIF|2023-06-23|2023-06-23|1|7.7|7.7|0.0|0.0|0|0|7.7|7.55|Upward|610|2,910,530
TMT|2023-05-25|2023-05-25|1|7.65|7.65|0.0|0.0|0|0|7.65|7.6|Upward|611|7,917
TMT|2023-05-26|2023-06-08|10|7.6|7.45|-0.15|-1.97|-3|-1|7.65|7.4|Downward|620|1,082,757
TMT|2023-06-09|2023-06-09|1|7.5|7.5|0.0|0.0|0|0|7.5|7.45|Upward|621|239,238
TMT|2023-06-12|2023-06-13|2|7.45|7.45|0.0|0.0|0|0|7.5|7.4|Downward|623|175,860
TMT|2023-06-14|2023-06-16|3|7.5|7.5|0.0|0.0|0|0|7.5|7.4|Upward|626|122,855
TMT|2023-06-19|2023-06-19|1|7.45|7.45|0.0|0.0|0|0|7.5|7.45|Downward|627|18,780
TMT|2023-06-20|2023-06-20|1|7.5|7.5|0.0|0.0|0|0|7.5|7.4|Upward|628|62,429
TMT|2023-06-21|2023-06-23|3|7.45|7.35|-0.1|-1.34|-2|-1|7.5|7.25|Downward|631|667,087
WHAIR|2023-05-25|2023-05-31|5|7.3|7.15|-0.15|-2.05|-3|-1|7.35|7.1|Downward|636|2,379,985
WHAIR|2023-06-01|2023-06-01|1|7.2|7.2|0.0|0.0|0|0|7.2|7.1|Upward|637|218,000
WHAIR|2023-06-02|2023-06-02|1|7.1|7.1|0.0|0.0|0|0|7.2|7.1|Downward|638|485,216
WHAIR|2023-06-06|2023-06-09|4|7.15|7.3|0.15|2.1|3|0|7.3|7.05|Upward|642|709,940
WHAIR|2023-06-12|2023-06-13|2|7.25|7.25|0.0|0.0|0|0|7.3|7.2|Downward|644|154,804
WHAIR|2023-06-14|2023-06-20|5|7.3|7.4|0.1|1.37|2|0|7.4|7.2|Upward|649|1,589,144
WHAIR|2023-06-21|2023-06-23|3|7.3|7.2|-0.1|-1.37|-2|-1|7.4|7.15|Downward|652|1,242,009
WHART|2023-05-25|2023-05-25|1|10.9|10.9|0.0|0.0|0|0|10.9|10.8|Downward|653|1,064,837
WHART|2023-05-26|2023-05-26|1|11.0|11.0|0.0|0.0|0|0|11.0|10.8|Upward|654|1,596,800
WHART|2023-05-29|2023-05-30|2|10.9|10.9|0.0|0.0|0|0|11.0|10.9|Downward|656|1,762,017
WHART|2023-05-31|2023-06-06|5|11.0|11.2|0.2|1.82|2|0|11.2|10.9|Upward|660|3,573,119
WHART|2023-06-07|2023-06-09|3|11.0|11.0|0.0|0.0|0|0|11.2|11.0|Downward|663|3,236,177
WHART|2023-06-12|2023-06-12|1|11.2|11.2|0.0|0.0|0|0|11.2|11.0|Upward|664|1,052,392
WHART|2023-06-13|2023-06-13|1|11.0|11.0|0.0|0.0|0|0|11.2|11.0|Downward|665|996,533
WHART|2023-06-14|2023-06-16|3|11.1|11.2|0.1|0.9|1|0|11.2|11.0|Upward|668|2,926,617
WHART|2023-06-19|2023-06-22|4|11.1|10.5|-0.6|-5.41|-6|-2|11.2|10.3|Downward|672|8,436,897
WHART|2023-06-23|2023-06-23|1|10.6|10.6|0.0|0.0|0|0|10.7|10.4|Upward|672|2,918,600
ruby/../Data/summary.csv

In [13]:
os.chdir("C:\\users\\user\\onedrive\\a7\\daily")
%pwd

'C:\\users\\user\\onedrive\\a7\\daily'

In [14]:
file_name   = 'summary.csv'
input_file = data_path + file_name
df = pd.read_csv(input_file, sep=',', index_col=None)
df.sample(5).style.format(format_dict)

In [15]:
df.rename(columns={'from_date':'fm_date','from_price':'fm_price'},inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df['fm_md'] = df['fm_date'].dt.strftime('%m-%d')
df['to_md'] = df['to_date'].dt.strftime('%m-%d')

### Group analysis

In [16]:
mask_p = df['to_md'] == to_mmdd
df[mask_p][cols].sort_values('pct',ascending=False).head().style.format(format_dict)

In [17]:
name_up = 'CPNREIT'
mask_n = df.name == name_up
df[mask_n][cols].style.format(format_dict)

In [18]:
mask_m = df['to_md'] == to_mmdd
df[mask_m][cols].sort_values('pct',ascending=True).head().style.format(format_dict)

In [19]:
name_down = 'JMART'
mask_n = df.name == name_down
df[mask_n][cols].style.format(format_dict)

In [20]:
df_groupby_trend = df.groupby('trend')

In [21]:
# To retrieve one of the created groups
df_up = df_groupby_trend.get_group('Upward')
df_up[cols].sample(5).style.format(format_dict)

In [22]:
# To retrieve one of the created groups
df_dw = df_groupby_trend.get_group('Downward')
df_dw[cols].sample(5).style.format(format_dict)

In [23]:
# there is a function called .agg() and it allows us to specify multiple aggregation functions at once
df.groupby('trend').days.agg(['max', 'count', 'median', 'mean'])

          max  count  median  mean
trend
Downward   11    153    2.00  2.66
Upward      9    137    2.00  2.04

In [24]:
upward_max = df.groupby('trend').days.max().loc['Upward']
downward_max = df.groupby('trend').days.max().loc['Downward']

In [25]:
df.query('days == @upward_max and trend == "Upward"')[cols].style.format(format_dict)

In [26]:
df.query('days == @downward_max and trend == "Downward"')[cols]

,name,fm_md,to_md,days,fm_price,to_price,pct,spd,avg,max_price,min_price,ttl_qty,trend
82,DIF,06-09,06-23,11,12.30,10.60,-13.82,-17,-2,12.40,10.00,416432342,Downward

### Individual stock analysis

In [27]:
df.query('name == @name_up')[cols].style.format(format_dict)

In [28]:
df_tmp = price.query('name == @name_up')
df_tmp.describe().round(2)

       price         qty  maxp  minp
count  21.00       21.00 21.00 21.00
mean   12.24  3235339.86 12.42 12.05
std     0.98  3725696.80  0.85  1.07
min    10.10    97082.00 10.50  9.90
25%    12.00   685031.00 12.30 11.80
50%    12.80  1533485.00 12.90 12.70
75%    12.90  4383653.00 12.90 12.80
max    13.00 13675377.00 13.00 12.80

In [29]:
df.query('name == @name_down')[cols].style.format(format_dict)

In [30]:
df_tmp = price.query('name == @name_down')
df_tmp.describe().round(2)

       price         qty  maxp  minp
count  21.00       21.00 21.00 21.00
mean   19.12 21502380.62 19.67 18.84
std     1.31 14088101.40  1.15  1.26
min    16.00  8185881.00 16.50 15.60
25%    19.10 13152640.00 19.40 18.90
50%    19.30 15909129.00 20.10 19.10
75%    19.90 23528362.00 20.30 19.60
max    20.70 59073442.00 21.10 19.90

In [31]:
mask_p = df['to_md'] == to_mmdd
summary = df[mask_p][cols].sort_values(['pct','trend'],ascending=[False,False])

In [32]:
file_name = 'summary-240.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

summary[cols].to_csv(output_file, header=True, index=False)
summary[cols].to_csv(data_file, header=True, index=False)
summary[cols].to_csv(one_file, header=True, index=False)
summary[cols].to_csv(osd_file, header=True, index=False)

In [33]:
sql = """
SELECT name, date, price, qty, maxp, minp
FROM price 
WHERE date >= '%s' 
ORDER BY name, date"""
sql = sql % (today)
print(sql)

SELECT name, date, price, qty, maxp, minp
FROM price
WHERE date >= '2023-06-23'
ORDER BY name, date

In [34]:
df = pd.read_sql(sql, const)
df

       name        date  price       qty   maxp   minp
0       ACE  2023-06-23   1.89  15610982   1.92   1.88
1    ADVANC  2023-06-23 211.00   4423809 213.00 209.00
2    AEONTS  2023-06-23 186.00    213604 190.50 185.50
3        AH  2023-06-23  32.25   2130807  33.00  32.25
4       AIE  2023-06-23   1.44    212273   1.44   1.42
..      ...         ...    ...       ...    ...    ...
187   WHAIR  2023-06-23   7.20    271400   7.25   7.15
188   WHART  2023-06-23  10.60   2918600  10.70  10.40
189   WHAUP  2023-06-23   3.74    837232   3.78   3.72
190    WICE  2023-06-23   8.45    937825   8.55   8.35
191    WORK  2023-06-23  14.90    586178  15.40  14.90

[192 rows x 6 columns]