In [1]:
import calendar
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
#from pandas.tseries.offsets import BDay
from pandas.tseries.offsets import * 

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.options.display.max_rows = 11
pd.options.display.float_format = '{:.2f}'.format

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2023, 7, 7), datetime.date(2023, 7, 6))

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2023-07-07
Today in mm-dd format: 07-07
yesterday: 2023-07-06 00:00:00

In [3]:
one_month_ago = yesterday + DateOffset(days = -28)
print('One month ago: ', one_month_ago, ' ', one_month_ago.day_name())

One month ago:  2023-06-08 00:00:00   Thursday

In [4]:
format_dict = {
    'ttl_qty':'{:,}','qty':'{:,}',
    'from_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}','fm_price':'{:.2f}',
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',
    'maxp':'{:.2f}','minp':'{:.2f}','pct':'{:,.2f}%',  
}

cols = 'name fm_md to_md days fm_price to_price pct spd avg max_price min_price ttl_qty trend'.split()

### Get past one quarter data

In [5]:
sql = """
SELECT name
FROM buy 
ORDER BY name
"""
buy = pd.read_sql(sql, const)

names = buy['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AH', 'ASK', 'ASP', 'AWC', 'BBL', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'KTC', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART'"

In [6]:
in_p = in_p + ", 'BEM', 'EA'"
in_p

"'AH', 'ASK', 'ASP', 'AWC', 'BBL', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'KTC', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART', 'BEM', 'EA'"

### Bypass this statement if aboce statement is executed

In [8]:
sql = """
SELECT name
FROM orders
ORDER BY trade, name
"""
#buy = pd.read_sql(sql, conlite)

#names = buy['name'].values.tolist()
#in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'ASK', 'ASP', 'BANPU', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART', 'AWC', 'GULF', 'TTB'"

### End of Selection between Buy or Orders

In [7]:
sql = """
SELECT name, date, price, qty, maxp, minp
FROM price 
WHERE date >= '%s' AND name IN (%s) 
ORDER BY name, date"""
sql = sql % (one_month_ago, in_p)
print(sql)

SELECT name, date, price, qty, maxp, minp
FROM price
WHERE date >= '2023-06-08 00:00:00' AND name IN ('AH', 'ASK', 'ASP', 'AWC', 'BBL', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'KTC', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART', 'BEM', 'EA')
ORDER BY name, date

In [8]:
price = pd.read_sql(sql, const)
price.sample(5)

      name        date  price       qty  maxp  minp
322  JMART  2023-06-28  13.60  31204314 13.90 13.20
684  WHART  2023-06-12  11.20   1052392 11.20 11.00
247   ICHI  2023-06-15  15.00   4615457 15.40 15.00
217     EA  2023-07-05  54.25  11778894 56.00 54.00
353    KCE  2023-06-09  39.25   4813415 39.75 39.00

In [9]:
data_path = "../data/"
file_name = "Quarterly-Price-by-Name.csv"
output_file = data_path + file_name
osd_file = osd_path + file_name

price.to_csv(output_file, header=None, index=False)
price.to_csv(osd_file, header=True, index=False)

### Call ruby ruby\crt-summary.rb

In [10]:
%pwd

'C:\\Users\\User\\OneDrive\\A7\\Daily'

In [11]:
os.chdir("C:\\users\\user\\onedrive\\a7")
%pwd

'C:\\users\\user\\onedrive\\a7'

In [12]:
!ruby ruby\\crt-summary.rb

ruby/../Data/Quarterly-Price-by-Name.csv
name|fm_date|to_date|days|fm_price|to_price|diff|pct|spd|avg|max_price|min_price|trend|nbr|ttl_qty
AH|2023-06-08|2023-06-08|1|36.5|36.5|0.0|0.0|0|0|37.75|27.75||2|88,779,944
AH|2023-06-09|2023-06-09|1|34.5|34.5|0.0|0.0|0|0|37.25|34.25|Downward|3|15,050,320
AH|2023-06-12|2023-06-12|1|35.25|35.25|0.0|0.0|0|0|36.25|34.75|Upward|4|7,101,473
AH|2023-06-13|2023-06-14|2|35.0|34.5|-0.5|-1.43|-2|-1|35.75|33.75|Downward|6|5,935,722
AH|2023-06-15|2023-06-15|1|34.75|34.75|0.0|0.0|0|0|35.25|34.5|Upward|7|1,501,200
AH|2023-06-16|2023-06-21|4|34.5|32.75|-1.75|-5.07|-7|-2|35.0|32.25|Downward|11|8,367,251
AH|2023-06-22|2023-06-22|1|33.25|33.25|0.0|0.0|0|0|33.75|32.25|Upward|12|2,011,971
AH|2023-06-23|2023-06-26|2|32.25|30.5|-1.75|-5.43|-7|-4|33.0|30.5|Downward|14|6,611,429
AH|2023-06-27|2023-07-03|5|32.25|35.0|2.75|8.53|11|2|35.0|30.75|Upward|19|10,657,316
AH|2023-07-04|2023-07-04|1|34.5|34.5|0.0|0.0|0|0|35.0|34.25|Downward|20|689,571
AH|2023-07-05|2023-07-07|3|35.0|35.75|0.75|2.14|3|1|35.75|34.25|Upward|23|4,153,754
ASK|2023-06-08|2023-06-09|2|28.25|28.25|0.0|0.0|0|0|28.5|28.0|Upward|25|705,643
ASK|2023-06-12|2023-06-12|1|27.5|27.5|0.0|0.0|0|0|28.5|27.5|Downward|26|1,288,006
ASK|2023-06-13|2023-06-13|1|28.0|28.0|0.0|0.0|0|0|28.0|27.5|Upward|27|350,170
ASK|2023-06-14|2023-06-15|2|27.5|26.25|-1.25|-4.55|-5|-3|28.0|26.25|Downward|29|3,561,959
ASK|2023-06-16|2023-06-19|2|26.5|26.5|0.0|0.0|0|0|27.0|26.25|Upward|31|707,624
ASK|2023-06-20|2023-06-26|5|26.25|24.5|-1.75|-6.67|-10|-2|26.75|24.4|Downward|36|3,195,664
ASK|2023-06-27|2023-06-27|1|24.6|24.6|0.0|0.0|0|0|25.0|24.6|Upward|37|571,366
ASK|2023-06-28|2023-06-28|1|24.4|24.4|0.0|0.0|0|0|24.9|24.3|Downward|38|434,713
ASK|2023-06-29|2023-07-04|4|24.6|26.0|1.4|5.69|8|2|26.0|24.1|Upward|42|1,936,581
ASK|2023-07-05|2023-07-07|3|25.75|25.0|-0.75|-2.91|-3|-1|26.0|24.7|Downward|45|1,077,038
ASP|2023-06-08|2023-06-08|1|2.86|2.86|0.0|0.0|0|0|2.88|2.84|Downward|46|586,867
ASP|2023-06-09|2023-06-09|1|2.88|2.88|0.0|0.0|0|0|2.88|2.86|Upward|47|439,217
ASP|2023-06-12|2023-06-13|2|2.84|2.84|0.0|0.0|0|0|2.88|2.84|Downward|49|2,478,501
ASP|2023-06-14|2023-06-14|1|2.88|2.88|0.0|0.0|0|0|2.88|2.84|Upward|50|793,106
ASP|2023-06-15|2023-06-19|3|2.84|2.84|0.0|0.0|0|0|2.88|2.82|Downward|53|2,271,266
ASP|2023-06-20|2023-06-20|1|2.86|2.86|0.0|0.0|0|0|2.86|2.82|Upward|54|774,815
ASP|2023-06-21|2023-06-26|4|2.84|2.76|-0.08|-2.82|-4|-1|2.84|2.76|Downward|58|4,631,554
ASP|2023-06-27|2023-06-27|1|2.78|2.78|0.0|0.0|0|0|2.8|2.76|Upward|59|583,555
ASP|2023-06-28|2023-06-28|1|2.7|2.7|0.0|0.0|0|0|2.8|2.7|Downward|60|2,143,160
ASP|2023-06-29|2023-07-05|5|2.72|2.82|0.1|3.68|5|1|2.84|2.7|Upward|65|4,353,661
ASP|2023-07-06|2023-07-07|2|2.8|2.8|0.0|0.0|0|0|2.82|2.76|Downward|67|1,190,439
AWC|2023-06-08|2023-06-09|2|5.05|5.0|-0.05|-0.99|-1|-1|5.1|4.9|Downward|69|48,879,910
AWC|2023-06-12|2023-06-14|3|5.1|5.3|0.2|3.92|4|1|5.4|5.0|Upward|72|121,222,739
AWC|2023-06-15|2023-06-16|2|4.96|4.88|-0.08|-1.61|-4|-2|5.3|4.84|Downward|74|209,561,838
AWC|2023-06-19|2023-06-20|2|4.9|5.05|0.15|3.06|6|3|5.05|4.82|Upward|76|76,824,656
AWC|2023-06-21|2023-06-27|5|4.9|4.76|-0.14|-2.86|-7|-2|5.05|4.74|Downward|81|142,488,515
AWC|2023-06-28|2023-06-30|3|4.78|4.94|0.16|3.35|8|2|4.98|4.76|Upward|84|122,046,556
AWC|2023-07-03|2023-07-03|1|4.84|4.84|0.0|0.0|0|0|4.96|4.8|Downward|85|29,121,743
AWC|2023-07-04|2023-07-04|1|4.88|4.88|0.0|0.0|0|0|4.92|4.82|Upward|86|26,063,151
AWC|2023-07-05|2023-07-07|3|4.82|4.6|-0.22|-4.56|-11|-4|4.94|4.54|Downward|89|133,658,043
BBL|2023-06-08|2023-06-12|3|163.0|163.0|0.0|0.0|0|0|163.5|159.5|Downward|92|13,774,847
BBL|2023-06-13|2023-06-13|1|163.5|163.5|0.0|0.0|0|0|164.5|162.5|Upward|93|5,614,321
BBL|2023-06-14|2023-06-19|4|163.0|161.0|-2.0|-1.23|-4|-1|164.5|159.5|Downward|97|16,775,688
BBL|2023-06-20|2023-06-26|5|161.5|163.0|1.5|0.93|3|0|164.0|160.5|Upward|102|21,348,337
BBL|2023-06-27|2023-06-28|2|161.5|155.5|-6.0|-3.72|-12|-6|163.0|155.5|Downward|104|30,167,042
BBL|2023-06-29|2023-07-04|4|156.5|160.5|4.0|2.56|8|2|161.5|155.0|Upward|108|40,471,537
BBL|2023-07-05|2023-07-07|3|159.0|156.0|-3.0|-1.89|-6|-2|161.0|155.0|Downward|111|28,587,220
BCH|2023-06-08|2023-06-09|2|18.4|18.3|-0.1|-0.54|-1|-1|18.6|18.1|Downward|113|23,588,204
BCH|2023-06-12|2023-06-13|2|18.4|18.4|0.0|0.0|0|0|18.6|18.1|Upward|115|24,433,032
BCH|2023-06-14|2023-06-16|3|18.3|18.0|-0.3|-1.64|-3|-1|18.5|17.7|Downward|118|45,239,993
BCH|2023-06-19|2023-06-20|2|18.1|18.2|0.1|0.55|1|0|18.3|17.8|Upward|120|12,232,759
BCH|2023-06-21|2023-06-21|1|17.6|17.6|0.0|0.0|0|0|18.1|17.4|Downward|121|16,990,840
BCH|2023-06-22|2023-06-22|1|17.7|17.7|0.0|0.0|0|0|17.8|17.5|Upward|122|7,345,122
BCH|2023-06-23|2023-06-28|4|17.6|16.7|-0.9|-5.11|-9|-3|17.7|16.6|Downward|126|44,117,633
BCH|2023-06-29|2023-07-03|3|17.4|17.8|0.4|2.3|4|1|17.9|16.7|Upward|129|27,843,460
BCH|2023-07-04|2023-07-07|4|17.7|17.4|-0.3|-1.69|-3|-1|17.9|17.2|Downward|133|15,312,548
BEM|2023-06-08|2023-06-12|3|8.4|8.35|-0.05|-0.6|-1|-1|8.45|8.2|Downward|136|70,552,661
BEM|2023-06-13|2023-06-13|1|8.55|8.55|0.0|0.0|0|0|8.55|8.4|Upward|137|18,037,994
BEM|2023-06-14|2023-06-19|4|8.4|8.3|-0.1|-1.19|-2|-1|8.55|8.25|Downward|141|71,368,189
BEM|2023-06-20|2023-06-20|1|8.45|8.45|0.0|0.0|0|0|8.55|8.35|Upward|142|30,055,409
BEM|2023-06-21|2023-06-27|5|8.4|8.2|-0.2|-2.38|-4|-1|8.5|8.1|Downward|147|131,567,851
BEM|2023-06-28|2023-06-28|1|8.4|8.4|0.0|0.0|0|0|8.5|8.2|Upward|148|55,535,138
BEM|2023-06-29|2023-06-29|1|8.35|8.35|0.0|0.0|0|0|8.45|8.3|Downward|149|20,345,394
BEM|2023-06-30|2023-07-04|3|8.55|8.6|0.05|0.58|1|0|8.7|8.35|Upward|152|82,098,051
BEM|2023-07-05|2023-07-07|3|8.5|8.3|-0.2|-2.35|-4|-2|8.6|8.25|Downward|155|53,398,092
CPNREIT|2023-06-08|2023-06-08|1|12.8|12.8|0.0|0.0|0|0|12.9|12.8|Downward|156|795,603
CPNREIT|2023-06-09|2023-06-09|1|13.0|13.0|0.0|0.0|0|0|13.0|12.7|Upward|157|2,498,945
CPNREIT|2023-06-12|2023-06-21|8|12.9|10.1|-2.8|-21.71|-28|-4|13.0|10.1|Downward|165|46,450,088
CPNREIT|2023-06-22|2023-06-23|2|10.4|11.0|0.6|5.77|6|3|11.0|10.2|Upward|167|10,290,298
CPNREIT|2023-06-26|2023-06-26|1|10.7|10.7|0.0|0.0|0|0|11.0|10.7|Downward|168|5,994,644
CPNREIT|2023-06-27|2023-06-27|1|11.4|11.4|0.0|0.0|0|0|11.9|11.2|Upward|169|12,987,769
CPNREIT|2023-06-28|2023-07-04|5|10.8|10.7|-0.1|-0.93|-1|-1|11.4|10.5|Downward|174|18,617,404
CPNREIT|2023-07-05|2023-07-07|3|10.8|11.0|0.2|1.85|2|0|11.0|10.7|Upward|177|7,946,165
DIF|2023-06-08|2023-06-08|1|12.4|12.4|0.0|0.0|0|0|12.4|12.3|Upward|178|15,489,235
DIF|2023-06-09|2023-06-26|12|12.3|10.6|-1.7|-13.82|-17|-2|12.4|10.0|Downward|190|439,470,965
DIF|2023-06-27|2023-07-03|5|10.7|11.1|0.4|3.74|4|0|11.2|10.6|Upward|195|95,005,773
DIF|2023-07-04|2023-07-07|4|11.0|10.9|-0.1|-0.91|-1|-1|11.2|10.7|Downward|199|35,076,379
EA|2023-06-08|2023-06-15|6|65.0|61.75|-3.25|-5.0|-13|-3|65.5|61.75|Downward|205|57,254,229
EA|2023-06-16|2023-06-16|1|62.0|62.0|0.0|0.0|0|0|63.0|61.5|Upward|206|7,441,785
EA|2023-06-19|2023-06-19|1|61.25|61.25|0.0|0.0|0|0|62.0|61.0|Downward|207|4,539,628
EA|2023-06-20|2023-06-20|1|61.75|61.75|0.0|0.0|0|0|62.75|61.75|Upward|208|7,163,732
EA|2023-06-21|2023-06-22|2|57.75|57.0|-0.75|-1.3|-3|-2|61.75|56.25|Downward|210|37,857,194
EA|2023-06-23|2023-06-23|1|58.0|58.0|0.0|0.0|0|0|58.5|56.75|Upward|211|7,510,582
EA|2023-06-26|2023-06-26|1|52.5|52.5|0.0|0.0|0|0|57.75|52.5|Downward|212|27,191,838
EA|2023-06-27|2023-06-27|1|52.75|52.75|0.0|0.0|0|0|54.5|52.5|Upward|213|11,955,298
EA|2023-06-28|2023-06-28|1|52.25|52.25|0.0|0.0|0|0|53.75|51.5|Downward|214|17,527,870
EA|2023-06-29|2023-06-30|2|56.0|57.0|1.0|1.79|4|2|58.0|52.25|Upward|216|37,115,066
EA|2023-07-03|2023-07-07|5|56.25|54.0|-2.25|-4.0|-9|-2|57.25|53.0|Downward|221|41,914,683
GVREIT|2023-06-08|2023-06-08|1|9.0|9.0|0.0|0.0|0|0|9.1|9.0|Downward|222|270,500
GVREIT|2023-06-09|2023-06-09|1|9.05|9.05|0.0|0.0|0|0|9.1|9.0|Upward|223|251,000
GVREIT|2023-06-12|2023-06-12|1|9.0|9.0|0.0|0.0|0|0|9.05|9.0|Downward|224|545,500
GVREIT|2023-06-13|2023-06-13|1|9.05|9.05|0.0|0.0|0|0|9.05|9.0|Upward|225|28,700
GVREIT|2023-06-14|2023-06-26|9|8.9|8.3|-0.6|-6.74|-12|-2|9.05|8.3|Downward|234|3,714,961
GVREIT|2023-06-27|2023-06-27|1|8.35|8.35|0.0|0.0|0|0|8.45|8.3|Upward|235|86,207
GVREIT|2023-06-28|2023-06-29|2|8.3|8.3|0.0|0.0|0|0|8.4|8.1|Downward|237|1,419,206
GVREIT|2023-06-30|2023-07-03|2|8.35|8.45|0.1|1.2|2|1|8.5|8.3|Upward|239|146,803
GVREIT|2023-07-04|2023-07-07|4|8.3|8.25|-0.05|-0.6|-1|-1|8.5|8.25|Downward|243|614,809
ICHI|2023-06-08|2023-06-08|1|15.0|15.0|0.0|0.0|0|0|15.2|14.7|Downward|244|12,344,947
ICHI|2023-06-09|2023-06-12|2|15.2|15.2|0.0|0.0|0|0|15.4|15.0|Upward|246|20,189,064
ICHI|2023-06-13|2023-06-13|1|15.0|15.0|0.0|0.0|0|0|15.4|14.9|Downward|247|11,995,449
ICHI|2023-06-14|2023-06-14|1|15.3|15.3|0.0|0.0|0|0|15.3|15.0|Upward|248|6,709,864
ICHI|2023-06-15|2023-06-27|9|15.0|12.9|-2.1|-14.0|-21|-3|15.4|12.7|Downward|257|92,708,282
ICHI|2023-06-28|2023-07-04|5|13.1|13.8|0.7|5.34|7|1|14.1|12.8|Upward|262|42,351,304
ICHI|2023-07-05|2023-07-06|2|13.5|13.3|-0.2|-1.48|-2|-1|13.8|13.2|Downward|264|9,830,321
ICHI|2023-07-07|2023-07-07|1|13.6|13.6|0.0|0.0|0|0|13.7|13.2|Upward|265|2,760,672
IVL|2023-06-08|2023-06-14|5|33.25|35.0|1.75|5.26|7|1|35.5|32.0|Upward|270|96,558,242
IVL|2023-06-15|2023-06-19|3|34.5|34.5|0.0|0.0|0|0|35.25|34.0|Downward|273|39,531,567
IVL|2023-06-20|2023-06-20|1|35.25|35.25|0.0|0.0|0|0|35.75|34.5|Upward|274|20,809,035
IVL|2023-06-21|2023-06-28|6|34.5|32.5|-2.0|-5.8|-8|-2|35.0|32.25|Downward|280|75,611,925
IVL|2023-06-29|2023-07-05|5|33.75|34.5|0.75|2.22|3|0|35.0|32.0|Upward|285|58,030,568
IVL|2023-07-06|2023-07-07|2|33.75|33.25|-0.5|-1.48|-2|-1|34.5|33.0|Downward|287|22,355,242
JASIF|2023-06-08|2023-06-12|3|7.0|6.95|-0.05|-0.71|-1|-1|7.0|6.95|Downward|290|8,607,375
JASIF|2023-06-13|2023-06-16|4|7.0|7.4|0.4|5.71|8|2|7.45|6.95|Upward|294|46,057,345
JASIF|2023-06-19|2023-06-26|6|7.25|7.0|-0.25|-3.45|-5|-1|7.45|7.0|Downward|300|50,327,385
JASIF|2023-06-27|2023-06-27|1|7.1|7.1|0.0|0.0|0|0|7.15|7.05|Upward|301|4,598,383
JASIF|2023-06-28|2023-06-30|3|7.05|7.05|0.0|0.0|0|0|7.15|7.0|Downward|304|13,548,805
JASIF|2023-07-03|2023-07-04|2|7.1|7.1|0.0|0.0|0|0|7.1|7.05|Upward|306|4,686,435
JASIF|2023-07-05|2023-07-05|1|7.05|7.05|0.0|0.0|0|0|7.15|7.05|Downward|307|2,418,890
JASIF|2023-07-06|2023-07-06|1|7.1|7.1|0.0|0.0|0|0|7.15|7.05|Upward|308|4,263,455
JASIF|2023-07-07|2023-07-07|1|7.05|7.05|0.0|0.0|0|0|7.1|7.05|Downward|309|637,260
JMART|2023-06-08|2023-06-08|1|19.3|19.3|0.0|0.0|0|0|19.4|18.9|Downward|310|13,152,640
JMART|2023-06-09|2023-06-14|4|19.8|20.1|0.3|1.52|3|0|20.5|19.6|Upward|314|68,857,259
JMART|2023-06-15|2023-06-26|8|19.3|13.1|-6.2|-32.12|-62|-8|20.1|13.1|Downward|322|278,973,982
JMART|2023-06-27|2023-06-27|1|13.7|13.7|0.0|0.0|0|0|14.4|13.1|Upward|323|52,328,753
JMART|2023-06-28|2023-06-28|1|13.6|13.6|0.0|0.0|0|0|13.9|13.2|Downward|324|31,204,314
JMART|2023-06-29|2023-07-04|4|15.6|17.6|2.0|12.82|20|5|18.0|13.6|Upward|328|203,313,669
JMART|2023-07-05|2023-07-07|3|16.5|16.3|-0.2|-1.21|-2|-1|17.5|15.9|Downward|331|64,459,510
JMT|2023-06-08|2023-06-08|1|39.5|39.5|0.0|0.0|0|0|39.75|38.5|Downward|332|12,440,549
JMT|2023-06-09|2023-06-14|4|43.0|43.25|0.25|0.58|1|0|44.25|41.5|Upward|336|63,228,312
JMT|2023-06-15|2023-06-19|3|41.75|39.75|-2.0|-4.79|-8|-3|43.75|39.5|Downward|339|34,692,922
JMT|2023-06-20|2023-06-20|1|40.0|40.0|0.0|0.0|0|0|40.25|39.25|Upward|340|10,314,394
JMT|2023-06-21|2023-06-26|4|38.75|33.5|-5.25|-13.55|-21|-6|41.0|33.5|Downward|344|78,721,052
JMT|2023-06-27|2023-06-27|1|34.75|34.75|0.0|0.0|0|0|35.5|33.5|Upward|345|18,436,231
JMT|2023-06-28|2023-06-28|1|34.0|34.0|0.0|0.0|0|0|35.25|34.0|Downward|346|15,846,802
JMT|2023-06-29|2023-07-03|3|36.0|39.25|3.25|9.03|13|4|39.25|34.0|Upward|349|58,469,296
JMT|2023-07-04|2023-07-05|2|38.25|36.25|-2.0|-5.23|-8|-4|39.25|35.75|Downward|351|42,193,549
JMT|2023-07-06|2023-07-06|1|36.5|36.5|0.0|0.0|0|0|37.0|35.75|Upward|352|12,888,919
JMT|2023-07-07|2023-07-07|1|36.25|36.25|0.0|0.0|0|0|37.25|35.5|Downward|353|11,434,547
KCE|2023-06-08|2023-06-12|3|39.5|39.25|-0.25|-0.63|-1|-1|39.75|38.0|Downward|356|12,679,102
KCE|2023-06-13|2023-06-13|1|41.0|41.0|0.0|0.0|0|0|41.5|39.75|Upward|357|16,314,467
KCE|2023-06-14|2023-06-16|3|40.5|40.25|-0.25|-0.62|-1|-1|41.5|39.75|Downward|360|22,176,609
KCE|2023-06-19|2023-06-19|1|41.5|41.5|0.0|0.0|0|0|41.5|40.0|Upward|361|9,009,314
KCE|2023-06-20|2023-06-22|3|41.0|37.75|-3.25|-7.93|-13|-5|41.75|37.5|Downward|364|26,803,081
KCE|2023-06-23|2023-06-23|1|38.25|38.25|0.0|0.0|0|0|39.0|38.0|Upward|365|8,726,016
KCE|2023-06-26|2023-06-26|1|36.5|36.5|0.0|0.0|0|0|38.25|36.25|Downward|366|11,739,070
KCE|2023-06-27|2023-06-30|4|37.0|39.0|2.0|5.41|8|2|39.5|36.25|Upward|370|34,207,626

KCE|2023-07-03|2023-07-07|5|38.5|36.5|-2.0|-5.19|-8|-2|39.75|36.25|Downward|375|31,077,749
KTC|2023-06-08|2023-06-08|1|52.75|52.75|0.0|0.0|0|0|52.75|50.75|Downward|376|7,220,533
KTC|2023-06-09|2023-06-09|1|53.0|53.0|0.0|0.0|0|0|53.0|52.25|Upward|377|2,410,836
KTC|2023-06-12|2023-06-12|1|51.5|51.5|0.0|0.0|0|0|52.75|51.5|Downward|378|3,219,169
KTC|2023-06-13|2023-06-13|1|52.25|52.25|0.0|0.0|0|0|52.5|51.5|Upward|379|2,038,613
KTC|2023-06-14|2023-06-15|2|51.5|49.5|-2.0|-3.88|-8|-4|52.5|49.5|Downward|381|13,335,769
KTC|2023-06-16|2023-06-16|1|50.25|50.25|0.0|0.0|0|0|50.5|49.25|Upward|382|5,252,490
KTC|2023-06-19|2023-06-19|1|49.5|49.5|0.0|0.0|0|0|50.0|49.25|Downward|383|2,523,417
KTC|2023-06-20|2023-06-23|4|50.25|50.5|0.25|0.5|1|0|51.25|49.5|Upward|387|15,842,414
KTC|2023-06-26|2023-06-28|3|49.75|47.75|-2.0|-4.02|-8|-3|51.0|47.5|Downward|390|16,039,659
KTC|2023-06-29|2023-07-04|4|48.25|50.25|2.0|4.15|8|2|50.25|47.25|Upward|394|20,437,017
KTC|2023-07-05|2023-07-07|3|49.25|46.0|-3.25|-6.6|-13|-5|50.0|45.5|Downward|397|23,681,010
MCS|2023-06-08|2023-06-12|3|7.0|7.0|0.0|0.0|0|0|7.15|6.95|Downward|400|2,650,474
MCS|2023-06-13|2023-06-13|1|7.15|7.15|0.0|0.0|0|0|7.15|7.05|Upward|401|390,005
MCS|2023-06-14|2023-06-29|12|7.1|6.15|-0.95|-13.38|-19|-2|7.15|5.95|Downward|413|7,826,524
MCS|2023-06-30|2023-07-05|4|6.35|6.7|0.35|5.51|7|1|6.75|6.2|Upward|417|1,684,231
MCS|2023-07-06|2023-07-07|2|6.45|6.45|0.0|0.0|0|0|6.65|6.4|Downward|419|911,501
NER|2023-06-08|2023-06-08|1|4.64|4.64|0.0|0.0|0|0|4.66|4.5|Downward|420|8,173,134
NER|2023-06-09|2023-06-14|4|4.66|4.82|0.16|3.43|8|2|4.84|4.58|Upward|424|26,705,020
NER|2023-06-15|2023-06-15|1|4.74|4.74|0.0|0.0|0|0|4.84|4.74|Downward|425|7,258,218
NER|2023-06-16|2023-06-16|1|4.78|4.78|0.0|0.0|0|0|4.8|4.74|Upward|426|3,595,070
NER|2023-06-19|2023-06-21|3|4.76|4.68|-0.08|-1.68|-4|-2|4.78|4.68|Downward|429|7,607,117
NER|2023-06-22|2023-06-22|1|4.7|4.7|0.0|0.0|0|0|4.76|4.68|Upward|430|3,244,398
NER|2023-06-23|2023-06-28|4|4.66|4.46|-0.2|-4.29|-10|-3|4.68|4.44|Downward|434|22,987,505
NER|2023-06-29|2023-07-05|5|4.54|4.6|0.06|1.32|3|0|4.64|4.46|Upward|439|19,440,920
NER|2023-07-06|2023-07-07|2|4.54|4.5|-0.04|-0.88|-2|-1|4.58|4.48|Downward|441|4,507,202
ORI|2023-06-08|2023-06-12|3|11.2|11.1|-0.1|-0.89|-1|-1|11.2|10.8|Downward|444|11,854,141
ORI|2023-06-13|2023-06-13|1|11.3|11.3|0.0|0.0|0|0|11.4|11.1|Upward|445|3,728,737
ORI|2023-06-14|2023-06-19|4|11.2|11.0|-0.2|-1.79|-2|-1|11.5|11.0|Downward|449|8,026,011
ORI|2023-06-20|2023-06-20|1|11.1|11.1|0.0|0.0|0|0|11.2|10.9|Upward|450|2,159,132
ORI|2023-06-21|2023-06-28|6|10.8|10.0|-0.8|-7.41|-8|-2|11.1|10.0|Downward|456|46,274,677
ORI|2023-06-29|2023-06-30|2|10.1|10.6|0.5|4.95|5|2|10.6|10.2|Upward|458|15,683,760
ORI|2023-07-03|2023-07-03|1|10.2|10.2|0.0|0.0|0|0|10.6|10.1|Downward|459|9,100,929
ORI|2023-07-04|2023-07-05|2|10.3|10.3|0.0|0.0|0|0|10.6|10.1|Upward|461|15,590,747
ORI|2023-07-06|2023-07-07|2|10.1|10.1|0.0|0.0|0|0|10.4|10.0|Downward|463|11,109,329
PTTGC|2023-06-08|2023-06-08|1|38.25|38.25|0.0|0.0|0|0|38.25|36.75|Downward|464|28,756,977
PTTGC|2023-06-09|2023-06-09|1|38.5|38.5|0.0|0.0|0|0|38.5|37.5|Upward|465|21,886,166
PTTGC|2023-06-12|2023-06-12|1|38.25|38.25|0.0|0.0|0|0|38.25|37.5|Downward|466|12,387,581
PTTGC|2023-06-13|2023-06-14|2|38.5|39.25|0.75|1.95|3|1|39.5|37.5|Upward|468|39,186,877
PTTGC|2023-06-15|2023-06-16|2|38.75|38.0|-0.75|-1.94|-3|-2|39.0|37.5|Downward|470|36,387,767
PTTGC|2023-06-19|2023-06-20|2|38.5|38.75|0.25|0.65|1|0|39.0|37.5|Upward|472|24,449,802
PTTGC|2023-06-21|2023-06-28|6|37.75|35.75|-2.0|-5.3|-8|-2|38.5|35.5|Downward|478|58,759,650
PTTGC|2023-06-29|2023-07-05|5|36.25|38.75|2.5|6.9|10|2|39.25|35.25|Upward|483|64,280,816
PTTGC|2023-07-06|2023-07-07|2|38.5|38.5|0.0|0.0|0|0|39.0|37.5|Downward|485|33,063,354
RCL|2023-06-08|2023-06-08|1|23.8|23.8|0.0|0.0|0|0|23.9|23.5|Downward|486|5,187,289
RCL|2023-06-09|2023-06-14|4|24.3|25.0|0.7|2.88|7|1|25.25|23.8|Upward|490|15,899,283
RCL|2023-06-15|2023-06-15|1|24.6|24.6|0.0|0.0|0|0|25.0|24.6|Downward|491|3,201,174
RCL|2023-06-16|2023-06-16|1|24.7|24.7|0.0|0.0|0|0|24.9|24.6|Upward|492|1,933,877
RCL|2023-06-19|2023-06-22|4|24.6|24.0|-0.6|-2.44|-6|-2|24.9|23.9|Downward|496|8,644,297
RCL|2023-06-23|2023-06-23|1|24.4|24.4|0.0|0.0|0|0|24.6|23.9|Upward|497|2,936,984
RCL|2023-06-26|2023-06-26|1|23.5|23.5|0.0|0.0|0|0|24.5|23.5|Downward|498|4,270,398
RCL|2023-06-27|2023-06-27|1|23.7|23.7|0.0|0.0|0|0|24.0|23.5|Upward|499|1,918,554
RCL|2023-06-28|2023-06-28|1|23.3|23.3|0.0|0.0|0|0|23.9|23.3|Downward|500|1,818,157
RCL|2023-06-29|2023-07-04|4|23.7|24.5|0.8|3.38|8|2|24.6|23.2|Upward|504|8,464,802
RCL|2023-07-05|2023-07-07|3|24.1|24.0|-0.1|-0.41|-1|-1|24.6|23.9|Downward|507|2,906,411
SCC|2023-06-08|2023-06-12|3|338.0|332.0|-6.0|-1.78|-6|-2|338.0|331.0|Downward|510|5,213,007
SCC|2023-06-13|2023-06-14|2|334.0|335.0|1.0|0.3|1|0|337.0|332.0|Upward|512|3,283,552
SCC|2023-06-15|2023-06-19|3|331.0|329.0|-2.0|-0.6|-2|-1|336.0|325.0|Downward|515|5,526,521
SCC|2023-06-20|2023-06-20|1|331.0|331.0|0.0|0.0|0|0|334.0|330.0|Upward|516|1,955,014
SCC|2023-06-21|2023-06-21|1|325.0|325.0|0.0|0.0|0|0|330.0|325.0|Downward|517|1,643,301
SCC|2023-06-22|2023-06-22|1|327.0|327.0|0.0|0.0|0|0|328.0|321.0|Upward|518|1,233,151
SCC|2023-06-23|2023-06-27|3|325.0|321.0|-4.0|-1.23|-4|-2|328.0|321.0|Downward|521|3,123,060
SCC|2023-06-28|2023-06-28|1|322.0|322.0|0.0|0.0|0|0|326.0|321.0|Upward|522|1,638,366
SCC|2023-06-29|2023-06-29|1|320.0|320.0|0.0|0.0|0|0|324.0|320.0|Downward|523|1,431,061
SCC|2023-06-30|2023-07-05|4|322.0|327.0|5.0|1.55|5|1|329.0|320.0|Upward|527|7,881,662
SCC|2023-07-06|2023-07-07|2|323.0|322.0|-1.0|-0.31|-1|-1|326.0|320.0|Downward|529|3,471,976
SENA|2023-06-08|2023-06-08|1|3.14|3.14|0.0|0.0|0|0|3.14|3.1|Downward|530|1,303,940
SENA|2023-06-09|2023-06-14|4|3.16|3.16|0.0|0.0|0|0|3.16|3.12|Upward|534|2,269,374
SENA|2023-06-15|2023-06-28|10|3.12|2.9|-0.22|-7.05|-11|-2|3.14|2.9|Downward|544|6,731,190
SENA|2023-06-29|2023-07-03|3|2.96|3.02|0.06|2.03|3|1|3.02|2.9|Upward|547|2,068,766
SENA|2023-07-04|2023-07-07|4|3.0|2.98|-0.02|-0.67|-1|-1|3.02|2.94|Downward|551|1,318,241
SINGER|2023-06-08|2023-06-13|4|11.2|11.1|-0.1|-0.89|-1|-1|11.6|10.7|Downward|555|37,365,261
SINGER|2023-06-14|2023-06-14|1|11.3|11.3|0.0|0.0|0|0|11.6|11.1|Upward|556|8,700,370
SINGER|2023-06-15|2023-06-21|5|10.9|10.0|-0.9|-8.26|-9|-2|11.3|10.0|Downward|561|46,086,107
SINGER|2023-06-22|2023-06-22|1|9.95|9.95|0.0|0.0|0|0|10.1|9.75|Upward|562|9,697,169
SINGER|2023-06-23|2023-06-26|2|9.85|8.25|-1.6|-16.24|-32|-16|9.85|8.2|Downward|564|25,093,285
SINGER|2023-06-27|2023-06-27|1|8.7|8.7|0.0|0.0|0|0|8.85|8.0|Upward|565|16,898,481
SINGER|2023-06-28|2023-06-28|1|8.4|8.4|0.0|0.0|0|0|8.7|8.35|Downward|566|7,043,739
SINGER|2023-06-29|2023-06-29|1|9.05|9.05|0.0|0.0|0|0|9.2|8.35|Upward|567|16,942,470
SINGER|2023-06-30|2023-06-30|1|9.0|9.0|0.0|0.0|0|0|9.4|8.95|Downward|568|9,471,895
SINGER|2023-07-03|2023-07-04|2|9.35|9.75|0.4|4.28|8|4|9.8|8.75|Upward|570|17,649,691
SINGER|2023-07-05|2023-07-07|3|9.25|9.15|-0.1|-1.08|-2|-1|9.8|9.0|Downward|573|20,172,244
STA|2023-06-08|2023-06-12|3|19.0|18.5|-0.5|-2.63|-5|-2|19.1|18.4|Downward|576|15,802,463
STA|2023-06-13|2023-06-16|4|18.6|19.0|0.4|2.15|4|1|19.0|18.4|Upward|580|20,239,038
STA|2023-06-19|2023-06-28|8|18.8|16.8|-2.0|-10.64|-20|-3|19.3|16.5|Downward|588|54,628,404
STA|2023-06-29|2023-06-30|2|17.0|17.0|0.0|0.0|0|0|17.6|16.7|Upward|590|11,230,604
STA|2023-07-03|2023-07-03|1|16.6|16.6|0.0|0.0|0|0|17.0|16.4|Downward|591|5,419,627
STA|2023-07-04|2023-07-04|1|17.1|17.1|0.0|0.0|0|0|17.2|16.5|Upward|592|3,375,682
STA|2023-07-05|2023-07-05|1|17.0|17.0|0.0|0.0|0|0|17.2|16.9|Downward|593|2,257,791
STA|2023-07-06|2023-07-06|1|17.3|17.3|0.0|0.0|0|0|17.6|16.9|Upward|594|6,210,742
STA|2023-07-07|2023-07-07|1|17.2|17.2|0.0|0.0|0|0|17.4|17.0|Downward|595|2,219,374
SYNEX|2023-06-08|2023-06-08|1|13.0|13.0|0.0|0.0|0|0|13.1|12.8|Downward|596|156,686
SYNEX|2023-06-09|2023-06-09|1|13.3|13.3|0.0|0.0|0|0|13.3|13.0|Upward|597|305,467
SYNEX|2023-06-12|2023-06-12|1|13.2|13.2|0.0|0.0|0|0|13.3|13.1|Downward|598|293,569
SYNEX|2023-06-13|2023-06-14|2|13.3|13.3|0.0|0.0|0|0|13.4|13.1|Upward|600|944,102
SYNEX|2023-06-15|2023-06-15|1|13.0|13.0|0.0|0.0|0|0|13.4|12.9|Downward|601|431,598
SYNEX|2023-06-16|2023-06-19|2|13.1|13.1|0.0|0.0|0|0|13.3|12.8|Upward|603|527,883
SYNEX|2023-06-20|2023-06-26|5|12.8|12.1|-0.7|-5.47|-7|-2|13.1|12.1|Downward|608|942,051
SYNEX|2023-06-27|2023-06-27|1|12.3|12.3|0.0|0.0|0|0|12.4|11.9|Upward|609|197,848
SYNEX|2023-06-28|2023-06-30|3|11.9|11.9|0.0|0.0|0|0|12.4|11.8|Downward|612|1,217,951
SYNEX|2023-07-03|2023-07-05|3|12.0|12.1|0.1|0.83|1|0|12.2|11.9|Upward|615|297,883
SYNEX|2023-07-06|2023-07-07|2|12.0|12.0|0.0|0.0|0|0|12.1|11.9|Downward|617|246,090
TFFIF|2023-06-08|2023-06-09|2|7.55|7.55|0.0|0.0|0|0|7.6|7.5|Downward|619|3,798,261
TFFIF|2023-06-12|2023-06-14|3|7.6|7.65|0.05|0.66|1|0|7.65|7.5|Upward|622|15,323,520
TFFIF|2023-06-15|2023-06-15|1|7.6|7.6|0.0|0.0|0|0|7.6|7.55|Downward|623|1,719,004
TFFIF|2023-06-16|2023-06-16|1|7.85|7.85|0.0|0.0|0|0|7.9|7.55|Upward|624|11,523,472
TFFIF|2023-06-19|2023-06-19|1|7.7|7.7|0.0|0.0|0|0|7.8|7.7|Downward|625|1,292,943
TFFIF|2023-06-20|2023-06-21|2|7.75|7.75|0.0|0.0|0|0|7.8|7.7|Upward|627|3,026,647
TFFIF|2023-06-22|2023-06-22|1|7.6|7.6|0.0|0.0|0|0|7.75|7.6|Downward|628|3,439,907
TFFIF|2023-06-23|2023-06-23|1|7.7|7.7|0.0|0.0|0|0|7.7|7.55|Upward|629|2,910,530
TFFIF|2023-06-26|2023-06-26|1|7.55|7.55|0.0|0.0|0|0|7.7|7.5|Downward|630|7,195,717
TFFIF|2023-06-27|2023-06-28|2|7.6|7.65|0.05|0.66|1|0|7.65|7.5|Upward|632|5,146,038
TFFIF|2023-06-29|2023-06-30|2|7.55|7.55|0.0|0.0|0|0|7.65|7.55|Downward|634|6,896,512
TFFIF|2023-07-03|2023-07-07|5|7.6|7.6|0.0|0.0|0|0|7.65|7.55|Upward|639|9,231,127
TMT|2023-06-08|2023-06-09|2|7.45|7.5|0.05|0.67|1|0|7.5|7.4|Upward|641|276,287
TMT|2023-06-12|2023-06-13|2|7.45|7.45|0.0|0.0|0|0|7.5|7.4|Downward|643|175,860
TMT|2023-06-14|2023-06-16|3|7.5|7.5|0.0|0.0|0|0|7.5|7.4|Upward|646|122,855
TMT|2023-06-19|2023-06-19|1|7.45|7.45|0.0|0.0|0|0|7.5|7.45|Downward|647|18,780
TMT|2023-06-20|2023-06-20|1|7.5|7.5|0.0|0.0|0|0|7.5|7.4|Upward|648|62,429
TMT|2023-06-21|2023-06-26|4|7.45|7.25|-0.2|-2.68|-4|-1|7.5|7.25|Downward|652|747,494
TMT|2023-06-27|2023-06-27|1|7.3|7.3|0.0|0.0|0|0|7.3|7.2|Upward|653|36,725
TMT|2023-06-28|2023-06-28|1|7.25|7.25|0.0|0.0|0|0|7.3|7.2|Downward|654|87,100
TMT|2023-06-29|2023-07-04|4|7.3|7.45|0.15|2.05|3|0|7.55|7.2|Upward|658|110,374
TMT|2023-07-05|2023-07-07|3|7.4|7.4|0.0|0.0|0|0|7.5|7.35|Downward|661|153,492
WHAIR|2023-06-08|2023-06-13|4|7.3|7.25|-0.05|-0.68|-1|-1|7.3|7.1|Downward|665|511,609
WHAIR|2023-06-14|2023-06-20|5|7.3|7.4|0.1|1.37|2|0|7.4|7.2|Upward|670|1,589,144
WHAIR|2023-06-21|2023-06-30|8|7.3|7.1|-0.2|-2.74|-4|-1|7.4|7.1|Downward|678|3,319,379
WHAIR|2023-07-03|2023-07-03|1|7.15|7.15|0.0|0.0|0|0|7.15|7.1|Upward|679|234,200
WHAIR|2023-07-04|2023-07-07|4|7.1|7.05|-0.05|-0.7|-1|-1|7.15|6.95|Downward|683|1,765,349
WHART|2023-06-08|2023-06-09|2|11.0|11.0|0.0|0.0|0|0|11.1|11.0|Downward|685|1,726,425
WHART|2023-06-12|2023-06-12|1|11.2|11.2|0.0|0.0|0|0|11.2|11.0|Upward|686|1,052,392
WHART|2023-06-13|2023-06-13|1|11.0|11.0|0.0|0.0|0|0|11.2|11.0|Downward|687|996,533
WHART|2023-06-14|2023-06-16|3|11.1|11.2|0.1|0.9|1|0|11.2|11.0|Upward|690|2,926,617
WHART|2023-06-19|2023-06-22|4|11.1|10.5|-0.6|-5.41|-6|-2|11.2|10.3|Downward|694|8,436,897
WHART|2023-06-23|2023-06-26|2|10.6|10.6|0.0|0.0|0|0|10.7|10.4|Upward|696|4,070,713
WHART|2023-06-27|2023-06-27|1|10.4|10.4|0.0|0.0|0|0|10.6|10.4|Downward|697|1,488,310
WHART|2023-06-28|2023-06-28|1|10.7|10.7|0.0|0.0|0|0|10.7|10.4|Upward|698|564,441
WHART|2023-06-29|2023-06-30|2|10.6|10.6|0.0|0.0|0|0|10.7|10.5|Downward|700|2,839,723
WHART|2023-07-03|2023-07-03|1|10.7|10.7|0.0|0.0|0|0|10.7|10.5|Upward|701|276,179
WHART|2023-07-04|2023-07-04|1|10.5|10.5|0.0|0.0|0|0|10.7|10.5|Downward|702|1,654,794
WHART|2023-07-05|2023-07-05|1|10.6|10.6|0.0|0.0|0|0|10.6|10.5|Upward|703|752,806
WHART|2023-07-06|2023-07-07|2|10.5|10.5|0.0|0.0|0|0|10.6|10.4|Downward|704|1,698,111
ruby/../Data/summary.csv

In [13]:
os.chdir("C:\\users\\user\\onedrive\\a7\\daily")
%pwd

'C:\\users\\user\\onedrive\\a7\\daily'

In [14]:
file_name   = 'summary.csv'
input_file = data_path + file_name
df = pd.read_csv(input_file, sep=',', index_col=None)
df.sample(5).style.format(format_dict)

In [15]:
df.rename(columns={'from_date':'fm_date','from_price':'fm_price'},inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df['fm_md'] = df['fm_date'].dt.strftime('%m-%d')
df['to_md'] = df['to_date'].dt.strftime('%m-%d')

### Group analysis

In [16]:
mask_p = df['to_md'] == to_mmdd
df[mask_p][cols].sort_values('pct',ascending=False).head().style.format(format_dict)

In [17]:
name_up = 'AH'
mask_n = df.name == name_up
df[mask_n][cols].style.format(format_dict)

In [18]:
mask_m = df['to_md'] == to_mmdd
df[mask_m][cols].sort_values('pct',ascending=True).head().style.format(format_dict)

In [19]:
name_down = 'KTC'
mask_n = df.name == name_down
df[mask_n][cols].style.format(format_dict)

In [20]:
df_groupby_trend = df.groupby('trend')

In [21]:
# To retrieve one of the created groups
df_up = df_groupby_trend.get_group('Upward')
df_up[cols].sample(5).style.format(format_dict)

In [22]:
# To retrieve one of the created groups
df_dw = df_groupby_trend.get_group('Downward')
df_dw[cols].sample(5).style.format(format_dict)

In [23]:
# there is a function called .agg() and it allows us to specify multiple aggregation functions at once
df.groupby('trend').days.agg(['max', 'count', 'median', 'mean'])

          max  count  median  mean
trend
Downward   12    161    2.00  2.52
Upward      6    141    2.00  2.11

In [24]:
upward_max = df.groupby('trend').days.max().loc['Upward']
downward_max = df.groupby('trend').days.max().loc['Downward']

In [25]:
df.query('days == @upward_max and trend == "Upward"')[cols].style.format(format_dict)

In [26]:
df.query('days == @downward_max and trend == "Downward"')[cols]

,name,fm_md,to_md,days,fm_price,to_price,pct,spd,avg,max_price,min_price,ttl_qty,trend
79,DIF,06-09,06-26,12,12.30,10.60,-13.82,-17,-2,12.40,10.00,439470965,Downward
167,MCS,06-14,06-29,12,7.10,6.15,-13.38,-19,-2,7.15,5.95,7826524,Downward

### Individual stock analysis

In [27]:
df.query('name == @name_up')[cols].style.format(format_dict)

In [28]:
df_tmp = price.query('name == @name_up')
df_tmp.describe().round(2)

       price         qty  maxp  minp
count  22.00       22.00 22.00 22.00
mean   34.18  6988777.14 34.86 33.17
std     1.77 18515301.65  1.71  1.94
min    30.50   689571.00 32.50 27.75
25%    33.06  1833894.75 33.81 32.25
50%    34.50  2116167.50 35.00 33.50
75%    35.00  3191044.00 35.25 34.25
max    39.25 88779944.00 39.25 37.50

In [29]:
df.query('name == @name_down')[cols].style.format(format_dict)

In [30]:
df_tmp = price.query('name == @name_down')
df_tmp.describe().round(2)

       price         qty  maxp  minp
count  22.00       22.00 22.00 22.00
mean   50.12  4957339.86 50.88 49.56
std     1.56  3034960.29  1.19  1.45
min    46.25  1556937.00 49.00 46.00
25%    49.50  2605629.50 50.06 49.06
50%    50.25  4495947.00 50.50 49.50
75%    50.88  5598271.00 51.62 50.19
max    53.00 13793375.00 53.00 52.25

In [31]:
mask_p = df['to_md'] == to_mmdd
summary = df[mask_p][cols].sort_values(['pct','trend'],ascending=[False,False])

In [32]:
file_name = 'summary-240.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

summary[cols].to_csv(output_file, header=True, index=False)
summary[cols].to_csv(data_file, header=True, index=False)
summary[cols].to_csv(one_file, header=True, index=False)
summary[cols].to_csv(osd_file, header=True, index=False)

In [33]:
sql = """
SELECT name, date, price, qty, maxp, minp
FROM price 
WHERE date >= '%s' 
ORDER BY name, date"""
sql = sql % (today)
print(sql)

SELECT name, date, price, qty, maxp, minp
FROM price
WHERE date >= '2023-07-06'
ORDER BY name, date

In [34]:
df = pd.read_sql(sql, const)
df

       name        date  price       qty   maxp   minp
0       ACE  2023-07-06   1.89  16612072   1.91   1.88
1    ADVANC  2023-07-06 216.00   4809055 219.00 215.00
2    AEONTS  2023-07-06 170.00   1212666 179.00 167.50
3        AH  2023-07-06  35.00   1311614  35.25  34.50
4    AIMIRT  2023-07-06  11.50    118234  11.50  11.40
..      ...         ...    ...       ...    ...    ...
182   WHAIR  2023-07-06   7.05    637600   7.10   7.00
183   WHART  2023-07-06  10.50    553189  10.60  10.50
184   WHAUP  2023-07-06   3.58    504879   3.60   3.56
185    WICE  2023-07-06   8.65    803767   8.70   8.40
186    WORK  2023-07-06  14.40     47064  14.60  14.30

[187 rows x 6 columns]