In [1]:
import calendar
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
#from pandas.tseries.offsets import BDay
from pandas.tseries.offsets import * 

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.options.display.max_rows = 11
pd.options.display.float_format = '{:.2f}'.format

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2023, 6, 12), datetime.date(2023, 6, 11))

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2023-06-12
Today in mm-dd format: 06-12
yesterday: 2023-06-09 00:00:00

In [3]:
#yesterday = date(2023, 3, 3)
yesterday

Timestamp('2023-06-09 00:00:00')

In [4]:
#yesterday = yesterday.date()
one_month_ago = yesterday + DateOffset(days = -28)
print('One month ago: ', one_month_ago, ' ', one_month_ago.day_name())

One month ago:  2023-05-12 00:00:00   Friday

In [5]:
format_dict = {
    'ttl_qty':'{:,}','qty':'{:,}',
    'from_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}','fm_price':'{:.2f}',
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',
    'maxp':'{:.2f}','minp':'{:.2f}','pct':'{:,.2f}%',  
}

cols = 'name fm_md to_md days fm_price to_price pct spd avg max_price min_price ttl_qty trend'.split()

### Get past one quarter data

In [6]:
sql = """
SELECT name
FROM buy 
ORDER BY name
"""
buy = pd.read_sql(sql, const)

names = buy['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AH', 'ASK', 'ASP', 'BANPU', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART'"

In [7]:
in_p = in_p + ", 'AWC', 'BEM', 'EA', 'KTC'"
in_p

"'AH', 'ASK', 'ASP', 'BANPU', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART', 'AWC', 'BEM', 'EA', 'KTC'"

### Bypass this statement if aboce statement is executed

In [8]:
sql = """
SELECT name
FROM orders
ORDER BY trade, name
"""
#buy = pd.read_sql(sql, conlite)

#names = buy['name'].values.tolist()
#in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'ASK', 'ASP', 'BANPU', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART', 'AWC', 'GULF', 'TTB'"

### End of Selection between Buy or Orders

In [8]:
sql = """
SELECT name, date, price, qty, maxp, minp
FROM price 
WHERE date >= '%s' AND name IN (%s) 
ORDER BY name, date"""
sql = sql % (one_month_ago, in_p)
print(sql)

SELECT name, date, price, qty, maxp, minp
FROM price
WHERE date >= '2023-05-12 00:00:00' AND name IN ('AH', 'ASK', 'ASP', 'BANPU', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART', 'AWC', 'BEM', 'EA', 'KTC')
ORDER BY name, date

In [9]:
price = pd.read_sql(sql, const)
price.sample(5)

      name        date  price        qty  maxp  minp
549  SYNEX  2023-05-17  12.70     208995 13.10 12.70
533    STA  2023-05-24  19.00    1715946 19.30 19.00
83     AWC  2023-06-12   5.10   24839616  5.15  5.00
295    JMT  2023-05-15  40.25   16249580 42.75 39.75
94   BANPU  2023-05-26   8.10  106238031  8.15  7.90

In [10]:
data_path = "../data/"
file_name = "Quarterly-Price-by-Name.csv"
output_file = data_path + file_name
osd_file = osd_path + file_name

price.to_csv(output_file, header=None, index=False)
price.to_csv(osd_file, header=True, index=False)

### Call ruby ruby\crt-summary.rb

In [11]:
%pwd

'C:\\Users\\User\\OneDrive\\A7\\Daily'

In [12]:
os.chdir("C:\\users\\user\\onedrive\\a7")
%pwd

'C:\\users\\user\\onedrive\\a7'

In [13]:
!ruby ruby\\crt-summary.rb

ruby/../Data/Quarterly-Price-by-Name.csv
name|fm_date|to_date|days|fm_price|to_price|diff|pct|spd|avg|max_price|min_price|trend|nbr|ttl_qty
AH|2023-05-12|2023-05-12|1|33.75|33.75|0.0|0.0|0|0|35.0|33.5||2|6,034,265
AH|2023-05-15|2023-05-15|1|33.25|33.25|0.0|0.0|0|0|34.0|32.5|Downward|3|2,207,306
AH|2023-05-16|2023-05-16|1|35.5|35.5|0.0|0.0|0|0|35.5|33.0|Upward|4|5,526,136
AH|2023-05-17|2023-05-19|3|35.25|34.25|-1.0|-2.84|-4|-2|36.25|34.25|Downward|7|6,825,646
AH|2023-05-22|2023-05-23|2|34.5|34.75|0.25|0.72|1|0|35.0|32.75|Upward|9|2,820,716
AH|2023-05-24|2023-05-25|2|34.0|34.0|0.0|0.0|0|0|35.0|33.75|Downward|11|1,840,670
AH|2023-05-26|2023-05-31|4|34.75|37.75|3.0|8.63|12|3|38.25|34.0|Upward|15|14,202,687
AH|2023-06-01|2023-06-01|1|37.0|37.0|0.0|0.0|0|0|37.75|36.5|Downward|16|2,882,866
AH|2023-06-02|2023-06-07|4|37.25|39.25|2.0|5.37|8|2|39.25|36.25|Upward|19|8,078,969
AH|2023-06-08|2023-06-09|2|36.5|34.5|-2.0|-5.48|-8|-4|37.75|27.75|Downward|21|103,830,264
AH|2023-06-12|2023-06-12|1|35.25|35.25|0.0|0.0|0|0|36.25|34.75|Upward|22|7,101,473
ASK|2023-05-12|2023-05-12|1|30.25|30.25|0.0|0.0|0|0|30.25|28.5|Upward|23|1,270,304
ASK|2023-05-15|2023-05-22|6|29.5|28.0|-1.5|-5.08|-6|-1|30.25|27.5|Downward|29|4,777,777
ASK|2023-05-23|2023-05-25|3|28.5|28.5|0.0|0.0|0|0|29.0|28.0|Upward|32|1,375,244
ASK|2023-05-26|2023-05-29|2|28.25|27.75|-0.5|-1.77|-2|-1|28.75|27.75|Downward|34|1,023,391
ASK|2023-05-30|2023-06-06|6|28.25|28.5|0.25|0.88|1|0|28.75|27.5|Upward|39|2,175,102
ASK|2023-06-07|2023-06-07|1|28.0|28.0|0.0|0.0|0|0|28.25|28.0|Downward|40|192,757
ASK|2023-06-08|2023-06-09|2|28.25|28.25|0.0|0.0|0|0|28.5|28.0|Upward|42|705,643
ASK|2023-06-12|2023-06-12|1|27.5|27.5|0.0|0.0|0|0|28.5|27.5|Downward|43|1,288,006
ASP|2023-05-12|2023-05-15|2|2.84|2.84|0.0|0.0|0|0|2.88|2.82|Downward|45|1,651,561
ASP|2023-05-16|2023-05-19|4|2.86|2.86|0.0|0.0|0|0|2.88|2.84|Upward|49|3,064,436
ASP|2023-05-22|2023-05-22|1|2.84|2.84|0.0|0.0|0|0|2.86|2.76|Downward|50|1,028,383
ASP|2023-05-23|2023-05-23|1|2.86|2.86|0.0|0.0|0|0|2.88|2.84|Upward|51|916,018
ASP|2023-05-24|2023-05-24|1|2.84|2.84|0.0|0.0|0|0|2.88|2.84|Downward|52|511,186
ASP|2023-05-25|2023-05-31|5|2.86|2.88|0.02|0.7|1|0|2.88|2.84|Upward|57|2,599,511
ASP|2023-06-01|2023-06-06|4|2.86|2.84|-0.02|-0.7|-1|-1|2.88|2.84|Downward|60|1,671,189
ASP|2023-06-07|2023-06-09|3|2.86|2.88|0.02|0.7|1|0|2.88|2.84|Upward|63|1,555,630
ASP|2023-06-12|2023-06-12|1|2.84|2.84|0.0|0.0|0|0|2.88|2.84|Downward|64|1,717,086
AWC|2023-05-12|2023-05-22|7|5.45|5.15|-0.3|-5.5|-6|-1|5.55|5.0|Downward|71|226,827,220
AWC|2023-05-23|2023-05-24|2|5.25|5.25|0.0|0.0|0|0|5.25|5.1|Upward|73|35,069,815
AWC|2023-05-25|2023-06-01|6|5.15|4.82|-0.33|-6.41|-12|-2|5.2|4.78|Downward|79|294,526,415
AWC|2023-06-02|2023-06-02|1|4.88|4.88|0.0|0.0|0|0|4.88|4.82|Upward|80|29,699,549
AWC|2023-06-06|2023-06-06|1|4.84|4.84|0.0|0.0|0|0|4.92|4.8|Downward|81|30,759,888
AWC|2023-06-07|2023-06-08|2|4.94|5.05|0.11|2.23|4|2|5.05|4.82|Upward|83|68,313,762
AWC|2023-06-09|2023-06-09|1|5.0|5.0|0.0|0.0|0|0|5.1|5.0|Downward|84|15,460,325
AWC|2023-06-12|2023-06-12|1|5.1|5.1|0.0|0.0|0|0|5.15|5.0|Upward|85|24,839,616
BANPU|2023-05-12|2023-05-16|3|8.15|8.4|0.25|3.07|5|1|8.4|7.9|Upward|88|392,329,929
BANPU|2023-05-17|2023-05-19|3|8.1|8.05|-0.05|-0.62|-1|-1|8.45|7.9|Downward|91|281,591,460
BANPU|2023-05-22|2023-05-23|2|8.3|8.35|0.05|0.6|1|0|8.4|7.9|Upward|93|222,544,347
BANPU|2023-05-24|2023-05-26|3|8.15|8.1|-0.05|-0.61|-1|-1|8.35|7.9|Downward|96|230,093,706
BANPU|2023-05-29|2023-05-31|3|8.2|8.25|0.05|0.61|1|0|8.35|8.05|Upward|99|233,615,892
BANPU|2023-06-01|2023-06-01|1|8.2|8.2|0.0|0.0|0|0|8.25|8.1|Downward|100|48,276,124
BANPU|2023-06-02|2023-06-12|7|8.3|8.75|0.45|5.42|9|1|8.8|8.2|Upward|106|549,071,452
BCH|2023-05-12|2023-05-12|1|18.3|18.3|0.0|0.0|0|0|18.7|18.1|Upward|107|44,480,949
BCH|2023-05-15|2023-05-17|3|18.1|17.5|-0.6|-3.31|-6|-2|18.4|17.4|Downward|110|52,748,745
BCH|2023-05-18|2023-05-18|1|17.6|17.6|0.0|0.0|0|0|18.0|17.6|Upward|111|18,650,315
BCH|2023-05-19|2023-05-19|1|17.3|17.3|0.0|0.0|0|0|17.5|17.1|Downward|112|11,282,293
BCH|2023-05-22|2023-05-23|2|17.6|18.0|0.4|2.27|4|2|18.2|17.0|Upward|114|62,862,295
BCH|2023-05-24|2023-05-26|3|17.9|17.7|-0.2|-1.12|-2|-1|18.2|17.4|Downward|117|54,046,737
BCH|2023-05-29|2023-05-30|2|18.6|18.9|0.3|1.61|3|1|19.1|17.9|Upward|119|57,006,668
BCH|2023-05-31|2023-06-02|3|18.5|18.3|-0.2|-1.08|-2|-1|18.9|18.1|Downward|122|46,451,170
BCH|2023-06-06|2023-06-08|3|18.4|18.4|0.0|0.0|0|0|18.7|18.1|Upward|125|35,910,721
BCH|2023-06-09|2023-06-09|1|18.3|18.3|0.0|0.0|0|0|18.6|18.3|Downward|126|14,152,226
BCH|2023-06-12|2023-06-12|1|18.4|18.4|0.0|0.0|0|0|18.5|18.3|Upward|127|7,226,526
BEM|2023-05-12|2023-05-12|1|9.0|9.0|0.0|0.0|0|0|9.1|8.9|Upward|128|39,319,250
BEM|2023-05-15|2023-05-19|5|8.65|8.3|-0.35|-4.05|-7|-2|9.05|8.1|Downward|133|241,457,384
BEM|2023-05-22|2023-05-22|1|8.35|8.35|0.0|0.0|0|0|8.4|8.1|Upward|134|21,651,336
BEM|2023-05-23|2023-05-26|4|8.3|8.05|-0.25|-3.01|-5|-2|8.35|7.95|Downward|138|180,877,529
BEM|2023-05-29|2023-05-30|2|8.15|8.15|0.0|0.0|0|0|8.2|8.0|Upward|140|53,854,830
BEM|2023-05-31|2023-06-02|3|8.05|8.05|0.0|0.0|0|0|8.15|7.95|Downward|143|107,677,543
BEM|2023-06-06|2023-06-08|3|8.1|8.4|0.3|3.7|6|2|8.45|8.0|Upward|146|98,926,059
BEM|2023-06-09|2023-06-12|2|8.35|8.35|0.0|0.0|0|0|8.4|8.3|Downward|148|25,683,087
CPNREIT|2023-05-12|2023-05-16|3|12.9|12.9|0.0|0.0|0|0|13.0|12.8|Downward|151|4,486,472
CPNREIT|2023-05-17|2023-05-22|4|13.0|13.0|0.0|0.0|0|0|13.1|12.8|Upward|155|4,332,853
CPNREIT|2023-05-23|2023-05-24|2|12.9|12.8|-0.1|-0.78|-1|-1|12.9|12.6|Downward|157|2,076,242
CPNREIT|2023-05-25|2023-05-25|1|12.9|12.9|0.0|0.0|0|0|12.9|12.8|Upward|158|498,313
CPNREIT|2023-05-26|2023-05-26|1|12.8|12.8|0.0|0.0|0|0|12.9|12.7|Downward|159|668,773
CPNREIT|2023-05-29|2023-05-30|2|12.9|12.9|0.0|0.0|0|0|12.9|12.8|Upward|161|811,213
CPNREIT|2023-05-31|2023-06-02|3|12.8|12.8|0.0|0.0|0|0|12.9|12.7|Downward|164|2,250,814
CPNREIT|2023-06-06|2023-06-07|2|12.9|12.9|0.0|0.0|0|0|13.0|12.6|Upward|166|3,678,090
CPNREIT|2023-06-08|2023-06-08|1|12.8|12.8|0.0|0.0|0|0|12.9|12.8|Downward|167|795,603
CPNREIT|2023-06-09|2023-06-09|1|13.0|13.0|0.0|0.0|0|0|13.0|12.7|Upward|168|2,498,945
CPNREIT|2023-06-12|2023-06-12|1|12.9|12.9|0.0|0.0|0|0|13.0|12.8|Downward|169|360,857
DIF|2023-05-12|2023-05-19|6|12.7|12.3|-0.4|-3.15|-4|-1|12.9|12.3|Downward|175|119,099,059
DIF|2023-05-22|2023-05-23|2|12.4|12.4|0.0|0.0|0|0|12.4|12.2|Upward|177|28,750,680
DIF|2023-05-24|2023-05-25|2|12.3|12.3|0.0|0.0|0|0|12.4|12.2|Downward|179|21,765,831
DIF|2023-05-26|2023-05-29|2|12.4|12.4|0.0|0.0|0|0|12.4|12.3|Upward|181|8,618,605
DIF|2023-05-30|2023-06-02|4|12.3|12.3|0.0|0.0|0|0|12.4|12.3|Downward|185|15,007,176
DIF|2023-06-06|2023-06-08|3|12.4|12.4|0.0|0.0|0|0|12.4|12.2|Upward|188|41,584,965
DIF|2023-06-09|2023-06-12|2|12.3|12.3|0.0|0.0|0|0|12.4|12.2|Downward|190|17,355,872
EA|2023-05-12|2023-05-19|6|67.5|64.5|-3.0|-4.44|-12|-2|69.5|64.25|Downward|196|55,051,282
EA|2023-05-22|2023-05-22|1|66.25|66.25|0.0|0.0|0|0|66.5|63.25|Upward|197|10,883,995
EA|2023-05-23|2023-05-30|6|66.0|63.75|-2.25|-3.41|-9|-2|66.5|63.75|Downward|203|46,175,816
EA|2023-05-31|2023-05-31|1|65.0|65.0|0.0|0.0|0|0|65.0|63.0|Upward|204|14,100,350
EA|2023-06-01|2023-06-01|1|60.75|60.75|0.0|0.0|0|0|64.5|60.75|Downward|205|18,252,304
EA|2023-06-02|2023-06-02|1|61.25|61.25|0.0|0.0|0|0|62.0|60.75|Upward|206|9,654,407
EA|2023-06-06|2023-06-06|1|60.5|60.5|0.0|0.0|0|0|62.0|60.0|Downward|207|7,711,166
EA|2023-06-07|2023-06-08|2|63.0|65.0|2.0|3.17|8|4|65.5|60.5|Upward|209|32,947,142
EA|2023-06-09|2023-06-12|2|64.0|63.75|-0.25|-0.39|-1|-1|65.0|63.5|Downward|211|14,588,407
GVREIT|2023-05-12|2023-05-12|1|9.2|9.2|0.0|0.0|0|0|9.25|9.05|Downward|212|212,100
GVREIT|2023-05-15|2023-05-15|1|9.25|9.25|0.0|0.0|0|0|9.4|9.0|Upward|213|437,810
GVREIT|2023-05-16|2023-05-18|3|9.15|9.0|-0.15|-1.64|-3|-1|9.25|8.95|Downward|216|2,254,892
GVREIT|2023-05-19|2023-05-25|5|9.2|9.25|0.05|0.54|1|0|9.25|9.0|Upward|221|2,467,607
GVREIT|2023-05-26|2023-06-06|8|9.1|9.0|-0.1|-1.1|-2|-1|9.15|9.0|Downward|228|2,184,703
GVREIT|2023-06-07|2023-06-07|1|9.05|9.05|0.0|0.0|0|0|9.05|9.0|Upward|229|464,600
GVREIT|2023-06-08|2023-06-08|1|9.0|9.0|0.0|0.0|0|0|9.1|9.0|Downward|230|270,500
GVREIT|2023-06-09|2023-06-09|1|9.05|9.05|0.0|0.0|0|0|9.1|9.0|Upward|231|251,000
GVREIT|2023-06-12|2023-06-12|1|9.0|9.0|0.0|0.0|0|0|9.05|9.0|Downward|232|545,500
IVL|2023-05-12|2023-05-15|2|34.25|33.5|-0.75|-2.19|-3|-2|34.5|33.25|Downward|234|28,817,215
IVL|2023-05-16|2023-05-16|1|33.75|33.75|0.0|0.0|0|0|34.0|33.25|Upward|235|7,652,493
IVL|2023-05-17|2023-05-19|3|33.0|32.25|-0.75|-2.27|-3|-1|34.0|32.0|Downward|238|57,429,508
IVL|2023-05-22|2023-05-24|3|33.0|33.5|0.5|1.52|2|0|34.0|31.5|Upward|241|41,919,491
IVL|2023-05-25|2023-05-29|3|32.5|32.25|-0.25|-0.77|-1|-1|33.25|32.0|Downward|244|28,098,606
IVL|2023-05-30|2023-05-30|1|32.5|32.5|0.0|0.0|0|0|32.5|31.75|Upward|245|9,710,381
IVL|2023-05-31|2023-05-31|1|31.75|31.75|0.0|0.0|0|0|32.5|31.0|Downward|246|31,178,445
IVL|2023-06-01|2023-06-02|2|32.0|32.75|0.75|2.34|3|1|33.0|31.5|Upward|248|25,802,995
IVL|2023-06-06|2023-06-07|2|32.5|32.5|0.0|0.0|0|0|33.0|32.0|Downward|250|25,405,243
IVL|2023-06-08|2023-06-12|3|33.25|33.5|0.25|0.75|1|0|33.75|32.0|Upward|253|44,761,656
JASIF|2023-05-12|2023-05-17|4|7.1|7.15|0.05|0.7|1|0|7.15|7.05|Upward|257|60,021,233
JASIF|2023-05-18|2023-05-19|2|7.1|6.9|-0.2|-2.82|-4|-2|7.15|6.85|Downward|259|31,443,441
JASIF|2023-05-22|2023-05-22|1|6.95|6.95|0.0|0.0|0|0|6.95|6.85|Upward|260|3,923,813
JASIF|2023-05-23|2023-05-23|1|6.9|6.9|0.0|0.0|0|0|6.95|6.9|Downward|261|1,634,895
JASIF|2023-05-24|2023-05-24|1|6.95|6.95|0.0|0.0|0|0|7.0|6.9|Upward|262|6,853,550
JASIF|2023-05-25|2023-05-25|1|6.9|6.9|0.0|0.0|0|0|7.0|6.9|Downward|263|2,212,252
JASIF|2023-05-26|2023-06-01|5|6.95|7.0|0.05|0.72|1|0|7.0|6.9|Upward|268|24,074,943
JASIF|2023-06-02|2023-06-07|4|6.95|6.95|0.0|0.0|0|0|7.0|6.95|Downward|271|9,539,507
JASIF|2023-06-08|2023-06-09|2|7.0|7.0|0.0|0.0|0|0|7.0|6.95|Upward|273|6,397,882
JASIF|2023-06-12|2023-06-12|1|6.95|6.95|0.0|0.0|0|0|7.0|6.95|Downward|274|2,209,493
JMART|2023-05-12|2023-05-15|2|20.3|18.2|-2.1|-10.34|-21|-11|20.4|17.4|Downward|276|100,689,341
JMART|2023-05-16|2023-05-17|2|19.1|19.2|0.1|0.52|1|0|19.6|18.2|Upward|278|50,971,744
JMART|2023-05-18|2023-05-19|2|19.0|19.0|0.0|0.0|0|0|19.5|18.8|Downward|280|23,113,761
JMART|2023-05-22|2023-05-23|2|19.4|20.3|0.9|4.64|9|4|20.5|18.4|Upward|282|49,171,669
JMART|2023-05-24|2023-05-24|1|20.0|20.0|0.0|0.0|0|0|20.5|19.8|Downward|283|19,388,332
JMART|2023-05-25|2023-05-25|1|20.7|20.7|0.0|0.0|0|0|20.8|19.9|Upward|284|20,039,168
JMART|2023-05-26|2023-05-26|1|19.1|19.1|0.0|0.0|0|0|21.1|19.0|Downward|285|55,517,691
JMART|2023-05-29|2023-05-31|3|19.3|20.4|1.1|5.7|11|3|20.5|19.0|Upward|288|66,871,020
JMART|2023-06-01|2023-06-07|5|20.1|19.2|-0.9|-4.48|-9|-2|20.5|18.9|Downward|292|56,896,458
JMART|2023-06-08|2023-06-12|3|19.3|19.9|0.6|3.11|6|2|20.3|18.9|Upward|295|54,411,471
JMT|2023-05-12|2023-05-12|1|42.75|42.75|0.0|0.0|0|0|42.75|38.5|Upward|296|21,067,914
JMT|2023-05-15|2023-05-15|1|40.25|40.25|0.0|0.0|0|0|42.75|39.75|Downward|297|16,249,580
JMT|2023-05-16|2023-05-19|4|41.25|43.0|1.75|4.24|7|1|43.25|40.0|Upward|301|37,647,453
JMT|2023-05-22|2023-05-24|3|42.75|41.5|-1.25|-2.92|-5|-2|43.25|41.25|Downward|304|19,971,612
JMT|2023-05-25|2023-05-25|1|42.0|42.0|0.0|0.0|0|0|42.25|40.5|Upward|305|8,596,495
JMT|2023-05-26|2023-05-26|1|40.5|40.5|0.0|0.0|0|0|42.25|40.5|Downward|306|6,536,809
JMT|2023-05-29|2023-05-29|1|40.75|40.75|0.0|0.0|0|0|41.75|40.25|Upward|307|5,354,030
JMT|2023-05-30|2023-05-30|1|39.75|39.75|0.0|0.0|0|0|40.75|39.5|Downward|308|11,998,586
JMT|2023-05-31|2023-05-31|1|43.0|43.0|0.0|0.0|0|0|44.0|39.25|Upward|309|69,063,646
JMT|2023-06-01|2023-06-06|4|42.5|39.25|-3.25|-7.65|-13|-4|43.25|39.25|Downward|312|54,350,987
JMT|2023-06-07|2023-06-12|4|39.5|43.25|3.75|9.49|15|3|44.25|38.5|Upward|316|69,435,297
KCE|2023-05-12|2023-05-12|1|37.5|37.5|0.0|0.0|0|0|37.5|35.75|Upward|317|11,176,518
KCE|2023-05-15|2023-05-17|3|37.25|36.0|-1.25|-3.36|-5|-2|38.25|35.5|Downward|320|17,178,996
KCE|2023-05-18|2023-05-18|1|37.25|37.25|0.0|0.0|0|0|37.75|36.25|Upward|321|6,783,747
KCE|2023-05-19|2023-05-19|1|36.75|36.75|0.0|0.0|0|0|37.5|36.5|Downward|322|6,621,075
KCE|2023-05-22|2023-05-25|4|38.0|38.5|0.5|1.32|2|0|40.25|35.75|Upward|326|39,398,762
KCE|2023-05-26|2023-05-26|1|38.25|38.25|0.0|0.0|0|0|39.0|37.75|Downward|327|10,382,785
KCE|2023-05-29|2023-05-30|2|38.5|39.25|0.75|1.95|3|1|39.5|38.25|Upward|329|13,326,770
KCE|2023-05-31|2023-06-06|5|39.0|37.75|-1.25|-3.21|-5|-1|39.5|37.75|Downward|333|27,432,899
KCE|2023-06-07|2023-06-08|2|38.75|39.5|0.75|1.94|3|1|39.75|37.75|Upward|335|10,759,995
KCE|2023-06-09|2023-06-12|2|39.25|39.25|0.0|0.0|0|0|39.75|39.0|Downward|337|6,424,036
KTC|2023-05-12|2023-05-12|1|55.75|55.75|0.0|0.0|0|0|56.75|54.5|Downward|338|5,123,942
KTC|2023-05-15|2023-05-15|1|56.5|56.5|0.0|0.0|0|0|56.75|55.25|Upward|339|3,465,645
KTC|2023-05-16|2023-05-18|3|56.25|55.0|-1.25|-2.22|-5|-2|56.5|54.75|Downward|342|19,440,977
KTC|2023-05-19|2023-05-19|1|56.25|56.25|0.0|0.0|0|0|56.25|55.0|Upward|343|4,122,407
KTC|2023-05-22|2023-05-25|4|55.75|52.75|-3.0|-5.38|-12|-3|56.0|52.5|Downward|347|20,046,448
KTC|2023-05-26|2023-05-26|1|53.0|53.0|0.0|0.0|0|0|53.25|52.25|Upward|348|4,074,364
KTC|2023-05-29|2023-06-01|4|52.75|50.25|-2.5|-4.74|-10|-3|53.5|50.25|Downward|352|38,460,488
KTC|2023-06-02|2023-06-02|1|51.0|51.0|0.0|0.0|0|0|51.25|49.75|Upward|353|8,014,448
KTC|2023-06-06|2023-06-06|1|50.75|50.75|0.0|0.0|0|0|51.75|50.25|Downward|354|6,263,735
KTC|2023-06-07|2023-06-09|3|51.0|53.0|2.0|3.92|8|2|53.0|50.0|Upward|357|15,022,617
KTC|2023-06-12|2023-06-12|1|51.5|51.5|0.0|0.0|0|0|52.75|51.5|Downward|358|3,219,169
MCS|2023-05-12|2023-05-19|6|9.05|7.05|-2.0|-22.1|-40|-7|9.1|7.0|Downward|364|8,886,187
MCS|2023-05-22|2023-05-24|3|7.1|7.4|0.3|4.23|6|2|7.4|6.9|Upward|367|1,770,009
MCS|2023-05-25|2023-05-31|5|7.35|7.1|-0.25|-3.4|-5|-1|7.4|7.0|Downward|372|1,819,764
MCS|2023-06-01|2023-06-02|2|7.15|7.15|0.0|0.0|0|0|7.2|7.1|Upward|374|597,280
MCS|2023-06-06|2023-06-06|1|7.1|7.1|0.0|0.0|0|0|7.1|7.05|Downward|375|502,457
MCS|2023-06-07|2023-06-07|1|7.15|7.15|0.0|0.0|0|0|7.15|7.1|Upward|376|239,629
MCS|2023-06-08|2023-06-12|3|7.0|7.0|0.0|0.0|0|0|7.15|6.95|Downward|379|2,650,474
NER|2023-05-12|2023-05-22|7|5.05|4.72|-0.33|-6.53|-15|-3|5.1|4.62|Downward|386|44,049,256
NER|2023-05-23|2023-05-23|1|4.84|4.84|0.0|0.0|0|0|4.86|4.7|Upward|387|6,250,542
NER|2023-05-24|2023-06-01|7|4.8|4.44|-0.36|-7.5|-18|-3|4.92|4.44|Downward|394|74,735,823
NER|2023-06-02|2023-06-02|1|4.46|4.46|0.0|0.0|0|0|4.5|4.42|Upward|395|4,228,005
NER|2023-06-06|2023-06-06|1|4.44|4.44|0.0|0.0|0|0|4.5|4.44|Downward|396|5,118,424
NER|2023-06-07|2023-06-12|4|4.48|4.68|0.2|4.46|10|2|4.7|4.44|Upward|400|26,686,425
ORI|2023-05-12|2023-05-15|2|11.1|11.2|0.1|0.9|1|0|11.3|11.0|Upward|402|7,637,386
ORI|2023-05-16|2023-05-22|5|11.0|10.4|-0.6|-5.45|-6|-2|11.3|10.1|Downward|407|66,001,446
ORI|2023-05-23|2023-05-25|3|10.6|10.7|0.1|0.94|1|0|10.8|10.3|Upward|410|23,182,307
ORI|2023-05-26|2023-05-26|1|10.6|10.6|0.0|0.0|0|0|10.7|10.6|Downward|411|1,437,647
ORI|2023-05-29|2023-05-29|1|11.1|11.1|0.0|0.0|0|0|11.1|10.6|Upward|412|13,279,793
ORI|2023-05-30|2023-05-31|2|10.9|10.8|-0.1|-0.92|-1|-1|11.1|10.8|Downward|414|13,567,857
ORI|2023-06-01|2023-06-01|1|11.0|11.0|0.0|0.0|0|0|11.1|10.7|Upward|415|7,270,500
ORI|2023-06-02|2023-06-06|3|10.9|10.8|-0.1|-0.92|-1|-1|11.0|10.8|Downward|417|3,865,454
ORI|2023-06-07|2023-06-08|2|10.9|11.2|0.3|2.75|3|1|11.2|10.8|Upward|419|9,256,031
ORI|2023-06-09|2023-06-12|2|11.1|11.1|0.0|0.0|0|0|11.2|11.0|Downward|421|5,693,176
PTTGC|2023-05-12|2023-05-19|6|40.25|35.75|-4.5|-11.18|-18|-3|41.25|35.25|Downward|427|198,664,149
PTTGC|2023-05-22|2023-05-23|2|37.5|37.75|0.25|0.67|1|0|38.0|35.5|Upward|429|42,464,867
PTTGC|2023-05-24|2023-05-26|3|37.5|35.75|-1.75|-4.67|-7|-3|37.75|35.75|Downward|432|66,673,512
PTTGC|2023-05-29|2023-05-30|2|36.25|36.25|0.0|0.0|0|0|36.5|35.75|Upward|434|16,640,980
PTTGC|2023-05-31|2023-06-01|2|35.25|34.75|-0.5|-1.42|-2|-1|36.0|34.75|Downward|436|37,965,873
PTTGC|2023-06-02|2023-06-02|1|35.75|35.75|0.0|0.0|0|0|36.25|35.25|Upward|437|15,656,993
PTTGC|2023-06-06|2023-06-06|1|35.5|35.5|0.0|0.0|0|0|36.5|35.5|Downward|438|11,809,498
PTTGC|2023-06-07|2023-06-09|3|36.5|38.5|2.0|5.48|8|2|38.5|35.5|Upward|441|68,192,314
PTTGC|2023-06-12|2023-06-12|1|38.25|38.25|0.0|0.0|0|0|38.25|37.5|Downward|442|12,387,581
RCL|2023-05-12|2023-05-19|6|24.9|23.6|-1.3|-5.22|-13|-3|25.25|23.5|Downward|448|16,573,575
RCL|2023-05-22|2023-05-24|3|23.7|24.7|1.0|4.22|10|3|24.9|22.9|Upward|451|9,598,001
RCL|2023-05-25|2023-05-26|2|24.4|24.2|-0.2|-0.82|-2|-1|24.7|24.2|Downward|453|3,475,739
RCL|2023-05-29|2023-05-30|2|24.4|24.4|0.0|0.0|0|0|24.6|24.2|Upward|455|1,636,703
RCL|2023-05-31|2023-06-01|2|24.0|23.3|-0.7|-2.92|-7|-4|24.4|23.3|Downward|457|5,613,781
RCL|2023-06-02|2023-06-12|7|23.7|24.4|0.7|2.95|7|1|24.8|23.3|Upward|463|22,125,042
SCC|2023-05-12|2023-05-12|1|336.0|336.0|0.0|0.0|0|0|337.0|332.0|Upward|464|2,284,974
SCC|2023-05-15|2023-05-15|1|333.0|333.0|0.0|0.0|0|0|338.0|333.0|Downward|465|1,732,983
SCC|2023-05-16|2023-05-19|4|337.0|339.0|2.0|0.59|2|0|340.0|334.0|Upward|469|8,555,275
SCC|2023-05-22|2023-05-22|1|336.0|336.0|0.0|0.0|0|0|336.0|331.0|Downward|470|2,240,649
SCC|2023-05-23|2023-05-23|1|337.0|337.0|0.0|0.0|0|0|339.0|333.0|Upward|471|1,303,777
SCC|2023-05-24|2023-05-25|2|336.0|330.0|-6.0|-1.79|-6|-3|337.0|330.0|Downward|473|3,028,374
SCC|2023-05-26|2023-05-29|2|332.0|332.0|0.0|0.0|0|0|332.0|328.0|Upward|475|2,709,561
SCC|2023-05-30|2023-05-31|2|325.0|319.0|-6.0|-1.85|-6|-3|332.0|319.0|Downward|477|9,251,889
SCC|2023-06-01|2023-06-08|6|323.0|338.0|15.0|4.64|15|2|338.0|320.0|Upward|482|9,016,384
SCC|2023-06-09|2023-06-12|2|333.0|332.0|-1.0|-0.3|-1|-1|337.0|331.0|Downward|484|2,647,359
SENA|2023-05-12|2023-05-18|5|3.42|3.16|-0.26|-7.6|-13|-3|3.44|3.12|Downward|489|7,668,359
SENA|2023-05-19|2023-05-23|3|3.18|3.18|0.0|0.0|0|0|3.18|3.12|Upward|492|2,260,988
SENA|2023-05-24|2023-05-26|3|3.16|3.14|-0.02|-0.63|-1|-1|3.18|3.14|Downward|495|2,669,659
SENA|2023-05-29|2023-05-30|2|3.16|3.16|0.0|0.0|0|0|3.16|3.12|Upward|497|921,131
SENA|2023-05-31|2023-06-02|3|3.14|3.12|-0.02|-0.64|-1|-1|3.16|3.12|Downward|500|1,597,077
SENA|2023-06-06|2023-06-06|1|3.14|3.14|0.0|0.0|0|0|3.14|3.1|Upward|501|628,349
SENA|2023-06-07|2023-06-07|1|3.12|3.12|0.0|0.0|0|0|3.12|3.1|Downward|502|696,598
SENA|2023-06-08|2023-06-12|3|3.14|3.16|0.02|0.64|1|0|3.16|3.1|Upward|505|2,386,560
SINGER|2023-05-12|2023-05-12|1|13.5|13.5|0.0|0.0|0|0|13.9|13.2|Upward|506|15,415,097
SINGER|2023-05-15|2023-05-15|1|10.9|10.9|0.0|0.0|0|0|12.8|10.0|Downward|507|80,619,134
SINGER|2023-05-16|2023-05-16|1|11.6|11.6|0.0|0.0|0|0|11.8|10.6|Upward|508|28,170,697
SINGER|2023-05-17|2023-05-18|2|11.2|11.1|-0.1|-0.89|-1|-1|11.6|11.0|Downward|510|31,962,134
SINGER|2023-05-19|2023-05-23|3|11.2|11.9|0.7|6.25|7|2|12.0|10.8|Upward|513|64,868,953
SINGER|2023-05-24|2023-05-26|3|11.6|10.9|-0.7|-6.03|-7|-3|12.2|10.9|Downward|516|34,359,859
SINGER|2023-05-29|2023-05-31|3|11.0|11.4|0.4|3.64|4|1|11.7|10.8|Upward|519|29,866,557
SINGER|2023-06-01|2023-06-07|5|11.3|11.0|-0.3|-2.65|-3|-1|11.6|10.8|Downward|523|21,823,850
SINGER|2023-06-08|2023-06-09|2|11.2|11.2|0.0|0.0|0|0|11.6|10.7|Upward|525|22,419,726
SINGER|2023-06-12|2023-06-12|1|11.1|11.1|0.0|0.0|0|0|11.5|11.1|Downward|526|7,953,247
STA|2023-05-12|2023-05-15|2|19.3|18.5|-0.8|-4.15|-8|-4|19.6|18.4|Downward|528|12,157,529
STA|2023-05-16|2023-05-23|6|18.7|19.2|0.5|2.67|5|0|19.3|18.1|Upward|534|23,096,040
STA|2023-05-24|2023-05-29|4|19.0|18.9|-0.1|-0.53|-1|-1|19.3|18.7|Downward|538|9,800,208
STA|2023-05-30|2023-05-30|1|19.1|19.1|0.0|0.0|0|0|19.2|18.7|Upward|539|2,752,929
STA|2023-05-31|2023-06-01|2|19.0|18.7|-0.3|-1.58|-3|-2|19.0|18.6|Downward|541|6,592,379
STA|2023-06-02|2023-06-02|1|18.9|18.9|0.0|0.0|0|0|19.0|18.8|Upward|542|2,003,229

STA|2023-06-06|2023-06-07|2|18.7|18.7|0.0|0.0|0|0|19.0|18.5|Downward|544|6,930,076
STA|2023-06-08|2023-06-08|1|19.0|19.0|0.0|0.0|0|0|19.1|18.6|Upward|545|5,394,096
STA|2023-06-09|2023-06-12|2|18.8|18.5|-0.3|-1.6|-3|-2|19.0|18.4|Downward|547|10,408,367
SYNEX|2023-05-12|2023-05-15|2|12.7|12.7|0.0|0.0|0|0|13.1|12.5|Downward|549|1,610,020
SYNEX|2023-05-16|2023-05-16|1|13.0|13.0|0.0|0.0|0|0|13.1|12.6|Upward|550|392,827
SYNEX|2023-05-17|2023-05-17|1|12.7|12.7|0.0|0.0|0|0|13.1|12.7|Downward|551|208,995
SYNEX|2023-05-18|2023-05-18|1|12.9|12.9|0.0|0.0|0|0|13.0|12.8|Upward|552|262,424
SYNEX|2023-05-19|2023-05-19|1|12.7|12.7|0.0|0.0|0|0|12.9|12.7|Downward|553|166,247
SYNEX|2023-05-22|2023-05-25|4|12.9|13.2|0.3|2.33|3|0|13.3|12.3|Upward|557|1,038,244
SYNEX|2023-05-26|2023-05-26|1|13.0|13.0|0.0|0.0|0|0|13.3|13.0|Downward|558|264,960
SYNEX|2023-05-29|2023-05-31|3|13.1|13.3|0.2|1.53|2|0|13.4|12.9|Upward|561|747,379
SYNEX|2023-06-01|2023-06-02|2|13.0|12.9|-0.1|-0.77|-1|-1|13.2|12.9|Downward|563|375,582
SYNEX|2023-06-06|2023-06-06|1|13.0|13.0|0.0|0.0|0|0|13.0|12.9|Upward|564|111,652
SYNEX|2023-06-07|2023-06-07|1|12.9|12.9|0.0|0.0|0|0|13.0|12.8|Downward|565|136,516
SYNEX|2023-06-08|2023-06-09|2|13.0|13.3|0.3|2.31|3|1|13.3|12.8|Upward|567|462,153
SYNEX|2023-06-12|2023-06-12|1|13.2|13.2|0.0|0.0|0|0|13.3|13.1|Downward|568|293,569
TFFIF|2023-05-12|2023-05-22|7|7.7|7.7|0.0|0.0|0|0|7.75|7.65|Downward|575|14,120,882
TFFIF|2023-05-23|2023-05-24|2|7.75|7.75|0.0|0.0|0|0|7.75|7.65|Upward|577|2,256,994
TFFIF|2023-05-25|2023-05-25|1|7.7|7.7|0.0|0.0|0|0|7.75|7.7|Downward|578|731,951
TFFIF|2023-05-26|2023-05-29|2|7.75|7.75|0.0|0.0|0|0|7.75|7.7|Upward|580|2,487,860
TFFIF|2023-05-30|2023-06-09|9|7.7|7.55|-0.15|-1.95|-3|-1|7.75|7.5|Downward|588|15,517,590
TFFIF|2023-06-12|2023-06-12|1|7.6|7.6|0.0|0.0|0|0|7.65|7.5|Upward|589|6,510,108
TMT|2023-05-12|2023-05-16|3|7.7|7.7|0.0|0.0|0|0|7.85|7.6|Upward|592|565,618
TMT|2023-05-17|2023-05-23|5|7.65|7.55|-0.1|-1.31|-2|-1|7.7|7.5|Downward|597|500,212
TMT|2023-05-24|2023-05-25|2|7.65|7.65|0.0|0.0|0|0|7.65|7.55|Upward|599|231,470
TMT|2023-05-26|2023-06-08|10|7.6|7.45|-0.15|-1.97|-3|-1|7.65|7.4|Downward|608|1,082,757
TMT|2023-06-09|2023-06-09|1|7.5|7.5|0.0|0.0|0|0|7.5|7.45|Upward|609|239,238
TMT|2023-06-12|2023-06-12|1|7.45|7.45|0.0|0.0|0|0|7.5|7.45|Downward|610|16,180
WHAIR|2023-05-12|2023-05-16|3|7.4|7.35|-0.05|-0.68|-1|-1|7.45|7.3|Downward|613|1,148,425
WHAIR|2023-05-17|2023-05-18|2|7.4|7.4|0.0|0.0|0|0|7.45|7.3|Upward|615|1,075,537
WHAIR|2023-05-19|2023-05-22|2|7.35|7.25|-0.1|-1.36|-2|-1|7.4|7.2|Downward|617|1,347,124
WHAIR|2023-05-23|2023-05-23|1|7.35|7.35|0.0|0.0|0|0|7.35|7.25|Upward|618|162,000
WHAIR|2023-05-24|2023-05-31|6|7.3|7.15|-0.15|-2.05|-3|-1|7.35|7.1|Downward|624|2,500,285
WHAIR|2023-06-01|2023-06-01|1|7.2|7.2|0.0|0.0|0|0|7.2|7.1|Upward|625|218,000
WHAIR|2023-06-02|2023-06-02|1|7.1|7.1|0.0|0.0|0|0|7.2|7.1|Downward|626|485,216
WHAIR|2023-06-06|2023-06-09|4|7.15|7.3|0.15|2.1|3|0|7.3|7.05|Upward|630|709,940
WHAIR|2023-06-12|2023-06-12|1|7.25|7.25|0.0|0.0|0|0|7.3|7.2|Downward|631|135,404
WHART|2023-05-12|2023-05-18|5|11.3|11.1|-0.2|-1.77|-2|-1|11.3|11.0|Downward|636|3,624,663
WHART|2023-05-19|2023-05-19|1|11.2|11.2|0.0|0.0|0|0|11.2|11.1|Upward|637|229,615
WHART|2023-05-22|2023-05-25|4|11.1|10.9|-0.2|-1.8|-2|-1|11.2|10.8|Downward|641|2,578,398
WHART|2023-05-26|2023-05-26|1|11.0|11.0|0.0|0.0|0|0|11.0|10.8|Upward|642|1,596,800
WHART|2023-05-29|2023-05-30|2|10.9|10.9|0.0|0.0|0|0|11.0|10.9|Downward|644|1,762,017
WHART|2023-05-31|2023-06-06|5|11.0|11.2|0.2|1.82|2|0|11.2|10.9|Upward|648|3,573,119
WHART|2023-06-07|2023-06-09|3|11.0|11.0|0.0|0.0|0|0|11.2|11.0|Downward|651|3,236,177
WHART|2023-06-12|2023-06-12|1|11.2|11.2|0.0|0.0|0|0|11.2|11.0|Upward|651|1,052,392
ruby/../Data/summary.csv

In [14]:
os.chdir("C:\\users\\user\\onedrive\\a7\\daily")
%pwd

'C:\\users\\user\\onedrive\\a7\\daily'

In [15]:
file_name   = 'summary.csv'
input_file = data_path + file_name
df = pd.read_csv(input_file, sep=',', index_col=None)
df.sample(5).style.format(format_dict)

In [16]:
df.rename(columns={'from_date':'fm_date','from_price':'fm_price'},inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df['fm_md'] = df['fm_date'].dt.strftime('%m-%d')
df['to_md'] = df['to_date'].dt.strftime('%m-%d')

### Group analysis

In [17]:
mask_p = df['to_md'] == to_mmdd
df[mask_p][cols].sort_values('pct',ascending=False).head().style.format(format_dict)

In [18]:
name_up = 'JMT'
mask_n = df.name == name_up
df[mask_n][cols].style.format(format_dict)

In [19]:
mask_m = df['to_md'] == to_mmdd
df[mask_m][cols].sort_values('pct',ascending=True).head().style.format(format_dict)

In [20]:
name_down = 'STA'
mask_n = df.name == name_down
df[mask_n][cols].style.format(format_dict)

In [21]:
df_groupby_trend = df.groupby('trend')

In [22]:
# To retrieve one of the created groups
df_up = df_groupby_trend.get_group('Upward')
df_up[cols].sample(5).style.format(format_dict)

In [23]:
# To retrieve one of the created groups
df_dw = df_groupby_trend.get_group('Downward')
df_dw[cols].sample(5).style.format(format_dict)

In [24]:
# there is a function called .agg() and it allows us to specify multiple aggregation functions at once
df.groupby('trend').days.agg(['max', 'count', 'median', 'mean'])

          max  count  median  mean
trend
Downward   10    142    2.00  2.65
Upward      7    134    2.00  2.16

In [25]:
upward_max = df.groupby('trend').days.max().loc['Upward']
downward_max = df.groupby('trend').days.max().loc['Downward']

In [26]:
df.query('days == @upward_max and trend == "Upward"')[cols].style.format(format_dict)

In [27]:
df.query('days == @downward_max and trend == "Downward"')[cols]

,name,fm_md,to_md,days,fm_price,to_price,pct,spd,avg,max_price,min_price,ttl_qty,trend
257,TMT,05-26,06-08,10,7.60,7.45,-1.97,-3,-1,7.65,7.40,1082757,Downward

### Individual stock analysis

In [28]:
df.query('name == @name_up')[cols].style.format(format_dict)

In [29]:
df_tmp = price.query('name == @name_up')
df_tmp.describe().round(2)

       price         qty  maxp  minp
count  21.00       21.00 21.00 21.00
mean   41.55 15251067.10 42.45 40.50
std     1.34 14194151.35  1.21  1.30
min    39.25  4947823.00 39.75 38.50
25%    40.50  7454241.00 41.75 39.50
50%    42.00 11998586.00 42.75 40.50
75%    42.75 16068994.00 43.25 41.50
max    43.25 69063646.00 44.25 42.75

In [30]:
df.query('name == @name_down')[cols].style.format(format_dict)

In [31]:
df_tmp = price.query('name == @name_down')
df_tmp.describe().round(2)

       price        qty  maxp  minp
count  21.00      21.00 21.00 21.00
mean   18.86 3768326.33 19.10 18.60
std     0.21 1467456.81  0.19  0.22
min    18.50 1715946.00 18.80 18.10
25%    18.70 2752929.00 19.00 18.50
50%    18.80 3229019.00 19.00 18.60
75%    19.00 4935652.00 19.20 18.80
max    19.30 6686234.00 19.60 19.00

In [32]:
mask_p = df['to_md'] == to_mmdd
summary = df[mask_p][cols].sort_values(['pct','trend'],ascending=[False,False])

In [33]:
file_name = 'summary-240.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

summary[cols].to_csv(output_file, header=True, index=False)
summary[cols].to_csv(data_file, header=True, index=False)
summary[cols].to_csv(one_file, header=True, index=False)
summary[cols].to_csv(osd_file, header=True, index=False)

In [34]:
sql = """
SELECT name, date, price, qty, maxp, minp
FROM price 
WHERE date >= '%s' 
ORDER BY name, date"""
sql = sql % (today)
print(sql)

SELECT name, date, price, qty, maxp, minp
FROM price
WHERE date >= '2023-06-12'
ORDER BY name, date

In [35]:
df = pd.read_sql(sql, const)
df

       name        date  price       qty   maxp   minp
0       ACE  2023-06-12   1.99  17077218   2.02   1.98
1    ADVANC  2023-06-12 218.00   3391263 219.00 216.00
2    AEONTS  2023-06-12 202.00     62902 202.00 200.00
3        AH  2023-06-12  35.25   7101473  36.25  34.75
4       AIE  2023-06-12   1.50    398959   1.52   1.50
..      ...         ...    ...       ...    ...    ...
187   WHAIR  2023-06-12   7.25    135404   7.30   7.20
188   WHART  2023-06-12  11.20   1052392  11.20  11.00
189   WHAUP  2023-06-12   3.86    473970   3.86   3.82
190    WICE  2023-06-12   8.85   1495003   8.95   8.75
191    WORK  2023-06-12  16.30    221202  16.40  16.10

[192 rows x 6 columns]