In [1]:
import calendar
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
#from pandas.tseries.offsets import BDay
from pandas.tseries.offsets import * 

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.options.display.max_rows = 11
pd.options.display.float_format = '{:.2f}'.format

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2023, 6, 27), datetime.date(2023, 6, 26))

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2023-06-27
Today in mm-dd format: 06-27
yesterday: 2023-06-26 00:00:00

In [3]:
one_month_ago = yesterday + DateOffset(days = -28)
print('One month ago: ', one_month_ago, ' ', one_month_ago.day_name())

One month ago:  2023-05-29 00:00:00   Monday

In [4]:
format_dict = {
    'ttl_qty':'{:,}','qty':'{:,}',
    'from_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}','fm_price':'{:.2f}',
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',
    'maxp':'{:.2f}','minp':'{:.2f}','pct':'{:,.2f}%',  
}

cols = 'name fm_md to_md days fm_price to_price pct spd avg max_price min_price ttl_qty trend'.split()

### Get past one quarter data

In [5]:
sql = """
SELECT name
FROM buy 
ORDER BY name
"""
buy = pd.read_sql(sql, const)

names = buy['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AH', 'ASK', 'ASP', 'AWC', 'BANPU', 'BCH', 'CPNREIT', 'DIF', 'EA', 'GVREIT', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'KTC', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TMT', 'WHAIR', 'WHART'"

In [6]:
in_p = in_p + ", 'TFFIF', 'BEM'"
in_p

"'AH', 'ASK', 'ASP', 'AWC', 'BANPU', 'BCH', 'CPNREIT', 'DIF', 'EA', 'GVREIT', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'KTC', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TMT', 'WHAIR', 'WHART', 'TFFIF', 'BEM'"

### Bypass this statement if aboce statement is executed

In [8]:
sql = """
SELECT name
FROM orders
ORDER BY trade, name
"""
#buy = pd.read_sql(sql, conlite)

#names = buy['name'].values.tolist()
#in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'ASK', 'ASP', 'BANPU', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'WHAIR', 'WHART', 'AWC', 'GULF', 'TTB'"

### End of Selection between Buy or Orders

In [7]:
sql = """
SELECT name, date, price, qty, maxp, minp
FROM price 
WHERE date >= '%s' AND name IN (%s) 
ORDER BY name, date"""
sql = sql % (one_month_ago, in_p)
print(sql)

SELECT name, date, price, qty, maxp, minp
FROM price
WHERE date >= '2023-05-29 00:00:00' AND name IN ('AH', 'ASK', 'ASP', 'AWC', 'BANPU', 'BCH', 'CPNREIT', 'DIF', 'EA', 'GVREIT', 'ICHI', 'IVL', 'JASIF', 'JMART', 'JMT', 'KCE', 'KTC', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TMT', 'WHAIR', 'WHART', 'TFFIF', 'BEM')
ORDER BY name, date

In [8]:
price = pd.read_sql(sql, const)
price.sample(5)

      name        date  price       qty  maxp  minp
80     AWC  2023-06-22   4.90  30073820  4.96  4.88
292  JASIF  2023-06-26   7.00   7538055  7.10  7.00
305  JMART  2023-06-14  20.10  16423960 20.50 19.90
469    RCL  2023-06-08  23.80   5187289 23.90 23.50
519   SENA  2023-06-20   3.12   1216616  3.12  3.08

In [9]:
data_path = "../data/"
file_name = "Quarterly-Price-by-Name.csv"
output_file = data_path + file_name
osd_file = osd_path + file_name

price.to_csv(output_file, header=None, index=False)
price.to_csv(osd_file, header=True, index=False)

### Call ruby ruby\crt-summary.rb

In [10]:
%pwd

'C:\\Users\\User\\OneDrive\\A7\\Daily'

In [11]:
os.chdir("C:\\users\\user\\onedrive\\a7")
%pwd

'C:\\users\\user\\onedrive\\a7'

In [12]:
!ruby ruby\\crt-summary.rb

ruby/../Data/Quarterly-Price-by-Name.csv
name|fm_date|to_date|days|fm_price|to_price|diff|pct|spd|avg|max_price|min_price|trend|nbr|ttl_qty
AH|2023-05-29|2023-05-29|1|34.75|34.75|0.0|0.0|0|0|35.25|34.25||2|1,301,080
AH|2023-05-30|2023-05-31|2|37.5|37.75|0.25|0.67|1|0|38.25|35.0|Upward|4|10,661,114
AH|2023-06-01|2023-06-01|1|37.0|37.0|0.0|0.0|0|0|37.75|36.5|Downward|5|2,882,866
AH|2023-06-02|2023-06-07|4|37.25|39.25|2.0|5.37|8|2|39.25|36.25|Upward|8|8,078,969
AH|2023-06-08|2023-06-09|2|36.5|34.5|-2.0|-5.48|-8|-4|37.75|27.75|Downward|10|103,830,264
AH|2023-06-12|2023-06-12|1|35.25|35.25|0.0|0.0|0|0|36.25|34.75|Upward|11|7,101,473
AH|2023-06-13|2023-06-14|2|35.0|34.5|-0.5|-1.43|-2|-1|35.75|33.75|Downward|13|5,935,722
AH|2023-06-15|2023-06-15|1|34.75|34.75|0.0|0.0|0|0|35.25|34.5|Upward|14|1,501,200
AH|2023-06-16|2023-06-21|4|34.5|32.75|-1.75|-5.07|-7|-2|35.0|32.25|Downward|18|8,367,251
AH|2023-06-22|2023-06-22|1|33.25|33.25|0.0|0.0|0|0|33.75|32.25|Upward|19|2,011,971
AH|2023-06-23|2023-06-26|2|32.25|30.5|-1.75|-5.43|-7|-4|33.0|30.5|Downward|21|6,611,429
AH|2023-06-27|2023-06-27|1|32.25|32.25|0.0|0.0|0|0|32.5|30.75|Upward|22|3,038,977
ASK|2023-05-29|2023-06-06|7|27.75|28.5|0.75|2.7|3|0|28.75|27.5|Upward|28|2,820,880
ASK|2023-06-07|2023-06-07|1|28.0|28.0|0.0|0.0|0|0|28.25|28.0|Downward|29|192,757
ASK|2023-06-08|2023-06-09|2|28.25|28.25|0.0|0.0|0|0|28.5|28.0|Upward|31|705,643
ASK|2023-06-12|2023-06-12|1|27.5|27.5|0.0|0.0|0|0|28.5|27.5|Downward|32|1,288,006
ASK|2023-06-13|2023-06-13|1|28.0|28.0|0.0|0.0|0|0|28.0|27.5|Upward|33|350,170
ASK|2023-06-14|2023-06-15|2|27.5|26.25|-1.25|-4.55|-5|-3|28.0|26.25|Downward|35|3,561,959
ASK|2023-06-16|2023-06-19|2|26.5|26.5|0.0|0.0|0|0|27.0|26.25|Upward|37|707,624
ASK|2023-06-20|2023-06-26|5|26.25|24.5|-1.75|-6.67|-10|-2|26.75|24.4|Downward|42|3,195,664
ASK|2023-06-27|2023-06-27|1|24.6|24.6|0.0|0.0|0|0|25.0|24.6|Upward|43|571,366
ASP|2023-05-29|2023-05-31|3|2.86|2.88|0.02|0.7|1|0|2.88|2.84|Upward|46|1,574,874
ASP|2023-06-01|2023-06-06|4|2.86|2.84|-0.02|-0.7|-1|-1|2.88|2.84|Downward|49|1,671,189
ASP|2023-06-07|2023-06-09|3|2.86|2.88|0.02|0.7|1|0|2.88|2.84|Upward|52|1,555,630
ASP|2023-06-12|2023-06-13|2|2.84|2.84|0.0|0.0|0|0|2.88|2.84|Downward|54|2,478,501
ASP|2023-06-14|2023-06-14|1|2.88|2.88|0.0|0.0|0|0|2.88|2.84|Upward|55|793,106
ASP|2023-06-15|2023-06-19|3|2.84|2.84|0.0|0.0|0|0|2.88|2.82|Downward|58|2,271,266
ASP|2023-06-20|2023-06-20|1|2.86|2.86|0.0|0.0|0|0|2.86|2.82|Upward|59|774,815
ASP|2023-06-21|2023-06-26|4|2.84|2.76|-0.08|-2.82|-4|-1|2.84|2.76|Downward|63|4,631,554
ASP|2023-06-27|2023-06-27|1|2.78|2.78|0.0|0.0|0|0|2.8|2.76|Upward|64|583,555
AWC|2023-05-29|2023-05-29|1|5.1|5.1|0.0|0.0|0|0|5.15|5.05|Upward|65|10,844,792
AWC|2023-05-30|2023-06-01|3|4.92|4.82|-0.1|-2.03|-5|-2|5.1|4.78|Downward|68|233,485,093
AWC|2023-06-02|2023-06-02|1|4.88|4.88|0.0|0.0|0|0|4.88|4.82|Upward|69|29,699,549
AWC|2023-06-06|2023-06-06|1|4.84|4.84|0.0|0.0|0|0|4.92|4.8|Downward|70|30,759,888
AWC|2023-06-07|2023-06-08|2|4.94|5.05|0.11|2.23|4|2|5.05|4.82|Upward|72|68,313,762
AWC|2023-06-09|2023-06-09|1|5.0|5.0|0.0|0.0|0|0|5.1|5.0|Downward|73|15,460,325
AWC|2023-06-12|2023-06-14|3|5.1|5.3|0.2|3.92|4|1|5.4|5.0|Upward|76|121,222,739
AWC|2023-06-15|2023-06-16|2|4.96|4.88|-0.08|-1.61|-4|-2|5.3|4.84|Downward|78|209,561,838
AWC|2023-06-19|2023-06-20|2|4.9|5.05|0.15|3.06|6|3|5.05|4.82|Upward|80|76,824,656
AWC|2023-06-21|2023-06-27|5|4.9|4.76|-0.14|-2.86|-7|-2|5.05|4.74|Downward|85|142,488,515
BANPU|2023-05-29|2023-05-30|2|8.2|8.2|0.0|0.0|0|0|8.35|8.05|Downward|87|131,006,132
BANPU|2023-05-31|2023-05-31|1|8.25|8.25|0.0|0.0|0|0|8.25|8.05|Upward|88|102,609,760
BANPU|2023-06-01|2023-06-01|1|8.2|8.2|0.0|0.0|0|0|8.25|8.1|Downward|89|48,276,124
BANPU|2023-06-02|2023-06-12|7|8.3|8.75|0.45|5.42|9|1|8.8|8.2|Upward|95|549,071,452
BANPU|2023-06-13|2023-06-13|1|8.7|8.7|0.0|0.0|0|0|8.75|8.65|Downward|96|48,729,162
BANPU|2023-06-14|2023-06-14|1|8.9|8.9|0.0|0.0|0|0|8.95|8.75|Upward|97|95,846,031
BANPU|2023-06-15|2023-06-15|1|8.8|8.8|0.0|0.0|0|0|8.95|8.75|Downward|98|57,655,582
BANPU|2023-06-16|2023-06-16|1|9.05|9.05|0.0|0.0|0|0|9.15|8.95|Upward|99|150,592,658
BANPU|2023-06-19|2023-06-19|1|9.0|9.0|0.0|0.0|0|0|9.05|8.95|Downward|100|60,685,294
BANPU|2023-06-20|2023-06-20|1|9.1|9.1|0.0|0.0|0|0|9.25|9.05|Upward|101|108,223,742
BANPU|2023-06-21|2023-06-21|1|9.05|9.05|0.0|0.0|0|0|9.1|9.0|Downward|102|56,001,954
BANPU|2023-06-22|2023-06-23|2|9.1|9.15|0.05|0.55|1|0|9.15|9.0|Upward|104|109,755,280
BANPU|2023-06-26|2023-06-27|2|9.0|8.9|-0.1|-1.11|-2|-1|9.2|8.9|Downward|106|117,081,848
BCH|2023-05-29|2023-05-29|1|18.6|18.6|0.0|0.0|0|0|18.7|17.9|Downward|107|28,874,493
BCH|2023-05-30|2023-05-30|1|18.9|18.9|0.0|0.0|0|0|19.1|18.6|Upward|108|28,132,175
BCH|2023-05-31|2023-06-02|3|18.5|18.3|-0.2|-1.08|-2|-1|18.9|18.1|Downward|111|46,451,170
BCH|2023-06-06|2023-06-08|3|18.4|18.4|0.0|0.0|0|0|18.7|18.1|Upward|114|35,910,721
BCH|2023-06-09|2023-06-09|1|18.3|18.3|0.0|0.0|0|0|18.6|18.3|Downward|115|14,152,226
BCH|2023-06-12|2023-06-13|2|18.4|18.4|0.0|0.0|0|0|18.6|18.1|Upward|117|24,433,032
BCH|2023-06-14|2023-06-16|3|18.3|18.0|-0.3|-1.64|-3|-1|18.5|17.7|Downward|120|45,239,993
BCH|2023-06-19|2023-06-20|2|18.1|18.2|0.1|0.55|1|0|18.3|17.8|Upward|122|12,232,759
BCH|2023-06-21|2023-06-21|1|17.6|17.6|0.0|0.0|0|0|18.1|17.4|Downward|123|16,990,840
BCH|2023-06-22|2023-06-22|1|17.7|17.7|0.0|0.0|0|0|17.8|17.5|Upward|124|7,345,122
BCH|2023-06-23|2023-06-27|3|17.6|17.0|-0.6|-3.41|-6|-2|17.7|17.0|Downward|127|28,191,905
BEM|2023-05-29|2023-06-02|5|8.15|8.05|-0.1|-1.23|-2|-1|8.2|7.95|Downward|132|161,532,373
BEM|2023-06-06|2023-06-08|3|8.1|8.4|0.3|3.7|6|2|8.45|8.0|Upward|135|98,926,059
BEM|2023-06-09|2023-06-12|2|8.35|8.35|0.0|0.0|0|0|8.4|8.3|Downward|137|25,683,087
BEM|2023-06-13|2023-06-13|1|8.55|8.55|0.0|0.0|0|0|8.55|8.4|Upward|138|18,037,994
BEM|2023-06-14|2023-06-19|4|8.4|8.3|-0.1|-1.19|-2|-1|8.55|8.25|Downward|142|71,368,189
BEM|2023-06-20|2023-06-20|1|8.45|8.45|0.0|0.0|0|0|8.55|8.35|Upward|143|30,055,409
BEM|2023-06-21|2023-06-27|5|8.4|8.2|-0.2|-2.38|-4|-1|8.5|8.1|Downward|148|131,567,851
CPNREIT|2023-05-29|2023-06-02|5|12.9|12.8|-0.1|-0.78|-1|-1|12.9|12.7|Downward|153|3,062,027
CPNREIT|2023-06-06|2023-06-07|2|12.9|12.9|0.0|0.0|0|0|13.0|12.6|Upward|155|3,678,090
CPNREIT|2023-06-08|2023-06-08|1|12.8|12.8|0.0|0.0|0|0|12.9|12.8|Downward|156|795,603
CPNREIT|2023-06-09|2023-06-09|1|13.0|13.0|0.0|0.0|0|0|13.0|12.7|Upward|157|2,498,945
CPNREIT|2023-06-12|2023-06-21|8|12.9|10.1|-2.8|-21.71|-28|-4|13.0|10.1|Downward|165|46,450,088
CPNREIT|2023-06-22|2023-06-23|2|10.4|11.0|0.6|5.77|6|3|11.0|10.2|Upward|167|10,290,298
CPNREIT|2023-06-26|2023-06-26|1|10.7|10.7|0.0|0.0|0|0|11.0|10.7|Downward|168|5,994,644
CPNREIT|2023-06-27|2023-06-27|1|11.4|11.4|0.0|0.0|0|0|11.9|11.2|Upward|169|12,987,769
DIF|2023-05-29|2023-05-29|1|12.4|12.4|0.0|0.0|0|0|12.4|12.3|Upward|170|1,996,943
DIF|2023-05-30|2023-06-02|4|12.3|12.3|0.0|0.0|0|0|12.4|12.3|Downward|174|15,007,176
DIF|2023-06-06|2023-06-08|3|12.4|12.4|0.0|0.0|0|0|12.4|12.2|Upward|177|41,584,965
DIF|2023-06-09|2023-06-26|12|12.3|10.6|-1.7|-13.82|-17|-2|12.4|10.0|Downward|189|439,470,965
DIF|2023-06-27|2023-06-27|1|10.7|10.7|0.0|0.0|0|0|10.8|10.6|Upward|190|27,576,708
EA|2023-05-29|2023-05-29|1|65.5|65.5|0.0|0.0|0|0|66.0|65.25|Upward|191|3,201,712
EA|2023-05-30|2023-05-30|1|63.75|63.75|0.0|0.0|0|0|66.25|63.75|Downward|192|12,231,933
EA|2023-05-31|2023-05-31|1|65.0|65.0|0.0|0.0|0|0|65.0|63.0|Upward|193|14,100,350
EA|2023-06-01|2023-06-01|1|60.75|60.75|0.0|0.0|0|0|64.5|60.75|Downward|194|18,252,304
EA|2023-06-02|2023-06-02|1|61.25|61.25|0.0|0.0|0|0|62.0|60.75|Upward|195|9,654,407
EA|2023-06-06|2023-06-06|1|60.5|60.5|0.0|0.0|0|0|62.0|60.0|Downward|196|7,711,166
EA|2023-06-07|2023-06-08|2|63.0|65.0|2.0|3.17|8|4|65.5|60.5|Upward|198|32,947,142
EA|2023-06-09|2023-06-15|5|64.0|61.75|-2.25|-3.52|-9|-2|65.0|61.75|Downward|203|37,981,341
EA|2023-06-16|2023-06-16|1|62.0|62.0|0.0|0.0|0|0|63.0|61.5|Upward|204|7,441,785
EA|2023-06-19|2023-06-19|1|61.25|61.25|0.0|0.0|0|0|62.0|61.0|Downward|205|4,539,628
EA|2023-06-20|2023-06-20|1|61.75|61.75|0.0|0.0|0|0|62.75|61.75|Upward|206|7,163,732
EA|2023-06-21|2023-06-22|2|57.75|57.0|-0.75|-1.3|-3|-2|61.75|56.25|Downward|208|37,857,194
EA|2023-06-23|2023-06-23|1|58.0|58.0|0.0|0.0|0|0|58.5|56.75|Upward|209|7,510,582
EA|2023-06-26|2023-06-26|1|52.5|52.5|0.0|0.0|0|0|57.75|52.5|Downward|210|27,191,838
EA|2023-06-27|2023-06-27|1|52.75|52.75|0.0|0.0|0|0|54.5|52.5|Upward|211|11,955,298
GVREIT|2023-05-29|2023-05-30|2|9.1|9.1|0.0|0.0|0|0|9.15|9.05|Upward|213|655,400
GVREIT|2023-05-31|2023-06-06|5|9.05|9.0|-0.05|-0.55|-1|-1|9.15|9.0|Downward|217|1,324,001
GVREIT|2023-06-07|2023-06-07|1|9.05|9.05|0.0|0.0|0|0|9.05|9.0|Upward|218|464,600
GVREIT|2023-06-08|2023-06-08|1|9.0|9.0|0.0|0.0|0|0|9.1|9.0|Downward|219|270,500
GVREIT|2023-06-09|2023-06-09|1|9.05|9.05|0.0|0.0|0|0|9.1|9.0|Upward|220|251,000
GVREIT|2023-06-12|2023-06-12|1|9.0|9.0|0.0|0.0|0|0|9.05|9.0|Downward|221|545,500
GVREIT|2023-06-13|2023-06-13|1|9.05|9.05|0.0|0.0|0|0|9.05|9.0|Upward|222|28,700
GVREIT|2023-06-14|2023-06-26|9|8.9|8.3|-0.6|-6.74|-12|-2|9.05|8.3|Downward|231|3,714,961
GVREIT|2023-06-27|2023-06-27|1|8.35|8.35|0.0|0.0|0|0|8.45|8.3|Upward|232|86,207
ICHI|2023-05-29|2023-05-29|1|14.6|14.6|0.0|0.0|0|0|14.8|14.4|Upward|233|9,951,857
ICHI|2023-05-30|2023-05-30|1|14.4|14.4|0.0|0.0|0|0|14.7|14.3|Downward|234|9,294,424
ICHI|2023-05-31|2023-06-01|2|14.5|14.7|0.2|1.38|2|1|14.8|14.3|Upward|236|15,770,816
ICHI|2023-06-02|2023-06-02|1|14.4|14.4|0.0|0.0|0|0|14.7|14.4|Downward|237|5,019,522
ICHI|2023-06-06|2023-06-07|2|15.0|15.2|0.2|1.33|2|1|15.3|14.4|Upward|239|34,468,963
ICHI|2023-06-08|2023-06-08|1|15.0|15.0|0.0|0.0|0|0|15.2|14.7|Downward|240|12,344,947
ICHI|2023-06-09|2023-06-12|2|15.2|15.2|0.0|0.0|0|0|15.4|15.0|Upward|242|20,189,064
ICHI|2023-06-13|2023-06-13|1|15.0|15.0|0.0|0.0|0|0|15.4|14.9|Downward|243|11,995,449
ICHI|2023-06-14|2023-06-14|1|15.3|15.3|0.0|0.0|0|0|15.3|15.0|Upward|244|6,709,864
ICHI|2023-06-15|2023-06-27|9|15.0|12.9|-2.1|-14.0|-21|-3|15.4|12.7|Downward|253|92,708,282
IVL|2023-05-29|2023-05-29|1|32.25|32.25|0.0|0.0|0|0|32.75|32.25|Downward|254|2,988,973
IVL|2023-05-30|2023-05-30|1|32.5|32.5|0.0|0.0|0|0|32.5|31.75|Upward|255|9,710,381
IVL|2023-05-31|2023-05-31|1|31.75|31.75|0.0|0.0|0|0|32.5|31.0|Downward|256|31,178,445
IVL|2023-06-01|2023-06-02|2|32.0|32.75|0.75|2.34|3|1|33.0|31.5|Upward|258|25,802,995
IVL|2023-06-06|2023-06-07|2|32.5|32.5|0.0|0.0|0|0|33.0|32.0|Downward|260|25,405,243
IVL|2023-06-08|2023-06-14|5|33.25|35.0|1.75|5.26|7|1|35.5|32.0|Upward|265|96,558,242
IVL|2023-06-15|2023-06-19|3|34.5|34.5|0.0|0.0|0|0|35.25|34.0|Downward|268|39,531,567
IVL|2023-06-20|2023-06-20|1|35.25|35.25|0.0|0.0|0|0|35.75|34.5|Upward|269|20,809,035
IVL|2023-06-21|2023-06-27|5|34.5|32.5|-2.0|-5.8|-8|-2|35.0|32.25|Downward|274|61,943,644
JASIF|2023-05-29|2023-05-31|3|6.95|6.95|0.0|0.0|0|0|7.0|6.9|Downward|277|11,701,670
JASIF|2023-06-01|2023-06-01|1|7.0|7.0|0.0|0.0|0|0|7.0|6.95|Upward|278|7,091,670
JASIF|2023-06-02|2023-06-07|4|6.95|6.95|0.0|0.0|0|0|7.0|6.95|Downward|281|9,539,507
JASIF|2023-06-08|2023-06-09|2|7.0|7.0|0.0|0.0|0|0|7.0|6.95|Upward|283|6,397,882
JASIF|2023-06-12|2023-06-12|1|6.95|6.95|0.0|0.0|0|0|7.0|6.95|Downward|284|2,209,493
JASIF|2023-06-13|2023-06-16|4|7.0|7.4|0.4|5.71|8|2|7.45|6.95|Upward|288|46,057,345
JASIF|2023-06-19|2023-06-26|6|7.25|7.0|-0.25|-3.45|-5|-1|7.45|7.0|Downward|294|50,327,385
JASIF|2023-06-27|2023-06-27|1|7.1|7.1|0.0|0.0|0|0|7.15|7.05|Upward|295|4,598,383
JMART|2023-05-29|2023-05-31|3|19.3|20.4|1.1|5.7|11|3|20.5|19.0|Upward|298|66,871,020
JMART|2023-06-01|2023-06-07|5|20.1|19.2|-0.9|-4.48|-9|-2|20.5|18.9|Downward|302|56,896,458
JMART|2023-06-08|2023-06-14|5|19.3|20.1|0.8|4.15|8|1|20.5|18.9|Upward|307|82,009,899
JMART|2023-06-15|2023-06-26|8|19.3|13.1|-6.2|-32.12|-62|-8|20.1|13.1|Downward|315|278,973,982
JMART|2023-06-27|2023-06-27|1|13.7|13.7|0.0|0.0|0|0|14.4|13.1|Upward|316|52,328,753
JMT|2023-05-29|2023-05-29|1|40.75|40.75|0.0|0.0|0|0|41.75|40.25|Upward|317|5,354,030
JMT|2023-05-30|2023-05-30|1|39.75|39.75|0.0|0.0|0|0|40.75|39.5|Downward|318|11,998,586
JMT|2023-05-31|2023-05-31|1|43.0|43.0|0.0|0.0|0|0|44.0|39.25|Upward|319|69,063,646
JMT|2023-06-01|2023-06-06|4|42.5|39.25|-3.25|-7.65|-13|-4|43.25|39.25|Downward|322|54,350,987
JMT|2023-06-07|2023-06-14|6|39.5|43.25|3.75|9.49|15|2|44.25|38.5|Upward|328|88,354,608
JMT|2023-06-15|2023-06-19|3|41.75|39.75|-2.0|-4.79|-8|-3|43.75|39.5|Downward|331|34,692,922
JMT|2023-06-20|2023-06-20|1|40.0|40.0|0.0|0.0|0|0|40.25|39.25|Upward|332|10,314,394
JMT|2023-06-21|2023-06-26|4|38.75|33.5|-5.25|-13.55|-21|-6|41.0|33.5|Downward|336|78,721,052
JMT|2023-06-27|2023-06-27|1|34.75|34.75|0.0|0.0|0|0|35.5|33.5|Upward|337|18,436,231
KCE|2023-05-29|2023-05-30|2|38.5|39.25|0.75|1.95|3|1|39.5|38.25|Upward|339|13,326,770
KCE|2023-05-31|2023-06-06|5|39.0|37.75|-1.25|-3.21|-5|-1|39.5|37.75|Downward|343|27,432,899
KCE|2023-06-07|2023-06-08|2|38.75|39.5|0.75|1.94|3|1|39.75|37.75|Upward|345|10,759,995
KCE|2023-06-09|2023-06-12|2|39.25|39.25|0.0|0.0|0|0|39.75|39.0|Downward|347|6,424,036
KCE|2023-06-13|2023-06-13|1|41.0|41.0|0.0|0.0|0|0|41.5|39.75|Upward|348|16,314,467
KCE|2023-06-14|2023-06-16|3|40.5|40.25|-0.25|-0.62|-1|-1|41.5|39.75|Downward|351|22,176,609
KCE|2023-06-19|2023-06-19|1|41.5|41.5|0.0|0.0|0|0|41.5|40.0|Upward|352|9,009,314
KCE|2023-06-20|2023-06-22|3|41.0|37.75|-3.25|-7.93|-13|-5|41.75|37.5|Downward|355|26,803,081
KCE|2023-06-23|2023-06-23|1|38.25|38.25|0.0|0.0|0|0|39.0|38.0|Upward|356|8,726,016
KCE|2023-06-26|2023-06-26|1|36.5|36.5|0.0|0.0|0|0|38.25|36.25|Downward|357|11,739,070
KCE|2023-06-27|2023-06-27|1|37.0|37.0|0.0|0.0|0|0|38.0|36.25|Upward|358|9,332,227
KTC|2023-05-29|2023-05-30|2|52.75|52.75|0.0|0.0|0|0|53.5|52.5|Upward|360|10,954,687
KTC|2023-05-31|2023-06-01|2|51.0|50.25|-0.75|-1.47|-3|-2|52.75|50.25|Downward|362|27,505,801
KTC|2023-06-02|2023-06-02|1|51.0|51.0|0.0|0.0|0|0|51.25|49.75|Upward|363|8,014,448
KTC|2023-06-06|2023-06-06|1|50.75|50.75|0.0|0.0|0|0|51.75|50.25|Downward|364|6,263,735
KTC|2023-06-07|2023-06-09|3|51.0|53.0|2.0|3.92|8|2|53.0|50.0|Upward|367|15,022,617
KTC|2023-06-12|2023-06-12|1|51.5|51.5|0.0|0.0|0|0|52.75|51.5|Downward|368|3,219,169
KTC|2023-06-13|2023-06-13|1|52.25|52.25|0.0|0.0|0|0|52.5|51.5|Upward|369|2,038,613
KTC|2023-06-14|2023-06-15|2|51.5|49.5|-2.0|-3.88|-8|-4|52.5|49.5|Downward|371|13,335,769
KTC|2023-06-16|2023-06-16|1|50.25|50.25|0.0|0.0|0|0|50.5|49.25|Upward|372|5,252,490
KTC|2023-06-19|2023-06-19|1|49.5|49.5|0.0|0.0|0|0|50.0|49.25|Downward|373|2,523,417
KTC|2023-06-20|2023-06-23|4|50.25|50.5|0.25|0.5|1|0|51.25|49.5|Upward|377|15,842,414
KTC|2023-06-26|2023-06-27|2|49.75|49.75|0.0|0.0|0|0|51.0|49.5|Downward|379|7,346,719
MCS|2023-05-29|2023-05-31|3|7.15|7.1|-0.05|-0.7|-1|-1|7.35|7.0|Downward|382|1,146,792
MCS|2023-06-01|2023-06-02|2|7.15|7.15|0.0|0.0|0|0|7.2|7.1|Upward|384|597,280
MCS|2023-06-06|2023-06-06|1|7.1|7.1|0.0|0.0|0|0|7.1|7.05|Downward|385|502,457
MCS|2023-06-07|2023-06-07|1|7.15|7.15|0.0|0.0|0|0|7.15|7.1|Upward|386|239,629
MCS|2023-06-08|2023-06-12|3|7.0|7.0|0.0|0.0|0|0|7.15|6.95|Downward|389|2,650,474
MCS|2023-06-13|2023-06-13|1|7.15|7.15|0.0|0.0|0|0|7.15|7.05|Upward|390|390,005
MCS|2023-06-14|2023-06-27|10|7.1|6.45|-0.65|-9.15|-13|-2|7.15|6.45|Downward|400|5,713,014
NER|2023-05-29|2023-06-01|4|4.66|4.44|-0.22|-4.72|-11|-3|4.74|4.44|Downward|404|43,867,772
NER|2023-06-02|2023-06-02|1|4.46|4.46|0.0|0.0|0|0|4.5|4.42|Upward|405|4,228,005
NER|2023-06-06|2023-06-06|1|4.44|4.44|0.0|0.0|0|0|4.5|4.44|Downward|406|5,118,424
NER|2023-06-07|2023-06-14|6|4.48|4.82|0.34|7.59|17|2|4.84|4.44|Upward|412|40,555,134
NER|2023-06-15|2023-06-15|1|4.74|4.74|0.0|0.0|0|0|4.84|4.74|Downward|413|7,258,218
NER|2023-06-16|2023-06-16|1|4.78|4.78|0.0|0.0|0|0|4.8|4.74|Upward|414|3,595,070
NER|2023-06-19|2023-06-21|3|4.76|4.68|-0.08|-1.68|-4|-2|4.78|4.68|Downward|417|7,607,117
NER|2023-06-22|2023-06-22|1|4.7|4.7|0.0|0.0|0|0|4.76|4.68|Upward|418|3,244,398
NER|2023-06-23|2023-06-27|3|4.66|4.52|-0.14|-3.0|-7|-3|4.68|4.52|Downward|421|14,399,161
ORI|2023-05-29|2023-05-31|3|11.1|10.8|-0.3|-2.7|-3|-1|11.1|10.6|Downward|424|26,847,650
ORI|2023-06-01|2023-06-01|1|11.0|11.0|0.0|0.0|0|0|11.1|10.7|Upward|425|7,270,500
ORI|2023-06-02|2023-06-06|3|10.9|10.8|-0.1|-0.92|-1|-1|11.0|10.8|Downward|427|3,865,454
ORI|2023-06-07|2023-06-08|2|10.9|11.2|0.3|2.75|3|1|11.2|10.8|Upward|429|9,256,031
ORI|2023-06-09|2023-06-12|2|11.1|11.1|0.0|0.0|0|0|11.2|11.0|Downward|431|5,693,176
ORI|2023-06-13|2023-06-13|1|11.3|11.3|0.0|0.0|0|0|11.4|11.1|Upward|432|3,728,737
ORI|2023-06-14|2023-06-19|4|11.2|11.0|-0.2|-1.79|-2|-1|11.5|11.0|Downward|436|8,026,011
ORI|2023-06-20|2023-06-20|1|11.1|11.1|0.0|0.0|0|0|11.2|10.9|Upward|437|2,159,132
ORI|2023-06-21|2023-06-27|5|10.8|10.0|-0.8|-7.41|-8|-2|11.1|10.1|Downward|442|42,243,717
PTTGC|2023-05-29|2023-06-01|4|36.25|34.75|-1.5|-4.14|-6|-2|36.5|34.75|Downward|446|54,606,853

PTTGC|2023-06-02|2023-06-02|1|35.75|35.75|0.0|0.0|0|0|36.25|35.25|Upward|447|15,656,993
PTTGC|2023-06-06|2023-06-06|1|35.5|35.5|0.0|0.0|0|0|36.5|35.5|Downward|448|11,809,498
PTTGC|2023-06-07|2023-06-09|3|36.5|38.5|2.0|5.48|8|2|38.5|35.5|Upward|451|68,192,314
PTTGC|2023-06-12|2023-06-12|1|38.25|38.25|0.0|0.0|0|0|38.25|37.5|Downward|452|12,387,581
PTTGC|2023-06-13|2023-06-14|2|38.5|39.25|0.75|1.95|3|1|39.5|37.5|Upward|454|39,186,877
PTTGC|2023-06-15|2023-06-16|2|38.75|38.0|-0.75|-1.94|-3|-2|39.0|37.5|Downward|456|36,387,767
PTTGC|2023-06-19|2023-06-20|2|38.5|38.75|0.25|0.65|1|0|39.0|37.5|Upward|458|24,449,802
PTTGC|2023-06-21|2023-06-27|5|37.75|36.25|-1.5|-3.97|-6|-2|38.5|36.0|Downward|463|45,198,315
RCL|2023-05-29|2023-06-01|4|24.4|23.3|-1.1|-4.51|-11|-3|24.6|23.3|Downward|467|7,250,484
RCL|2023-06-02|2023-06-14|9|23.7|25.0|1.3|5.49|13|1|25.25|23.3|Upward|475|31,347,151
RCL|2023-06-15|2023-06-15|1|24.6|24.6|0.0|0.0|0|0|25.0|24.6|Downward|476|3,201,174
RCL|2023-06-16|2023-06-16|1|24.7|24.7|0.0|0.0|0|0|24.9|24.6|Upward|477|1,933,877
RCL|2023-06-19|2023-06-22|4|24.6|24.0|-0.6|-2.44|-6|-2|24.9|23.9|Downward|481|8,644,297
RCL|2023-06-23|2023-06-23|1|24.4|24.4|0.0|0.0|0|0|24.6|23.9|Upward|482|2,936,984
RCL|2023-06-26|2023-06-26|1|23.5|23.5|0.0|0.0|0|0|24.5|23.5|Downward|483|4,270,398
RCL|2023-06-27|2023-06-27|1|23.7|23.7|0.0|0.0|0|0|24.0|23.5|Upward|484|1,918,554
SCC|2023-05-29|2023-05-29|1|332.0|332.0|0.0|0.0|0|0|332.0|330.0|Upward|485|1,201,976
SCC|2023-05-30|2023-05-31|2|325.0|319.0|-6.0|-1.85|-6|-3|332.0|319.0|Downward|487|9,251,889
SCC|2023-06-01|2023-06-08|6|323.0|338.0|15.0|4.64|15|2|338.0|320.0|Upward|492|9,016,384
SCC|2023-06-09|2023-06-12|2|333.0|332.0|-1.0|-0.3|-1|-1|337.0|331.0|Downward|494|2,647,359
SCC|2023-06-13|2023-06-14|2|334.0|335.0|1.0|0.3|1|0|337.0|332.0|Upward|496|3,283,552
SCC|2023-06-15|2023-06-19|3|331.0|329.0|-2.0|-0.6|-2|-1|336.0|325.0|Downward|499|5,526,521
SCC|2023-06-20|2023-06-20|1|331.0|331.0|0.0|0.0|0|0|334.0|330.0|Upward|500|1,955,014
SCC|2023-06-21|2023-06-21|1|325.0|325.0|0.0|0.0|0|0|330.0|325.0|Downward|501|1,643,301
SCC|2023-06-22|2023-06-22|1|327.0|327.0|0.0|0.0|0|0|328.0|321.0|Upward|502|1,233,151
SCC|2023-06-23|2023-06-27|3|325.0|321.0|-4.0|-1.23|-4|-2|328.0|321.0|Downward|505|3,123,060
SENA|2023-05-29|2023-06-02|5|3.16|3.12|-0.04|-1.27|-2|-1|3.16|3.12|Downward|510|2,518,208
SENA|2023-06-06|2023-06-06|1|3.14|3.14|0.0|0.0|0|0|3.14|3.1|Upward|511|628,349
SENA|2023-06-07|2023-06-07|1|3.12|3.12|0.0|0.0|0|0|3.12|3.1|Downward|512|696,598
SENA|2023-06-08|2023-06-14|5|3.14|3.16|0.02|0.64|1|0|3.16|3.1|Upward|517|3,573,314
SENA|2023-06-15|2023-06-27|9|3.12|2.98|-0.14|-4.49|-7|-1|3.14|2.96|Downward|526|6,095,586
SINGER|2023-05-29|2023-05-30|2|11.0|11.0|0.0|0.0|0|0|11.2|10.8|Downward|528|10,557,451
SINGER|2023-05-31|2023-05-31|1|11.4|11.4|0.0|0.0|0|0|11.7|10.8|Upward|529|19,309,106
SINGER|2023-06-01|2023-06-07|5|11.3|11.0|-0.3|-2.65|-3|-1|11.6|10.8|Downward|533|21,823,850
SINGER|2023-06-08|2023-06-09|2|11.2|11.2|0.0|0.0|0|0|11.6|10.7|Upward|535|22,419,726
SINGER|2023-06-12|2023-06-13|2|11.1|11.1|0.0|0.0|0|0|11.5|10.9|Downward|537|14,945,535
SINGER|2023-06-14|2023-06-14|1|11.3|11.3|0.0|0.0|0|0|11.6|11.1|Upward|538|8,700,370
SINGER|2023-06-15|2023-06-21|5|10.9|10.0|-0.9|-8.26|-9|-2|11.3|10.0|Downward|543|46,086,107
SINGER|2023-06-22|2023-06-22|1|9.95|9.95|0.0|0.0|0|0|10.1|9.75|Upward|544|9,697,169
SINGER|2023-06-23|2023-06-26|2|9.85|8.25|-1.6|-16.24|-32|-16|9.85|8.2|Downward|546|25,093,285
SINGER|2023-06-27|2023-06-27|1|8.7|8.7|0.0|0.0|0|0|8.85|8.0|Upward|547|16,898,481
STA|2023-05-29|2023-05-30|2|18.9|19.1|0.2|1.06|2|1|19.3|18.7|Upward|549|5,948,936
STA|2023-05-31|2023-06-01|2|19.0|18.7|-0.3|-1.58|-3|-2|19.0|18.6|Downward|551|6,592,379
STA|2023-06-02|2023-06-02|1|18.9|18.9|0.0|0.0|0|0|19.0|18.8|Upward|552|2,003,229
STA|2023-06-06|2023-06-07|2|18.7|18.7|0.0|0.0|0|0|19.0|18.5|Downward|554|6,930,076
STA|2023-06-08|2023-06-08|1|19.0|19.0|0.0|0.0|0|0|19.1|18.6|Upward|555|5,394,096
STA|2023-06-09|2023-06-12|2|18.8|18.5|-0.3|-1.6|-3|-2|19.0|18.4|Downward|557|10,408,367
STA|2023-06-13|2023-06-16|4|18.6|19.0|0.4|2.15|4|1|19.0|18.4|Upward|561|20,239,038
STA|2023-06-19|2023-06-27|7|18.8|16.8|-2.0|-10.64|-20|-3|19.3|16.7|Downward|568|50,239,376
SYNEX|2023-05-29|2023-05-30|2|13.1|13.1|0.0|0.0|0|0|13.4|12.9|Downward|570|484,482
SYNEX|2023-05-31|2023-05-31|1|13.3|13.3|0.0|0.0|0|0|13.3|12.9|Upward|571|262,897
SYNEX|2023-06-01|2023-06-02|2|13.0|12.9|-0.1|-0.77|-1|-1|13.2|12.9|Downward|573|375,582
SYNEX|2023-06-06|2023-06-06|1|13.0|13.0|0.0|0.0|0|0|13.0|12.9|Upward|574|111,652
SYNEX|2023-06-07|2023-06-07|1|12.9|12.9|0.0|0.0|0|0|13.0|12.8|Downward|575|136,516
SYNEX|2023-06-08|2023-06-09|2|13.0|13.3|0.3|2.31|3|1|13.3|12.8|Upward|577|462,153
SYNEX|2023-06-12|2023-06-12|1|13.2|13.2|0.0|0.0|0|0|13.3|13.1|Downward|578|293,569
SYNEX|2023-06-13|2023-06-14|2|13.3|13.3|0.0|0.0|0|0|13.4|13.1|Upward|580|944,102
SYNEX|2023-06-15|2023-06-15|1|13.0|13.0|0.0|0.0|0|0|13.4|12.9|Downward|581|431,598
SYNEX|2023-06-16|2023-06-19|2|13.1|13.1|0.0|0.0|0|0|13.3|12.8|Upward|583|527,883
SYNEX|2023-06-20|2023-06-26|5|12.8|12.1|-0.7|-5.47|-7|-2|13.1|12.1|Downward|588|942,051
SYNEX|2023-06-27|2023-06-27|1|12.3|12.3|0.0|0.0|0|0|12.4|11.9|Upward|589|197,848
TFFIF|2023-05-29|2023-05-29|1|7.75|7.75|0.0|0.0|0|0|7.75|7.7|Upward|590|217,557
TFFIF|2023-05-30|2023-06-09|9|7.7|7.55|-0.15|-1.95|-3|-1|7.75|7.5|Downward|598|15,517,590
TFFIF|2023-06-12|2023-06-14|3|7.6|7.65|0.05|0.66|1|0|7.65|7.5|Upward|601|15,323,520
TFFIF|2023-06-15|2023-06-15|1|7.6|7.6|0.0|0.0|0|0|7.6|7.55|Downward|602|1,719,004
TFFIF|2023-06-16|2023-06-16|1|7.85|7.85|0.0|0.0|0|0|7.9|7.55|Upward|603|11,523,472
TFFIF|2023-06-19|2023-06-19|1|7.7|7.7|0.0|0.0|0|0|7.8|7.7|Downward|604|1,292,943
TFFIF|2023-06-20|2023-06-21|2|7.75|7.75|0.0|0.0|0|0|7.8|7.7|Upward|606|3,026,647
TFFIF|2023-06-22|2023-06-22|1|7.6|7.6|0.0|0.0|0|0|7.75|7.6|Downward|607|3,439,907
TFFIF|2023-06-23|2023-06-23|1|7.7|7.7|0.0|0.0|0|0|7.7|7.55|Upward|608|2,910,530
TFFIF|2023-06-26|2023-06-26|1|7.55|7.55|0.0|0.0|0|0|7.7|7.5|Downward|609|7,195,717
TFFIF|2023-06-27|2023-06-27|1|7.6|7.6|0.0|0.0|0|0|7.65|7.5|Upward|610|3,048,233
TMT|2023-05-29|2023-05-29|1|7.55|7.55|0.0|0.0|0|0|7.6|7.45|Upward|611|217,283
TMT|2023-05-30|2023-06-08|8|7.5|7.45|-0.05|-0.67|-1|-1|7.55|7.4|Downward|618|691,429
TMT|2023-06-09|2023-06-09|1|7.5|7.5|0.0|0.0|0|0|7.5|7.45|Upward|619|239,238
TMT|2023-06-12|2023-06-13|2|7.45|7.45|0.0|0.0|0|0|7.5|7.4|Downward|621|175,860
TMT|2023-06-14|2023-06-16|3|7.5|7.5|0.0|0.0|0|0|7.5|7.4|Upward|624|122,855
TMT|2023-06-19|2023-06-19|1|7.45|7.45|0.0|0.0|0|0|7.5|7.45|Downward|625|18,780
TMT|2023-06-20|2023-06-20|1|7.5|7.5|0.0|0.0|0|0|7.5|7.4|Upward|626|62,429
TMT|2023-06-21|2023-06-26|4|7.45|7.25|-0.2|-2.68|-4|-1|7.5|7.25|Downward|630|747,494
TMT|2023-06-27|2023-06-27|1|7.3|7.3|0.0|0.0|0|0|7.3|7.2|Upward|631|36,725
WHAIR|2023-05-29|2023-05-29|1|7.2|7.2|0.0|0.0|0|0|7.35|7.2|Upward|632|483,826
WHAIR|2023-05-30|2023-05-31|2|7.15|7.15|0.0|0.0|0|0|7.25|7.1|Downward|634|1,740,159
WHAIR|2023-06-01|2023-06-01|1|7.2|7.2|0.0|0.0|0|0|7.2|7.1|Upward|635|218,000
WHAIR|2023-06-02|2023-06-02|1|7.1|7.1|0.0|0.0|0|0|7.2|7.1|Downward|636|485,216
WHAIR|2023-06-06|2023-06-09|4|7.15|7.3|0.15|2.1|3|0|7.3|7.05|Upward|640|709,940
WHAIR|2023-06-12|2023-06-13|2|7.25|7.25|0.0|0.0|0|0|7.3|7.2|Downward|642|154,804
WHAIR|2023-06-14|2023-06-20|5|7.3|7.4|0.1|1.37|2|0|7.4|7.2|Upward|647|1,589,144
WHAIR|2023-06-21|2023-06-27|5|7.3|7.15|-0.15|-2.05|-3|-1|7.4|7.1|Downward|652|1,947,330
WHART|2023-05-29|2023-05-30|2|10.9|10.9|0.0|0.0|0|0|11.0|10.9|Downward|654|1,762,017
WHART|2023-05-31|2023-06-06|5|11.0|11.2|0.2|1.82|2|0|11.2|10.9|Upward|658|3,573,119
WHART|2023-06-07|2023-06-09|3|11.0|11.0|0.0|0.0|0|0|11.2|11.0|Downward|661|3,236,177
WHART|2023-06-12|2023-06-12|1|11.2|11.2|0.0|0.0|0|0|11.2|11.0|Upward|662|1,052,392
WHART|2023-06-13|2023-06-13|1|11.0|11.0|0.0|0.0|0|0|11.2|11.0|Downward|663|996,533
WHART|2023-06-14|2023-06-16|3|11.1|11.2|0.1|0.9|1|0|11.2|11.0|Upward|666|2,926,617
WHART|2023-06-19|2023-06-22|4|11.1|10.5|-0.6|-5.41|-6|-2|11.2|10.3|Downward|670|8,436,897
WHART|2023-06-23|2023-06-26|2|10.6|10.6|0.0|0.0|0|0|10.7|10.4|Upward|672|4,070,713
WHART|2023-06-27|2023-06-27|1|10.4|10.4|0.0|0.0|0|0|10.6|10.4|Downward|672|1,488,310
ruby/../Data/summary.csv

In [13]:
os.chdir("C:\\users\\user\\onedrive\\a7\\daily")
%pwd

'C:\\users\\user\\onedrive\\a7\\daily'

In [14]:
file_name   = 'summary.csv'
input_file = data_path + file_name
df = pd.read_csv(input_file, sep=',', index_col=None)
df.sample(5).style.format(format_dict)

In [15]:
df.rename(columns={'from_date':'fm_date','from_price':'fm_price'},inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df['fm_md'] = df['fm_date'].dt.strftime('%m-%d')
df['to_md'] = df['to_date'].dt.strftime('%m-%d')

### Group analysis

In [20]:
mask_p = df['to_md'] == to_mmdd
df[mask_p][cols].sort_values('pct',ascending=False).head().style.format(format_dict)

In [21]:
name_up = 'CPNREIT'
mask_n = df.name == name_up
df[mask_n][cols].style.format(format_dict)

In [22]:
mask_m = df['to_md'] == to_mmdd
df[mask_m][cols].sort_values('pct',ascending=True).head().style.format(format_dict)

In [23]:
name_down = 'ICHI'
mask_n = df.name == name_down
df[mask_n][cols].style.format(format_dict)

In [24]:
df_groupby_trend = df.groupby('trend')

In [25]:
# To retrieve one of the created groups
df_up = df_groupby_trend.get_group('Upward')
df_up[cols].sample(5).style.format(format_dict)

In [26]:
# To retrieve one of the created groups
df_dw = df_groupby_trend.get_group('Downward')
df_dw[cols].sample(5).style.format(format_dict)

In [27]:
# there is a function called .agg() and it allows us to specify multiple aggregation functions at once
df.groupby('trend').days.agg(['max', 'count', 'median', 'mean'])

          max  count  median  mean
trend
Downward   12    147    2.00  2.81
Upward      9    148    1.00  1.85

In [28]:
upward_max = df.groupby('trend').days.max().loc['Upward']
downward_max = df.groupby('trend').days.max().loc['Downward']

In [29]:
df.query('days == @upward_max and trend == "Upward"')[cols].style.format(format_dict)

In [30]:
df.query('days == @downward_max and trend == "Downward"')[cols]

,name,fm_md,to_md,days,fm_price,to_price,pct,spd,avg,max_price,min_price,ttl_qty,trend
82,DIF,06-09,06-26,12,12.30,10.60,-13.82,-17,-2,12.40,10.00,439470965,Downward

### Individual stock analysis

In [31]:
df.query('name == @name_up')[cols].style.format(format_dict)

In [32]:
df_tmp = price.query('name == @name_up')
df_tmp.describe().round(2)

       price         qty  maxp  minp
count  21.00       21.00 21.00 21.00
mean   12.07  4083688.76 12.29 11.88
std     1.02  4190153.77  0.89  1.10
min    10.10    97082.00 10.50  9.90
25%    11.10   714131.00 11.90 10.90
50%    12.80  2993059.00 12.90 12.60
75%    12.90  5906645.00 12.90 12.70
max    13.00 13675377.00 13.00 12.80

In [33]:
df.query('name == @name_down')[cols].style.format(format_dict)

In [34]:
df_tmp = price.query('name == @name_down')
df_tmp.describe().round(2)

       price         qty  maxp  minp
count  21.00       21.00 21.00 21.00
mean   14.53 10402532.76 14.80 14.31
std     0.63  5285865.11  0.53  0.61
min    12.90  4376808.00 13.20 12.70
25%    14.40  6246901.00 14.60 14.00
50%    14.50  9294424.00 14.80 14.40
75%    15.00 14035253.00 15.30 14.90
max    15.30 24673805.00 15.40 15.00

In [35]:
mask_p = df['to_md'] == to_mmdd
summary = df[mask_p][cols].sort_values(['pct','trend'],ascending=[False,False])

In [36]:
file_name = 'summary-240.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

summary[cols].to_csv(output_file, header=True, index=False)
summary[cols].to_csv(data_file, header=True, index=False)
summary[cols].to_csv(one_file, header=True, index=False)
summary[cols].to_csv(osd_file, header=True, index=False)

In [37]:
sql = """
SELECT name, date, price, qty, maxp, minp
FROM price 
WHERE date >= '%s' 
ORDER BY name, date"""
sql = sql % (today)
print(sql)

SELECT name, date, price, qty, maxp, minp
FROM price
WHERE date >= '2023-06-27'
ORDER BY name, date

In [38]:
df = pd.read_sql(sql, const)
df

       name        date  price       qty   maxp   minp
0       ACE  2023-06-27   1.88  11066943   1.91   1.87
1    ADVANC  2023-06-27 210.00   3277070 213.00 210.00
2    AEONTS  2023-06-27 185.00     86402 187.00 185.00
3        AH  2023-06-27  32.25   3038977  32.50  30.75
4       AIE  2023-06-27   1.30    815426   1.38   1.30
..      ...         ...    ...       ...    ...    ...
187   WHAIR  2023-06-27   7.15    521938   7.15   7.10
188   WHART  2023-06-27  10.40   1488310  10.60  10.40
189   WHAUP  2023-06-27   3.64   1763485   3.72   3.64
190    WICE  2023-06-27   8.20    827660   8.35   8.10
191    WORK  2023-06-27  14.50    221694  14.70  14.40

[192 rows x 6 columns]