In [1]:
import numpy as np
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
#data_path = "\\users\\user\\onedrive\\a7\\Data"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

today = date.today()
today

datetime.date(2023, 6, 12)

### Today = Last business day

In [2]:
#today = date(2023, 3, 13)
today

datetime.date(2023, 6, 12)

In [3]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
yesterday = yesterday.date()
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2023-06-12
yesterday: 2023-06-09

#### Restart and Run All

In [4]:
cols = 'name fm_date to_date fm_price to_price qty max_price min_price percent status'.split()

format_dict = {
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}',
    'volume':'{:,.2f}','beta':'{:,.2f}',
    'pct':'{:,.2f}%','percent':'{:,.2f}%',   
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
    
    'qty':'{:,}','available_qty':'{:,}',
    'cost':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}',
}

### Begin of Tables in the process

In [5]:
sql = """
SELECT * 
FROM sales 
ORDER BY id DESC LIMIT 1
"""
tmp = pd.read_sql(sql, conlite)
tmp["fm_date"] = pd.to_datetime(tmp["fm_date"])
tmp["to_date"] = pd.to_datetime(tmp["to_date"])
tmp["created_at"] = pd.to_datetime(tmp["created_at"])
tmp["updated_at"] = pd.to_datetime(tmp["updated_at"])
tmp.style.format(format_dict)

In [6]:
names = tmp["name"]
type(names)

pandas.core.series.Series

In [7]:
name = names.to_string(index=False)
type(name)

str

In [8]:
sql = """
SELECT * 
FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)
tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT *
FROM stocks
WHERE name = 'TTB'

### End of Tables in the process

In [9]:
sql = """
SELECT DISTINCT a.name
FROM sales a 
WHERE to_date = '%s'
ORDER BY a.name
"""
sql = sql % yesterday
print(sql)
tmp = pd.read_sql(sql, conlite)
tmp

SELECT DISTINCT a.name
FROM sales a
WHERE to_date = '2023-06-09'
ORDER BY a.name

       name
0        AH
1       AWC
2     BANPU
3       BBL
4       BCH
5      BDMS
6       BEM
7        BH
8   CPNREIT
9        EA
10   GVREIT
11     ICHI
12      IVL
13    JASIF
14    JMART
15      JMT
16      KKP
17      KTB
18      KTC
19    LANNA
20      MCS
21      NER
22      ORI
23      PTG
24    PTTEP
25    PTTGC
26     SENA
27   SINGER
28      STA
29    SYNEX
30    TASCO
31    TFFIF
32      TMT
33      TTB

In [10]:
sql = """
SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a 
JOIN stocks t ON a.name = t.name 
WHERE to_date = '%s' AND t.status IN ("B","I", "O", "S") 
ORDER BY t.status, a.name
"""
sql = sql % yesterday
print(sql)

SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a
JOIN stocks t ON a.name = t.name
WHERE to_date = '2023-06-09' AND t.status IN ("B","I", "O", "S")
ORDER BY t.status, a.name

### This statement causes program to hang when there is no data

In [11]:
df = pd.read_sql(sql, conlite)
#df.set_index(["name"], inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df.eval('diff = to_price - fm_price',inplace=True)
df['percent'] = round(df['diff']/df['fm_price']*100,2)
df.style.format(format_dict)

In [12]:
df.shape

(34, 12)

### IF the above count not equal number of orders, there must be something incorrect

### Create daily-sales from sales

In [13]:
df[cols].style.format(format_dict)

In [14]:
file_name = "daily-sales.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(output_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(data_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(one_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(osd_file, header=True, index=False)

In [15]:
df[cols].shape

(34, 10)

In [16]:
sales = df[cols]
sales

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,percent,status
0,BANPU,2023-06-02,2023-06-09,8.30,8.75,502601798,8.80,8.20,5.42,B
1,IVL,2023-06-08,2023-06-09,33.25,33.25,34539645,33.75,32.00,0.00,B
2,MCS,2023-06-08,2023-06-09,7.00,7.00,2497461,7.15,6.95,0.00,B
3,SINGER,2023-06-08,2023-06-09,11.20,11.20,22419726,11.60,10.70,0.00,B
4,STA,2023-06-09,2023-06-09,18.80,18.80,5472715,19.00,18.60,0.00,B
5,SYNEX,2023-06-08,2023-06-09,13.00,13.30,462153,13.30,12.80,2.31,B
6,TMT,2023-06-09,2023-06-09,7.50,7.50,239238,7.50,7.45,0.00,B
7,AH,2023-06-08,2023-06-09,36.50,34.50,103830264,37.75,27.75,-5.48,I
8,BCH,2023-06-09,2023-06-09,18.30,18.30,14152226,18.60,18.30,0.00,I
9,CPNREIT,2023-06-09,2023-06-09,13.00,13.00,2498945,13.00,12.70,0.00,I
10,GVREIT,2023-06-09,2023-06-09,9.05,9.05,251000,9.10,9.00,0.00,I
11,JMART,2023-06-08,2023-06-09,19.30,19.80,36681002,20.30,18.90,2.59,I
12,SENA,2023-06-08,2023-06-09,3.14,3.16,1934602,3.16,3.10,0.64,I
13,AWC,2023-06-09,2023-06-09,5.00,5.00,15460325,5.10,5.00,0.00,O
14,BBL,2023-06-08,2023-06-09,163.00,163.00,10742185,163.50,159.50,0.00,O
15,BDMS,2023-06-09,2023-06-09,28.75,28.75,58670443,29.00,28.25,0.00,O
16,BEM,2023-06-09,2023-06-09,8.35,8.35,15925247,8.40,8.30,0.00,O
17,BH,2023-06-09,2023-06-09,235.00,235.00,2113062,238.00,232.00,0.00,O
18,EA,2023-06-09,2023-06-09,64.00,64.00,8383854,65.00,63.50,0.00,O
19,ICHI,2023-06-09,2023-06-09,15.20,15.20,14035253,15.40,15.00,0.00,O
20,JMT,2023-06-07,2023-06-09,39.50,43.00,55755479,44.00,38.50,8.86,O
21,KKP,2023-06-09,2023-06-09,62.00,62.00,6282796,63.25,62.00,0.00,O
22,KTB,2023-06-08,2023-06-09,19.40,19.50,98775553,19.60,19.00,0.52,O
23,KTC,2023-06-07,2023-06-09,51.00,53.00,15022617,53.00,50.00,3.92,O
24,LANNA,2023-06-08,2023-06-09,16.00,16.00,1712167,16.20,15.80,0.00,O
25,ORI,2023-06-09,2023-06-09,11.10,11.10,3890252,11.20,11.00,0.00,O
26,PTG,2023-06-08,2023-06-09,12.10,12.30,14318695,12.40,11.80,1.65,O
27,PTTEP,2023-06-09,2023-06-09,151.50,151.50,5486779,152.00,149.50,0.00,O
28,TASCO,2023-06-07,2023-06-09,18.40,18.90,10920528,19.00,18.30,2.72,O
29,TTB,2023-06-09,2023-06-09,1.66,1.66,403425915,1.69,1.65,0.00,O
30,JASIF,2023-06-08,2023-06-09,7.00,7.00,6397882,7.00,6.95,0.00,S
31,NER,2023-06-07,2023-06-09,4.48,4.66,20294806,4.68,4.44,4.02,S
32,PTTGC,2023-06-07,2023-06-09,36.50,38.50,68192314,38.50,35.50,5.48,S
33,TFFIF,2023-05-30,2023-06-09,7.70,7.55,15517590,7.75,7.50,-1.95,S

In [17]:
file_name = "Price-Today.csv"
input_file = data_path + file_name
prices = pd.read_csv(input_file)
prices

,name,date,price,change,%change,open,high,low,volume,value(m)
0,ACE,2023-06-12,1.99,0.01,0.505051,1.99,2.02,1.98,17077218,34095.85673
1,ADVANC,2023-06-12,218.00,-1.00,-0.456621,218.00,219.00,216.00,3391263,736748.12000
2,AEONTS,2023-06-12,202.00,1.00,0.497512,200.00,202.00,200.00,62902,12679.90200
3,AH,2023-06-12,35.25,0.75,2.173913,34.75,36.25,34.75,7101473,252533.77550
4,AIE,2023-06-12,1.50,0.00,0.000000,1.51,1.52,1.50,398959,602.04059
...,...,...,...,...,...,...,...,...,...,...
187,WHAIR,2023-06-12,7.25,-0.05,-0.684932,7.20,7.30,7.20,135404,977.91900
188,WHART,2023-06-12,11.20,0.20,1.818182,11.10,11.20,11.00,1052392,11689.76800
189,WHAUP,2023-06-12,3.86,0.02,0.520833,3.84,3.86,3.82,473970,1820.91418
190,WICE,2023-06-12,8.85,-0.05,-0.561798,8.95,8.95,8.75,1495003,13171.90105
191,WORK,2023-06-12,16.30,0.10,0.617284,16.10,16.40,16.10,221202,3594.42600

In [18]:
df_merge = pd.merge(sales,prices,on='name', how='inner')
df_merge

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,percent,status,date,price,change,%change,open,high,low,volume,value(m)
0,BANPU,2023-06-02,2023-06-09,8.30,8.75,502601798,8.80,8.20,5.42,B,2023-06-12,8.75,0.00,0.000000,8.80,8.80,8.65,46469654,4.051597e+05
1,IVL,2023-06-08,2023-06-09,33.25,33.25,34539645,33.75,32.00,0.00,B,2023-06-12,33.50,0.25,0.751880,33.25,33.75,33.00,10222011,3.403925e+05
2,MCS,2023-06-08,2023-06-09,7.00,7.00,2497461,7.15,6.95,0.00,B,2023-06-12,7.00,0.00,0.000000,7.00,7.05,6.95,153013,1.071176e+03
3,SINGER,2023-06-08,2023-06-09,11.20,11.20,22419726,11.60,10.70,0.00,B,2023-06-12,11.10,-0.10,-0.892857,11.20,11.50,11.10,7953247,8.942528e+04
4,STA,2023-06-09,2023-06-09,18.80,18.80,5472715,19.00,18.60,0.00,B,2023-06-12,18.50,-0.30,-1.595745,18.80,18.80,18.40,4935652,9.177196e+04
5,SYNEX,2023-06-08,2023-06-09,13.00,13.30,462153,13.30,12.80,2.31,B,2023-06-12,13.20,-0.10,-0.751880,13.30,13.30,13.10,293569,3.882701e+03
6,TMT,2023-06-09,2023-06-09,7.50,7.50,239238,7.50,7.45,0.00,B,2023-06-12,7.45,-0.05,-0.666667,7.50,7.50,7.45,16180,1.208860e+02
7,AH,2023-06-08,2023-06-09,36.50,34.50,103830264,37.75,27.75,-5.48,I,2023-06-12,35.25,0.75,2.173913,34.75,36.25,34.75,7101473,2.525338e+05
8,BCH,2023-06-09,2023-06-09,18.30,18.30,14152226,18.60,18.30,0.00,I,2023-06-12,18.40,0.10,0.546448,18.40,18.50,18.30,7226526,1.328285e+05
9,CPNREIT,2023-06-09,2023-06-09,13.00,13.00,2498945,13.00,12.70,0.00,I,2023-06-12,12.90,-0.10,-0.769231,12.90,13.00,12.80,360857,4.663182e+03
10,GVREIT,2023-06-09,2023-06-09,9.05,9.05,251000,9.10,9.00,0.00,I,2023-06-12,9.00,-0.05,-0.552486,9.00,9.05,9.00,545500,4.910870e+03
11,JMART,2023-06-08,2023-06-09,19.30,19.80,36681002,20.30,18.90,2.59,I,2023-06-12,19.90,0.10,0.505051,19.90,20.30,19.80,17730469,3.551873e+05
12,SENA,2023-06-08,2023-06-09,3.14,3.16,1934602,3.16,3.10,0.64,I,2023-06-12,3.16,0.00,0.000000,3.16,3.16,3.14,451958,1.426416e+03
13,AWC,2023-06-09,2023-06-09,5.00,5.00,15460325,5.10,5.00,0.00,O,2023-06-12,5.10,0.10,2.000000,5.00,5.15,5.00,24839616,1.265880e+05
14,BBL,2023-06-08,2023-06-09,163.00,163.00,10742185,163.50,159.50,0.00,O,2023-06-12,163.00,0.00,0.000000,162.50,163.00,161.50,3032662,4.924993e+05
15,BDMS,2023-06-09,2023-06-09,28.75,28.75,58670443,29.00,28.25,0.00,O,2023-06-12,29.00,0.25,0.869565,28.75,29.00,28.50,20283559,5.863265e+05
16,BEM,2023-06-09,2023-06-09,8.35,8.35,15925247,8.40,8.30,0.00,O,2023-06-12,8.35,0.00,0.000000,8.35,8.40,8.30,9757840,8.174540e+04
17,BH,2023-06-09,2023-06-09,235.00,235.00,2113062,238.00,232.00,0.00,O,2023-06-12,232.00,-3.00,-1.276596,234.00,235.00,231.00,1210837,2.809281e+05
18,EA,2023-06-09,2023-06-09,64.00,64.00,8383854,65.00,63.50,0.00,O,2023-06-12,63.75,-0.25,-0.390625,63.75,64.75,63.75,6204553,3.968133e+05
19,ICHI,2023-06-09,2023-06-09,15.20,15.20,14035253,15.40,15.00,0.00,O,2023-06-12,15.20,0.00,0.000000,15.30,15.30,15.00,6153811,9.308083e+04
20,JMT,2023-06-07,2023-06-09,39.50,43.00,55755479,44.00,38.50,8.86,O,2023-06-12,43.25,0.25,0.581395,43.00,44.25,42.75,13679818,5.952444e+05
21,KKP,2023-06-09,2023-06-09,62.00,62.00,6282796,63.25,62.00,0.00,O,2023-06-12,61.25,-0.75,-1.209677,61.75,61.75,61.25,4345405,2.672520e+05
22,KTB,2023-06-08,2023-06-09,19.40,19.50,98775553,19.60,19.00,0.52,O,2023-06-12,19.30,-0.20,-1.025641,19.50,19.50,19.30,16144339,3.124543e+05
23,KTC,2023-06-07,2023-06-09,51.00,53.00,15022617,53.00,50.00,3.92,O,2023-06-12,51.50,-1.50,-2.830189,52.00,52.75,51.50,3219169,1.668213e+05
24,LANNA,2023-06-08,2023-06-09,16.00,16.00,1712167,16.20,15.80,0.00,O,2023-06-12,15.80,-0.20,-1.250000,16.00,16.00,15.80,469098,7.429922e+03
25,ORI,2023-06-09,2023-06-09,11.10,11.10,3890252,11.20,11.00,0.00,O,2023-06-12,11.10,0.00,0.000000,11.10,11.10,11.00,1802924,1.993822e+04
26,PTG,2023-06-08,2023-06-09,12.10,12.30,14318695,12.40,11.80,1.65,O,2023-06-12,12.10,-0.20,-1.626016,12.20,12.30,12.10,3789827,4.618476e+04
27,PTTEP,2023-06-09,2023-06-09,151.50,151.50,5486779,152.00,149.50,0.00,O,2023-06-12,149.50,-2.00,-1.320132,151.00,151.50,149.50,3558570,5.339641e+05
28,TASCO,2023-06-07,2023-06-09,18.40,18.90,10920528,19.00,18.30,2.72,O,2023-06-12,18.70,-0.20,-1.058201,18.80,18.90,18.60,2601326,4.869047e+04
29,TTB,2023-06-09,2023-06-09,1.66,1.66,403425915,1.69,1.65,0.00,O,2023-06-12,1.61,-0.05,-3.012048,1.65,1.65,1.61,705738708,1.144437e+06
30,JASIF,2023-06-08,2023-06-09,7.00,7.00,6397882,7.00,6.95,0.00,S,2023-06-12,6.95,-0.05,-0.714286,6.95,7.00,6.95,2209493,1.540493e+04
31,NER,2023-06-07,2023-06-09,4.48,4.66,20294806,4.68,4.44,4.02,S,2023-06-12,4.68,0.02,0.429185,4.66,4.70,4.66,6391619,2.987033e+04
32,PTTGC,2023-06-07,2023-06-09,36.50,38.50,68192314,38.50,35.50,5.48,S,2023-06-12,38.25,-0.25,-0.649351,38.00,38.25,37.50,12387581,4.694374e+05
33,TFFIF,2023-05-30,2023-06-09,7.70,7.55,15517590,7.75,7.50,-1.95,S,2023-06-12,7.60,0.05,0.662252,7.55,7.65,7.50,6510108,4.944386e+04

In [19]:
colu = 'name fm_date to_date fm_price to_price qty max_price min_price percent status \
price change volume date'.split()
colu

['name',
 'fm_date',
 'to_date',
 'fm_price',
 'to_price',
 'qty',
 'max_price',
 'min_price',
 'percent',
 'status',
 'price',
 'change',
 'volume',
 'date']

In [20]:
df_merge[colu]

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,percent,status,price,change,volume,date
0,BANPU,2023-06-02,2023-06-09,8.30,8.75,502601798,8.80,8.20,5.42,B,8.75,0.00,46469654,2023-06-12
1,IVL,2023-06-08,2023-06-09,33.25,33.25,34539645,33.75,32.00,0.00,B,33.50,0.25,10222011,2023-06-12
2,MCS,2023-06-08,2023-06-09,7.00,7.00,2497461,7.15,6.95,0.00,B,7.00,0.00,153013,2023-06-12
3,SINGER,2023-06-08,2023-06-09,11.20,11.20,22419726,11.60,10.70,0.00,B,11.10,-0.10,7953247,2023-06-12
4,STA,2023-06-09,2023-06-09,18.80,18.80,5472715,19.00,18.60,0.00,B,18.50,-0.30,4935652,2023-06-12
5,SYNEX,2023-06-08,2023-06-09,13.00,13.30,462153,13.30,12.80,2.31,B,13.20,-0.10,293569,2023-06-12
6,TMT,2023-06-09,2023-06-09,7.50,7.50,239238,7.50,7.45,0.00,B,7.45,-0.05,16180,2023-06-12
7,AH,2023-06-08,2023-06-09,36.50,34.50,103830264,37.75,27.75,-5.48,I,35.25,0.75,7101473,2023-06-12
8,BCH,2023-06-09,2023-06-09,18.30,18.30,14152226,18.60,18.30,0.00,I,18.40,0.10,7226526,2023-06-12
9,CPNREIT,2023-06-09,2023-06-09,13.00,13.00,2498945,13.00,12.70,0.00,I,12.90,-0.10,360857,2023-06-12
10,GVREIT,2023-06-09,2023-06-09,9.05,9.05,251000,9.10,9.00,0.00,I,9.00,-0.05,545500,2023-06-12
11,JMART,2023-06-08,2023-06-09,19.30,19.80,36681002,20.30,18.90,2.59,I,19.90,0.10,17730469,2023-06-12
12,SENA,2023-06-08,2023-06-09,3.14,3.16,1934602,3.16,3.10,0.64,I,3.16,0.00,451958,2023-06-12
13,AWC,2023-06-09,2023-06-09,5.00,5.00,15460325,5.10,5.00,0.00,O,5.10,0.10,24839616,2023-06-12
14,BBL,2023-06-08,2023-06-09,163.00,163.00,10742185,163.50,159.50,0.00,O,163.00,0.00,3032662,2023-06-12
15,BDMS,2023-06-09,2023-06-09,28.75,28.75,58670443,29.00,28.25,0.00,O,29.00,0.25,20283559,2023-06-12
16,BEM,2023-06-09,2023-06-09,8.35,8.35,15925247,8.40,8.30,0.00,O,8.35,0.00,9757840,2023-06-12
17,BH,2023-06-09,2023-06-09,235.00,235.00,2113062,238.00,232.00,0.00,O,232.00,-3.00,1210837,2023-06-12
18,EA,2023-06-09,2023-06-09,64.00,64.00,8383854,65.00,63.50,0.00,O,63.75,-0.25,6204553,2023-06-12
19,ICHI,2023-06-09,2023-06-09,15.20,15.20,14035253,15.40,15.00,0.00,O,15.20,0.00,6153811,2023-06-12
20,JMT,2023-06-07,2023-06-09,39.50,43.00,55755479,44.00,38.50,8.86,O,43.25,0.25,13679818,2023-06-12
21,KKP,2023-06-09,2023-06-09,62.00,62.00,6282796,63.25,62.00,0.00,O,61.25,-0.75,4345405,2023-06-12
22,KTB,2023-06-08,2023-06-09,19.40,19.50,98775553,19.60,19.00,0.52,O,19.30,-0.20,16144339,2023-06-12
23,KTC,2023-06-07,2023-06-09,51.00,53.00,15022617,53.00,50.00,3.92,O,51.50,-1.50,3219169,2023-06-12
24,LANNA,2023-06-08,2023-06-09,16.00,16.00,1712167,16.20,15.80,0.00,O,15.80,-0.20,469098,2023-06-12
25,ORI,2023-06-09,2023-06-09,11.10,11.10,3890252,11.20,11.00,0.00,O,11.10,0.00,1802924,2023-06-12
26,PTG,2023-06-08,2023-06-09,12.10,12.30,14318695,12.40,11.80,1.65,O,12.10,-0.20,3789827,2023-06-12
27,PTTEP,2023-06-09,2023-06-09,151.50,151.50,5486779,152.00,149.50,0.00,O,149.50,-2.00,3558570,2023-06-12
28,TASCO,2023-06-07,2023-06-09,18.40,18.90,10920528,19.00,18.30,2.72,O,18.70,-0.20,2601326,2023-06-12
29,TTB,2023-06-09,2023-06-09,1.66,1.66,403425915,1.69,1.65,0.00,O,1.61,-0.05,705738708,2023-06-12
30,JASIF,2023-06-08,2023-06-09,7.00,7.00,6397882,7.00,6.95,0.00,S,6.95,-0.05,2209493,2023-06-12
31,NER,2023-06-07,2023-06-09,4.48,4.66,20294806,4.68,4.44,4.02,S,4.68,0.02,6391619,2023-06-12
32,PTTGC,2023-06-07,2023-06-09,36.50,38.50,68192314,38.50,35.50,5.48,S,38.25,-0.25,12387581,2023-06-12
33,TFFIF,2023-05-30,2023-06-09,7.70,7.55,15517590,7.75,7.50,-1.95,S,7.60,0.05,6510108,2023-06-12

In [21]:
df_merge[colu].shape

(34, 14)

In [22]:
df_merge.shape

(34, 19)

In [23]:
file_name = "daily-sales-prices.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(output_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(data_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(one_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(osd_file, header=True, index=False)

In [24]:
### Call ruby ruby\daily-out-new.rb

In [25]:
%pwd

'C:\\Users\\User\\OneDrive\\A7\\Daily'

In [26]:
os.chdir("C:\\users\\user\\onedrive\\a7")
%pwd

'C:\\users\\user\\onedrive\\a7'

In [27]:
!ruby ruby\\daily-out-new.rb

Name      From Date    To Date   From     To     Pct      Shares    Max    Min S Action
---------------------------------------------------------------------------------------
AH       2023-06-12 2023-06-12  34.50  35.25   2.17% 103,830,264  37.75  27.75 I Insert
AWC      2023-06-09 2023-06-12   5.00   5.10    2.0%  15,460,325   5.10   5.00 O Update
BANPU    2023-06-02 2023-06-12   8.30   8.75   5.42% 502,601,798   8.80   8.20 B Update
BBL      2023-06-08 2023-06-12 163.00 163.00    0.0%  10,742,185 163.50 159.50 O Update
BCH      2023-06-09 2023-06-12  18.30  18.40   0.55%  14,152,226  18.60  18.30 I Update
BDMS     2023-06-09 2023-06-12  28.75  29.00   0.87%  58,670,443  29.00  28.25 O Update
BEM      2023-06-09 2023-06-12   8.35   8.35    0.0%  15,925,247   8.40   8.30 O Update
BH       2023-06-09 2023-06-12 235.00 232.00  -1.28%   2,113,062 238.00 232.00 O Update
CPNREIT  2023-06-09 2023-06-12  13.00  12.90  -0.77%   2,498,945  13.00  12.70 I Update
EA       2023-06-09 2023-06-12  64.00  63.75  -0.39%   8,383,854  65.00  63.50 O Update
GVREIT   2023-06-09 2023-06-12   9.05   9.00  -0.55%     251,000   9.10   9.00 I Update
ICHI     2023-06-09 2023-06-12  15.20  15.20    0.0%  14,035,253  15.40  15.00 O Update
IVL      2023-06-08 2023-06-12  33.25  33.50   0.75%  34,539,645  33.75  32.00 B Update
JASIF    2023-06-08 2023-06-12   7.00   6.95  -0.71%   6,397,882   7.00   6.95 S Update
JMART    2023-06-08 2023-06-12  19.30  19.90   3.11%  36,681,002  20.30  18.90 I Update
JMT      2023-06-07 2023-06-12  39.50  43.25   9.49%  55,755,479  44.00  38.50 O Update
KKP      2023-06-09 2023-06-12  62.00  61.25  -1.21%   6,282,796  63.25  61.25 O Update
KTB      2023-06-12 2023-06-12  19.50  19.30  -1.03%  98,775,553  19.60  19.00 O Insert
KTC      2023-06-12 2023-06-12  53.00  51.50  -2.83%  15,022,617  53.00  50.00 O Insert
LANNA    2023-06-08 2023-06-12  16.00  15.80  -1.25%   1,712,167  16.20  15.80 O Update
MCS      2023-06-08 2023-06-12   7.00   7.00    0.0%   2,497,461   7.15   6.95 B Update
NER      2023-06-07 2023-06-12   4.48   4.68   4.46%  20,294,806   4.68   4.44 S Update
ORI      2023-06-09 2023-06-12  11.10  11.10    0.0%   3,890,252  11.20  11.00 O Update
PTG      2023-06-12 2023-06-12  12.30  12.10  -1.63%  14,318,695  12.40  11.80 O Insert
PTTEP    2023-06-09 2023-06-12 151.50 149.50  -1.32%   5,486,779 152.00 149.50 O Update
PTTGC    2023-06-12 2023-06-12  38.50  38.25  -0.65%  68,192,314  38.50  35.50 S Insert
SENA     2023-06-08 2023-06-12   3.14   3.16   0.64%   1,934,602   3.16   3.10 I Update
SINGER   2023-06-08 2023-06-12  11.20  11.10  -0.89%  22,419,726  11.60  10.70 B Update
STA      2023-06-09 2023-06-12  18.80  18.50   -1.6%   5,472,715  19.00  18.50 B Update
SYNEX    2023-06-12 2023-06-12  13.30  13.20  -0.75%     462,153  13.30  12.80 B Insert
TASCO    2023-06-12 2023-06-12  18.90  18.70  -1.06%  10,920,528  19.00  18.30 O Insert
TFFIF    2023-06-12 2023-06-12   7.55   7.60   0.66%  15,517,590   7.75   7.50 S Insert
TMT      2023-06-09 2023-06-12   7.50   7.45  -0.67%     239,238   7.50   7.45 B Update
TTB      2023-06-09 2023-06-12   1.66   1.61  -3.01% 403,425,915   1.69   1.61 O Update
=======================================================================================

In [28]:
os.chdir("C:\\users\\user\\onedrive\\a7\\Daily")
%pwd

'C:\\users\\user\\onedrive\\a7\\Daily'

### cd\ruby\port_lite
### rails runner db/ins_sales.rb