In [1]:
import numpy as np
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
#data_path = "\\users\\user\\onedrive\\a7\\Data"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

today = date.today()
today

datetime.date(2023, 7, 14)

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
yesterday = yesterday.date()
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2023-07-14
yesterday: 2023-07-13

#### Restart and Run All

In [3]:
cols = 'name fm_date to_date fm_price to_price qty max_price min_price percent status'.split()

format_dict = {
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}',
    'volume':'{:,.2f}','beta':'{:,.2f}',
    'pct':'{:,.2f}%','percent':'{:,.2f}%',   
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
    
    'qty':'{:,}','available_qty':'{:,}',
    'cost':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}',
}

### Begin of Tables in the process

In [4]:
sql = """
SELECT * 
FROM sales 
ORDER BY id DESC LIMIT 1
"""
tmp = pd.read_sql(sql, conlite)
tmp["fm_date"] = pd.to_datetime(tmp["fm_date"])
tmp["to_date"] = pd.to_datetime(tmp["to_date"])
tmp["created_at"] = pd.to_datetime(tmp["created_at"])
tmp["updated_at"] = pd.to_datetime(tmp["updated_at"])
tmp.style.format(format_dict)

In [5]:
names = tmp["name"]
type(names)

pandas.core.series.Series

In [6]:
name = names.to_string(index=False)
type(name)

str

In [7]:
sql = """
SELECT * 
FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)
tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT *
FROM stocks
WHERE name = 'TTB'

### End of Tables in the process

In [8]:
sql = """
SELECT DISTINCT a.name
FROM sales a 
WHERE to_date = '%s'
ORDER BY a.name
"""
sql = sql % yesterday
print(sql)
tmp = pd.read_sql(sql, conlite)
tmp

SELECT DISTINCT a.name
FROM sales a
WHERE to_date = '2023-07-13'
ORDER BY a.name

       name
0        AH
1       AWC
2       BBL
3       BCH
4      BDMS
5       BEM
6        BH
7   CPNREIT
8       DIF
9        EA
10   GVREIT
11     ICHI
12      IVL
13    JASIF
14    JMART
15      JMT
16      KKP
17      KTB
18      KTC
19    LANNA
20      MCS
21      NER
22      ORI
23      PTG
24    PTTEP
25    PTTGC
26     SENA
27   SINGER
28      STA
29    SYNEX
30    TASCO
31    TFFIF
32      TMT
33      TTB
34    WHART

In [9]:
sql = """
SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a 
JOIN stocks t ON a.name = t.name 
WHERE to_date = '%s' AND t.status IN ("B","I", "O", "S") 
ORDER BY t.status, a.name
"""
sql = sql % yesterday
print(sql)

SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a
JOIN stocks t ON a.name = t.name
WHERE to_date = '2023-07-13' AND t.status IN ("B","I", "O", "S")
ORDER BY t.status, a.name

### This statement causes program to hang when there is no data

In [10]:
df = pd.read_sql(sql, conlite)
#df.set_index(["name"], inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df.eval('diff = to_price - fm_price',inplace=True)
df['percent'] = round(df['diff']/df['fm_price']*100,2)
df.style.format(format_dict)

In [11]:
df.shape

(35, 12)

### IF the above count not equal number of orders, there must be something incorrect

### Create daily-sales from sales

In [12]:
df[cols].style.format(format_dict)

In [13]:
file_name = "daily-sales.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(output_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(data_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(one_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(osd_file, header=True, index=False)

In [14]:
df[cols].shape

(35, 10)

In [15]:
sales = df[cols]
sales

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,percent,status
0,CPNREIT,2023-07-13,2023-07-13,10.90,10.80,15892330,11.00,10.70,-0.92,B
1,DIF,2023-07-04,2023-07-13,11.00,10.70,561222064,11.20,10.70,-2.73,B
2,GVREIT,2023-07-12,2023-07-13,8.25,8.30,1229618,8.50,8.25,0.61,B
3,JMT,2023-07-13,2023-07-13,33.00,34.75,91476376,37.25,33.00,5.30,B
4,MCS,2023-07-06,2023-07-13,6.45,6.20,14584016,6.65,6.20,-3.88,B
5,SENA,2023-07-04,2023-07-13,3.00,2.98,21091856,3.02,2.94,-0.67,B
6,SINGER,2023-07-13,2023-07-13,8.75,8.85,161377952,9.80,8.75,1.14,B
7,STA,2023-07-13,2023-07-13,16.60,17.00,8877496,17.40,16.60,2.41,B
8,SYNEX,2023-07-12,2023-07-13,12.10,11.70,1968720,12.10,11.70,-3.31,B
9,TMT,2023-07-13,2023-07-13,7.25,7.30,1227936,7.50,7.25,0.69,B
10,AH,2023-07-13,2023-07-13,33.00,33.50,16615016,35.75,33.00,1.52,I
11,AWC,2023-07-12,2023-07-13,4.66,4.44,534632172,4.94,4.44,-4.72,I
12,BBL,2023-07-12,2023-07-13,158.00,156.50,114348880,161.00,155.00,-0.95,I
13,BCH,2023-07-13,2023-07-13,17.20,17.30,30625096,17.90,17.20,0.58,I
14,ICHI,2023-07-13,2023-07-13,13.00,13.30,22085376,13.70,13.00,2.31,I
15,JMART,2023-07-13,2023-07-13,15.40,15.90,128919020,17.50,15.40,3.25,I
16,PTG,2023-07-04,2023-07-13,12.00,10.10,291546672,12.30,10.10,-15.83,I
17,TFFIF,2023-07-03,2023-07-13,7.60,7.55,147698032,7.65,7.55,-0.66,I
18,WHART,2023-07-11,2023-07-13,10.70,10.60,13584888,10.70,10.40,-0.93,I
19,BDMS,2023-07-13,2023-07-13,28.00,27.50,458309208,28.00,26.75,-1.79,O
20,BEM,2023-07-11,2023-07-13,8.30,8.45,427184736,8.60,8.25,1.81,O
21,BH,2023-07-13,2023-07-13,218.00,215.00,26630760,228.00,215.00,-1.38,O
22,EA,2023-07-12,2023-07-13,53.50,54.50,335317464,57.25,53.00,1.87,O
23,KKP,2023-07-12,2023-07-13,59.50,59.25,37211896,61.25,58.50,-0.42,O
24,KTB,2023-07-13,2023-07-13,19.40,19.60,261678050,19.60,19.10,1.03,O
25,KTC,2023-07-12,2023-07-13,46.75,45.25,94724040,50.00,45.25,-3.21,O
26,LANNA,2023-07-13,2023-07-13,14.80,15.10,2346640,15.10,14.80,2.03,O
27,NER,2023-07-13,2023-07-13,4.44,4.46,36057616,4.58,4.44,0.45,O
28,ORI,2023-07-13,2023-07-13,10.10,10.20,44437316,10.40,10.00,0.99,O
29,PTTEP,2023-07-10,2023-07-13,150.50,157.00,107628264,157.00,149.50,4.32,O
30,TASCO,2023-07-04,2023-07-13,18.50,17.50,155154320,18.80,17.50,-5.41,O
31,TTB,2023-07-13,2023-07-13,1.52,1.53,7508010136,1.58,1.52,0.66,O
32,IVL,2023-07-13,2023-07-13,33.00,34.00,178841936,34.50,33.00,3.03,S
33,JASIF,2023-07-13,2023-07-13,6.95,7.00,2549040,7.10,6.95,0.72,S
34,PTTGC,2023-07-06,2023-07-13,38.50,39.50,529013664,39.50,37.50,2.60,S

In [16]:
file_name = "Price-Today.csv"
input_file = data_path + file_name
prices = pd.read_csv(input_file)
prices

,name,date,price,change,%change,open,high,low,volume,value(m)
0,ACE,2023-07-14,1.84,0.04,2.222222,1.80,1.85,1.80,18372807,3.356103e+04
1,ADVANC,2023-07-14,222.00,4.00,1.834862,219.00,222.00,218.00,6238281,1.377003e+06
2,AEONTS,2023-07-14,164.00,1.50,0.923077,163.00,168.00,162.00,862765,1.418557e+05
3,AH,2023-07-14,34.00,0.50,1.492537,33.75,34.50,33.25,1150979,3.894899e+04
4,AIMIRT,2023-07-14,11.50,0.10,0.877193,11.40,11.50,11.40,68400,7.798800e+02
...,...,...,...,...,...,...,...,...,...,...
182,WHAIR,2023-07-14,7.05,0.00,0.000000,7.05,7.05,7.00,153401,1.079412e+03
183,WHART,2023-07-14,10.70,0.10,0.943396,10.60,10.70,10.60,1013328,1.083450e+04
184,WHAUP,2023-07-14,3.56,0.00,0.000000,3.54,3.58,3.54,640805,2.283290e+03
185,WICE,2023-07-14,8.55,0.25,3.012048,8.35,8.55,8.35,516007,4.377220e+03
186,WORK,2023-07-14,14.30,0.00,0.000000,14.30,14.50,14.30,77505,1.115422e+03

In [17]:
df_merge = pd.merge(sales,prices,on='name', how='inner')
df_merge

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,percent,status,date,price,change,%change,open,high,low,volume,value(m)
0,CPNREIT,2023-07-13,2023-07-13,10.90,10.80,15892330,11.00,10.70,-0.92,B,2023-07-14,10.90,0.10,0.925926,10.90,10.90,10.80,1206570,1.315106e+04
1,DIF,2023-07-04,2023-07-13,11.00,10.70,561222064,11.20,10.70,-2.73,B,2023-07-14,10.70,0.00,0.000000,10.60,10.80,10.50,10919380,1.162411e+05
2,GVREIT,2023-07-12,2023-07-13,8.25,8.30,1229618,8.50,8.25,0.61,B,2023-07-14,8.40,0.10,1.204819,8.35,8.45,8.30,603905,5.068887e+03
3,JMT,2023-07-13,2023-07-13,33.00,34.75,91476376,37.25,33.00,5.30,B,2023-07-14,35.50,0.75,2.158273,34.50,35.75,34.25,20654942,7.244717e+05
4,MCS,2023-07-06,2023-07-13,6.45,6.20,14584016,6.65,6.20,-3.88,B,2023-07-14,6.35,0.15,2.419355,6.20,6.35,6.20,135358,8.499632e+02
5,SENA,2023-07-04,2023-07-13,3.00,2.98,21091856,3.02,2.94,-0.67,B,2023-07-14,3.00,0.02,0.671141,2.94,3.00,2.94,451000,1.343342e+03
6,SINGER,2023-07-13,2023-07-13,8.75,8.85,161377952,9.80,8.75,1.14,B,2023-07-14,9.10,0.25,2.824859,8.85,9.10,8.85,6780069,6.106198e+04
7,STA,2023-07-13,2023-07-13,16.60,17.00,8877496,17.40,16.60,2.41,B,2023-07-14,17.00,0.00,0.000000,17.00,17.20,16.90,4329851,7.368849e+04
8,SYNEX,2023-07-12,2023-07-13,12.10,11.70,1968720,12.10,11.70,-3.31,B,2023-07-14,11.80,0.10,0.854701,11.60,12.00,11.60,171838,2.037335e+03
9,TMT,2023-07-13,2023-07-13,7.25,7.30,1227936,7.50,7.25,0.69,B,2023-07-14,7.30,0.00,0.000000,7.30,7.35,7.25,33303,2.431619e+02
10,AH,2023-07-13,2023-07-13,33.00,33.50,16615016,35.75,33.00,1.52,I,2023-07-14,34.00,0.50,1.492537,33.75,34.50,33.25,1150979,3.894899e+04
11,AWC,2023-07-12,2023-07-13,4.66,4.44,534632172,4.94,4.44,-4.72,I,2023-07-14,4.62,0.18,4.054054,4.44,4.62,4.44,32087076,1.464461e+05
12,BBL,2023-07-12,2023-07-13,158.00,156.50,114348880,161.00,155.00,-0.95,I,2023-07-14,158.00,1.50,0.958466,157.00,158.00,156.50,9522443,1.499071e+06
13,BCH,2023-07-13,2023-07-13,17.20,17.30,30625096,17.90,17.20,0.58,I,2023-07-14,17.50,0.20,1.156069,17.30,17.60,17.30,3510792,6.144124e+04
14,ICHI,2023-07-13,2023-07-13,13.00,13.30,22085376,13.70,13.00,2.31,I,2023-07-14,13.80,0.50,3.759398,13.30,13.80,13.30,8727098,1.186366e+05
15,JMART,2023-07-13,2023-07-13,15.40,15.90,128919020,17.50,15.40,3.25,I,2023-07-14,16.40,0.50,3.144654,16.00,16.70,15.90,22030515,3.605638e+05
16,PTG,2023-07-04,2023-07-13,12.00,10.10,291546672,12.30,10.10,-15.83,I,2023-07-14,10.20,0.10,0.990099,10.20,10.30,10.00,12710643,1.292923e+05
17,TFFIF,2023-07-03,2023-07-13,7.60,7.55,147698032,7.65,7.55,-0.66,I,2023-07-14,7.60,0.05,0.662252,7.55,7.60,7.50,2057900,1.553752e+04
18,WHART,2023-07-11,2023-07-13,10.70,10.60,13584888,10.70,10.40,-0.93,I,2023-07-14,10.70,0.10,0.943396,10.60,10.70,10.60,1013328,1.083450e+04
19,BDMS,2023-07-13,2023-07-13,28.00,27.50,458309208,28.00,26.75,-1.79,O,2023-07-14,27.75,0.25,0.909091,27.50,28.00,27.50,33724619,9.363825e+05
20,BEM,2023-07-11,2023-07-13,8.30,8.45,427184736,8.60,8.25,1.81,O,2023-07-14,8.50,0.05,0.591716,8.45,8.55,8.40,31568223,2.672274e+05
21,BH,2023-07-13,2023-07-13,218.00,215.00,26630760,228.00,215.00,-1.38,O,2023-07-14,220.00,5.00,2.325581,215.00,220.00,215.00,1818613,3.967519e+05
22,EA,2023-07-12,2023-07-13,53.50,54.50,335317464,57.25,53.00,1.87,O,2023-07-14,56.25,1.75,3.211009,55.25,56.50,55.00,16988807,9.504322e+05
23,KKP,2023-07-12,2023-07-13,59.50,59.25,37211896,61.25,58.50,-0.42,O,2023-07-14,60.00,0.75,1.265823,59.00,60.50,59.00,3046446,1.822818e+05
24,KTB,2023-07-13,2023-07-13,19.40,19.60,261678050,19.60,19.10,1.03,O,2023-07-14,19.60,0.00,0.000000,19.50,19.70,19.40,38835013,7.592538e+05
25,KTC,2023-07-12,2023-07-13,46.75,45.25,94724040,50.00,45.25,-3.21,O,2023-07-14,46.25,1.00,2.209945,45.50,46.50,45.25,4549961,2.096270e+05
26,LANNA,2023-07-13,2023-07-13,14.80,15.10,2346640,15.10,14.80,2.03,O,2023-07-14,15.00,-0.10,-0.662252,15.00,15.30,15.00,386185,5.847868e+03
27,NER,2023-07-13,2023-07-13,4.44,4.46,36057616,4.58,4.44,0.45,O,2023-07-14,4.56,0.10,2.242152,4.44,4.58,4.44,3478964,1.576411e+04
28,ORI,2023-07-13,2023-07-13,10.10,10.20,44437316,10.40,10.00,0.99,O,2023-07-14,10.40,0.20,1.960784,10.20,10.40,10.20,4162630,4.288192e+04
29,PTTEP,2023-07-10,2023-07-13,150.50,157.00,107628264,157.00,149.50,4.32,O,2023-07-14,158.50,1.50,0.955414,158.00,159.00,157.00,7094964,1.120765e+06
30,TASCO,2023-07-04,2023-07-13,18.50,17.50,155154320,18.80,17.50,-5.41,O,2023-07-14,17.90,0.40,2.285714,17.50,17.90,17.50,1330364,2.373115e+04
31,TTB,2023-07-13,2023-07-13,1.52,1.53,7508010136,1.58,1.52,0.66,O,2023-07-14,1.56,0.03,1.960784,1.53,1.57,1.52,534875946,8.301125e+05
32,IVL,2023-07-13,2023-07-13,33.00,34.00,178841936,34.50,33.00,3.03,S,2023-07-14,35.25,1.25,3.676471,34.50,35.25,34.00,21913623,7.605306e+05
33,JASIF,2023-07-13,2023-07-13,6.95,7.00,2549040,7.10,6.95,0.72,S,2023-07-14,6.95,-0.05,-0.714286,6.95,7.00,6.90,11907083,8.268215e+04
34,PTTGC,2023-07-06,2023-07-13,38.50,39.50,529013664,39.50,37.50,2.60,S,2023-07-14,40.50,1.00,2.531646,40.00,40.75,39.50,16980773,6.811352e+05

In [18]:
colu = 'name fm_date to_date fm_price to_price qty max_price min_price percent status \
price change volume date'.split()
colu

['name',
 'fm_date',
 'to_date',
 'fm_price',
 'to_price',
 'qty',
 'max_price',
 'min_price',
 'percent',
 'status',
 'price',
 'change',
 'volume',
 'date']

In [19]:
df_merge[colu]

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,percent,status,price,change,volume,date
0,CPNREIT,2023-07-13,2023-07-13,10.90,10.80,15892330,11.00,10.70,-0.92,B,10.90,0.10,1206570,2023-07-14
1,DIF,2023-07-04,2023-07-13,11.00,10.70,561222064,11.20,10.70,-2.73,B,10.70,0.00,10919380,2023-07-14
2,GVREIT,2023-07-12,2023-07-13,8.25,8.30,1229618,8.50,8.25,0.61,B,8.40,0.10,603905,2023-07-14
3,JMT,2023-07-13,2023-07-13,33.00,34.75,91476376,37.25,33.00,5.30,B,35.50,0.75,20654942,2023-07-14
4,MCS,2023-07-06,2023-07-13,6.45,6.20,14584016,6.65,6.20,-3.88,B,6.35,0.15,135358,2023-07-14
5,SENA,2023-07-04,2023-07-13,3.00,2.98,21091856,3.02,2.94,-0.67,B,3.00,0.02,451000,2023-07-14
6,SINGER,2023-07-13,2023-07-13,8.75,8.85,161377952,9.80,8.75,1.14,B,9.10,0.25,6780069,2023-07-14
7,STA,2023-07-13,2023-07-13,16.60,17.00,8877496,17.40,16.60,2.41,B,17.00,0.00,4329851,2023-07-14
8,SYNEX,2023-07-12,2023-07-13,12.10,11.70,1968720,12.10,11.70,-3.31,B,11.80,0.10,171838,2023-07-14
9,TMT,2023-07-13,2023-07-13,7.25,7.30,1227936,7.50,7.25,0.69,B,7.30,0.00,33303,2023-07-14
10,AH,2023-07-13,2023-07-13,33.00,33.50,16615016,35.75,33.00,1.52,I,34.00,0.50,1150979,2023-07-14
11,AWC,2023-07-12,2023-07-13,4.66,4.44,534632172,4.94,4.44,-4.72,I,4.62,0.18,32087076,2023-07-14
12,BBL,2023-07-12,2023-07-13,158.00,156.50,114348880,161.00,155.00,-0.95,I,158.00,1.50,9522443,2023-07-14
13,BCH,2023-07-13,2023-07-13,17.20,17.30,30625096,17.90,17.20,0.58,I,17.50,0.20,3510792,2023-07-14
14,ICHI,2023-07-13,2023-07-13,13.00,13.30,22085376,13.70,13.00,2.31,I,13.80,0.50,8727098,2023-07-14
15,JMART,2023-07-13,2023-07-13,15.40,15.90,128919020,17.50,15.40,3.25,I,16.40,0.50,22030515,2023-07-14
16,PTG,2023-07-04,2023-07-13,12.00,10.10,291546672,12.30,10.10,-15.83,I,10.20,0.10,12710643,2023-07-14
17,TFFIF,2023-07-03,2023-07-13,7.60,7.55,147698032,7.65,7.55,-0.66,I,7.60,0.05,2057900,2023-07-14
18,WHART,2023-07-11,2023-07-13,10.70,10.60,13584888,10.70,10.40,-0.93,I,10.70,0.10,1013328,2023-07-14
19,BDMS,2023-07-13,2023-07-13,28.00,27.50,458309208,28.00,26.75,-1.79,O,27.75,0.25,33724619,2023-07-14
20,BEM,2023-07-11,2023-07-13,8.30,8.45,427184736,8.60,8.25,1.81,O,8.50,0.05,31568223,2023-07-14
21,BH,2023-07-13,2023-07-13,218.00,215.00,26630760,228.00,215.00,-1.38,O,220.00,5.00,1818613,2023-07-14
22,EA,2023-07-12,2023-07-13,53.50,54.50,335317464,57.25,53.00,1.87,O,56.25,1.75,16988807,2023-07-14
23,KKP,2023-07-12,2023-07-13,59.50,59.25,37211896,61.25,58.50,-0.42,O,60.00,0.75,3046446,2023-07-14
24,KTB,2023-07-13,2023-07-13,19.40,19.60,261678050,19.60,19.10,1.03,O,19.60,0.00,38835013,2023-07-14
25,KTC,2023-07-12,2023-07-13,46.75,45.25,94724040,50.00,45.25,-3.21,O,46.25,1.00,4549961,2023-07-14
26,LANNA,2023-07-13,2023-07-13,14.80,15.10,2346640,15.10,14.80,2.03,O,15.00,-0.10,386185,2023-07-14
27,NER,2023-07-13,2023-07-13,4.44,4.46,36057616,4.58,4.44,0.45,O,4.56,0.10,3478964,2023-07-14
28,ORI,2023-07-13,2023-07-13,10.10,10.20,44437316,10.40,10.00,0.99,O,10.40,0.20,4162630,2023-07-14
29,PTTEP,2023-07-10,2023-07-13,150.50,157.00,107628264,157.00,149.50,4.32,O,158.50,1.50,7094964,2023-07-14
30,TASCO,2023-07-04,2023-07-13,18.50,17.50,155154320,18.80,17.50,-5.41,O,17.90,0.40,1330364,2023-07-14
31,TTB,2023-07-13,2023-07-13,1.52,1.53,7508010136,1.58,1.52,0.66,O,1.56,0.03,534875946,2023-07-14
32,IVL,2023-07-13,2023-07-13,33.00,34.00,178841936,34.50,33.00,3.03,S,35.25,1.25,21913623,2023-07-14
33,JASIF,2023-07-13,2023-07-13,6.95,7.00,2549040,7.10,6.95,0.72,S,6.95,-0.05,11907083,2023-07-14
34,PTTGC,2023-07-06,2023-07-13,38.50,39.50,529013664,39.50,37.50,2.60,S,40.50,1.00,16980773,2023-07-14

In [20]:
df_merge[colu].shape

(35, 14)

In [21]:
df_merge.shape

(35, 19)

In [22]:
file_name = "daily-sales-prices.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(output_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(data_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(one_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(osd_file, header=True, index=False)

In [23]:
### Call ruby ruby\daily-out-new.rb

In [24]:
%pwd

'C:\\Users\\User\\OneDrive\\A7\\Daily'

In [25]:
os.chdir("C:\\users\\user\\onedrive\\a7")
%pwd

'C:\\users\\user\\onedrive\\a7'

In [26]:
!ruby ruby\\daily-out-new.rb

Name      From Date    To Date   From     To     Pct      Shares    Max    Min S Action
---------------------------------------------------------------------------------------
AH       2023-07-13 2023-07-14  33.00  34.00   3.03%  16,615,016  35.75  33.00 I Update
AWC      2023-07-14 2023-07-14   4.44   4.62   4.05% 534,632,172   4.94   4.44 I Insert
BBL      2023-07-14 2023-07-14 156.50 158.00   0.96% 114,348,880 161.00 155.00 I Insert
BCH      2023-07-13 2023-07-14  17.20  17.50   1.74%  30,625,096  17.90  17.20 I Update
BDMS     2023-07-14 2023-07-14  27.50  27.75   0.91% 458,309,208  28.00  26.75 O Insert
BEM      2023-07-11 2023-07-14   8.30   8.50   2.41% 427,184,736   8.60   8.25 O Update
BH       2023-07-14 2023-07-14 215.00 220.00   2.33%  26,630,760 228.00 215.00 O Insert
CPNREIT  2023-07-14 2023-07-14  10.80  10.90   0.93%  15,892,330  11.00  10.70 B Insert
DIF      2023-07-04 2023-07-14  11.00  10.70  -2.73% 561,222,064  11.20  10.70 B Update
EA       2023-07-12 2023-07-14  53.50  56.25   5.14% 335,317,464  57.25  53.00 O Update
GVREIT   2023-07-12 2023-07-14   8.25   8.40   1.82%   1,229,618   8.50   8.25 B Update
ICHI     2023-07-13 2023-07-14  13.00  13.80   6.15%  22,085,376  13.80  13.00 I Update
IVL      2023-07-13 2023-07-14  33.00  35.25   6.82% 178,841,936  35.25  33.00 S Update
JASIF    2023-07-14 2023-07-14   7.00   6.95  -0.71%   2,549,040   7.10   6.95 S Insert
JMART    2023-07-13 2023-07-14  15.40  16.40   6.49% 128,919,020  17.50  15.40 I Update
JMT      2023-07-13 2023-07-14  33.00  35.50   7.58%  91,476,376  37.25  33.00 B Update
KKP      2023-07-14 2023-07-14  59.25  60.00   1.27%  37,211,896  61.25  58.50 O Insert
KTB      2023-07-13 2023-07-14  19.40  19.60   1.03% 261,678,050  19.60  19.10 O Update
KTC      2023-07-14 2023-07-14  45.25  46.25   2.21%  94,724,040  50.00  45.25 O Insert
LANNA    2023-07-14 2023-07-14  15.10  15.00  -0.66%   2,346,640  15.10  14.80 O Insert
MCS      2023-07-14 2023-07-14   6.20   6.35   2.42%  14,584,016   6.65   6.20 B Insert
NER      2023-07-13 2023-07-14   4.44   4.56    2.7%  36,057,616   4.58   4.44 O Update
ORI      2023-07-13 2023-07-14  10.10  10.40   2.97%  44,437,316  10.40  10.00 O Update
PTG      2023-07-14 2023-07-14  10.10  10.20   0.99% 291,546,672  12.30  10.10 I Insert
PTTEP    2023-07-10 2023-07-14 150.50 158.50   5.32% 107,628,264 158.50 149.50 O Update
PTTGC    2023-07-06 2023-07-14  38.50  40.50   5.19% 529,013,664  40.50  37.50 S Update
SENA     2023-07-14 2023-07-14   2.98   3.00   0.67%  21,091,856   3.02   2.94 B Insert
SINGER   2023-07-13 2023-07-14   8.75   9.10    4.0% 161,377,952   9.80   8.75 B Update
STA      2023-07-13 2023-07-14  16.60  17.00   2.41%   8,877,496  17.40  16.60 B Update
SYNEX    2023-07-14 2023-07-14  11.70  11.80   0.85%   1,968,720  12.10  11.70 B Insert
TASCO    2023-07-14 2023-07-14  17.50  17.90   2.29% 155,154,320  18.80  17.50 O Insert
TFFIF    2023-07-14 2023-07-14   7.55   7.60   0.66% 147,698,032   7.65   7.55 I Insert
TMT      2023-07-13 2023-07-14   7.25   7.30   0.69%   1,227,936   7.50   7.25 B Update
TTB      2023-07-13 2023-07-14   1.52   1.56   2.63% 7,508,010,136   1.58   1.52 O Update
WHART    2023-07-14 2023-07-14  10.60  10.70   0.94%  13,584,888  10.70  10.40 I Insert
=======================================================================================

In [27]:
os.chdir("C:\\users\\user\\onedrive\\a7\\Daily")
%pwd

'C:\\users\\user\\onedrive\\a7\\Daily'

### cd\ruby\port_lite
### rails runner db/ins_sales.rb