#### Restart and Run All

In [1]:
import numpy as np
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
#data_path = "\\users\\user\\onedrive\\a7\\Data"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

today = date.today()
today

datetime.date(2023, 9, 1)

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
yesterday = yesterday.date()
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2023-09-01
yesterday: 2023-08-31

In [3]:
cols = 'name fm_date to_date fm_price to_price qty max_price min_price percent status'.split()

format_dict = {
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}',
    'volume':'{:,.2f}','beta':'{:,.2f}',
    'pct':'{:,.2f}%','percent':'{:,.2f}%',   
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
    
    'qty':'{:,}','available_qty':'{:,}',
    'cost':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}',
}

### Begin of Tables in the process

In [4]:
sql = """
SELECT * 
FROM sales 
ORDER BY id DESC LIMIT 1
"""
tmp = pd.read_sql(sql, conlite)
tmp["fm_date"] = pd.to_datetime(tmp["fm_date"])
tmp["to_date"] = pd.to_datetime(tmp["to_date"])
tmp["created_at"] = pd.to_datetime(tmp["created_at"])
tmp["updated_at"] = pd.to_datetime(tmp["updated_at"])
tmp.style.format(format_dict)

In [5]:
names = tmp["name"]
type(names)

pandas.core.series.Series

In [6]:
name = names.to_string(index=False)
type(name)

str

In [7]:
sql = """
SELECT * 
FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)
tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT *
FROM stocks
WHERE name = 'STA'

### End of Tables in the process

In [8]:
sql = """
SELECT DISTINCT a.name
FROM sales a 
WHERE to_date = '%s'
ORDER BY a.name
"""
sql = sql % yesterday
print(sql)
tmp = pd.read_sql(sql, conlite)
tmp

SELECT DISTINCT a.name
FROM sales a
WHERE to_date = '2023-08-31'
ORDER BY a.name

       name
0        AH
1    AIMIRT
2       ASK
3       ASP
4       AWC
5       BBL
6       BCH
7       BEM
8        BH
9        CK
10      CPN
11  CPNREIT
12    DELTA
13      DIF
14   GVREIT
15     HANA
16     ICHI
17      III
18      IVL
19    JASIF
20    JMART
21      JMT
22      KCE
23      KTB
24        M
25      MCS
26      NER
27      ORI
28      PSH
29      PTG
30    PTTEP
31    PTTGC
32       QH
33      RCL
34    SAPPE
35       SC
36      SCC
37     SENA
38   SINGER
39     SIRI
40      STA
41    SYNEX
42    TFFIF
43      TMT
44      TOA
45      TTB
46    WHAIR
47    WHART

In [28]:
sql = """
SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a 
JOIN stocks t ON a.name = t.name 
WHERE to_date = '%s' AND t.status IN ("B","I", "O", "S") 
ORDER BY t.status, a.name
"""
sql = sql % yesterday
print(sql)

SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a
JOIN stocks t ON a.name = t.name
WHERE to_date = '2023-08-31' AND t.status IN ("B","I", "O", "S")
ORDER BY t.status, a.name

### This statement causes program to hang when there is no data

In [29]:
df = pd.read_sql(sql, conlite)
#df.set_index(["name"], inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df.eval('diff = to_price - fm_price',inplace=True)
df['percent'] = round(df['diff']/df['fm_price']*100,2)
df.style.format(format_dict)

In [11]:
df.shape

(48, 12)

### IF the above count not equal number of orders, there must be something incorrect

### Create daily-sales from sales

In [12]:
df[cols].style.format(format_dict)

In [13]:
file_name = "daily-sales.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(output_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(data_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(one_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(osd_file, header=True, index=False)

In [14]:
df[cols].shape

(48, 10)

In [15]:
sales = df[cols]
sales

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,percent,status
0,AH,2023-08-30,2023-08-31,34.50,36.00,11071484,36.00,34.00,4.35,B
1,AWC,2023-08-31,2023-08-31,4.42,4.36,386017008,4.42,4.06,-1.36,B
2,DIF,2023-08-30,2023-08-31,9.30,9.45,70056756,9.45,9.15,1.61,B
3,JASIF,2023-08-28,2023-08-31,6.95,6.80,196650488,7.00,6.80,-2.16,B
4,JMART,2023-08-30,2023-08-31,22.20,24.00,173996992,24.00,21.20,8.11,B
5,JMT,2023-08-31,2023-08-31,47.75,46.50,25272886,47.75,45.50,-2.62,B
6,MCS,2023-08-31,2023-08-31,7.00,6.80,2085184,7.00,6.00,-2.86,B
7,NER,2023-08-31,2023-08-31,4.82,4.80,162020712,4.82,4.56,-0.41,B
8,ORI,2023-08-31,2023-08-31,10.80,10.60,30032562,10.80,10.10,-1.85,B
9,PTTGC,2023-08-31,2023-08-31,37.75,37.25,74106528,38.00,35.75,-1.32,B
10,SENA,2023-08-25,2023-08-31,2.82,2.90,19557312,2.90,2.78,2.84,B
11,SINGER,2023-08-25,2023-08-31,11.30,14.90,892953120,14.90,10.30,31.86,B
12,STA,2023-08-31,2023-08-31,14.80,14.60,77307636,14.80,13.20,-1.35,B
13,SYNEX,2023-08-30,2023-08-31,13.00,13.70,41373116,13.70,11.60,5.38,B
14,TMT,2023-08-24,2023-08-31,6.95,7.10,24316240,7.15,6.80,2.16,B
15,WHART,2023-08-28,2023-08-31,10.40,10.70,18912464,10.70,10.40,2.88,B
16,AIMIRT,2023-08-25,2023-08-31,11.00,10.90,2430432,11.00,10.80,-0.91,I
17,ASK,2023-08-30,2023-08-31,25.25,26.00,12773172,26.00,23.70,2.97,I
18,ASP,2023-08-30,2023-08-31,2.94,2.92,45424780,3.02,2.80,-0.68,I
19,BCH,2023-08-31,2023-08-31,19.80,19.30,360006216,19.80,18.60,-2.53,I
20,GVREIT,2023-08-31,2023-08-31,7.00,7.05,5832008,7.50,7.00,0.71,I
21,IVL,2023-08-30,2023-08-31,28.50,29.00,367824248,29.75,28.50,1.75,I
22,KCE,2023-08-31,2023-08-31,51.25,51.00,83077776,51.25,48.75,-0.49,I
23,PTG,2023-08-31,2023-08-31,10.90,10.70,15488928,10.90,10.40,-1.83,I
24,RCL,2023-08-31,2023-08-31,22.00,21.60,3887830,22.00,21.30,-1.82,I
25,SCC,2023-08-30,2023-08-31,316.00,313.00,10083226,320.00,312.00,-0.95,I
26,TFFIF,2023-08-25,2023-08-31,7.45,7.55,73188816,7.55,7.45,1.34,I
27,WHAIR,2023-08-30,2023-08-31,6.90,7.05,439608,7.05,6.80,2.17,I
28,BBL,2023-08-31,2023-08-31,171.00,169.50,36592608,171.00,166.50,-0.88,O
29,BEM,2023-08-31,2023-08-31,8.85,8.65,61079824,9.10,8.65,-2.26,O
30,BH,2023-08-29,2023-08-31,255.00,259.00,13328360,260.00,255.00,1.57,O
31,CK,2023-08-31,2023-08-31,23.40,23.00,72232680,23.50,21.80,-1.71,O
32,CPN,2023-08-31,2023-08-31,69.25,68.75,5961284,70.00,68.75,-0.72,O
33,DELTA,2023-08-31,2023-08-31,109.50,108.50,70392880,109.50,105.50,-0.91,O
34,HANA,2023-08-31,2023-08-31,63.25,62.25,69633904,63.25,60.50,-1.58,O
35,ICHI,2023-08-30,2023-08-31,16.50,17.30,183481472,17.30,15.60,4.85,O
36,III,2023-08-31,2023-08-31,12.50,12.40,6596756,12.50,11.80,-0.80,O
37,KTB,2023-08-31,2023-08-31,19.60,19.30,471820472,19.60,19.10,-1.53,O
38,M,2023-08-31,2023-08-31,48.25,47.50,946584,49.00,47.50,-1.55,O
39,PSH,2023-08-30,2023-08-31,13.60,13.40,8691648,13.60,12.90,-1.47,O
40,PTTEP,2023-08-31,2023-08-31,163.00,158.50,48155008,163.00,157.50,-2.76,O
41,QH,2023-08-23,2023-08-31,2.28,2.32,452991888,2.32,2.26,1.75,O
42,SAPPE,2023-08-25,2023-08-31,92.50,100.00,16712880,100.00,91.75,8.11,O
43,SC,2023-08-23,2023-08-31,4.30,4.64,438554608,4.64,4.26,7.91,O
44,SIRI,2023-08-30,2023-08-31,1.95,2.04,3000419732,2.04,1.95,4.62,O
45,TOA,2023-08-28,2023-08-31,28.00,26.50,109543528,28.25,25.75,-5.36,O
46,TTB,2023-08-29,2023-08-31,1.77,1.71,7772193080,1.77,1.71,-3.39,O
47,CPNREIT,2023-08-31,2023-08-31,10.80,11.10,25021436,11.10,10.60,2.78,S

In [16]:
file_name = "Price-Today.csv"
input_file = data_path + file_name
prices = pd.read_csv(input_file)
prices

,name,date,price,change,%change,open,high,low,volume,value(m)
0,ACE,2023-09-01,1.75,-0.02,-1.129944,1.77,1.81,1.75,18097810,31995.08872
1,ADVANC,2023-09-01,215.00,-1.00,-0.462963,216.00,217.00,214.00,3496605,752528.99700
2,AEONTS,2023-09-01,173.50,-1.50,-0.857143,176.00,176.50,172.50,248725,43308.93450
3,AH,2023-09-01,36.00,0.00,0.000000,36.25,36.50,35.50,1973637,70954.68825
4,AIMIRT,2023-09-01,10.80,-0.10,-0.917431,10.90,10.90,10.80,25701,280.04060
...,...,...,...,...,...,...,...,...,...,...
185,WHAIR,2023-09-01,7.00,-0.05,-0.709220,7.05,7.05,7.00,159005,1116.32510
186,WHART,2023-09-01,10.60,-0.10,-0.934579,10.70,10.70,10.50,165509,1750.92630
187,WHAUP,2023-09-01,3.92,-0.04,-1.010101,3.94,3.94,3.90,509221,1990.76658
188,WICE,2023-09-01,8.45,0.10,1.197605,8.40,8.60,8.40,1215712,10349.19760
189,WORK,2023-09-01,15.40,-0.10,-0.645161,15.50,15.50,15.20,186793,2870.87010

In [17]:
df_merge = pd.merge(sales,prices,on='name', how='inner')
df_merge

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,percent,status,date,price,change,%change,open,high,low,volume,value(m)
0,AH,2023-08-30,2023-08-31,34.50,36.00,11071484,36.00,34.00,4.35,B,2023-09-01,36.00,0.00,0.000000,36.25,36.50,35.50,1973637,7.095469e+04
1,AWC,2023-08-31,2023-08-31,4.42,4.36,386017008,4.42,4.06,-1.36,B,2023-09-01,4.26,-0.10,-2.293578,4.36,4.38,4.24,64640345,2.769404e+05
2,DIF,2023-08-30,2023-08-31,9.30,9.45,70056756,9.45,9.15,1.61,B,2023-09-01,9.35,-0.10,-1.058201,9.45,9.45,9.35,3240715,3.045084e+04
3,JASIF,2023-08-28,2023-08-31,6.95,6.80,196650488,7.00,6.80,-2.16,B,2023-09-01,6.75,-0.05,-0.735294,6.80,6.80,6.75,2217254,1.498729e+04
4,JMART,2023-08-30,2023-08-31,22.20,24.00,173996992,24.00,21.20,8.11,B,2023-09-01,23.20,-0.80,-3.333333,23.90,24.20,23.00,29156182,6.848510e+05
5,JMT,2023-08-31,2023-08-31,47.75,46.50,25272886,47.75,45.50,-2.62,B,2023-09-01,46.25,-0.25,-0.537634,47.00,47.50,46.00,14292072,6.672382e+05
6,MCS,2023-08-31,2023-08-31,7.00,6.80,2085184,7.00,6.00,-2.86,B,2023-09-01,6.80,0.00,0.000000,7.05,7.05,6.75,294423,2.013717e+03
7,NER,2023-08-31,2023-08-31,4.82,4.80,162020712,4.82,4.56,-0.41,B,2023-09-01,4.92,0.12,2.500000,4.86,4.98,4.86,17620913,8.667607e+04
8,ORI,2023-08-31,2023-08-31,10.80,10.60,30032562,10.80,10.10,-1.85,B,2023-09-01,10.50,-0.10,-0.943396,10.60,10.70,10.50,4301496,4.568359e+04
9,PTTGC,2023-08-31,2023-08-31,37.75,37.25,74106528,38.00,35.75,-1.32,B,2023-09-01,37.00,-0.25,-0.671141,37.25,37.50,37.00,4915019,1.828963e+05
10,SENA,2023-08-25,2023-08-31,2.82,2.90,19557312,2.90,2.78,2.84,B,2023-09-01,2.86,-0.04,-1.379310,2.88,2.92,2.84,3400918,9.746077e+03
11,SINGER,2023-08-25,2023-08-31,11.30,14.90,892953120,14.90,10.30,31.86,B,2023-09-01,14.10,-0.80,-5.369128,14.90,15.10,13.40,47158682,6.687428e+05
12,STA,2023-08-31,2023-08-31,14.80,14.60,77307636,14.80,13.20,-1.35,B,2023-09-01,15.30,0.70,4.794521,14.80,15.40,14.80,13374888,2.026804e+05
13,SYNEX,2023-08-30,2023-08-31,13.00,13.70,41373116,13.70,11.60,5.38,B,2023-09-01,13.60,-0.10,-0.729927,13.70,14.00,13.30,2179362,2.974373e+04
14,TMT,2023-08-24,2023-08-31,6.95,7.10,24316240,7.15,6.80,2.16,B,2023-09-01,7.10,0.00,0.000000,7.05,7.10,7.00,157340,1.109859e+03
15,WHART,2023-08-28,2023-08-31,10.40,10.70,18912464,10.70,10.40,2.88,B,2023-09-01,10.60,-0.10,-0.934579,10.70,10.70,10.50,165509,1.750926e+03
16,AIMIRT,2023-08-25,2023-08-31,11.00,10.90,2430432,11.00,10.80,-0.91,I,2023-09-01,10.80,-0.10,-0.917431,10.90,10.90,10.80,25701,2.800406e+02
17,ASK,2023-08-30,2023-08-31,25.25,26.00,12773172,26.00,23.70,2.97,I,2023-09-01,25.25,-0.75,-2.884615,25.75,26.00,25.00,825987,2.092351e+04
18,ASP,2023-08-30,2023-08-31,2.94,2.92,45424780,3.02,2.80,-0.68,I,2023-09-01,2.94,0.02,0.684932,2.94,2.94,2.92,560712,1.644121e+03
19,BCH,2023-08-31,2023-08-31,19.80,19.30,360006216,19.80,18.60,-2.53,I,2023-09-01,19.00,-0.30,-1.554404,19.20,19.40,18.80,16402588,3.127210e+05
20,GVREIT,2023-08-31,2023-08-31,7.00,7.05,5832008,7.50,7.00,0.71,I,2023-09-01,7.00,-0.05,-0.709220,7.05,7.05,6.95,216602,1.510183e+03
21,IVL,2023-08-30,2023-08-31,28.50,29.00,367824248,29.75,28.50,1.75,I,2023-09-01,29.00,0.00,0.000000,29.25,29.25,28.75,11475880,3.329274e+05
22,KCE,2023-08-31,2023-08-31,51.25,51.00,83077776,51.25,48.75,-0.49,I,2023-09-01,51.50,0.50,0.980392,51.00,52.25,51.00,12932196,6.675355e+05
23,PTG,2023-08-31,2023-08-31,10.90,10.70,15488928,10.90,10.40,-1.83,I,2023-09-01,10.40,-0.30,-2.803738,10.80,10.80,10.30,17519263,1.837301e+05
24,RCL,2023-08-31,2023-08-31,22.00,21.60,3887830,22.00,21.30,-1.82,I,2023-09-01,21.50,-0.10,-0.462963,21.60,21.80,21.50,1310415,2.831306e+04
25,SCC,2023-08-30,2023-08-31,316.00,313.00,10083226,320.00,312.00,-0.95,I,2023-09-01,312.00,-1.00,-0.319489,314.00,316.00,312.00,1650340,5.175311e+05
26,TFFIF,2023-08-25,2023-08-31,7.45,7.55,73188816,7.55,7.45,1.34,I,2023-09-01,7.50,-0.05,-0.662252,7.45,7.50,7.40,2980096,2.220362e+04
27,WHAIR,2023-08-30,2023-08-31,6.90,7.05,439608,7.05,6.80,2.17,I,2023-09-01,7.00,-0.05,-0.709220,7.05,7.05,7.00,159005,1.116325e+03
28,BBL,2023-08-31,2023-08-31,171.00,169.50,36592608,171.00,166.50,-0.88,O,2023-09-01,169.00,-0.50,-0.294985,169.50,170.00,168.50,2636541,4.463089e+05
29,BEM,2023-08-31,2023-08-31,8.85,8.65,61079824,9.10,8.65,-2.26,O,2023-09-01,8.70,0.05,0.578035,8.70,8.70,8.60,21423023,1.856032e+05
30,BH,2023-08-29,2023-08-31,255.00,259.00,13328360,260.00,255.00,1.57,O,2023-09-01,255.00,-4.00,-1.544402,260.00,260.00,252.00,1419569,3.624063e+05
31,CK,2023-08-31,2023-08-31,23.40,23.00,72232680,23.50,21.80,-1.71,O,2023-09-01,23.00,0.00,0.000000,23.10,23.20,22.90,2591362,5.970761e+04
32,CPN,2023-08-31,2023-08-31,69.25,68.75,5961284,70.00,68.75,-0.72,O,2023-09-01,68.00,-0.75,-1.090909,69.25,69.25,68.00,3035182,2.077305e+05
33,DELTA,2023-08-31,2023-08-31,109.50,108.50,70392880,109.50,105.50,-0.91,O,2023-09-01,110.00,1.50,1.382488,108.50,112.50,108.50,13151409,1.454779e+06
34,HANA,2023-08-31,2023-08-31,63.25,62.25,69633904,63.25,60.50,-1.58,O,2023-09-01,62.00,-0.25,-0.401606,62.25,63.00,61.25,14013092,8.714713e+05
35,ICHI,2023-08-30,2023-08-31,16.50,17.30,183481472,17.30,15.60,4.85,O,2023-09-01,16.50,-0.80,-4.624277,17.20,17.30,16.40,14905751,2.503222e+05
36,III,2023-08-31,2023-08-31,12.50,12.40,6596756,12.50,11.80,-0.80,O,2023-09-01,12.30,-0.10,-0.806452,12.60,12.70,12.20,5048820,6.244144e+04
37,KTB,2023-08-31,2023-08-31,19.60,19.30,471820472,19.60,19.10,-1.53,O,2023-09-01,19.40,0.10,0.518135,19.40,19.40,19.30,29610831,5.719819e+05
38,M,2023-08-31,2023-08-31,48.25,47.50,946584,49.00,47.50,-1.55,O,2023-09-01,47.50,0.00,0.000000,48.00,48.00,47.25,504943,2.400434e+04
39,PSH,2023-08-30,2023-08-31,13.60,13.40,8691648,13.60,12.90,-1.47,O,2023-09-01,13.30,-0.10,-0.746269,13.40,13.50,13.20,432240,5.749901e+03
40,PTTEP,2023-08-31,2023-08-31,163.00,158.50,48155008,163.00,157.50,-2.76,O,2023-09-01,162.50,4.00,2.523659,161.00,162.50,160.50,12137892,1.961856e+06
41,QH,2023-08-23,2023-08-31,2.28,2.32,452991888,2.32,2.26,1.75,O,2023-09-01,2.30,-0.02,-0.862069,2.32,2.34,2.30,11936319,2.768044e+04
42,SAPPE,2023-08-25,2023-08-31,92.50,100.00,16712880,100.00,91.75,8.11,O,2023-09-01,91.00,-9.00,-9.000000,99.75,99.75,88.00,4063608,3.771356e+05
43,SC,2023-08-23,2023-08-31,4.30,4.64,438554608,4.64,4.26,7.91,O,2023-09-01,4.56,-0.08,-1.724138,4.64,4.64,4.54,6954295,3.173521e+04
44,SIRI,2023-08-30,2023-08-31,1.95,2.04,3000419732,2.04,1.95,4.62,O,2023-09-01,1.97,-0.07,-3.431373,2.04,2.04,1.96,459752069,9.148809e+05
45,TOA,2023-08-28,2023-08-31,28.00,26.50,109543528,28.25,25.75,-5.36,O,2023-09-01,26.50,0.00,0.000000,26.50,27.00,26.25,1790733,4.735780e+04
46,TTB,2023-08-29,2023-08-31,1.77,1.71,7772193080,1.77,1.71,-3.39,O,2023-09-01,1.70,-0.01,-0.584795,1.71,1.72,1.69,532790618,9.069925e+05
47,CPNREIT,2023-08-31,2023-08-31,10.80,11.10,25021436,11.10,10.60,2.78,S,2023-09-01,11.00,-0.10,-0.900901,11.10,11.20,11.00,814839,9.066284e+03

In [18]:
colu = 'name fm_date to_date fm_price to_price qty max_price min_price percent status \
price change volume date'.split()
colu

['name',
 'fm_date',
 'to_date',
 'fm_price',
 'to_price',
 'qty',
 'max_price',
 'min_price',
 'percent',
 'status',
 'price',
 'change',
 'volume',
 'date']

In [19]:
df_merge[colu]

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,percent,status,price,change,volume,date
0,AH,2023-08-30,2023-08-31,34.50,36.00,11071484,36.00,34.00,4.35,B,36.00,0.00,1973637,2023-09-01
1,AWC,2023-08-31,2023-08-31,4.42,4.36,386017008,4.42,4.06,-1.36,B,4.26,-0.10,64640345,2023-09-01
2,DIF,2023-08-30,2023-08-31,9.30,9.45,70056756,9.45,9.15,1.61,B,9.35,-0.10,3240715,2023-09-01
3,JASIF,2023-08-28,2023-08-31,6.95,6.80,196650488,7.00,6.80,-2.16,B,6.75,-0.05,2217254,2023-09-01
4,JMART,2023-08-30,2023-08-31,22.20,24.00,173996992,24.00,21.20,8.11,B,23.20,-0.80,29156182,2023-09-01
5,JMT,2023-08-31,2023-08-31,47.75,46.50,25272886,47.75,45.50,-2.62,B,46.25,-0.25,14292072,2023-09-01
6,MCS,2023-08-31,2023-08-31,7.00,6.80,2085184,7.00,6.00,-2.86,B,6.80,0.00,294423,2023-09-01
7,NER,2023-08-31,2023-08-31,4.82,4.80,162020712,4.82,4.56,-0.41,B,4.92,0.12,17620913,2023-09-01
8,ORI,2023-08-31,2023-08-31,10.80,10.60,30032562,10.80,10.10,-1.85,B,10.50,-0.10,4301496,2023-09-01
9,PTTGC,2023-08-31,2023-08-31,37.75,37.25,74106528,38.00,35.75,-1.32,B,37.00,-0.25,4915019,2023-09-01
10,SENA,2023-08-25,2023-08-31,2.82,2.90,19557312,2.90,2.78,2.84,B,2.86,-0.04,3400918,2023-09-01
11,SINGER,2023-08-25,2023-08-31,11.30,14.90,892953120,14.90,10.30,31.86,B,14.10,-0.80,47158682,2023-09-01
12,STA,2023-08-31,2023-08-31,14.80,14.60,77307636,14.80,13.20,-1.35,B,15.30,0.70,13374888,2023-09-01
13,SYNEX,2023-08-30,2023-08-31,13.00,13.70,41373116,13.70,11.60,5.38,B,13.60,-0.10,2179362,2023-09-01
14,TMT,2023-08-24,2023-08-31,6.95,7.10,24316240,7.15,6.80,2.16,B,7.10,0.00,157340,2023-09-01
15,WHART,2023-08-28,2023-08-31,10.40,10.70,18912464,10.70,10.40,2.88,B,10.60,-0.10,165509,2023-09-01
16,AIMIRT,2023-08-25,2023-08-31,11.00,10.90,2430432,11.00,10.80,-0.91,I,10.80,-0.10,25701,2023-09-01
17,ASK,2023-08-30,2023-08-31,25.25,26.00,12773172,26.00,23.70,2.97,I,25.25,-0.75,825987,2023-09-01
18,ASP,2023-08-30,2023-08-31,2.94,2.92,45424780,3.02,2.80,-0.68,I,2.94,0.02,560712,2023-09-01
19,BCH,2023-08-31,2023-08-31,19.80,19.30,360006216,19.80,18.60,-2.53,I,19.00,-0.30,16402588,2023-09-01
20,GVREIT,2023-08-31,2023-08-31,7.00,7.05,5832008,7.50,7.00,0.71,I,7.00,-0.05,216602,2023-09-01
21,IVL,2023-08-30,2023-08-31,28.50,29.00,367824248,29.75,28.50,1.75,I,29.00,0.00,11475880,2023-09-01
22,KCE,2023-08-31,2023-08-31,51.25,51.00,83077776,51.25,48.75,-0.49,I,51.50,0.50,12932196,2023-09-01
23,PTG,2023-08-31,2023-08-31,10.90,10.70,15488928,10.90,10.40,-1.83,I,10.40,-0.30,17519263,2023-09-01
24,RCL,2023-08-31,2023-08-31,22.00,21.60,3887830,22.00,21.30,-1.82,I,21.50,-0.10,1310415,2023-09-01
25,SCC,2023-08-30,2023-08-31,316.00,313.00,10083226,320.00,312.00,-0.95,I,312.00,-1.00,1650340,2023-09-01
26,TFFIF,2023-08-25,2023-08-31,7.45,7.55,73188816,7.55,7.45,1.34,I,7.50,-0.05,2980096,2023-09-01
27,WHAIR,2023-08-30,2023-08-31,6.90,7.05,439608,7.05,6.80,2.17,I,7.00,-0.05,159005,2023-09-01
28,BBL,2023-08-31,2023-08-31,171.00,169.50,36592608,171.00,166.50,-0.88,O,169.00,-0.50,2636541,2023-09-01
29,BEM,2023-08-31,2023-08-31,8.85,8.65,61079824,9.10,8.65,-2.26,O,8.70,0.05,21423023,2023-09-01
30,BH,2023-08-29,2023-08-31,255.00,259.00,13328360,260.00,255.00,1.57,O,255.00,-4.00,1419569,2023-09-01
31,CK,2023-08-31,2023-08-31,23.40,23.00,72232680,23.50,21.80,-1.71,O,23.00,0.00,2591362,2023-09-01
32,CPN,2023-08-31,2023-08-31,69.25,68.75,5961284,70.00,68.75,-0.72,O,68.00,-0.75,3035182,2023-09-01
33,DELTA,2023-08-31,2023-08-31,109.50,108.50,70392880,109.50,105.50,-0.91,O,110.00,1.50,13151409,2023-09-01
34,HANA,2023-08-31,2023-08-31,63.25,62.25,69633904,63.25,60.50,-1.58,O,62.00,-0.25,14013092,2023-09-01
35,ICHI,2023-08-30,2023-08-31,16.50,17.30,183481472,17.30,15.60,4.85,O,16.50,-0.80,14905751,2023-09-01
36,III,2023-08-31,2023-08-31,12.50,12.40,6596756,12.50,11.80,-0.80,O,12.30,-0.10,5048820,2023-09-01
37,KTB,2023-08-31,2023-08-31,19.60,19.30,471820472,19.60,19.10,-1.53,O,19.40,0.10,29610831,2023-09-01
38,M,2023-08-31,2023-08-31,48.25,47.50,946584,49.00,47.50,-1.55,O,47.50,0.00,504943,2023-09-01
39,PSH,2023-08-30,2023-08-31,13.60,13.40,8691648,13.60,12.90,-1.47,O,13.30,-0.10,432240,2023-09-01
40,PTTEP,2023-08-31,2023-08-31,163.00,158.50,48155008,163.00,157.50,-2.76,O,162.50,4.00,12137892,2023-09-01
41,QH,2023-08-23,2023-08-31,2.28,2.32,452991888,2.32,2.26,1.75,O,2.30,-0.02,11936319,2023-09-01
42,SAPPE,2023-08-25,2023-08-31,92.50,100.00,16712880,100.00,91.75,8.11,O,91.00,-9.00,4063608,2023-09-01
43,SC,2023-08-23,2023-08-31,4.30,4.64,438554608,4.64,4.26,7.91,O,4.56,-0.08,6954295,2023-09-01
44,SIRI,2023-08-30,2023-08-31,1.95,2.04,3000419732,2.04,1.95,4.62,O,1.97,-0.07,459752069,2023-09-01
45,TOA,2023-08-28,2023-08-31,28.00,26.50,109543528,28.25,25.75,-5.36,O,26.50,0.00,1790733,2023-09-01
46,TTB,2023-08-29,2023-08-31,1.77,1.71,7772193080,1.77,1.71,-3.39,O,1.70,-0.01,532790618,2023-09-01
47,CPNREIT,2023-08-31,2023-08-31,10.80,11.10,25021436,11.10,10.60,2.78,S,11.00,-0.10,814839,2023-09-01

In [20]:
df_merge[colu].shape

(48, 14)

In [21]:
df_merge.shape

(48, 19)

In [22]:
file_name = "daily-sales-prices.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(output_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(data_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(one_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(osd_file, header=True, index=False)

In [23]:
### Call ruby ruby\daily-out-new.rb

In [24]:
%pwd

'C:\\Users\\User\\OneDrive\\A7\\Daily'

In [25]:
os.chdir("C:\\users\\user\\onedrive\\a7")
%pwd

'C:\\users\\user\\onedrive\\a7'

In [26]:
!ruby ruby\\daily-out-new.rb

Name      From Date    To Date   From     To     Pct      Shares    Max    Min S Action
---------------------------------------------------------------------------------------
AH       2023-08-30 2023-09-01  34.50  36.00   4.35%  11,071,484  36.00  34.00 B Update
AIMIRT   2023-08-25 2023-09-01  11.00  10.80  -1.82%   2,430,432  11.00  10.80 I Update
ASK      2023-09-01 2023-09-01  26.00  25.25  -2.88%  12,773,172  26.00  23.70 I Insert
ASP      2023-09-01 2023-09-01   2.92   2.94   0.68%  45,424,780   3.02   2.80 I Insert
AWC      2023-08-31 2023-09-01   4.42   4.26  -3.62% 386,017,008   4.42   4.06 B Update
BBL      2023-08-31 2023-09-01 171.00 169.00  -1.17%  36,592,608 171.00 166.50 O Update
BCH      2023-08-31 2023-09-01  19.80  19.00  -4.04% 360,006,216  19.80  18.60 I Update
BEM      2023-09-01 2023-09-01   8.65   8.70   0.58%  61,079,824   9.10   8.65 O Insert
BH       2023-09-01 2023-09-01 259.00 255.00  -1.54%  13,328,360 260.00 255.00 O Insert
CK       2023-08-31 2023-09-01  23.40  23.00  -1.71%  72,232,680  23.50  21.80 O Update
CPN      2023-08-31 2023-09-01  69.25  68.00  -1.81%   5,961,284  70.00  68.00 O Update
CPNREIT  2023-09-01 2023-09-01  11.10  11.00   -0.9%  25,021,436  11.10  10.60 S Insert
DELTA    2023-09-01 2023-09-01 108.50 110.00   1.38%  70,392,880 110.00 105.50 O Insert
DIF      2023-09-01 2023-09-01   9.45   9.35  -1.06%  70,056,756   9.45   9.15 B Insert
GVREIT   2023-09-01 2023-09-01   7.05   7.00  -0.71%   5,832,008   7.50   7.00 I Insert
HANA     2023-08-31 2023-09-01  63.25  62.00  -1.98%  69,633,904  63.25  60.50 O Update
ICHI     2023-09-01 2023-09-01  17.30  16.50  -4.62% 183,481,472  17.30  15.60 O Insert
III      2023-08-31 2023-09-01  12.50  12.30   -1.6%   6,596,756  12.50  11.80 O Update
IVL      2023-08-30 2023-09-01  28.50  29.00   1.75% 367,824,248  29.75  28.50 I Update
JASIF    2023-08-28 2023-09-01   6.95   6.75  -2.88% 196,650,488   7.00   6.75 B Update
JMART    2023-09-01 2023-09-01  24.00  23.20  -3.33% 173,996,992  24.00  21.20 B Insert
JMT      2023-08-31 2023-09-01  47.75  46.25  -3.14%  25,272,886  47.75  45.50 B Update
KCE      2023-09-01 2023-09-01  51.00  51.50   0.98%  83,077,776  51.50  48.75 I Insert
KTB      2023-09-01 2023-09-01  19.30  19.40   0.52% 471,820,472  19.60  19.10 O Insert
M        2023-08-31 2023-09-01  48.25  47.50  -1.55%     946,584  49.00  47.50 O Update
MCS      2023-08-31 2023-09-01   7.00   6.80  -2.86%   2,085,184   7.00   6.00 B Update
NER      2023-09-01 2023-09-01   4.80   4.92    2.5% 162,020,712   4.92   4.56 B Insert
ORI      2023-08-31 2023-09-01  10.80  10.50  -2.78%  30,032,562  10.80  10.10 B Update
PSH      2023-08-30 2023-09-01  13.60  13.30  -2.21%   8,691,648  13.60  12.90 O Update
PTG      2023-08-31 2023-09-01  10.90  10.40  -4.59%  15,488,928  10.90  10.40 I Update
PTTEP    2023-09-01 2023-09-01 158.50 162.50   2.52%  48,155,008 163.00 157.50 O Insert
PTTGC    2023-08-31 2023-09-01  37.75  37.00  -1.99%  74,106,528  38.00  35.75 B Update
QH       2023-09-01 2023-09-01   2.32   2.30  -0.86% 452,991,888   2.32   2.26 O Insert
RCL      2023-08-31 2023-09-01  22.00  21.50  -2.27%   3,887,830  22.00  21.30 I Update
SAPPE    2023-09-01 2023-09-01 100.00  91.00   -9.0%  16,712,880 100.00  91.00 O Insert
SC       2023-09-01 2023-09-01   4.64   4.56  -1.72% 438,554,608   4.64   4.26 O Insert
SCC      2023-08-30 2023-09-01 316.00 312.00  -1.27%  10,083,226 320.00 312.00 I Update
SENA     2023-09-01 2023-09-01   2.90   2.86  -1.38%  19,557,312   2.90   2.78 B Insert
SINGER   2023-09-01 2023-09-01  14.90  14.10  -5.37% 892,953,120  14.90  10.30 B Insert
SIRI     2023-09-01 2023-09-01   2.04   1.97  -3.43% 3,000,419,732   2.04   1.95 O Insert
STA      2023-09-01 2023-09-01  14.60  15.30   4.79%  77,307,636  15.30  13.20 B Insert
SYNEX    2023-09-01 2023-09-01  13.70  13.60  -0.73%  41,373,116  13.70  11.60 B Insert
TFFIF    2023-09-01 2023-09-01   7.55   7.50  -0.66%  73,188,816   7.55   7.45 I Insert
TMT      2023-08-24 2023-09-01   6.95   7.10   2.16%  24,316,240   7.15   6.80 B Update
TOA      2023-08-28 2023-09-01  28.00  26.50  -5.36% 109,543,528  28.25  25.75 O Update
TTB      2023-08-29 2023-09-01   1.77   1.70  -3.95% 7,772,193,080   1.77   1.70 O Update
WHAIR    2023-09-01 2023-09-01   7.05   7.00  -0.71%     439,608   7.05   6.80 I Insert
WHART    2023-09-01 2023-09-01  10.70  10.60  -0.93%  18,912,464  10.70  10.40 B Insert
=======================================================================================

In [27]:
os.chdir("C:\\users\\user\\onedrive\\a7\\Daily")
%pwd

'C:\\users\\user\\onedrive\\a7\\Daily'

### cd\ruby\port_lite
### rails runner db/ins_sales.rb

In [30]:
sql = """
SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a 
JOIN stocks t ON a.name = t.name 
WHERE to_date = '%s' AND t.status IN ("B","I", "O", "S") 
ORDER BY t.status, a.name
"""
sql = sql % today
print(sql)

SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a
JOIN stocks t ON a.name = t.name
WHERE to_date = '2023-09-01' AND t.status IN ("B","I", "O", "S")
ORDER BY t.status, a.name

In [31]:
df = pd.read_sql(sql, conlite)
#df.set_index(["name"], inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df.eval('diff = to_price - fm_price',inplace=True)
df['percent'] = round(df['diff']/df['fm_price']*100,2)
df.style.format(format_dict)

In [33]:
df_sort = df.sort_values(by=['percent'],ascending=[True]).copy()

In [35]:
df_sort.query('percent <= -5.00').style.format(format_dict)

In [37]:
df_sort.query('percent >= 4.00').style.format(format_dict)