In [1]:
import glob
import os
import pandas as pd
from datetime import date, timedelta
from pandas.tseries.offsets import *
from sqlalchemy import create_engine

data_path = "../data/"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

pd.options.display.max_rows = 11
today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2023, 3, 3), datetime.date(2023, 3, 2))

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
yesterday = yesterday.date()
print(f'yesterday: {yesterday}')

today: 2023-02-09
yesterday: 2023-02-08

In [3]:
file_name = "Price.csv"
input_file = data_path + file_name
input_file

'../data/Price.csv'

In [4]:
colt = 'Symbol Date Last High Low Total-Volume Open'.split()
prices = pd.read_csv(input_file, header=None)
prices.columns = colt
prices

     Symbol        Date   Last   High    Low Total-Volume   Open
0      name        date  price   high    low       volume   open
1       ACE  2023-02-09   2.52   2.56    2.5     25076913   2.54
2    ADVANC  2023-02-09  199.5  201.0  194.0     11698104  195.0
3        AH  2023-02-09   32.0   32.5  31.25      1470035  31.75
4       AIE  2023-02-09   3.04   3.12   2.96     12509482    3.0
..      ...         ...    ...    ...    ...          ...    ...
188   WHAIR  2023-02-09   7.95   7.95    7.9       262747   7.95
189   WHART  2023-02-09   11.6   11.7   11.5       927026   11.7
190   WHAUP  2023-02-09    4.1    4.1   4.06       654965   4.08
191    WICE  2023-02-09   11.4   11.5   11.1      4658288   11.4
192    WORK  2023-02-09   18.3   18.5   18.3       287605   18.5

[193 rows x 7 columns]

In [5]:
prices.columns = prices.columns.str.lower()
prices.columns

Index(['symbol', 'date', 'last', 'high', 'low', 'total-volume', 'open'], dtype='object')

In [6]:
file_name = "orders.csv"
input_file = data_path + file_name
input_file

'../data/orders.csv'

In [7]:
orders = pd.read_csv(input_file)
orders

   trade     name    qty  price  active   reason   market       xdate
0      B    BANPU   6000  10.80       1      DTD    SET50  2023-04-08
1      B      KCE   1000  47.00       1      CUT   SET100  2023-03-21
2      B      RCL   3000  28.75       1       HD   SET100  2023-03-23
3      B       CK   4500  22.50       1     5pct   SET100  2022-12-22
4      B      CKP  20000   4.50       1       3L   SET100  2022-12-22
..   ...      ...    ...    ...     ...      ...      ...         ...
16     S      IVL   2400  44.25       1      DTD    SET50  2023-05-06
17     S    JMART   3600  41.50       1      DTD    SET50  2023-04-19
18     S      JMT   1500  60.00       1      DTD    SET50  2023-04-19
19     S   SINGER   1200  29.25       1      DTD   SET100  2023-04-29
20     B  CPNREIT  10000  17.90       1  RD05pct  PF&REIT  2022-02-02

[21 rows x 8 columns]

In [8]:
df = pd.merge(orders, prices, left_on='name', right_on='symbol', how='inner')
df.columns

Index(['trade', 'name', 'qty', 'price', 'active', 'reason', 'market', 'xdate',
       'symbol', 'date', 'last', 'high', 'low', 'total-volume', 'open'],
      dtype='object')

In [ ]:
df