In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

format_dict = {'qty':'{:,}',
              'sell_price':'{:,.2f}','buy_price':'{:,.2f}','diff':'{:,.2f}',
              'sell_amt':'{:,.2f}','buy_amt':'{:,.2f}','gross':'{:,.2f}',
              'pct':'{:,.2f}','net':'{:,.2f}'}
pd.set_option('display.float_format','{:,.2f}'.format)
year = 2023
refund = 0.00   # 112,167.31
dividend = 0
expense  = 39_000

today = date.today()
today

datetime.date(2023, 1, 13)

### Restart and Run All Cells

### Record selection for transactions

In [2]:
sql = '''
SELECT name, YEAR(sells.date) AS sell_year, MONTH(sells.date) AS sell_month, 
       YEAR(buys.date) AS buy_year, MONTH(buys.date) AS buy_month,
       sells.price AS sell_price, buys.price AS buy_price, (sells.price - buys.price) AS diff, 
       qty, (sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt, 
       (sells.price - buys.price) * qty AS gross, 
       ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit AS net, buys.kind
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = %s
ORDER BY sells.date DESC, name'''
sql = sql % year
sells_df = pd.read_sql(sql, conpf)
print(sql)

SELECT name, YEAR(sells.date) AS sell_year, MONTH(sells.date) AS sell_month,
       YEAR(buys.date) AS buy_year, MONTH(buys.date) AS buy_month,
       sells.price AS sell_price, buys.price AS buy_price, (sells.price - buys.price) AS diff,
       qty, (sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
       (sells.price - buys.price) * qty AS gross,
       ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit AS net, buys.kind
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = 2023
ORDER BY sells.date DESC, name

In [3]:
sells_df.style.format(format_dict)

In [4]:
sells_df.groupby(['sell_year','sell_month','buy_year','buy_month','name']).net.sum()

sell_year  sell_month  buy_year  buy_month  name
2023       1           2022      12         GFPT     4,074.74
                                            JMART    5,455.13
                       2023      1          SINGER   5,847.49
Name: net, dtype: float64

In [6]:
sells_df.groupby(['name'])[['gross','net']].sum().head(5)

          gross      net
name
GFPT   4,500.00 4,074.74
JMART  6,000.00 5,455.13
SINGER 6,300.00 5,847.49

In [7]:
total_df = sells_df.groupby(['name'])[['gross','net']].sum()
total_df.nlargest(5, 'gross')[['gross','net']].style.format(format_dict)

In [8]:
file_name = 'ytd-profit.csv'
data_file = data_path + file_name
csv_file = csv_path + file_name
box_file = box_path + file_name

sells_df.groupby(['sell_year','sell_month','buy_year','buy_month','name']).net.sum().to_csv(csv_file)
sells_df.groupby(['sell_year','sell_month','buy_year','buy_month','name']).net.sum().to_csv(data_file)
sells_df.groupby(['sell_year','sell_month','buy_year','buy_month','name']).net.sum().to_csv(box_file)

In [9]:
output = sells_df.groupby(['sell_month']).net.sum()
output

sell_month
1   15,377.36
Name: net, dtype: float64

In [10]:
data_path = "../data/"
file_name = 'tmp-file-of-profits.csv'
data_file = data_path + file_name
output.to_csv(data_file, index=True)

In [11]:
profit = sells_df.net.sum()
ttl_profit = profit + dividend
profit,dividend,ttl_profit

(15377.359999999999, 0, 15377.359999999999)

In [12]:
profit = sells_df.net.sum()
net = profit + dividend - expense
round(profit,0),dividend,expense, round(net,0)

(15377.0, 0, 39000, -23623.0)

### Bottom line of up to date transactions

In [13]:
total = refund + net
total

-23622.64