### Restart and Run All Cells

In [53]:
import pandas as pd
import numpy as np
import sidetable
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

format_dict = {'qty':'{:,}','volbuy':'{:,}',
               'dividend':'฿{:.2f}','price':'฿{:.2f}','target':'฿{:.2f}','unit_cost':'฿{:.2f}',
               'grs_profit':'฿{:,.2f}','net_profit':'฿{:,.2f}','sell_price':'฿{:.2f}',
               'buy_price':'฿{:.2f}','max':'฿{:.2f}','min':'฿{:.2f}',
               'pct':'{:.2f}%','percent':'{:.2f}%','cumulative_percent':'{:.2f}%' 
               'pe':'{:.2f}','pbv':'{:.2f}','volume':'{:,.2f}','beta':'{:.2f}','diff':'฿{:.2f}',             
               'sell_amt':'฿{:,.2f}','buy_amt':'฿{:,.2f}',
               'cost_amt':'฿{:,.2f}'},'cumultive_cost_amt':'฿{:,.2f}'}
float_formatter = "฿{:,.2f}"

pd.set_option('display.max_rows', None)
year = 2022
year

SyntaxError: invalid syntax (Temp/ipykernel_30164/81578760.py, line 26)

### Record selection for sold stocks in year 2022

In [2]:
sql = """
SELECT stocks.name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price, 
(sells.price - buys.price) AS diff, qty, 
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross, 
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit, categories.name AS market
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
JOIN categories ON stocks.category_id = categories.id
WHERE YEAR(sells.date) = %s
ORDER BY sells.date DESC, stocks.name"""
#AND kind = 'DTD'
sql = sql % year
print(sql)
sells_df = pd.read_sql(sql, conpf)
sells_df.sample(5).style.format(format_dict)

SELECT stocks.name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price,
(sells.price - buys.price) AS diff, qty,
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross,
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit, categories.name AS market
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
JOIN categories ON stocks.category_id = categories.id
WHERE YEAR(sells.date) = 2022
ORDER BY sells.date DESC, stocks.name

In [3]:
sells_df.dtypes

name           object
buy_date       object
sell_date      object
sell_price    float64
buy_price     float64
diff          float64
qty             int64
sell_amt      float64
buy_amt       float64
gross         float64
pct           float64
profit        float64
market         object
dtype: object

In [4]:
sells_df['buy_date'] = pd.to_datetime(sells_df['buy_date'])
sells_df['sell_date'] = pd.to_datetime(sells_df['sell_date'])
sells_df.dtypes

name                  object
buy_date      datetime64[ns]
sell_date     datetime64[ns]
sell_price           float64
buy_price            float64
diff                 float64
qty                    int64
sell_amt             float64
buy_amt              float64
gross                float64
pct                  float64
profit               float64
market                object
dtype: object

In [5]:
sells_df.rename(columns={'gross':'grs_profit','profit':'net_profit'},inplace=True)
sells_df.dtypes

name                  object
buy_date      datetime64[ns]
sell_date     datetime64[ns]
sell_price           float64
buy_price            float64
diff                 float64
qty                    int64
sell_amt             float64
buy_amt              float64
grs_profit           float64
pct                  float64
net_profit           float64
market                object
dtype: object

In [6]:
sells_df.groupby(['market'])[['grs_profit','net_profit']].sum().style.format(format_dict)

In [7]:
sells_df.stb.freq(["market"])

   market  count    percent  cumulative_count  cumulative_percent
0   SET50     44  40.366972                44           40.366972
1     SET     35  32.110092                79           72.477064
2  SET100     21  19.266055               100           91.743119
3     MAI      9   8.256881               109          100.000000

### Begin of Special Process

In [8]:
colt = 'name sell_amt buy_amt grs_profit net_profit'.split()
mask_100 = sells_df.market == 'SET100'
sells_df[mask_100][colt].style.format(format_dict)

In [9]:
data_path = "../data/"
file_name = 'tmp-file-for-problem-solving.csv'
data_file = data_path + file_name

In [10]:
sells_df[mask_100][colt].to_csv(data_file, index=False)

In [11]:
sells_df[mask_100][['grs_profit','net_profit']].sum()

grs_profit    -8825.00
net_profit   -16041.08
dtype: float64

### End of Special Process

### Total profit amount

In [12]:
ttl_prf = sells_df.grs_profit.sum()
net_prf = sells_df.net_profit.sum()
ttl_prf,round(net_prf,2)

(-149692.0, -201413.37)

In [13]:
array = pd.Series([ttl_prf,net_prf])
array = array.map('฿{:,.2f}'.format)
for value in array:
    print(f"The value is: {value}")

The value is: ฿-149,692.00
The value is: ฿-201,413.37

### Input the above figures to Excel

In [14]:
sold_grp = sells_df.groupby(['name','market'])
sold_stocks = sold_grp[['sell_amt','buy_amt','qty','grs_profit','net_profit']].sum()
sold_stocks.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [17]:
sold_stocks['sell_price'] = sold_stocks['sell_amt'] / sold_stocks['qty']
sold_stocks['buy_price'] = sold_stocks['buy_amt'] / sold_stocks['qty']
sold_stocks['diff'] = sold_stocks['sell_price'] - sold_stocks['buy_price']
cols = 'sell_amt buy_amt grs_profit net_profit qty sell_price buy_price diff'.split()
sold_stocks[cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [18]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS volume, beta, market
FROM stocks
'''
stocks = pd.read_sql(sql, conmy)
stocks.shape[0]

253

In [20]:
filters = [
   (stocks.market.str.contains('SET50')),
   (stocks.market.str.contains('SET100'))]
values = ['SET50','SET100']
stocks["mrkt"] = np.select(filters, values, default='SET')

stocks["mrkt"].value_counts()

SET       153
SET50      50
SET100     50
Name: mrkt, dtype: int64

In [55]:
stocks.stb.freq(["mrkt"]).style.format(format_dict)

In [22]:
df_merge = pd.merge(sold_stocks, stocks, on='name', how='inner')
#df_merge.set_index('name', inplace=True)
df_merge.style.format(format_dict)

In [23]:
df_merge.groupby(['mrkt'])[['grs_profit','net_profit']].sum().style.format(format_dict)

In [24]:
df_merge.dtypes

name           object
sell_amt      float64
buy_amt       float64
qty             int64
grs_profit    float64
net_profit    float64
sell_price    float64
buy_price     float64
diff          float64
max           float64
min           float64
pe            float64
pbv           float64
volume        float64
beta          float64
market         object
mrkt           object
dtype: object

In [27]:
set50 = df_merge.market.str.contains('SET50') 
flt_set50 = df_merge[set50]
flt_set50.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [28]:
prf_set50 = flt_set50.grs_profit.sum()
net_set50 = flt_set50.net_profit.sum()
prf_set50,net_set50

(12013.0, -10122.64)

In [29]:
array = pd.Series([prf_set50,net_set50])
array = array.map('฿{:,.2f}'.format)
for value in array:
    print(f"The value is: {value}")

The value is: ฿12,013.00
The value is: ฿-10,122.64

In [30]:
set100 = df_merge.market.str.contains('SET100') 
flt_set100 = df_merge[set100]
flt_set100.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [31]:
prf_set100 = flt_set100.grs_profit.sum()
net_set100 = flt_set100.net_profit.sum()
prf_set100,net_set100

(-115300.0, -126645.08999999998)

In [32]:
array = pd.Series([prf_set100,net_set100])
array = array.map('฿{:,.2f}'.format)
for value in array:
    print(f"The value is: {value}")

The value is: ฿-115,300.00
The value is: ฿-126,645.09

In [33]:
flt_set = df_merge[~(set100 | set50)]
flt_set.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [34]:
prf_set = flt_set.grs_profit.sum()
net_set = flt_set.net_profit.sum()
prf_set,net_set

(-46405.0, -64645.64000000001)

In [35]:
array = pd.Series([prf_set,net_set])
array = array.map('฿{:,.2f}'.format)
for value in array:
    print(f"The value is: {value}")

The value is: ฿-46,405.00
The value is: ฿-64,645.64

### Input to Excel

In [36]:
pct_set50 = round(prf_set50 / ttl_prf * 100,2)
pct_set100 = round(prf_set100 / ttl_prf * 100,2)
pct_set  = round(prf_set  / ttl_prf * 100,2)
pct_set50, pct_set100, pct_set

(-8.03, 77.02, 31.0)

### Start of Balance process

In [37]:
sql = '''
SELECT name, volbuy, price, volbuy * price AS cost_amt
FROM buy
WHERE active = 1 
ORDER BY name
'''
#AND period IN ("3","4")
total_buy = pd.read_sql(sql, const)
total_buy['volbuy'] = total_buy['volbuy'].astype(int)
total_buy.sample(5).style.format(format_dict)

In [38]:
total_stocks = pd.merge(total_buy, stocks, on='name', how='inner')
total_stocks.sample(5).style.format(format_dict)

In [56]:
total_stocks.stb.freq(['mrkt'], value='cost_amt').style.format(format_dict)

### Total balance amount

In [39]:
ttl_stk_amt = total_stocks.cost_amt.sum()
float_formatter.format(ttl_stk_amt)

'฿11,103,750.00'

In [40]:
total_stocks['volbuy'] = total_stocks['volbuy'].astype(int)
set50 = total_stocks.market.str.contains('SET50') 
port_set50 = total_stocks[set50]
port_set50.sample(5).style.format(format_dict)

In [41]:
amt_set50 = port_set50.cost_amt.sum()
float_formatter.format(amt_set50)

'฿2,038,350.00'

In [42]:
set100 = total_stocks.market.str.contains('SET100') 
port_set100 = total_stocks[set100]
port_set100.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [43]:
amt_set100 = port_set100.cost_amt.sum()
float_formatter.format(amt_set100)

'฿2,750,100.00'

In [44]:
port_set = total_stocks[~(set100 | set50)]
port_set.sample(5).style.format(format_dict)

In [45]:
amt_set = port_set.cost_amt.sum()
float_formatter.format(amt_set)

'฿6,315,300.00'

In [46]:
pct_set50 = round(amt_set50 / ttl_stk_amt * 100,2)
pct_set100 = round(amt_set100 / ttl_stk_amt * 100,2)
pct_set  = round(amt_set  / ttl_stk_amt * 100,2)
pct_set50, pct_set100, pct_set

(18.36, 24.77, 56.88)

### For interested reviews

In [57]:
sold_stocks.loc[
    sold_stocks.net_profit > 20_000
].style.format(format_dict)

In [58]:
sold_stocks.nlargest(5, 'net_profit')[['grs_profit','net_profit']].style.format(format_dict)

In [59]:
sold_stocks.nsmallest(5, 'net_profit')[['grs_profit','net_profit']].style.format(format_dict)